<div id="<%= dom_id member_beneficiary %>">
  <p>
    <strong>Last name:</strong>
    <%= member_beneficiary.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= member_beneficiary.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= member_beneficiary.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= member_beneficiary.suffix %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= member_beneficiary.birth_date %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= member_beneficiary.relationship %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= member_beneficiary.member_id %>
  </p>

  <p>
    <strong>Batch:</strong>
    <%= member_beneficiary.batch_id %>
  </p>

</div>
