
<%= simple_form_for(@member_dependent, url: group_remit_batch_member_dependents_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :suffix %>
    <%= f.input :birth_date, as: :date, html5: true %>
    <%= f.input :relationship, collection: ['Grandparent', 'Parent', 'Spouse', 'Child', 'Other'] %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", new_group_remit_batch_dependent_path(@group_remit, @batch), class: 'btn btn-secondary', data: {turbo_frame: "modal"} %>
    <%= f.button :submit, 'Enroll Dependent', class: 'btn-success' %>
  </div>
<% end %>
