<% member_presenter = MemberPresenter.new(@member)%>

<%= turbo_frame_tag "reg_form_modal" do %>
  <div class="modal-header">
    <%= content_tag :h5, 'New Dependent', class: "modal-title text-center", id: "staticBackdropLabel" %>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  
  <div class="modal-body">
    <div class="<%= flex_justify_align('','',true) %> mb-2 small text-muted">
      <%= content_tag :span, "Civil Status: #{@member.civil_status}" %>
      <%= content_tag :span, "Allowed dependents: #{member_presenter.valid_dependents.join(', ')}" %>
    </div>
    <%= render "form", member_dependent: @member_dependent %>
  </div>
<% end %>
