<div id="<%= dom_id branch %>">
  <p>
    <strong>Code:</strong>
    <%= branch.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= branch.name %>
  </p>

  <p>
    <strong>Branch code:</strong>
    <%= branch.branch_code %>
  </p>

  <p>
    <strong>Approver:</strong>
    <%= branch.approver %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= branch.position %>
  </p>

  <p>
    <strong>Initials:</strong>
    <%= branch.initials %>
  </p>

</div>
