
<%= simple_form_for(@sip_pb) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.association :sip_ab %>
    <%= f.association :benefit %>
    <%= f.input :coverage_amount %>
    <%= f.input :premium %>
    <%= f.input :description %>
    <%= f.association :plan_unit %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", sip_pbs_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
