<div id="<%= dom_id sip_pb %>">
  <p>
    <strong>Sip ab:</strong>
    <%= sip_pb.sip_ab_id %>
  </p>

  <p>
    <strong>Benefit:</strong>
    <%= sip_pb.benefit_id %>
  </p>

  <p>
    <strong>Coverage amount:</strong>
    <%= sip_pb.coverage_amount %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= sip_pb.premium %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sip_pb.description %>
  </p>

</div>
