<div id="<%= dom_id coop_bank %>">
  <p>
    <strong>Account name:</strong>
    <%= coop_bank.account_name %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= coop_bank.account_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= coop_bank.address %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= coop_bank.cooperative_id %>
  </p>

</div>
