
<%= simple_form_for(@coop_bank) do |f| %>
  <div class="form-inputs mb-3">
    <%= f.input :name, label: 'Account Name' %>
    <%= f.input :account_number, input_html: { type: 'text', pattern: '\d*', title: 'Only numbers are allowed' } %>
    <%= f.association :bank %>
    <%= f.input :branch, label: 'Branch' %>
    <%= f.hidden_field :cooperative_id %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, 'Add Bank', class: 'btn-success' %>
  </div>
<% end %>
