
<%= simple_form_for(@account, url: cooperative_coop_banks_path(coop, pc_id: params[:pc_id])) do |f| %>
  <div class="form-inputs mb-3">
    <%= f.input :name, label: 'Account Name' %>
    <%= f.input :account_number %>
    <%= f.input :address %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, 'Add Bank', class: 'btn-success' %>
    <%= link_to 'Back', approve_claim_debit_claims_process_claim_path(params[:pc_id]), class: 'btn btn-secondary' %>
  </div>
<% end %>
