<div id="<%= dom_id voucher %>">
  <p>
    <strong>Date voucher:</strong>
    <%= voucher.date_voucher %>
  </p>

  <p>
    <strong>Voucher:</strong>
    <%= voucher.voucher %>
  </p>

  <p>
    <strong>Payable:</strong>
    <%= voucher.payable_id %>
  </p>

  <p>
    <strong>Treasury account:</strong>
    <%= voucher.treasury_account_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= voucher.amount %>
  </p>

  <p>
    <strong>Particulars:</strong>
    <%= voucher.particulars %>
  </p>

</div>
