<%= content_tag :h1, "List of Accounting Vouchers" %>


<div class="text-end mb-3">
  <%= link_to new_accounting_voucher_path, class: 'btn btn-primary' do %>
    New Voucher
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Date Voucher</th>
            <th>Voucher</th>
            <th>Payable</th>
            <th>Treasury Account</th>
            <th>Amount</th>
            <th>Particulars</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% @accounting_vouchers.each do |accounting_voucher| %>
        <tr>

        <th scope="row"><%= accounting_voucher.id %></th>
        <td><%= accounting_voucher.date_voucher %></td>
        <td><%= accounting_voucher.voucher %></td>
        <td><%= accounting_voucher.payable %></td>
        <td><%= accounting_voucher.treasury_account %></td>
        <td><%= accounting_voucher.amount %></td>
        <td><%= accounting_voucher.particulars %></td>
    
          <td>
            <%= link_to 'View', accounting_voucher, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_accounting_voucher_path(accounting_voucher), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", accounting_voucher, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
