<div class="<%= flex_justify_align('','center') %> gap-3 mb-3">
  <%= content_tag :h4, "Business Checks", class: 'text-primary' %>
  <%= form_tag url: new_treasury_check_path, method: :get do %>
    <div class="field">
      <%= label_tag 'category', 'Category' %>
      <%= select_tag 'category', options_for_select(Accounting::Check.all.map { |c| [c.voucher, c.id] }), prompt: 'Search Check Voucher' %>
    </div>

    <div class="actions">
      <%= submit_tag 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Voucher</th>
        <th>Date</th>
        <th>Payee</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @checks.each do |check| %>
        <tr>

          <th scope="row"><%= check.id %></th>
          <td>CV<%= check.number %></td>
          <td><%= month_day_year(check.check_date) %></td>
          <td><%= check.voucher.payable %></td>
          <td><%= to_curr(check.amount) %></td>
      
          <td class="text-center">
            <%= link_to check, class: 'btn btn-outline-primary btn-sm', title: 'View' do %>
              <i class="bi bi-eye"></i>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
