<div class="<%= flex_justify_align('between', 'center') %> gap-1 mb-3">
  <%= content_tag :h4, "Request for Payments", class: 'text-primary mb-0' %>
  <% if @pagy.pages > 1 %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>

<table class="<%= table_sm_hoverable %>">
    <thead class="table-dark">
      <tr>
        <th class="text-center" scope="col">Voucher</th>
        <th class="text-center" scope="col">Payee</th>
        <th class="text-center" scope="col">Particulars</th>
        <th class="text-center" scope="col">Amount</th>
      </tr>
    </thead>

    <tbody id="batches_body">
      <% if @vouchers.present? %>

        <% @vouchers.each do |voucher| %>
          <tr>
            <td class="align-middle" style="min-width: 150px">
              <%= link_to voucher.voucher, voucher, class: '' %>
            </td>
            <td class="align-middle"><%= voucher.payable.name %></td>
            <td class="align-middle"><%= voucher.particulars %></td>
            <td class="text-end align-middle"><%= to_curr voucher.amount %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6" class="text-center">No requests found</td>
        </tr>
      <% end %>

    </tbody>
  </table>
