<div id="<%= dom_id health_dec %>">
  <p>
    <strong>Question:</strong>
    <%= health_dec.question %>
  </p>

  <% @subquestions.each_with_index do |sub, index| %>
    <p>
      <strong>Subquestion <%= index+1 %>:</strong>
      <%= sub.question %>
    </p>
  <% end %>

  <p>
    <strong>Active:</strong>
    <%= health_dec.active %>
  </p>

  <p>
    <strong>With details:</strong>
    <%= health_dec.with_details %>
  </p>

  <p>
    <strong>Valid answer:</strong>
    <%= health_dec.valid_answer %>
  </p>

  <p>
    <strong>Question sort:</strong>
    <%= health_dec.question_sort %>
  </p>

</div>
