<div id="<%= dom_id transmittal %>">
  <div class="<%= flex_justify_align('between') %>">
    <p>
      <strong>Code:</strong>
      <%= transmittal.code %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= transmittal.description %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= transmittal.transmittal_type %>
    </p>
  </div>

  <table class="<%= table_sm_hoverable %>">
    <thead>
      <th>OR Number</th>
      <th>OR Date</th>
      <th>Cooperative</th>
      <th></th>
    </thead>
    <tbody>
      <% @transmittables.each do |val| %>
        <% if val.transmittable_type == "Treasury::CashierEntry" %>
          <tr>
            <td><%= val.transmittable %></td>
            <td><%= val.transmittable.or_date %></td>
            <td><%= val.transmittable.entriable %></td>
            <td>
              <%= link_to remove_or_transmittal_path(or: val), class: "btn btn-outline-danger", onclick: "return confirm('Are you sure?')" do %>
                <%= bootstrap_icon "x-lg" %>
              <% end %>
            </td>
          </tr>
        <% elsif ["Remittance", "LoanInsurance::GroupRemit", "BatchRemit"].include?(val.transmittable_type)  %>
          <tr>
            <td><%= val.transmittable.official_receipt %></td>
            <td><%= val.transmittable.get_or_date %></td>
            <td><%= val.transmittable.cooperative %></td>
            <td class="text-center">
              <%= link_to remove_or_transmittal_path(or: val), class: small_btn('outline-danger'), onclick: "return confirm('Are you sure?')" do %>
                <%= bootstrap_icon "x-lg" %>
              <% end %>
            </td>
          </tr>
        <% else %>
          <tr>
            <td>
              <%= val.transmittable.get_or_number %>
            </td>
            <td><%= val.transmittable.get_or_date %></td>
            <td><%= val.transmittable.group_remit.cooperative %></td>
            <td class="text-center">
              <%= link_to remove_or_transmittal_path(or: val), class: small_btn('outline-danger'), title: "Remove", onclick: "return confirm('Are you sure?')" do %>
                <%= bootstrap_icon "x-lg" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>