<div id="<%= dom_id transmittal %>">
  <p>
    <strong>Code:</strong>
    <%= transmittal.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transmittal.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= transmittal.transmittal_type %>
  </p>

  <table class="table">
    <thead>
      <th>OR Number</th>
      <th>OR Date</th>
      <th>Cooperative</th>
    </thead>
    <tbody>
      <% @transmittables.each do |val| %>
        <% if val.transmittable_type == "Treasury::CashierEntry" %>
          <tr>
            <td><%= val.transmittable %></td>
            <td><%= val.transmittable.or_date %></td>
            <td><%= val.transmittable.entriable %></td>
          </tr>
        <% else %>
          <tr>
            <td>
              <% val.transmittable.get_or_number %>
            </td>
            <td><%= val.transmittable.get_or_date %></td>
            <td><%= val.transmittable.group_remit.cooperative %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>
<%= console %>