
<%= simple_form_for(@process_remark) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs mb-3">
    <%#= f.association :reference %>
    <%#= f.association :reference, input_html: { value: params[:ref] } %>
    <%#= f.input :reference_type, value: @process_coverage.class.name, as: :hidden %>
    <%= f.association :process_coverage, value: @process_coverage, as: :hidden %>
    <%= f.input :remark %>
    <%= f.input :process_status, input_html: { value: @process_status }, as: :hidden %>
    <%= f.input :status, input_html: { value: @rem_status }, as: :hidden %>
    <%= f.input :total_life_cov, input_html: { value: @total_life_cov }, as: :hidden %>
    <%= f.input :max_amount, input_html: { value: @max_amount }, as: :hidden %>
    <%= f.input :total_net_prem, input_html: { value: @total_net_prem }, as: :hidden %>
    <%#= f.input :user  %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", :back, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success', data: {turbo: false} %>
  </div>
<% end %>
