<div id="<%= dom_id process_remark %>">
  <p>
    <strong>Process coverage:</strong>
    <%= process_remark.process_coverage_id %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= process_remark.remark %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= process_remark.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= process_remark.user_id %>
  </p>

</div>
