<div class="card">
  <div class="card-header">
    <div class="card-title">
      <%= content_tag :h3, class: "lead" do %>
        <%= "#{@process_coverage.group_remit.name} all remarks" %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <% @process_remarks.order(created_at: :desc).each do |pr| %>
      <%= content_tag :div, class: "d-flex justify-content-between align-items-center" do %>
        <%= content_tag :p, class: "mb-1" do %>
          <%= pr.user %> <%= content_tag :small, "- #{time_ago_in_words(pr.created_at)} ago" %>
        <% end %>
      <% end %>
        <%= content_tag :p, pr.remark, class: "small mb-0 fst-italic" %>

        <%= content_tag :hr %>
    <% end %>
  </div>
</div>