<div class="card">
  <div class="card-header">
    <div class="card-title">
      <%= content_tag :h3, class: "lead" do %>
        <%= "#{@process_coverage.group_remit.name} all remarks" %>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag 'pagination1' do %>
    <div class="card-body">
      <%# @process_remarks.order(created_at: :desc).each do |pr| %>
      <% @filtered_remarks.order(created_at: :desc).each do |pr| %>
        <%= content_tag :div, class: "d-flex justify-content-between align-items-center" do %>
          <%= content_tag :p, class: "mb-1" do %>
            <%= pr.user %> <%= content_tag :small, "- #{time_ago_in_words(pr.created_at)} ago" %>  <%= remarks_status(pr.status) %>
          <% end %>
        <% end %>
          <%= content_tag :p, pr.remark, class: "small mb-0 fst-italic" %>

          <%= content_tag :hr %>
      <% end %>

    </div>
    <%#== pagy_bootstrap_nav(@pagy_rem) if @pagy_rem.pages > 1 %>
    <%= render PaginationComponent.new(results: @pagy_rem) %>
  <% end %>
</div>