
<%= simple_form_for(@emp_agreement) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.association :employee, collection: Employee::ANALYSTS %>
    <%= f.association :agreement, label_method: :coop_name, order: :coop_name, disabled: val %>
    <% if val == true %>
      <%= f.association :agreement, label_method: :coop_name, order: :coop_name, as: :hidden %>
    <% end %>
    <div class="form-check form-switch">
      <%= f.input :active, label: "Active?" %>
    </div>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", :back, class: 'btn btn-secondary' %>
    <%= f.button :submit, "Submit", class: 'btn-success' %>
  </div>
<% end %>
