<%= content_tag :h2, "List of Assigned Agreements" %>


<div class="text-end mb-3">
  <%= link_to transfer_index_emp_agreements_path, class: 'btn btn-warning' do %>
    Transfer UND/Approver
  <% end %>
  <%= link_to new_emp_agreement_path, class: 'btn btn-primary' do %>
    New Emp Agreement
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <th>Team Name</th>
    <th># of Agreements</th>
    <th></th>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.agreements.count %></td>
      <td><%= link_to "View", team_path(team, f: "ea"), class: "btn btn-sm btn-secondary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
