<h1>Hi</h1>
<%= form_tag update_ea_selected_emp_agreements_path, method: :get, data: { turbo_frame: "modal" } do %>
  <div class="text-end">
    <%= submit_tag 'Transfer Selected', name: 'approve', onclick: "return confirm('Are you sure?')", class: "btn btn-primary" %>
  </div>
  <table class="table">
    <thead>
      <th></th>
      <th>Cooperative</th>
      <th>Approver</th>
      <th>Type</th>
      <th></th>
    </thead>
    <tbody>
      <% @emp_agreements.group_by(&:employee).each do |emp, agreements| %>
        <tr>
          <%= content_tag :td, colspan: 5, class: "bg-dark" do %>
            <%= content_tag :p, emp, class: "lead text-white mb-0" %>
          <% end %>
        </tr>
        <% agreements.each do |a| %>
          <tr>
            <td>
              <% if a.active == true %>
                <%= check_box_tag "ea_ids[]", a.id, false %>
              <% end %>
            </td>
            <td>
              <%= a.id %>
              <%= a.agreement.cooperative %> <%= ea_badge_pill(a.active) %> <br />
              <%= a.agreement.plan %> (<%= a.agreement.id %>)
            </td>
            <td><%= a.employee.emp_approver.approver %></td>
            <td><%= cat_type(a.category_type) %></td>
            <td>
              <% if a.active == true && a.main_approver? %>
                <%= link_to "Transfer", new_emp_agreement_path(agreement: a.agreement, old_emp_agreement: a), class: "btn btn-sm btn-success" %>
              <% elsif a.sub_approver? && a.active == true %>
                <%= link_to "Inactive", inactive_sub_emp_agreement_path(a), onclick: "return confirm('Are you sure?')", class: "btn btn-sm btn-danger" %>
              <% end %>
              <%#= link_to "Change", edit_emp_a(a, for_change: true), class: "btn btn-sm btn-secondary" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
