<div id="<%= dom_id agreement_benefit %>">
  <p>
    <strong>Agreements:</strong>
    <%= agreement_benefit.agreements_id %>
  </p>

  <p>
    <strong>Plans:</strong>
    <%= agreement_benefit.plans_id %>
  </p>

  <p>
    <strong>Proposals:</strong>
    <%= agreement_benefit.proposals_id %>
  </p>

  <p>
    <strong>Options:</strong>
    <%= agreement_benefit.options_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= agreement_benefit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= agreement_benefit.description %>
  </p>

  <p>
    <strong>Min age:</strong>
    <%= agreement_benefit.min_age %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= agreement_benefit.max_age %>
  </p>

  <p>
    <strong>Insured type:</strong>
    <%= agreement_benefit.insured_type %>
  </p>

</div>
