<div id="<%= dom_id agreement_benefit %>">
  <p>
    <strong>Agreement:</strong>
    <%= agreement_benefit.agreement_id %>
  </p>
  <p>
    <strong>Option:</strong>
    <%#= agreement_benefit.option_id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= agreement_benefit.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= agreement_benefit.description %>
  </p>
  <p>
    <strong>Min age:</strong>
    <%= agreement_benefit.min_age %>
  </p>
  <p>
    <strong>Max age:</strong>
    <%= agreement_benefit.max_age %>
  </p>
  <p>
    <strong>Insured type:</strong>
    <%= agreement_benefit.insured_type %>
  </p>
</div>
