<%#= simple_form_for(@agreement_benefit) do |f| %>
  <%= simple_form_for(@agreement_benefit, url: url, meth: meth) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <%= f.select :insured_type, options_for_select(AgreementBenefit.insured_types.keys.map { |key| [key.humanize, key] }), { prompt: 'Select Type' }, { class: 'form-control mb-3' } %>
      <%= f.input :name %>
      <%= f.input :description %>
      <div class="row">
        <%= f.input :min_age, wrapper_html: { class: "col-md-4" } %>
        <%= f.input :max_age, wrapper_html: { class: "col-md-4" } %>
        <%= f.input :exit_age, wrapper_html: { class: "col-md-4" } %>
      </div>
      <%#= f.input :insured_type, collection: AgreementBenefit::InsuredType %>
      <%= f.input :with_dependent, label: 'With Dependents?' %>
    </div>
      <br>
      <div class="form-actions text-end">
        <%= link_to "Back", :back, class: 'btn btn-secondary' %>
        <%= f.button :submit, class: "btn btn-success" %>
      </div>
    <% end %>
