<div class="card-body">
  
  <div class="nested-fields" data-controller="plan-agree">
    <%= f.association :benefit, input_html: { id: "ben_id", data: { action: "change->plan-agree#toggleTargets2", plan_agree_target: "benSelect" } } %>
    <div class="form-check form-switch mt-3">
      <%= f.input :main %>
    </div>
    <div class="row">
      <%= f.input :coverage_amount, wrapper_html: { class: "col-md-8" } %>
      <div class="col-md-4" data-plan-agree-target="prem" hidden>
          <%= render "premium", f: f %>
      </div>
        <%#= f.input :premium, wrapper_html: { class: "col-md-4" } %>
    </div>
    <%= link_to_remove_association "Remove", f %>
  </div>
</div>