<%= content_tag :h1, "List of Cf Replenishes" %>


<div class="text-end mb-3">
  <%= link_to new_claims_cf_replenish_path, class: 'btn btn-primary', data: { turbo_frame: "remote_modal" } do %>
    New Cf Replenish
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Details</th>
            <th>Transaction Date</th>
            <th class="text-end">Amount</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% @cf_replenishes.each do |cf_replenish| %>
        <tr>

        <th scope="row"><%= cf_replenish.id %></th>
        <td><%= cf_replenish.cf_account %> <br>
        <small class="text-muted"><%= cf_replenish.user %> <span class="badge bg-primary"><%= cf_replenish.status.humanize %></span></small> <br>
        <%= cf_replenish.description %></td>
        <td><%= cf_replenish.transaction_date %></td>
        <td class="text-end"><%= to_curr(cf_replenish.amount) %></td>
 
    
          <td>
            <%= link_to 'View', cf_replenish, class: 'btn btn-secondary btn-sm', data: { turbo_frame: "remote_modal" }  %>
            <%= link_to 'Edit', edit_claims_cf_replenish_path(cf_replenish), class: 'btn btn-secondary btn-sm', data: { turbo_frame: "remote_modal" } if cf_replenish.pending?  %>
            <%= link_to "Delete", cf_replenish, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } if cf_replenish.pending? %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
