<%= simple_form_for(ledger, url: ledger.persisted? ? entry_ledger_path(entry, ledger) : entry_ledgers_path(entry)) do |f| %>

  <div class="form-inputs mb-3">
    <%= f.association :account, input_html: {data: {controller: 'ts--select'}}, error: '*Required' %>
    <%= f.input :description, error: '*Required' %>
    <%= f.input :amount, error: '*Required' %>
    <%= f.input :ledger_type, as: :select, collection: GeneralLedger.ledger_types.map {|k,v| [k.humanize, k]}, error: '*Required' %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, "#{ledger.persisted? ? 'Update' : 'Add'}", class: small_btn('primary') %>
  </div>
<% end %>
