<div id="<%= dom_id general_ledger %>">
  <p>
    <strong>Ledgerable:</strong>
    <%= general_ledger.ledgerable_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= general_ledger.description %>
  </p>

  <p>
    <strong>Debit:</strong>
    <%= general_ledger.debit %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= general_ledger.credit %>
  </p>

</div>
