<%= simple_form_for @employee do |f| %>
  <div class="form-inputs mb-3">
    <%# fields for User model associated with Employee %>
    <%# unless current_user %>
    <div class="" data-controller="password-strength">
      <%= f.fields_for :user do |u| %>
        <%= u.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }
        %>
        <div class="row mb-3">
          <div class="col-md-6" data-controller="password-toggle">
            <div class="<%= flex_justify_align('','center') %> gap-1 mb-2">
              <%= u.input :password, 
                  wrapper: false,
                  label: false,
                  error: '',
                  input_html: { 
                    autocomplete: "password", 
                    style: 'font-size: 0.8rem;', 
                    data: {
                      action: "input->password-strength#change",
                      password_toggle_target: 'input'
                    }
                  },
                  placeholder: 'Password' %>
              <a data-action="click->password-toggle#password" class="<%= small_btn('outline-primary') %>"><i class="bi bi-eye-slash" data-password-toggle-target="icon"></i></a> 
            </div>
            <ul class="small text-danger half-visible mb-0 ">
              <li data-password-strength-target="min_char">min 8 characters</li>
              <li data-password-strength-target="lowercase">at least one lowercase letter</li>
              <li data-password-strength-target="uppercase">at least one uppercase letter</li>
              <li data-password-strength-target="digit">at least one digit</li>
              <li data-password-strength-target="special">at least one special character</li>
            </ul>
          </div>
          <div class="col-md-6" data-controller="password-toggle">
            <div class="<%= flex_justify_align('','center') %> gap-1">
              <%= u.input :password_confirmation, 
                  wrapper: false,
                  label: false,
                  error: 'Passwords do not match',
                  input_html: { autocomplete: "password", style: 'font-size: 0.8rem;', data: { password_toggle_target: 'input' }},
                  placeholder: 'Confirm password' %>
              <a data-action="click->password-toggle#password" class="<%= small_btn('outline-primary') %>"><i class="bi bi-eye-slash" data-password-toggle-target="icon"></i></a> 
            </div>
          </div>
        </div>
        <%= u.hidden_field :userable_type, value: "Employee" %>
        <%= u.hidden_field :userable_id, value: @employee.id %>
      <% end %>
    </div>
    <%# end %>
    <hr>
    <div class="row">
      <%= f.input :first_name, wrapper_html: { class: "col-md-4" } %>
      <%= f.input :middle_name, wrapper_html: { class: "col-md-4" } %>
      <%= f.input :last_name, wrapper_html: { class: "col-md-4" } %>
      <%= f.input :birthdate, as: :string, input_html: {data: {
        controller: "flatpickr",
        flatpickr_max_date: Time.zone.now,
        flatpickr_next_arrow: "Next",
        flatpickr_prev_arrow: "Prev"}},
        wrapper_html: { class: "col-md-4" },
        label: 'Birthdate',
        error: '*Required' %>
      <%= f.input :mobile_number, wrapper_html: { class: "col-md-4" } %>
      <%= f.input :employee_number, wrapper_html: { class: "col-md-4" } %>
      
      <%= f.input :branch, as: :select, collection: Employee.branches.keys.map {|k| [k.humanize, k] }, wrapper_html: { class: "col-md-4" } %>
      <div class="row">
        <%= f.association :department, error: '*Required', wrapper_html: { class: "col-6" } %>
        <%= f.input :designation, wrapper_html: { class: "col-6" } %>
      </div>
      
    </div>
  </div>
  <div class="form-actions text-center">
    <%= f.button :submit, 'Sign Up', class: 'btn-success' %>
  </div>
<% end %>
