<div class="<%= flex_justify_align('between', 'center') %> mb-3">
  <div class="">
    <%= content_tag :span, "#{insured&.try(:full_name)&.titleize or insured.member_dependent.full_name.titleize}", class: 'text-primary', style: 'font-size: 1.2rem; font-weight: bold' %>
    <%= content_tag :span, "- #{benefit.name.to_s.titleize}", class: 'text-muted' %>
  </div>

  <% filed_claim = ProcessClaim.find_by(agreement_id: agreement.id, claimable_id: batch.id, claimable_type: batch.class.name) %>
  <% claim_presenter = ProcessClaimPresenter.new(filed_claim) %>
  
  <% if filed_claim.present? %>
    <%= content_tag :span, 'Claims submitted', class: 'text-success' %>
  <% else %>
    <%= link_to 'File Claim', new_process_claim_path(coop_member_id: coop_member.id, agreement_id: agreement.id, dependent_id: dependent_id ), class: small_btn('primary') %>
  <% end %>

</div>

<% if filed_claim.present? %>
  <div class="card">
    <div class="card-body">
      <span class="col-md-6 text-primary">Claims Tracker</span>
      <div class="track">
        <div class="step <%= claim_presenter.present_active_class(0) %>">
          <span class="icon"><i class="bi bi-card-list"></i></span>
          <span class="text text-muted"><small>Claims filed</small></span>
        </div>
        <div class="step <%= claim_presenter.present_active_class(2) %>">
          <span class="icon"><i class="bi bi-window"></i></span>
          <span class="text text-muted"><small>Processing</small></span>
        </div>
        <% if filed_claim.claim_route_before_type_cast == 8  %>
          <div class="step denied">
            <span class="icon"><i class="bi bi-shield-check"></i></span>
            <span class="text"><small>Denied</small></span>
          </div>
        <% else %>
          <div class="step <%= claim_presenter.present_active_class(6) %>">
            <span class="icon"><i class="bi bi-shield-check"></i></span>
            <span class="text text-muted"><small>Approved</small></span>
          </div>
        <div class="step <%= claim_presenter.present_active_class(7) %>">
          <span class="icon"><i class="bi bi-cash-coin"></i></span>
          <span class="text text-muted"><small>Payment</small></span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>