<div class="col-md-10">
  <div class="card mb-3">
    <div class="card-body">
      <%#= binding.pry %>
      <% if coop_member.deceased? %>
        <div class="row">
          <div class="text-danger">DECEASED</div>
        </div>
        <hr class="mb-3">
      <% end %>
      <div class="row">
        <div class="col-sm-2">
          <h6 class="mb-0">First name</h6>
        </div>
        <div class="col-sm-2 text-secondary">
          <%= "#{@member.first_name}" %>
        </div>
        <div class="col-sm-2">
          <h6 class="mb-0">Middle name</h6>
        </div>
        <div class="col-sm-2 text-secondary">
          <%= "#{@member.middle_name}" %>
        </div>
        <div class="col-sm-2">
          <h6 class="mb-0">Last name</h6>
        </div>
        <div class="col-sm-2 text-secondary">
          <%= "#{@member.last_name}, #{@member.suffix}" %>
        </div>
      </div>
      <hr class="mb-3">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Cooperative</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          <%= "#{coop_member.cooperative.name}, #{coop_member.coop_branch.name}" %>
        </div>
      </div>
      <hr class="mb-3">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Mobile No.</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= member.mobile_number %>
        </div>
        <div class="col-sm-3">
          <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= member.email %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Birthdate</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= member.birth_date.strftime('%B %d, %Y') %>
        </div>
        <div class="col-sm-3">
          <h6 class="mb-0">Birth Place</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= member.birth_place %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Age</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= @age %>
        </div>
        <div class="col-sm-3">
          <h6 class="mb-0">Gender</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= member.gender.titleize %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Address</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          <%= member.address %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">SSS No.</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= member.sss_no %>
        </div>
        <div class="col-sm-3">
          <h6 class="mb-0">TIN No.</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= member.tin_no %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Civil Status</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= member.civil_status %>
        </div>
        <% if member.civil_status === "Married" %>
          <div class="col-sm-3">
            <h6 class="mb-0">Spouse</h6>
          </div>
          <div class="col-sm-3 text-secondary">
            <%= member.legal_spouse %>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Height</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= "#{member.height} cm" %>
        </div>
        <div class="col-sm-3">
          <h6 class="mb-0">Weight</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= "#{member.weight} kg" %>
        </div>
      </div>
      <% unless member.occupation === nil or member.occupation === '' %>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Occupation</h6>
          </div>
          <div class="col-sm-3 text-secondary">
            <%= member.occupation %>
          </div>
          <div class="col-sm-3">
            <h6 class="mb-0">Employer</h6>
          </div>
          <div class="col-sm-3 text-secondary">
            <%= member.employer %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Work Address</h6>
          </div>
          <div class="col-sm-3 text-secondary">
            <%= member.work_address %>
          </div>
          <div class="col-sm-3">
            <h6 class="mb-0">Work Phone No.</h6>
          </div>
          <div class="col-sm-3 text-secondary">
            <%= member.work_phone_number %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
