<div id="<%= dom_id coop_member %>">
  <p>
    <strong>Cooperative:</strong>
    <%= coop_member.cooperative_id %>
  </p>

  <p>
    <strong>Coop branch:</strong>
    <%= coop_member.coop_branch_id %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= coop_member.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= coop_member.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= coop_member.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= coop_member.suffix %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= coop_member.birthdate %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= coop_member.mobile_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= coop_member.email %>
  </p>

</div>
