<%= content_tag :h1, "#{@cooperative.name} Members" %>

<div class="table-responsive mt-3">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Coop Branch</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Age</th>
        <th>Birthdate</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @coop_members.each do |coop_member| %>
        <tr>
      
        <td><%= coop_member.id %></td>
        <td><%= coop_member.coop_branch.name %></td>
        <td><%= coop_member.last_name %></td>
        <td><%= coop_member.first_name %></td>
        <td><%= coop_member.middle_name %></td>
        <td><%= Date.today.year - coop_member.birthdate.year - ((Date.today.month > coop_member.birthdate.month || (Date.today.month == coop_member.birthdate.month && Date.today.day >= coop_member.birthdate.day)) ? 0 : 1) %></td>
        <td><%= coop_member.birthdate.strftime('%B %d, %Y') %></td>
    
          <td>
            <%= link_to 'View', coop_member, class: 'btn' %>
            <%= link_to 'Edit', edit_coop_member_path(coop_member), class: 'btn' %>
            <%= link_to 'Delete', coop_member, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
