<!-- New Member form Modal -->
<div class="modal fade" id="batchEnrollment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center text-primary" id="staticBackdropLabel">Batch Enrollment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body <%= flex_justify_align('','', true) %> gap-3" data-controller="progress-bar" data-progress-bar-url-value="<%= progress_path(coop_user_id: current_user.userable.id) %>">
        <%= form_with url: import_members_path, method: :post do |form| %>
          <%= form.label :file, "For multiple enrollment upload your csv file.", class: "form-text" %>
          <div class="d-flex gap-3">
            <%= form.file_field :file, 
              class: "form-control", 
              style: "width: 80%", 
              data: {progress_bar_target: 'file'} 
            %>
            <%= submit_tag 'Upload', 
              class: small_btn('primary'), 
              data: {
                action: 'click->progress-bar#updateProgress', 
                progress_bar_target: 'button'
              }
            %>
          </div>
        <% end %>
        <%= render 'layouts/partials/progress_bar' %>
      </div>
    </div>
  </div>
</div>
<div class="<%= flex_justify_align('','',true) %> gap-3">
    <%= content_tag :h3, @cooperative.name, class: 'text-primary mb-0'  %>
    <div class="d-flex gap-1 mb-3">
      <div class="mb-1">
        <%= link_to "Enroll Member", new_member_path(cooperative_id: @cooperative.id), 
          class: small_btn('outline-primary'), 
          data: {
            turbo_frame: "modal-lg"
          } %>
      </div>
      <div class="mb-1">
        <%= content_tag :button, "Batch Enrollment", 
          class: small_btn('outline-primary'), 
          data: {bs_toggle: "modal",
            bs_target: "#batchEnrollment"
          }%>
      </div>
      <%  if @cooperative.denied_enrollees.present? %>
        <div class="">
          <%= link_to 'Denied enrollees', denied_enrollees_path, class: small_btn('outline-secondary') %>
        </div>
      <% end %>
    </div>
  </div>
<!-- Button trigger for New Member Enrollment -->
<div class="d-flex justify-content-between align-items-center">
  
  <%== pagy_bootstrap_nav(@pagy) %>
  <div class="d-flex align-items-center gap-1 mb-3">
    <%= form_with url: coop_members_path(cooperative_id: @cooperative.id), method: :get do %>
      <div class="form-group d-flex gap-1">
        <%= text_field_tag 'first_name_filter', nil, placeholder: 'First name', class: "form-control", style: "width: auto"%>
        <%= text_field_tag 'last_name_filter', nil, placeholder: 'Last name', class: "form-control", style: "width: auto;"%>
        <%= submit_tag 'Filter', class: small_btn('warning text-dark') %>
      </div>
    <% end %>
    <%= link_to "All", coop_members_path, class: "#{small_btn('outline-warning')} d-flex align-items-center", style: 'height: 38px;' %>
  </div>
</div>
<div class="table table-striped">
  <table class="table table-striped table-bordered table-hover align-middle">
    <thead>
      <tr>
        <th scope="col" >ID</th>
        <th scope="col" >Name</th>
        <th scope="col" >Branch</th>
        <th scope="col" >Actions</th>
      </tr>
    </thead>
    <tbody>
      <td colspan="12" class="text-center">
        <% if @filtered_members.blank? %>
          No members yet.
        <% end %>
      </td>
      <% @filtered_members.each do |member| %>
        <% coop_member = member.coop_members.find_by(cooperative_id: @cooperative.id)%>
        <tr>
          <th scope="row" ><%= coop_member.id %></th>
          <td>
            <div class="">
              <div class="<%= flex_justify_align('','center') %> gap-2">
                <% if coop_member.deceased? %>
                  <%= content_tag :span, 'DECEASED', class: badge('danger') %>
                <% end %>
              </div>
              <%= content_tag :strong, "#{coop_member.get_fullname}" %> <%= content_tag :small, "#{member.birth_date.strftime('%b %d, %y')}", class: "text-muted" %>
              <div class="d-flex align-items-center gap-1">
                <span class="sm-secondary-text text-muted"><i class="bi bi-phone"></i> <%= member.mobile_number %> </span> |
                <span class="sm-secondary-text text-muted"><i class="bi bi-envelope"></i> <%= member.email %> </span>
              </div>
            </div>
          </td>
          <td><%= coop_member.coop_branch.name.titleize %></td>
          <td>
            <%= link_to coop_member_path(coop_member), class: small_btn('outline-primary'), data: {turbo_frame: 'modal-xl'}, title: 'Show' do %>
              <i class="bi bi-eye-fill"></i>
            <% end %>
            <%= link_to edit_member_path(member, cooperative_id: @cooperative.id), class: small_btn('outline-primary'), data: {turbo_frame: 'modal-lg'}, title: 'Edit' do%>
              <i class="bi bi-pencil"></i>
            <% end %>
              <%= link_to show_insurance_coop_member_path(coop_member), class: small_btn('outline-primary'), title: 'Coverages' do %>
                <i class="bi bi-clock-history"></i>
              <% end %>
            <%# <% if coop_member.batches.joins(:group_remits).where(group_remits: { type: 'BatchRemit' }).exists? %>
              <%# <%= link_to 'Insurance', member_agreements_coop_member_path(coop_member), class: 'btn btn-sm btn-primary' %>
            <%# <% end %>
            <%# <%= link_to 'Coverage', show_insurance_coop_member_path(coop_member), class: 'btn btn-sm btn-secondary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
