<%= content_tag :h3, 'Insurance Plans' %>






<div class="row row-cols-2 row-cols-md-2 g-4 mb-3" >
	<% @agreements.each do |agreement| %>

		<% if agreement.anniversary_type == 'multiple' %>
			<% group_remit = agreement.group_remits.joins(batches: :coop_member).where(coop_members: { id: @coop_member.id }).order('group_remits.created_at DESC').first %>
		<% else %>
			<% group_remit = agreement.group_remits.last %>
		<% end %>
		
    	<% gr_presenter = GroupRemitPresenter.new(group_remit) %>
		<% batch = group_remit.batches.find_by(coop_member_id: @coop_member.id) %>
		<% benefit = batch.agreement_benefit %>

		<div class="col" data-controller="toggler">
			<div class="card">
				<div class="card-body">
					<div class="d-flex gap-2 align-items-center mb-3">
						<h5 class="card-title" style= "width: 100%">
							<div class="<%= flex_justify_align('between', 'center') %>">
								<div class="">
									<%= agreement.plan.name %>
									<%= content_tag :span, 
										gr_presenter.status_text, 
										class: gr_presenter.status_badge 
									%>
								</div>
								<div class="">
									<button class="<%= small_btn('warning text-dark') %>"
									data-action = "click->toggler#toggle" data-id="<%= dom_id(agreement) %>"
									>Details</button>
								</div>
							</div>
						</h5>
					</div>
					<div class="hidden" data-toggler-target="toggleable" data-id="<%= dom_id(agreement) %>">
						<div class="card mb-3">
							<div class="card-body">
								<%= render 'claims_identifier', agreement: agreement, batch: batch, coop_member: @coop_member, benefit: benefit %>

								<% if batch.batch_beneficiaries.exists? %>
									<table class="table table-borderless table-hover border border-warning rounded mt-3">
									<thead>
										<tr>
											<th class="text-warning">Beneficiaries</th>
										</tr>
									</thead>
									<tbody>
										<% beneficiaries = batch.batch_beneficiaries.includes(:member_dependent) %>
										<% beneficiaries_size = beneficiaries.size %>
										<% ben_ctr = 0 %>

										<% while ben_ctr <= beneficiaries_size/2 do %>
											<tr>
												<td>
													<small><%= beneficiaries[ben_ctr].member_dependent.full_name.titleize %></small>
													<small class="text-muted"><%= content_tag :span, " - #{beneficiaries[ben_ctr].member_dependent.relationship}"%></small>
												</td>

												<% unless beneficiaries[ben_ctr+1] == nil %>
													<td>
														<small><%= beneficiaries[ben_ctr+1].member_dependent.full_name.titleize %></small>
														<small class="text-muted"><%= content_tag :span, " - #{beneficiaries[ben_ctr+1].member_dependent.relationship}"%></small>
													</td>
												<% end %>

											</tr>
											<% ben_ctr += 2 %>
										<% end %>

									</tbody>
								<% end %>

								<table class="table table-borderless table-hover">
									<thead>
										<tr>
											<th class="text-primary">Benefits</th>
											<th class="text-primary text-end">Amount</th>
										</tr>
									</thead>
									<tbody>
										<% batch_benefits = agreement.plan.acronym == 'PMFC' ? batch.get_term_insurance_product_benefit : benefit.product_benefits %>
										<% batch_benefits.includes(:benefit).each do |product| %>
											<tr>
												<td><small><%= product.benefit.name %></small></td>
												<td class="text-end"><%= peso_currency(product.coverage_amount) %></td>
											</tr>
										<% end %>
									</tbody>
									<tfoot class="fw-bold border-top border-primary">
										<td colspan='2'>Total</td>

										<td class="text-end"><%= peso_currency(batch_benefits.sum(:coverage_amount)) %></td>
									</tfoot>
								</table>
							</div>
						</div>

						<% if agreement.plan.gyrt_type == 'family' %>
							<% batch.batch_dependents.includes(:member_dependent, :agreement_benefit).each do |dependent| %>
								<div class="card mb-3">
									<div class="card-body">
										<%= render 'claims_identifier', agreement: agreement, batch: batch, coop_member: dependent, benefit: dependent.agreement_benefit %>

										<table class="table table-borderless table-hover">
											<thead>
												<tr>
													<th class="text-primary">Benefits</th>
													<th class="text-primary text-end">Amount</th>
												</tr>
											</thead>
											<tbody>
												<% dependent_benefits = agreement.plan.acronym == 'PMFC' ? dependent.get_term_insurance_product_benefit : dependent.agreement_benefit.product_benefits %>
												<% dependent_benefits.includes(:benefit).each do |product| %>
													<tr>
														<td><small><%= product.benefit.name %></small></td>
														<td class="text-end"><%= peso_currency(product.coverage_amount) %></td>
													</tr>
												<% end %>
											</tbody>
											<tfoot class="fw-bold border-top border-primary mb-3">
												<td colspan='2'>Total</td>
												<td class="text-end"><%= peso_currency(dependent_benefits.sum(:coverage_amount)) %></td>
											</tfoot>
										</table>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>

					
				</div>
			</div>
		</div>

		

					<!--
					<div class="step">
						<span class="icon"><i class="bi bi-send"></i></span>
						<span class="text"><small>Release</small></span>
					</div>
					
				</div>
				<br>
				<div class="mb-3">
					<ul class="timeline">
						<li class="mb-3">
							<p class="text-primary mb-1">Payment Procedure <small class="text-muted">2023-05-12 13:41:56 +0800</small></p>
							<small>Approved by Ansell Del Ayre</small>
						</li>
						<li class="mb-3">
							<p class="text-primary mb-1">Evaluation <small class="text-muted">2023-05-12 13:41:22 +0800</small></p>
							<small>by Ansell Del Ayre</small>
						</li>
						<li class="mb-3">
							<p class="text-primary mb-1">Processing <small class="text-muted">2023-05-12 13:40:48 +0800</small></p>
							<small>by Ansell Del Ayre</small>
						</li>
					</ul>
				</div>
				-->

	<% end %>
</div>


