<%= turbo_frame_tag "modal-xl" do %>
    <div class="modal-body <%=  flex_justify_align('center', 'center', true)%> gap-3">
      <div class="<%= flex_justify_align('between', 'center')%> w-100" >
        <h5 class="text-primary mb-0">Member Information</h6>
        <button type="button" class="<%= small_btn('danger')%>" data-bs-dismiss="modal" aria-label="Close" style="align-self: end;">
          Close
        </button>
      </div>
      <%= render partial: 'coop_member', locals: { member: @member, coop_member: @coop_member } %>
    </div>
<% end %>

