<%#= turbo_frame_tag "modal-xl" do %>
  <% if current_user.is_coop_user? %>
    <%= link_to coop_members_path, data: { turbo: false }, class: 'btn btn-secondary mb-1', title: "Back" do %>
      <i class="bi bi-chevron-left"></i>
    <% end %>
  <% elsif !@for_modal.present? %>
    <%= link_to @coop_member.cooperative, data: { turbo: false }, class: 'btn btn-outline-secondary btn-lg mb-1', title: "Back" do %>
      <i class="bi bi-arrow-left-square"></i>
      Back
    <% end %>
  <% end %>
  <div class="card">
    <div class="card-header">
      <% if @for_modal.present? %>
        <div class="text-end">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <% end %>
      <%= content_tag :h5, 'Coverage of', class: "text-muted" %>
      <%= content_tag :h3, @coop_member.get_fullname, class: "text-primary" %>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover align-middle">
        <thead>
        </thead>
        <tbody>
          <% @batch_gyrt.group_by(&:agreement_benefit).each do |agreement_benefit, batch| %>
            <tr>
              <td colspan=5> <strong><%= agreement_benefit.agreement.plan %></strong> <br>
                <%= agreement_benefit.name %> <br>
                <%# add view claims button %>
                <% unless current_user.is_mis? %>
                  <% if @coop_member.process_claims.present? %>
                    <%= link_to 'View Claims', show_coop_claims_process_claim_path(@coop_member.process_claims.last), class: 'btn btn-sm btn-warning' %>
                  <% else %>
                    <%= link_to 'File Claims', new_coop_claims_process_claims_path(cm: @coop_member, ab: agreement_benefit, a: agreement_benefit.agreement), class: 'btn btn-sm btn-warning' %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <table class="table align-middle">
                  <tbody>
                    <% prod_benefit = agreement_benefit.get_product_benefits %>
                    <% prod_benefit.each do |pb| %>
                      <tr>
                        <td><small><%= pb.benefit %></small></td>
                        <td class="text-end"><small><%= to_curr(pb.coverage_amount) %></small></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </td>
            </tr>
            <% batch.each do |b| %>
              <tr>
                <td>
                  <small>Age</small><br>
                  <%= "#{b.age} year old" %>
                </td>
                <td>
                  <small>Effectivity</small><br>
                  <%= month_day_year(b.effectivity_date) %>
                </td>
                <td>
                  <small>Expiry</small><br>
                  <%= month_day_year(b.expiry_date) %>
                </td>
                <td>
                  <small>Terms</small><br>
                  <%= b.get_terms %>
                </td>
                <td> <%= b.insurance_status.to_s.humanize.titleize %></td>
                <td> Submitted <%#= to_longdate(b.group_remits.find_by(type: "Remittance").process_coverage.created_at) %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% if @batch_lppi.present? %>
        <%= content_tag :strong, "LPPI coverages" %>
        <% batch = @batch_lppi.first %>

        <% unless current_user.is_mis? %>
          <% if @coop_member.process_claims.present? %>
            <%= link_to 'View Claims', show_coop_claims_process_claim_path(@coop_member.process_claims.last), class: 'btn btn-sm btn-warning' %>
          <% else %>
            <%= link_to 'File Claims', new_coop_claims_process_claims_path(cm: @coop_member, a: batch.group_remit.agreement.id, lb: batch.id), class: 'btn btn-sm btn-warning' %>
          <% end %>
        <% end %>
        <br>
        <table class="table table-bordered table-hover align-middle mt-1">
          <thead>
            <th>Batch Name</th>
            <th>Loan Details</th>
            <th>Effectivity</th>
            <th>Expiry</th>
            <th>Terms</th>
            <th>Loan</th>
            <th>Premium</th>
            <% unless current_user.is_mis? %>
              <th class="text-center">Actions</th>
            <% end %>
          </thead>
          <tbody>
            <% @batch_lppi.order(created_at: :desc).each do |lppi| %>
              <tr>
                <td><small><%= batch_status(lppi.status) %></small> <%= lppi.group_remit %></td>
                <td><%= lppi.loan&.name %></td>
                <td><%= short_month_day_year(lppi.effectivity_date) %></td>
                <td><%= short_month_day_year(lppi.expiry_date) %></td>
                <td>
                  <%= lppi.terms %>
                </td>
                <td>
                  <%= to_curr(lppi.loan_amount) %>
                </td>
                <td><%= to_curr(lppi.premium) %></td>
                <% unless current_user.is_mis? %>
                  <td class="text-center">
                    <% if lppi.remarks.exists? %>
                      <%= link_to modal_remarks_loan_insurance_batch_path(lppi), data: { turbo_frame: "reg_form_modal" }, class: small_btn('warning'), title: 'Remarks' do %>
                        <i class="bi bi-card-list"></i>
                      <% end %>
                    <% end %>
                    <% unless lppi.terminated? || lppi.expired? %>
                      <%= link_to 'Terminate', terminate_loan_insurance_batch_path(lppi), class: small_btn('danger'), data: {turbo_frame: '_top', turbo_confirm: 'Terminate loan?', turbo_method: :get}  %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <%# end %>
