<h2>Sign up</h2>

<%= select_tag :category, options_for_select(['Agent', 'Coop', 'Employee']), id: "formCategory" %>

<%= render "agents/form", agent: @agent %>
<%= render "coops/form", agent: @coop %>
<%= render "employees/form", agent: @employee %>

<%= render "devise/shared/links" %>
