<h2>Sign up</h2>

<%= select_tag :category, options_for_select([['Select a role', '', {disabled: true, selected: true}],'Agent', 'Coop', 'Employee']), id: "formCategory" %>

<div class="hidden" id="agentForm">
    <%= render "agents/form", agent: @agent %>
</div>

<div class="hidden" id="coopForm">
    <%= render "coops/form", agent: @coop %>
</div>

<div class="hidden" id="employeeForm">
    <%= render "employees/form", agent: @employee %>
</div>

<%= render "devise/shared/links" %>

<%= javascript_include_tag 'toggleForms' %>
<script type="module">
    toggleForms();
</script>





