<%= content_tag :h1, "List of Underwriting Routes" %>


<div class="text-end mb-3">
  <%= link_to new_underwriting_route_path, class: 'btn btn-primary' do %>
    New Underwriting Route
  <% end %>
</div>

<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @underwriting_routes.each do |underwriting_route| %>
        <tr>

        <th scope="row"><%= underwriting_route.id %></th>
        <td><%= underwriting_route.name %></td>
        <td><%= underwriting_route.description %></td>
    
          <td>
            <%= link_to 'View', underwriting_route, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_underwriting_route_path(underwriting_route), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", underwriting_route, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
