<div id="<%= dom_id reinsurer %>">
  <p>
    <strong>Name:</strong>
    <%= reinsurer.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= reinsurer.short_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= reinsurer.address %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= reinsurer.contact_no %>
  </p>

</div>
