<div id="<%= dom_id reserve %>">
  <p>
    <strong>First term:</strong>
    <%= reserve.first_term %>
  </p>

  <p>
    <strong>Second term:</strong>
    <%= reserve.second_term %>
  </p>

  <p>
    <strong>Third term:</strong>
    <%= reserve.third_term %>
  </p>

  <p>
    <strong>Total unearned prem:</strong>
    <%= reserve.total_unearned_prem %>
  </p>

  <p>
    <strong>Total first advance prem:</strong>
    <%= reserve.total_first_advance_prem %>
  </p>

  <p>
    <strong>Total second advance prem:</strong>
    <%= reserve.total_second_advance_prem %>
  </p>

  <p>
    <strong>Total reserve:</strong>
    <%= reserve.total_reserve %>
  </p>

  <p>
    <strong>Total unearned pr:</strong>
    <%= reserve.total_unearned_pr %>
  </p>

  <p>
    <strong>Total first advance pr:</strong>
    <%= reserve.total_first_advance_pr %>
  </p>

  <p>
    <strong>Total second advance pr:</strong>
    <%= reserve.total_second_advance_pr %>
  </p>

  <p>
    <strong>Total reserve ret:</strong>
    <%= reserve.total_reserve_ret %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= reserve.plan_id %>
  </p>

</div>
