<%= render 'message_his' if @claim_remark.coop? %>
<%= simple_form_for(@claim_remark, url: url, method: meth) do |f| %>
  <%= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.label :status unless current_user.userable_type == 'CoopUser' %>
    <%= f.select :status, options_for_select(ClaimRemark.statuses.keys.map { |key| [key.humanize, key] }), { prompt: 'Select Type' }, { class: 'form-control' } unless current_user.userable_type == 'CoopUser' %>
    <%= f.hidden_field :coop %>
    <%= f.input :remark, :input_html => {:rows => 3} %>

  </div>
  <br>
  <div class="form-actions text-end">
    <%= link_to "Back", :back, class: 'btn btn-secondary' %>
    <%= f.button :submit, value: "Submit", class: "btn btn-success" %>
  </div>
<% end %>

