
<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
        <th>Claims</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @claim_remarks.order(created_at: :desc).each do |cr| %>
            <tr>
                <% @process_claim = cr.process_claim %>
                <th scope="row"><%= cr.id %></th>
                <td><strong><%= @process_claim.claimable.get_fullname %></strong> <br>
                    <small><%= @process_claim.agreement.plan %> <%= @process_claim.claim_type %></small> <br>
                    <%= cr.remark[0, 100] %> ... <br>
                    <small class="text-muted"><%= cr.created_at %></small>
                </td>
                <td>
                    <% if current_user.userable_type == "CoopUser" %>
                        <%= link_to "View", show_coop_process_claim_path(@process_claim), class: "btn btn-warning btn-sm"  %>
                   <% else %>
                        <% if @process_claim.submitted? || @process_claim.claim_filed? %>
                            <%= link_to "View", show_coop_process_claim_path(@process_claim), class: "btn btn-warning btn-sm"  %>
                            <%= link_to "Edit", claims_file_process_claim_path(@process_claim), class: "btn btn-warning btn-sm" if process_claim.claim_filed? %>
                        <% else %>
                            <%= link_to "View", claim_process_process_claim_path(@process_claim), class: "btn btn-warning btn-sm"  %>
                        <% end %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%# @claim_remarks.each do |cm| %>
    <%#= cm.process_claim.claimable.get_fullname %>
<%# end %>