
<%= simple_form_for(@cf_availment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%#= f.association :process_claim %>
    <%#= f.association :cf_account %>
    <%#= f.association :user %>
    <div class="alert alert-warning" role="alert">
      <%= @cf_availment.cf_account.cooperative %> <br>
      <strong>Balance: </strong>
    </div>
    <div class="row">
      <%= f.input :transaction_date, label: "Date", as: :string, wrapper_html: { class: "col-md-6" }, 
                  input_html: { data: { controller: "flatpickr",
                      flatpickr_next_arrow: "Next",
                      flatpickr_prev_arrow: "Prev" } } %>
      <%= f.input :amount, wrapper_html: { class: "col-md-6" } %>
    </div>

    <%= f.hidden_field :cf_account_id %>
    <%= f.hidden_field :process_claim_id %>
    <%= f.input :description %>
    <%#= f.input :status %>
  </div>

  <div class="form-actions text-end">
    <%#= link_to "Back", claims_cf_availments_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
