<%= simple_form_for(@coop_branch, url: url, method: meth) do |f| %>
<%#= simple_form_for [@coop_branch] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :name %>
    <div class="row" data-controller="geography">
      <%= f.association :geo_region, label: "Region", input_html: { data: { action: "change->geography#search_provinces" } }, wrapper_html: { class: "col col-md-6" } %>
      <%= f.association :geo_province, label: "Province", input_html: { id: "province_id", data: { action: "change->geography#search_municipalities", geography_target: "provinceSelect" } }, wrapper_html: { class: "col col-md-6" } %>
      <%= f.association :geo_municipality, label: "Municipality", input_html: { id: "muni_id", data: { action: "change->geography#search_barangays", geography_target: "muniSelect" } }, wrapper_html: { class: "col col-md-6" } %>
      <%= f.association :geo_barangay, label: "Barangay", input_html: { id: "brgy_id", data: { geography_target: "brgySelect" } }, wrapper_html: { class: "col col-md-6" } %>
    </div>
    <%= f.input :street %>
    <%= f.input :contact_details %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", :back, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
