<%#= simple_form_for(@coop_branch, url: url, method: meth) do |f| %>
<%= simple_form_for(@coop_branch) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <% unless @cooperative.present? %>
      <%= f.association :cooperative %>
    <% end %>
    <%= f.input :name %>
    <div class="row" data-controller="geography">
      <%= f.association :geo_region, 
        label: "Region", 
        input_html: { data: { action: "change->geography#search_provinces" } }, 
        label_html: {class: 'text-secondary sm-secondary-text'}, 
        wrapper_html: { class: "col-4" } %>
      <%= f.association :geo_province, 
        collection: @prov, 
        label: "Province", 
        input_html: { 
          id: "province_id", 
          data: { action: "change->geography#search_municipalities", geography_target: "provinceSelect" } 
        }, 
        label_html: {class: 'text-secondary sm-secondary-text'}, 
        wrapper_html: { class: "col-4" } %>
      <%= f.association :geo_municipality, 
        collection: @muni, 
        label: "Municipality", 
        input_html: { 
          id: "muni_id", 
          data: { action: "change->geography#search_barangays", geography_target: "muniSelect" } 
        }, 
        label_html: {class: 'text-secondary sm-secondary-text'}, 
        wrapper_html: { class: "col-4" } %>
      <%= f.association :geo_barangay, 
        collection: @brgy, 
        label: "Barangay", 
        input_html: { 
          id: "brgy_id", 
          data: { geography_target: "brgySelect" } 
        }, 
        label_html: {class: 'text-secondary sm-secondary-text'}, 
        wrapper_html: { class: "col-4" } %>
    </div>
    <%= f.input :street %>
    <%= f.input :contact_details %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to "Back", :back, class: 'btn btn-secondary' %>
  </div>
<% end %>
