<%= content_tag :h1, "List of Coop Branches" %>


<div class="text-end mb-3">
  <%= link_to new_coop_branch_path, class: 'btn btn-primary' do %>
    New Coop Branch
  <% end %>
</div>

<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>#</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @coop_branches.each do |coop_branch| %>
        <tr>

        <th scope="row"><%= coop_branch.id %></th>
    
          <td>
            <%= link_to 'View', coop_branch, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_coop_branch_path(coop_branch), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", coop_branch, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
