<div class="row">
  <div class="col-sm-6">
    <div class="card card-sm">
      <div class="card-body">

        <div id="<%= dom_id check_voucher %>">
          <div class="row">
            <p class="col-9">
              <strong>Date voucher:</strong>
              <%= check_voucher.date_voucher %>
            </p>

            <p class="col-3">
              <strong><%= "CV#{check_voucher.voucher}" %></strong>
            </p>
          </div>

          <div class="row">
            <p class="col-9 <%= flex_justify_align('','',true) %>">
              <strong>Payee:</strong>
              <%= check_voucher.payable.name %>
            </p>

            <p class="col-3 <%= flex_justify_align('','',true) %>">
              <strong>Amount:</strong>
              <%= to_curr(check_voucher.amount) %>
            </p>
          </div>

          <p class="<%= flex_justify_align('','',true) %>">
            <strong>Particulars:</strong>
            <%= check_voucher.particulars %>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
