<div id="<%= dom_id check_voucher %>">
  <p>
    <strong>Date voucher:</strong>
    <%= check_voucher.date_voucher %>
  </p>

  <p>
    <strong>Voucher:</strong>
    <%= check_voucher.voucher %>
  </p>

  <p>
    <strong>Payable:</strong>
    <%= check_voucher.payable_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= check_voucher.address %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= check_voucher.amount %>
  </p>

  <p>
    <strong>Particulars:</strong>
    <%= check_voucher.particulars %>
  </p>

</div>
