
<%= simple_form_for(@accounting_check_voucher) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :date_voucher %>
    <%= f.input :voucher %>
    <%= f.association :payable %>
    <%= f.input :address %>
    <%= f.input :amount %>
    <%= f.input :particulars %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", accounting_check_vouchers_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
