
<div class="<%= flex_justify_align('between', 'center') %> mb-3">
  <div class="<%= flex_justify_align('', 'center') %> gap-3">
    <%= content_tag :h4, "Check Vouchers", class: 'text-primary' %>
    <%= link_to new_accounting_check_voucher_path, class: small_btn('primary'), data: {turbo_frame: 'modal'} do %>
      New Check Voucher
    <% end %>
  </div>
</div>


  <table class="table table-sm table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Date Voucher</th>
            <th>Voucher</th>
            <th>Payee</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% @accounting_check_vouchers.each do |voucher| %>
        
        <tr>

        <th scope="row"><%= voucher.id %></th>
        <td><%= month_day_year(voucher.date_voucher) %></td>
        <td><%= voucher.voucher %></td>
        <td><%= voucher.payable %></td>
        <td><%= to_curr(voucher.amount) %></td>
    
          <td class="text-center">
            <%= link_to 'View', voucher, class: 'btn btn-secondary btn-sm' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
