<%= turbo_frame_tag "remark" do %>
  <table class="table table-borderless table-hover">
    <tbody>
      <% @process_claim.claim_remarks.where(coop: 1).order(created_at: :desc).each do |claim_remark| %>
        <tr>
          <td>
            <strong class= <%= "text-primary" if claim_remark.user == current_user %>><%= claim_remark.user %></strong>
              <small class="text-muted"><%= claim_remark.created_at %></small> <br>
              <small> <%=  claim_remark.remark %> </small> </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
