
<table class="table table-bordered table-hover">
    <thead>
      <tr>
      
      <th>Claims</th>
      </tr>
    </thead>
    <tbody>
        <tr class="table-warning"><td><strong>Unread</strong></td></tr>
        <% @messages.where(coop: 1, read: 0).where.not(user: current_user).each do |message| %>
        <tr>
            
            <td><strong><%= message.user.userable.get_fullname %></strong> <small>
                <% if message.user.userable_type == "CoopUser" %>
                  @<%= message.user.userable.cooperative %>
                <% end %>
                
                <em class="text-muted"><%= message.created_at %></em></small> <%= content_tag :span, 'Unread', class: "badge rounded-pill bg-warning text-dark" unless message.read? %> <br>
                <small class="text-muted">Claim: <%= message.process_claim.coop_member&.get_fullname %>| Claim route: <%= message.process_claim.claim_route.humanize %></small> <br>
                <strong> <%= link_to message.remark, show_coop_claims_process_claim_path(message.process_claim_id) if current_user.userable_type == "CoopUser" %> 
                    <%= link_to message.remark, claim_process_claims_process_claim_path(message.process_claim_id) if current_user.userable_type == "Employee" %> 
                </strong></td>
        </tr>
        <% end %>
        <tr class="table-success"><td><strong>Everthing else</strong></td></tr>
        <% @messages.where(coop: 1, read: 1).where.not(user: current_user).each do |message| %>
        <tr>
            
            <td><strong><%= message.user.userable.get_fullname %></strong> <small>
                <% if message.user.userable_type == "CoopUser" %>
                  @<%= message.user.userable.cooperative %>
                <% end %>
                
                <em class="text-muted"><%= message.created_at %></em></small> <%= content_tag :span, 'Unread', class: "badge rounded-pill bg-warning text-dark" unless message.read? %> <br>
                <small class="text-muted">Claim: <%= message.process_claim.coop_member&.get_fullname %>| Claim route: <%= message.process_claim.claim_route.humanize %></small> <br>
                <small> <%= link_to message.remark, show_coop_claims_process_claim_path(message.process_claim_id) if current_user.userable_type == "CoopUser" %> 
                    <%= link_to message.remark, claim_process_claims_process_claim_path(message.process_claim_id) if current_user.userable_type == "Employee" %> 
                </small></td>
        </tr>
        <% end %>
    </tbody>
</table>
<%# @claim_remarks.each do |cm| %>
    <%#= cm.process_claim.claimable.get_fullname %>
<%# end %>