<div class="modal fade" id="benefitsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBackdropLabel">Benefit & Coverages</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
          <% @agreement.agreement_benefits.where.not(insured_type: 2..5).includes({product_benefits: :benefit}).each do |ab| %>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading<%= dom_id(ab) %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= dom_id(ab) %>" aria-expanded="true" aria-controls="collapse<%= dom_id(ab) %>">
                  <%= content_tag :span, "#{ab.insured_type == 'principal' ? "#{ab.insured_type.upcase}(#{ab.name})" : ab.name.upcase}", class: 'text-secondary small' %>
                </button>
              </h2>
              <div id="collapse<%= dom_id(ab) %>" class="accordion-collapse collapse" aria-labelledby="heading<%= dom_id(ab) %>" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <caption class="lead">Principal</caption>
                  <%= render 'benefits_table', ab: ab %>
                  <% @agreement.agreement_benefits.where("name LIKE ?", "%#{ab.name}%").drop(1).each do |db| %>
                    <caption class="lead"><%= db.name %></caption>
                    <%= render 'benefits_table', ab: db %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!--
        <table class="table table-hover">

          <tbody>
            <% @agreement.agreement_benefits.includes({product_benefits: :benefit}).each do |ab| %>
              <tr>
                <th scope="row">
                  <%= content_tag :span, "#{ab.insured_type == 'principal' ? "#{ab.insured_type.upcase}(#{ab.name})" : ab.name.upcase}", class: 'text-secondary', style: 'font-size: .8rem; width: 100px' %>
                </th>
                <% ab.product_benefits.each do |product| %>
                  <tr>
                    <td>
                      <%= content_tag :span, "#{product.benefit.name}", class: 'sm-secondary-text text-center', style: "width: 100px;"%>
                    </td>
                    <td>
                      <%= content_tag :span, "#{number_to_currency(product.coverage_amount, unit: '₱', precision: 2)}", class: 'sm-secondary-text text-center', style: "width: 150px;"%>
                    </td>
                    <td>
                      <%= content_tag :span, "#{number_to_currency(product.premium, unit: '₱', precision: 2)}", class: 'sm-secondary-text text-center', style: "width: 100px;"%>
                    </td>
                  </tr>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        -->
        <!--
        <div class="<%= flex_justify_align('around', 'center') %> mb-2">
          <%= content_tag :h6, "Insured", style: "width: 100px;" %>
          <%= content_tag :h6, "Benefit", style: "width: 100px;", class: 'text-center' %>
          <%= content_tag :h6, "Coverage Amount", style: "width: 100px;", class: 'text-center'%>
          <%= content_tag :h6, "Premium", style: "width: 100px;", class: 'text-center' %>
        </div>

        <% @agreement.agreement_benefits.includes({product_benefits: :benefit}).each do |ab| %>
          <div class="<%= flex_justify_align('between') %> text-secondary">
            <%#= content_tag :span, "#{ab.insured_type == 'principal' ? ab.insured_type.upcase : ab.insured_type.gsub('_', ' ').split(' ').drop(1).join(' ').upcase}", class: 'text-secondary', style: 'font-size: .8rem; width: 100px' %>
            <%= content_tag :span, "#{ab.insured_type == 'principal' ? "#{ab.insured_type.upcase}(#{ab.name})" : ab.name.upcase}", class: 'text-secondary', style: 'font-size: .8rem; width: 100px' %>
            <div class="<%= flex_justify_align('between', 'center', true) %>">

              <% ab.product_benefits.each do |product| %>
                <div class="<%= flex_justify_align('between') %> text-secondary mb-1">
                  <%= content_tag :span, "#{product.benefit.name}", class: 'sm-secondary-text text-center', style: "width: 100px;"%>
                  <%= content_tag :span, "#{number_to_currency(product.coverage_amount, unit: '₱', precision: 2)}", class: 'sm-secondary-text text-center', style: "width: 150px;"%>
                  <%= content_tag :span, "#{number_to_currency(product.premium, unit: '₱', precision: 2)}", class: 'sm-secondary-text text-center', style: "width: 100px;"%>
                </div>
              <% end %>

            </div>
          </div>
          <hr>
        <% end %>
                -->


      </div>
    </div>
  </div>
</div>