
<%= simple_form_for(@group_remit, html: { data: { 
  controller: 'nested-form', 
  nested_form_wrapper_selector_value: '.nested-form-wrapper' 
    } 
  }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">

    <div class="d-flex gap-3">
      <%= f.association :agreement, 
        collection: @agreements,
        input_html: {
          data: {controller: "slim-select" }, style: "width: 250px !important"
        }%>

      <%= f.association :anniversary, 
        input_html: { 
          data: {controller: "slim-select" }, style: "width: 250px !important" 
        }%>

    </div>
    <%= f.input :description %>
  <div class="form-actions text-end">
    <%= link_to "Back", group_remits_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>

<% console %>