<div id="<%= dom_id group_remit %>">
  <p>
    <strong>Name:</strong>
    <%= group_remit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= group_remit.description %>
  </p>

  <p>
    <strong>Agreement:</strong>
    <%= group_remit.agreement_id %>
  </p>

  <p>
    <strong>Anniversary:</strong>
    <%= group_remit.anniversary_id %>
  </p>

</div>
