<%= content_tag :h1, "List of Remitances" %>


<div class="mb-3">
  <%= link_to new_group_remit_path, class: 'btn btn-primary' do %>
    New Group Remit
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr> 

        <th>ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Total Premium</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @group_remits.each do |group_remit| %>
        <tr>

        <td><%= group_remit.id %></td>
        <td><%= group_remit.updated_at.strftime('%B %d, %Y') %></td>
        <td><%= group_remit.name %></td>
        <td><%= number_to_currency(group_remit.batches.sum(:premium), unit: "₱", precision: 2) %></td>
    
          <td>
            <%= link_to 'View', group_remit, class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Edit', edit_group_remit_path(group_remit), class: 'btn btn-sm btn-secondary' %>
            <%= link_to "Delete", group_remit, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
