<%= turbo_stream_from @cooperative, "batches" %>
<% gr_presenter = GroupRemitPresenter.new(@group_remit)%>
<% plan_acronym = @agreement.plan.acronym %>

<!-- Benefits & Coverages Modal -->
<%= render "coverages_modal" %>

<!-- Batch Import Modal -->
<%= render "batch_import_modal" %>

<!-- Member's count Modal -->
<%= render "member_count_modal" %>

<div class="mb-3 gap-1 <%= flex_justify_align('', 'center') %>">
  <%= link_to 'Back', coop_agreement_path(@agreement), class: small_btn('secondary') %>

  <% if @group_remit.pending? || @group_remit.for_renewal? %>
    <%= button_to "Delete", group_remit_path(@group_remit), 
      method: :delete,
      data: { turbo_confirm: 'Delete group remit?'},
      class: small_btn('danger') 
    %>
    <div class="d-flex gap-1">

      <%# <% unless @passed_requirements %> 
      <%= button_to 'Submit Batch', submit_group_remit_path(@group_remit), 
        method: :get,
        class: small_btn('outline-warning'), 
        data: {turbo_confirm: 'Submit group remit?' } 
      %>
      <%# <% end %> 
       
      <%  if @group_remit.denied_members.present? %>
        <%= link_to 'Denied members', group_remit_denied_members_path(@group_remit), class: small_btn('outline-secondary') %>
      <% end %>

    </div>
    
  <% elsif @group_remit.expired? && @group_remit == @agreement.group_remits.last %>
    <%= button_to 'Renew', renewal_group_remit_path(@group_remit),
        method: :get, 
        class: small_btn('warning'), 
        data: {turbo_confirm: 'Renew group remit?' } 
      %>
  <% end %>

</div>
<div class="<%= flex_justify_align('', 'center') %> gap-1">
  <%= content_tag :span, gr_presenter.status_text, class: gr_presenter.status_badge %>
  <%= content_tag :h3, class: 'mb-0' do %>

    <% if plan_acronym == 'PMFC' %>
      <%= "#{@agreement.moa_no} - BATCH #{@agreement.group_remits.find_index(@group_remit) + 1}" %>
    <% else %>
      <%= @agreement.moa_no %>
    <% end %>
    
  <% end %>
</div>
<div class="<%= flex_justify_align('between', 'center') %> mb-3 gap-3">
  <div class="d-flex flex-column " style="height: 260px; width: 100%">
    <% unless plan_acronym == 'PMFC' %>
      <div class="card mb-2">
        <div class="card-body text-secondary">
          <div class="<%= flex_justify_align('center') %>">
            <%= content_tag :h6, "Effectivity Date ", class: 'sm-secondary-text', style: "width: 150px" %>
            <%= content_tag :h6, "#{@group_remit.effectivity_date.present? ? @group_remit.effectivity_date.strftime('%B %d, %Y') : 'Tentative'}", class: 'sm-secondary-text', style: "width: 150px" %>
          </div>
          <div class="<%= flex_justify_align('center') %>">
            <%= content_tag :h6, "Expiry Date", class: 'sm-secondary-text', style: "width: 150px" %>
            <%= content_tag :h6, "#{@group_remit.expiry_date.present? ? @group_remit.expiry_date.strftime('%B %d, %Y') : 'Tentative'}", class: 'sm-secondary-text', style: "width: 150px" %>
          </div>
          <div class="<%= flex_justify_align('center') %>">
            <%= content_tag :h6, "Terms", class: 'sm-secondary-text', style: "width: 150px" %>
            <%= content_tag :h6, "#{@group_remit.terms}", class: 'sm-secondary-text', style: "width: 150px"%>
          </div>
        </div>
      </div>
    <% end %>
    <div class="<%= flex_justify_align('between') %> " style="height: 100%; width: 460px;">
      <div style="width: 100%">

        <% if @group_remit.for_payment? %>
          <%= render 'payment' %>
        <% end %>

        <% if @group_remit.pending? || @group_remit.for_renewal? %>
            <%= turbo_frame_tag "batch_import_form" do %>
              <%= turbo_frame_tag "batch_form" do %>     
                <div class="d-flex gap-3 mb-2">
                  <%= render 'group_remits/add_member' %>
                </div>

                <% if @batch_without_beneficiaries_count > 0 %>
                  <%= content_tag :span, "Filter this batch by:", 
                    class: 'mb-1',  
                    style: "font-size: .7rem; color: red !important; font-weight: 700;"   
                  %>
                <% end %>

                <% if @batch_without_beneficiaries_count > 0 %>
                  <div class="mb-1">
                    <%= link_to "#{@batch_without_beneficiaries_count} member(s) without beneficiary!", group_remit_path(@group_remit, batch_beneficiary_filter: true), 
                      method: :get, 
                      class: "#{badge('danger')} hovered-link", 
                      data: { turbo: false } 
                    %>
                  </div>
                <% end %>

                <% if @batch_without_batch_health_dec_count > 0 %>
                  <%= link_to "#{@batch_without_batch_health_dec_count} member(s) without batch health declaration!", group_remit_path(@group_remit, batch_health_dec_filter: true), 
                    method: :get, 
                    class: "#{badge('danger')} hovered-link", 
                    data: { turbo: false } 
                  %>
                <% end %>

              <% end %>
            <% end %>
        <% end%>

      </div>
    </div>
  </div>
  <div class="card" style="height: 260px; width: 100%">
    <div class="card-body <%= flex_justify_align('around', '', true) %> ">
      <div class="<%= flex_justify_align('center') %>">
        <%= content_tag :h6, "#{@agreement.plan.name}"%>
      </div>
      <%= content_tag :button, "Benefits & Coverages", 
        class: small_btn('outline-success'), 
        data: {bs_toggle: "modal",
          bs_target: "#benefitsModal"
        }
      %>
      <%= content_tag :button, "Insured Count", 
        class: small_btn('outline-success'), 
        data: {bs_toggle: "modal",
          bs_target: "#insuredType"
        }
      %>
    </div>
  </div> 

  <%= turbo_frame_tag "computation" do %>
    <%= render "group_remits/computation", group_remit: @group_remit %>
  <% end %>  
</div>

  <% if ['GYRTBR','GYRTFR'].include?(plan_acronym) %>
    <div class="<%= flex_justify_align('between', 'center') %> gap-1">
      <div class="d-flex gap-1">

      <% @group_remit.agreement.agreement_benefits.where.not(insured_type: 2..5).each do |a_benefit| %>
        <%= link_to a_benefit.name, group_remit_path(@group_remit, rank_filter: a_benefit), class: "btn btn-sm btn-warning" %>
      <% end %>

      </div>
  <% else %>
    <div class="<%= flex_justify_align('end', 'center') %> gap-1">
  <% end %>
  
  <div class="d-flex gap-1">
    <%= form_with url: group_remit_path(@group_remit), method: :get do %>
      <div class="form-group d-flex justify-content-end gap-3 mb-3">
        <%= text_field_tag 'batch_filter', 
          nil, 
          placeholder: 'Member\'s name', 
          class: "form-control", 
          style: "width: auto"
        %>
        <%= submit_tag 'Search', class: small_btn('warning') %>
      </div>
    <% end %>

    <div class="">
      <%= link_to "View All", group_remit_path(@group_remit), 
        class: "#{small_btn('outline-warning')} mb-3 d-flex align-items-center", 
        style: "height: 38px;",
        data: { turbo: false } 
      %>
    </div>
  </div>
  
    
</div>

<div class="table-responsive">
  <%= turbo_frame_tag "batches" do %>
  <table class="table table-hover">
    <thead>
      <tr class="table-dark">

        <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col">Members</th>
        <th class="text-center" scope="col">Premium</th>
        <th class="text-center" scope="col">Beneficiaries</th>
        <% if @agreement.plan.gyrt_type == 'family' %>
          <th class="text-center" scope="col">Dependents</th>
        <% end %>
        <th class="text-center" scope="col">Actions</th>

      </tr>
    </thead>

    <tbody id="batches_body">

      <% if @group_remit.batches.exists? %>
        <%= render @batches.includes([coop_member: :member], :agreement_benefit, :batch_beneficiaries), group_remit: @group_remit, agreement: @agreement %>
      <% end %>

    </tbody>
  </table>

</div>

<%== pagy_bootstrap_nav(@pagy) %>
<% end %>

