<%= turbo_stream_from "batches" %>

<%= content_tag :h1, @group_remit.name %>
<%= content_tag :h6, "Total Premium: #{number_to_currency(@total_premium, unit: "₱", precision: 2)}" %>
<%= content_tag :h6, "Total Coop Commission: #{number_to_currency(@total_coop_commission, unit: "₱", precision: 2)}" %>
<%= content_tag :h6, "Total Agent Commission: #{number_to_currency(@total_agent_commission, unit: "₱", precision: 2)}" %>



<div class="mb-3">
  <%= link_to new_group_remit_batch_path(@group_remit), data: {turbo_frame: "batch_form"}, class: 'btn btn-primary' do %>
    New Batch
  <% end %>
</div>

<%= turbo_frame_tag "batch_form" %>

<div class="table-responsive">
  <%= turbo_frame_tag "batches" do %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>ID</th>
        <th>Member</th>
        <th>Status</th>
        <th>Premium</th>
        <th>Coop Commission</th>
        <th>Agent Commission</th>
        <th>Actions</th>

      </tr>
    </thead>

    <tbody id="batches_body">
        <%= render @batches, group_remit: @group_remit %>
    </tbody>
  </table>
  <% end %>

</div>

<%== pagy_bootstrap_nav(@pagy) %>