<%= turbo_stream_from current_cooperative, "batches" %>

<%= content_tag :h1, @group_remit.name %>


<div class="d-flex justify-content-between mb-4" style="height: 150px;">
  <div style="width: 100%">
    <div class="d-flex gap-3">
      <%= content_tag :h6, "Effectivity Date: ", style: "width: 150px" %>
      <%= content_tag :h6, @group_remit.effectivity_date.strftime('%B %d, %Y') %>
    </div>
    <div class="mb-3 d-flex gap-3">
      <%= content_tag :h6, "Expiry Date: ", style: "width: 150px" %>
      <%= content_tag :h6, @group_remit.expiry_date.strftime('%B %d, %Y') %>
    </div>
    <%= turbo_frame_tag "batch_form" do %>
      <%= render "group_remits/add_member" %>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag "computation" do %>
  <%= render partial: "group_remits/computation", locals: {gross_premium: @gross_premium, total_agent_commission: @total_agent_commission, total_coop_commission: @total_coop_commission, net_premium: @net_premium} %>
<% end %>


<div class="table-responsive">
  <%= turbo_frame_tag "batches" do %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>ID</th>
        <th>Member</th>
        <th>Status</th>
        <th>Premium</th>
        <th>Coop Commission</th>
        <th>Actions</th>

      </tr>
    </thead>

    <tbody id="batches_body">
        <%= render @batches, group_remit: @group_remit %>
    </tbody>
  </table>
  <% end %>

</div>
<%== pagy_bootstrap_nav(@pagy) %>
