<%= turbo_stream_from @cooperative, "batches" %>
<% agreement_presenter = AgreementPresenter.new(@agreement) %>
<% gr_presenter = GroupRemitPresenter.new(@group_remit)%>
<% plan_acronym = @agreement.plan.acronym %>
<% short_term_insurance = plan_acronym == 'PMFC' %>

<!-- Benefits & Coverages Modal -->
<% if ['GYRT'].include?(agreement_presenter.plan_acronym) %>
  <%= render "coverages_modal" %>
<% end %>

<!-- Batch Import Modal -->
<%= render "batch_import_modal" %>

<!-- Member's count Modal -->
<%= render "member_count_modal" %>


<div class="<%= flex_justify_align('', 'center') %> gap-3">
  <%= content_tag :span, gr_presenter.status_text, class: gr_presenter.status_badge %>
  <%= content_tag :h3, class: 'mb-0 text-primary' do %>
      <%= @group_remit %>    
  <% end %>

  <div class="mb-0 gap-1 <%= flex_justify_align('', 'center') %>">
    <% if gr_presenter.is_pending_or_renewal? && gr_presenter.is_remittance? %>
      
      <div class="d-flex gap-1">
        <%= button_to 'Submit', submit_group_remit_path(@group_remit), 
          method: :get,
          class: small_btn('success'), 
          data: {turbo_confirm: 'Submit group remit?' } 
        %>
        
        <%  if @group_remit.denied_members.present? %>
          <%= link_to 'Denied members', group_remit_denied_members_path(@group_remit), class: small_btn('outline-secondary') %>
        <% end %>

      </div>

      <% unless gr_presenter.is_for_renewal? %>
        <%= button_to "Delete", group_remit_path(@group_remit), 
          method: :delete,
          data: { turbo_confirm: 'Delete group remit?'},
          class: small_btn('danger') 
        %>
      <% end %>

      <% if short_term_insurance && gr_presenter.is_batch_remit? && gr_presenter.is_pending_or_renewal? %>
        <%= button_to "Delete", group_remit_path(@group_remit), 
          method: :delete,
          data: { turbo_confirm: 'Delete group remit?'},
          class: small_btn('danger') 
        %>
      <% end %>

    <% elsif gr_presenter.is_expired? && gr_presenter.is_batch_remit? %>
      <%= button_to 'Renew', renewal_group_remit_path(@group_remit),
          method: :get, 
          class: small_btn('warning'), 
          data: {turbo_confirm: 'Renew group remit?' } 
        %>
    <% elsif !gr_presenter.is_for_renewal? && gr_presenter.is_batch_remit? && gr_presenter.is_none_anniversary? && @group_remit.effectivity_date == Date.today.beginning_of_month %>
      <%= button_to "Add Members", group_remits_path, 
        method: :post, 
        params: { 
          agreement_id: @agreement.id,
          anniversary_id: nil,
          anniv_type: 'none',
          type: 'Remittance',
          batch_remit_id: @group_remit.id,
          group_remit: {
            terms: @group_remit.terms
          }
        }, 
        class: small_btn('outline-primary'), 
        data: { turbo: false } 
      %>
    <% elsif !gr_presenter.is_for_renewal? && gr_presenter.is_batch_remit? && gr_presenter.is_single_anniversary? %>
      <%= button_to "Add Members", group_remits_path, 
        method: :post, 
        params: { 
          agreement_id: @agreement.id, 
          anniversary_id: @agreement.anniversaries[0].id,
          batch_remit_id: @group_remit.id,
          anniv_type: 'single',
          type: 'Remittance'
        }, 
        class: small_btn('outline-primary'), 
        data: { turbo: false } 
      %>
      <% elsif !gr_presenter.is_for_renewal? && gr_presenter.is_batch_remit? && gr_presenter.is_multiple_anniversary? %>
      <%= button_to "Add Members", group_remits_path, 
        method: :post, 
        params: { 
          agreement_id: @agreement.id, 
          anniversary_id: @group_remit.anniversary_id,
          batch_remit_id: @group_remit.id,
          anniv_type: 'multiple',
          type: 'Remittance'
        }, 
        class: small_btn('outline-primary'), 
        data: { turbo: false } 
      %>
    <% end %>

  </div>
</div>

<div class="<%= flex_justify_align('between', 'center') %> mb-3 gap-3">
  <div class="d-flex flex-column " style="height: 260px; width: 100%">

      <div class="card mb-2">
        <div class="card-body text-secondary">
          <div class="<%= flex_justify_align('center') %>">
            <%= content_tag :h6, "Effectivity Date ", class: 'sm-secondary-text', style: "width: 150px" %>
            <%= content_tag :h6, "#{@group_remit.effectivity_date.present? ? @group_remit.effectivity_date.strftime('%B %d, %Y') : 'Tentative'}", class: 'sm-secondary-text', style: "width: 150px" %>
          </div>
          <div class="<%= flex_justify_align('center') %>">
            <%= content_tag :h6, "Expiry Date", class: 'sm-secondary-text', style: "width: 150px" %>
            <%= content_tag :h6, "#{@group_remit.expiry_date.strftime('%B %d, %Y')}", class: 'sm-secondary-text', style: "width: 150px" %>
          </div>
          <% if @group_remit.instance_of?(Remittance)%>
            <div class="<%= flex_justify_align('center') %>">
              <%= content_tag :h6, "Submitted Date ", class: 'sm-secondary-text', style: "width: 150px" %>
              <%= content_tag :h6, "#{@group_remit.date_submitted.present? ? @group_remit.date_submitted.strftime('%B %d, %Y') : 'Pending'}", class: 'sm-secondary-text', style: "width: 150px" %>
            </div>
          <% end %>
          <div class="<%= flex_justify_align('center') %>">
            <%= content_tag :h6, "Terms", class: 'sm-secondary-text', style: "width: 150px" %>
            <%= content_tag :h6, "#{@group_remit.terms} months", class: 'sm-secondary-text', style: "width: 150px"%>
          </div>
          
        </div>
      </div>

    <div class="<%= flex_justify_align('between') %> " style="height: 100%; width: 460px;">
      <div style="width: 100%">

        <% if gr_presenter.is_for_payment? %>
          <%= render 'payment' %>
        <% end %>

        <% if gr_presenter.is_pending_or_renewal? && gr_presenter.is_remittance? %>
            <%= turbo_frame_tag "batch_import_form" do %>
              <%= turbo_frame_tag "batch_form" do %>   
                  <div class="d-flex gap-3 mb-2">
                    <%= render 'group_remits/add_member' %>
                  </div>
                  
                <% if @batch_without_beneficiaries_count > 0 %>
                  <%= content_tag :span, "Filter this batch by:", 
                    class: 'mb-1',  
                    style: "font-size: .7rem; color: red !important; font-weight: 700;"   
                  %>
                <% end %>

                <% if @batch_without_beneficiaries_count > 0 %>
                  <div class="mb-1">
                    <%= link_to "#{@batch_without_beneficiaries_count} member(s) without beneficiary!", group_remit_path(@group_remit, batch_beneficiary_filter: true), 
                      method: :get, 
                      class: "#{badge('danger')} hovered-link", 
                      data: { turbo: false } 
                    %>
                  </div>
                <% end %>

                <% if @batch_without_batch_health_dec_count > 0 %>
                  <%= link_to "#{@batch_without_batch_health_dec_count} member(s) without batch health declaration!", group_remit_path(@group_remit, batch_health_dec_filter: true), 
                    method: :get, 
                    class: "#{badge('danger')} hovered-link", 
                    data: { turbo: false } 
                  %>
                <% end %>

              <% end %>
            <% end %>
        <% end%>

      </div>
    </div>
  </div>
  <div class="card" style="height: 260px; width: 100%">
    <div class="card-body <%= flex_justify_align('around', '', true) %> ">
      <div class="<%= flex_justify_align('center') %>">
        <%= content_tag :h6, "#{@agreement.plan.name}", class: 'text-primary' %>
      </div>
      <%= content_tag :button, "Benefits & Coverages", 
        class: small_btn('outline-primary'), 
        data: {bs_toggle: "modal",
          bs_target: "#benefitsModal"
        }
      %>
      <%= content_tag :button, "Insured Count", 
        class: small_btn('outline-primary'), 
        data: {bs_toggle: "modal",
          bs_target: "#insuredType"
        }
      %>
    </div>
  </div> 

  <%= turbo_frame_tag "computation" do %>
    <%= render "group_remits/computation", group_remit: @group_remit %>
  <% end %>  
</div>

  <% if ['GYRTBR','GYRTFR'].include?(plan_acronym) %>
    <div class="<%= flex_justify_align('between', 'center') %> gap-1">
      <div class="d-flex gap-2">

        <% @group_remit.agreement.agreement_benefits.where.not(insured_type: 2..5).each do |a_benefit| %>
          <%= link_to group_remit_path(@group_remit, rank_filter: a_benefit), class: "btn btn-sm btn-warning position-relative" do %>
            <%= a_benefit.name %>
            <% unless @group_remit.batches.where(agreement_benefit: a_benefit).size <= 0 %>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                <%= @group_remit.batches.where(agreement_benefit: a_benefit).size < 100 ? @group_remit.batches.where(agreement_benefit: a_benefit).size : '99+'%>
              </span>
            <% end %>
          <% end %>
        <% end %>

      </div>
  <% else %>
    <div class="<%= flex_justify_align('between', 'center') %> gap-1">
  <% end %>

  <% if @group_remit.instance_of?(Remittance)%>
    <div class="d-flex gap-2">
      <% status_mappings = {
          approved: { label: "Approved", class: "btn-success" },
          denied: { label: "Denied", class: "btn-danger" },
          pending: { label: "Pending", class: "btn-secondary" },
          for_reconsideration: {label: 'Request', class: 'btn-warning'},
          for_review: { label: "For Review", class: "btn-outline-secondary" }
        } %>

      <% status_mappings.each do |status, attributes| %>
        <% batches = @group_remit.batches.send(status) %>
        <%= link_to group_remit_path(@group_remit, insurance_status: status), class: "btn btn-sm #{attributes[:class]} position-relative" do %>
          <%= attributes[:label] %>

          <% unless batches.size.zero? %>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
              <%= batches.size >= 100 ? '99+' :  batches.size %>
            </span>
          <% end %>

        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <div class="d-flex gap-1">
    <%= form_with url: group_remit_path(@group_remit), method: :get do %>
      <div class="form-group d-flex justify-content-end gap-3 mb-3">
        <%= text_field_tag 'batch_filter', 
          nil, 
          placeholder: 'Member\'s name', 
          class: "form-control", 
          style: "width: auto"
        %>
        <%= submit_tag 'Search', class: small_btn('warning') %>
      </div>
    <% end %>

    <div class="">
      <%= link_to "View All", group_remit_path(@group_remit), 
        class: "#{small_btn('outline-warning')} mb-3 d-flex align-items-center", 
        style: "height: 38px;",
        data: { turbo: false } 
      %>
    </div>
  </div>
  
    
</div>

<div class="table-responsive">
  <%= turbo_frame_tag "batches" do %>
  <table class="table table-hover">
    <thead>
      <tr class="table-dark">

        <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col">Members</th>
        <th class="text-center" scope="col">Premium</th>
        <th class="text-center" scope="col">Beneficiaries</th>

        <% if @agreement.plan.gyrt_type == 'family' %>
          <th class="text-center" scope="col">Dependents</th>
        <% end %>

        <th class="text-center" scope="col">Actions</th>

      </tr>
    </thead>

    <tbody id="batches_body">

      <% if @group_remit.batches.exists? %>
        <%= render @batches.includes([coop_member: :member], :agreement_benefit, :batch_beneficiaries), group_remit: @group_remit, agreement: @agreement %>
      <% end %>

    </tbody>
  </table>

</div>

<%== pagy_bootstrap_nav(@pagy) %>
<% end %>