<%= turbo_stream_from @cooperative, "batches" %>
<% agreement_presenter = AgreementPresenter.new(@agreement) %>
<% plan_acronym = @agreement.plan.acronym %>

<!-- Benefits & Coverages Modal -->
<% if ['GYRT'].include?(agreement_presenter.plan_acronym) %>
  <%= render "coverages_modal" %>
<% end %>

<!-- Batch Import Modal -->
<%= render "batch_import_modal" %>

<!-- Member's count Modal -->
<%= render "member_count_modal" %>

<div class="<%= flex_justify_align('', 'center') %> gap-1 mb-1">

  <% if @group_remit.is_batch_remit? %>
    <%= link_to coop_agreement_path(@agreement), class: small_btn('outline-secondary'), title: 'Back' do %>
      <i class="bi bi-chevron-left"></i>
    <% end %>
  <% else %>
    <div class="d-flex gap-1">
      <%= link_to coop_agreement_group_remit_remittances_path(@agreement, @group_remit.batch_remit_id), class: small_btn('outline-secondary'), title: 'Back' do %>
        <i class="bi bi-chevron-left"></i>
      <% end %>
      <% if current_user.is_mis? and !@group_remit.is_batch_remit? %>
        <%= link_to "Remarks", group_remit_remarks_path(@group_remit), class: small_btn('danger'), data: {turbo_frame: 'reg_form_modal'} %>
      <% end %>
    </div>
  <% end %>

  <div class="mb-0 gap-1 <%= flex_justify_align('', 'center') %>">
    <% if @group_remit.is_batch_remit? %>
      <% unless @group_remit.expired?%>
        <%= button_to "Enroll Members", group_remits_path, 
          method: :post, 
          params: { 
            agreement_id: @group_remit.agreement.id, 
            anniversary_id: @group_remit.anniversary&.id, 
            anniv_type: @group_remit.agreement.anniversary_type,
            type: 'Remittance',
            batch_remit_id: @group_remit.id
          }, 
          class: small_btn('success'), 
          data: { turbo: false } 
        %>
      <% end %>
      
      <%= link_to "Enrollment List", coop_agreement_group_remit_remittances_path(@agreement, @group_remit), class: small_btn('primary') %>
    <% end %>
    
    <% if @group_remit.is_pending_or_renewal? && @group_remit.is_remittance? %>
      
      <div class="d-flex gap-1">
        <%= button_to 'Submit', submit_group_remit_path(@group_remit), 
          method: :get,
          class: small_btn('outline-success'), 
          data: {turbo_confirm: 'Submit group remit?' } 
        %>

        <% unless @group_remit.is_for_renewal? %>
          <%= button_to group_remit_path(@group_remit), 
            method: :delete,
            data: { turbo_confirm: "Delete #{@group_remit}?"},
            class: small_btn('outline-danger') do
          %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        <% end %>

        <% if @group_remit.is_batch_remit? && @group_remit.is_pending_or_renewal? %>
          <%= button_to group_remit_path(@group_remit), 
            method: :delete,
            data: { turbo_confirm: 'Delete group remit?'},
            class: small_btn('outline-danger') do
          %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        <% end %>
        
        <%  if @group_remit.denied_members.present? %>
          <%= link_to group_remit_denied_members_path(@group_remit), class: "#{small_btn('outline-danger')} position-relative" do %>
            Rejected
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              <%= @group_remit.denied_members.size < 100 ? @group_remit.denied_members.size : '99+'%>
              <span class="visually-hidden">unread messages</span>
            </span>
          <% end %>
        <% end %>

      </div>

    <% elsif @group_remit.is_expired? && @group_remit.is_batch_remit? %>
      <%= button_to 'Renew', renewal_group_remit_path(@group_remit),
        method: :get, 
        class: small_btn('warning'), 
        data: {turbo_confirm: 'Renew GYRT?' } 
      %>
    <% end %>

  </div>

  <% if @group_remit.is_batch_remit? %>
    <div class="">
      <%= content_tag :button, "Benefits & Coverages", 
        class: small_btn('outline-primary'), 
        data: {bs_toggle: "modal",
          bs_target: "#benefitsModal"
        }
      %>
      <%= content_tag :button, "Insured Count", 
        class: small_btn('outline-primary'), 
        data: {bs_toggle: "modal",
          bs_target: "#insuredType"
        }
      %>
    </div>
  <% end %>
</div>

<% if @group_remit.is_batch_remit? %>
  <%= content_tag :h3, "#{@group_remit.name}", class: 'mb-0 text-primary mb-1' %>
<% else %>
  <div class="card">
    <div class="card-body <%= flex_justify_align('between', 'center') %>">
      <div class="<%=  flex_justify_align('', 'center') %> gap-2  ">
        <%= content_tag :span, @group_remit.status.titleize, class: @group_remit.status_badge %>
        <%= content_tag :h3, class: 'mb-0 text-primary' do %>
            <%= @group_remit %>    
        <% end %>
        
        <div class="<%= flex_justify_align('between') %> mt-2">
          <div style="width: 100%">

            <% if(@group_remit.is_for_payment? || @group_remit.is_for_reupload?) && (@group_remit.process_coverage.approved?) %>
              <%= render 'payment', group_remit: @group_remit %>
            <% end %>

            <% if @group_remit.is_pending_or_renewal? && @group_remit.is_remittance? %>
                <%= turbo_frame_tag "batch_import_form" do %>
                  <%= turbo_frame_tag "batch_form" do %>   
                      <div class="d-flex gap-3 mb-2">
                        <%= render 'group_remits/add_member' %>
                      </div>
                  <% end %>
                <% end %>
            <% end%>

          </div>
        </div>
      </div>

      <div class="<%= flex_justify_align('start', 'end', true) %>">
          <% if @group_remit.or_number.present? %>
            <div class="small"><span class="text-primary">Official Receipt No.: </span><%= content_tag :span, "#{@group_remit.or_number}", class: "text-dark" %></div>
          <% end %>
          
          <% if @group_remit.mis_entry? %>
            <div class="small"><span class="text-primary">Encoded By: </span><%= content_tag :span, "#{User.find(@group_remit.mis_user).userable.get_fullname}", class: "text-dark" %></div>
          <% end %>
      </div>
    </div>
  </div>
<% end %>



  <% if ['GYRTBR','GYRTFR','KOOPamilya'].include?(plan_acronym) %>
    <div class="<%= flex_justify_align('between', 'center') %> gap-1">
      <div class="d-flex gap-2">

        <% @group_remit.agreement.agreement_benefits.where.not(insured_type: 2..5).each do |a_benefit| %>
          <%= link_to group_remit_path(@group_remit, rank_filter: a_benefit), class: "btn btn-sm btn-primary position-relative" do %>
            <%= a_benefit.name %>
          <% end %>
        <% end %>

      </div>
  <% else %>
    <div class="<%= flex_justify_align('between', 'center') %> gap-1">
  <% end %>

  <% if @group_remit.instance_of?(Remittance)%>
    <div class="d-flex gap-2">
      <% @group_remit.status_mappings.each do |status, attributes| %>
        <% batches = @group_remit.batches.send(status) %>
        <%= link_to group_remit_path(@group_remit, insurance_status: status), class: "btn btn-sm btn-outline-#{status == :denied ? 'danger' : 'primary'} position-relative" do %>
          <%= attributes[:label] %>

          <% unless batches.size.zero? %>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
              <%= batches.size >= 100 ? '99+' :  batches.size %>
            </span>
          <% end %>

        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <div class="<%= flex_justify_align('center', 'center') %> gap-1">
    <%= form_with url: group_remit_path(@group_remit), method: :get do %>
      <div class="form-group d-flex justify-content-end gap-1 mb-1">
        <%= text_field_tag 'batch_filter', 
          nil, 
          placeholder: "Search member", 
          class: "form-control", 
          style: "width: auto"
        %>
        <%= button_tag(type: 'submit', class: small_btn('warning text-dark'), style: 'width: 40px') do %>
          <i class="bi bi-search"></i>
        <% end %>
      </div>
    <% end %>
    <%= link_to group_remit_path(@group_remit), class: "btn btn-secondary mb-1", title: "Reload" do %>
      <i class="bi bi-arrow-clockwise"></i>
    <% end %>
  </div> 
</div>

<div class="table-responsive">
  <%= turbo_frame_tag "batches" do %>
  <table class="table table-sm table-hover">
    <thead>
      <tr class="table-dark">

        <th class="ps-5 <%= "text-center" unless @group_remit.is_batch_remit? %>" scope="col">Members</th>

        <% if @group_remit.is_batch_remit? %>
          <th class="" scope="col">Age</th>
        <% else %>
          <% if ["SIP", "GBLISS", "KOOPamilya"].include?(@group_remit.agreement.plan.acronym) %>
            <th class="text-center" scope="col">Benefits</th>
          <% end %>
          
          <% unless @group_remit.is_batch_remit? %>
            <th class="text-center" scope="col">Premium</th>
          <% end %>
        <% end %>
        <th class="text-center" scope="col">Beneficiaries</th>

        <% if @agreement.plan.dependable? %>
          <th class="text-center" scope="col">Dependents</th>
        <% end %>

        <th class="text-center" scope="col">Actions</th>

      </tr>
    </thead>

    <tbody id="batches_body">

      <% if @group_remit.batches.exists? %>
        <% if @group_remit.is_batch_remit? %>
          <%= render @batches.order(:last_name).includes([coop_member: :member], :batch_beneficiaries), group_remit: @group_remit, agreement: @agreement %>
        <% else %>
          <%= render @batches.includes([coop_member: :member], :batch_beneficiaries), group_remit: @group_remit, agreement: @agreement %>
        <% end %>
      <% elsif @group_remit.is_batch_remit? %>
        <tr>
          <td colspan="6" class="text-center">No enrolled members.</td>
        </tr>
      <% else %>
        <tr>
          <td colspan="6" class="text-center">No members added</td>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>

<div class="<%= flex_justify_align('between') %>">
  <div class="">
    <% if @f_batches.size > 10 %>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
  </div>
  <% unless @group_remit.is_batch_remit? %>
    <%= turbo_frame_tag "computation" do %>
      <%= render "group_remits/computation", group_remit: @group_remit, agreement: @agreement %>
    <% end %>  
  <% end %>
</div>

<% end %>
