<%= turbo_stream_from @cooperative, "batches" %>
<% gr_presenter = GroupRemitPresenter.new(@group_remit)%>

<div class="mb-3 gap-3 <%= flex_justify_align('', 'center') %>">
  <%= link_to 'Back', agreement_path(@agreement), class: small_btn('secondary') %>

  <div class="<%= flex_justify_align('', 'center') %> gap-1">
    <%= content_tag :span, @group_remit.status.titleize, style: "color: #{gr_presenter.status_color}; font-weight: 700;" %>
    <%= content_tag :h3, "#{@agreement.moa_no}", class: 'mb-0' %>
  </div>

  <% if !@group_remit.active? && !@group_remit.expired? && !@group_remit.renewed?%>
    <div class="d-flex gap-1">

      <% unless @passed_requirements %>
        <%= button_to 'Submit Remittance', submit_group_remit_path(@group_remit), 
          method: :get,
          class: small_btn('outline-warning'), 
          data: {turbo_confirm: 'Submit group remit?' } 
        %>
      <% end %>
       
      <%  if @group_remit.denied_members.present? %>
        <%= link_to 'Denied members', group_remit_denied_members_path(@group_remit), class: small_btn('outline-secondary') %>
      <% end %>

      <%= button_to "Delete", group_remit_path(@group_remit), 
          method: :delete,
          data: { turbo_confirm: 'Delete group remit?'},
          class: small_btn('danger') 
      %>
    </div>
  <% elsif @group_remit.expired? && @group_remit == @agreement.group_remits.last %>
    <%= button_to 'Renew', renewal_group_remit_path(@group_remit),
        method: :get, 
        class: small_btn('warning'), 
        data: {turbo_confirm: 'Renew group remit?' } 
      %>
  <% end %>

</div>

<div class="<%= flex_justify_align('between', 'center') %> mb-3 gap-3">
  <div class="d-flex flex-column " style="height: 100%; width: 100%">
    <div class="card mb-2">
      <div class="card-body text-secondary">
        <div class="<%= flex_justify_align('center') %>">
          <%= content_tag :h6, "Effectivity Date ", class: 'sm-secondary-text' %>
          <%= content_tag :h6, "#{@group_remit.effectivity_date.present? ? @group_remit.effectivity_date.strftime('%B %d, %Y') : 'Tentative'}", class: 'sm-secondary-text' %>
        </div>
        <div class="<%= flex_justify_align('center') %>">
          <%= content_tag :h6, "Expiry Date", class: 'sm-secondary-text' %>
          <%= content_tag :h6, "#{@group_remit.expiry_date.strftime('%B %d, %Y')}", class: 'sm-secondary-text' %>
        </div>
        <div class="<%= flex_justify_align('center') %>">
          <%= content_tag :h6, "Terms", class: 'sm-secondary-text' %>
          <%= content_tag :h6, "#{@group_remit.terms}", class: 'sm-secondary-text'%>
        </div>
      </div>
    </div>
    <div class="<%= flex_justify_align('between') %> " style="height: 100%; width: 460px;">
      <div style="width: 100%">

        <% unless @group_remit.active? || @group_remit.expired? || @group_remit.renewed? %>
            <%= turbo_frame_tag "batch_import_form" do %>
              <%= turbo_frame_tag "batch_form" do %>     
                <div class="d-flex gap-3 mb-2">
                  <%= render 'group_remits/add_member' %>
                </div>

                <% if @passed_requirements %>
                  <div class="d-flex flex-column">
                    <%= content_tag :span, "(click reason to filter batches)", 
                      class: 'mb-1',  
                      style: "font-size: .7rem; color: red !important; font-weight: 700;"   
                    %>
                    <%= content_tag :span, "Unable to submit group remit due to: ", 
                      class: 'mb-1',  
                      style: "font-size: .7rem; color: red !important; font-weight: 700;"  
                    %>
                    <div class="">

                      <% if @batch_count < @agreement.proposal.minimum_participation %>
                        <%= content_tag :span, "Below minimum participation: Need #{@agreement.proposal.minimum_participation - @batch_count} more", class: badge('danger') %>
                      <% end %>

                      <% if @batch_without_beneficiaries_count > 0 %>
                        <%= link_to "#{@batch_without_beneficiaries_count} member(s) without beneficiary!", group_remit_path(@group_remit, batch_beneficiary_filter: true), 
                          method: :get, 
                          class: "#{badge('danger')} hovered-link", 
                          data: { turbo: false } 
                        %>
                      <% end %>

                      <% if @batch_without_batch_health_dec_count > 0 %>
                        <%= link_to "#{@batch_without_batch_health_dec_count} member(s) without batch health declaration!", group_remit_path(@group_remit, batch_health_dec_filter: true), 
                          method: :get, 
                          class: "#{badge('danger')} hovered-link", 
                          data: { turbo: false } 
                        %>
                      <% end %>

                    </div>
                  </div>
                <% end %>

              <% end %>

            <% end %>

        <% end%>

      </div>
    </div>

    
  </div>

  <div class="card" style="height: 100%; width: 100%">
    <div class="card-body <%= flex_justify_align('around', '', true) %> ">
      <div class="<%= flex_justify_align('center') %>">
        <%= content_tag :h6, "#{@agreement.plan.name}"%>
      </div>
      <div class="<%= flex_justify_align('between', 'center') %>">
        <%= content_tag :h6, "Insured", style: "width: 150px;" %>
        <%= content_tag :h6, "Benefit", style: "width: 150px;", class: 'text-center' %>
        <%= content_tag :h6, "Coverage Amount", style: "width: 150px;", class: 'text-center'%>
      </div>

      <% @agreement.agreement_benefits.includes({product_benefits: :benefit}).each do |ab| %>
        <div class="<%= flex_justify_align('between', 'center') %> text-secondary">
          <%= content_tag :span, "#{ab.insured_type == 'principal' ? ab.insured_type.upcase : ab.insured_type.gsub('_', ' ').split(' ').drop(1).join(' ').upcase}", class: 'text-secondary', style: 'font-size: .8rem' %>
          <div class="<%= flex_justify_align('between', 'center', true) %>">
            <% ab.product_benefits.each do |product| %>
              <div class="<%= flex_justify_align('around') %> text-secondary mb-1">
                <%= content_tag :span, "#{product.benefit.name}", class: 'sm-secondary-text text-center'%>
                <%= content_tag :span, "#{number_to_currency(product.coverage_amount, unit: '₱', precision: 2)}", class: 'sm-secondary-text text-center'%>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div> 

  <%= turbo_frame_tag "computation" do %>
    <%= render "group_remits/computation" %>
  <% end %>  
</div>

<%= form_with url: group_remit_path(@group_remit), method: :get do %>
  <div class="form-group d-flex justify-content-end gap-3 mb-3">
    <%= text_field_tag 'batch_filter', 
      nil, 
      placeholder: 'Member\'s name', 
      class: "form-control", 
      style: "width: auto"
    %>
    <%= submit_tag 'Search', class: small_btn('warning') %>
  </div>
<% end %>

<div class="table-responsive">
  <%= turbo_frame_tag "batches" do %>
  <table class="table table-hover">
    <thead>
      <tr class="table-dark">

        <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col">Members</th>
        <th class="text-center" scope="col">Premium</th>
        <th class="text-center" scope="col">Beneficiaries</th>
        <% if @agreement.plan.gyrt_type == 'family' %>
          <th class="text-center" scope="col">Dependents</th>
        <% end %>
        <th class="text-center" scope="col">Actions</th>

      </tr>
    </thead>

    <tbody id="batches_body">
      <% if @group_remit.batches.exists? %>
        <%= render @batches, group_remit: @group_remit, agreement: @agreement %>
      <% end %>
    </tbody>
  </table>

</div>

<%== pagy_bootstrap_nav(@pagy)  %>
<% end %>
