
    <% if current_user.userable_type == "CoopUser" %>
        <%= link_to '<i class="bi bi-arrow-left-square"></i> Back'.html_safe, show_insurance_coop_member_path(@process_claim.claimable), class: 'btn btn-outline-secondary btn-sm' %>
    <% elsif current_user.is_auditor? %>
        <%= link_to '<i class="bi bi-arrow-left-square"></i> Back'.html_safe, accounting_check_path(@process_claim.check_voucher_request.check_vouchers.last
), class: 'btn btn-outline-secondary btn-sm' %>
    <% elsif current_user.userable_type == "Employee"%>
        <%= link_to '<i class="bi bi-arrow-bar-left"></i>'.html_safe, index_show_process_claims_path(p: @process_claim.claim_route), class: 'btn btn-secondary btn-sm'  %>
        <% if @audit_remarks.present? %>
            <%= link_to accounting_check_remarks_path(@check, e_t: 'cv'), class: 'btn btn-sm btn-outline-danger', data: {turbo_frame: 'reg_form_modal'} do %>
                <i class="bi bi-card-list"></i> Audit Remarks
            <% end %>
        <% end %>
        <%= link_to new_claim_remark_path(v: @process_claim, c: 1), class: "btn btn-primary btn-sm position-relative", data: { turbo_frame: "remote_modal" } do %>
            <i class="bi bi-chat-left-text"></i> Message
            <% unless @process_claim.claim_remarks.where(coop: 1, read: 0).where.not(user: current_user).count == 0 %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <%= @process_claim.claim_remarks.where(coop: 1, read: 0).where.not(user: current_user).count %>
                    <span class="visually-hidden">unread messages</span>
                </span>
            <% end %>
        <% end %>
    <% end %>
    
    <% if current_user.userable_type == 'CoopUser' %>
        <%= link_to "Submit Claims", claim_route_process_claim_path(@process_claim, p: 1), class: "btn btn-success btn-sm", data: {turbo_confirm: "Make sure all documents are uploaded. Submit claim?", turbo_method: :get} if @process_claim.file_claim? %>
    <% elsif current_user.is_auditor? %>
    <% elsif current_user.userable_type == 'Employee' %>
        <%= link_to "Return to Coop", claim_route_process_claim_path(@process_claim, p: 0), class: "btn btn-warning btn-sm", data: {turbo_confirm: "Return this claim to coop?", turbo_method: :get} if @process_claim.submitted? %>
        <%= link_to "Claims Filed", claim_route_process_claim_path(@process_claim, p: 2), class: "btn btn-primary btn-sm" if @process_claim.submitted? %>
        <%= link_to "Process Claims", claim_route_process_claim_path(@process_claim, p: 3), class: "btn btn-primary btn-sm" if @process_claim.claim_filed? %>
        <%= link_to '<i class="bi bi-repeat"></i> Return to Claims Filed'.html_safe, claim_route_process_claim_path(p: 2), class: "btn btn-primary btn-sm" unless @process_claim.claim_filed? || @process_claim.submitted? %>
        <%= link_to '<i class="bi bi-clipboard-plus"></i> For President Evaluation'.html_safe, claim_route_process_claim_path(p: 6), class: "btn btn-primary btn-sm" if @process_claim.vp_evaluation? %>
        <%= link_to '<i class="bi bi-clipboard-plus"></i> Evaluation'.html_safe, claim_route_process_claim_path(p: 4), class: "btn btn-primary btn-sm" if @process_claim.processing? %>
        <%= link_to '<i class="bi bi-clipboard-plus"></i> For VP Evaluation'.html_safe, claim_route_process_claim_path(p: 5), class: "btn btn-primary btn-sm" if @process_claim.evaluation? %>
        <% if @process_claim.processing? %>
            <%= link_to '<i class="bi bi-check-circle"></i> Approve'.html_safe, claim_route_process_claim_path(p: 8), class: "btn btn-success btn-sm", data: {turbo_confirm: "Approve claim and request check voucher?", turbo_method: :get}  %>
            <%= link_to '<i class="bi bi-x-square"></i> Denied'.html_safe, new_status_claim_remarks_path(v: @process_claim, s: 1), class: "btn btn-danger btn-sm", data: { turbo_frame: "remote_modal" }   %>  
        <% end %>
        <%= link_to '<i class="bi bi-sign-stop-lights"></i> Pending'.html_safe, new_status_claim_remarks_path(v: @process_claim, s: 2), class: "btn btn-warning btn-sm", data: { turbo_frame: "remote_modal" } if @process_claim.claim_filed?  %>
        <%= link_to '<i class="bi bi-bootstrap-reboot"></i> Reconsider'.html_safe, new_status_claim_remarks_path(v: @process_claim, s: 3), class: "btn btn-warning btn-sm", data: { turbo_frame: "remote_modal" } if @process_claim.denied?  %>
    <% end %>
        <%#= link_to '<i class="bi bi-x-square"></i> Denied'.html_safe, update_status_process_claim_path(p: 1), class: "btn btn-danger btn-sm" %>
        
    <%# end %>
