<div class="card">
  <div class="card-header">
    <strong>Member Details</strong>  <%= link_to '<i class="bi bi-pencil-square"></i> Edit'.html_safe, edit_ca_process_claim_path(@process_claim), class: "text-muted" %>
  </div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-4">Route:</dt>
      <dd class="col-sm-8"><%= @process_claim.claim_route.humanize.titleize %></dd>
      <dt class="col-sm-4">Insurance:</dt>
      <dd class="col-sm-8"><%= @process_claim.agreement.plan %></dd>
      <dt class="col-sm-4">Name:</dt>
      <%# <dd class="col-sm-8 text-primary"><%= @process_claim.claimable.get_fullname %>
      <%# </dd> %>
      <% coop_mem = @process_claim.claimable %>
      <dd class="col-sm-8"> <%= link_to coop_mem.get_fullname, coop_mem, class: "text-primary", data: {turbo_frame: 'modal-xl'}, title: 'Show' %></dd>
      <dt class="col-sm-4">Birthdate</dt>
      <dd class="col-sm-8"> <%= to_shortdate(@process_claim.claimable.member.birth_date) %></dd>
      <dt class="col-sm-4">Age:</dt>
      <dd class="col-sm-8"><%= @process_claim.age %></dd>
      <dt class="col-sm-4">Branch:</dt>
      <dd class="col-sm-8"><%= @process_claim.claimable.coop_branch %></dd>
      <dt class="col-sm-4">Mobile number:</dt>
      <dd class="col-sm-8"><%= @process_claim.claimable.member.mobile_number %></dd>
      <dt class="col-sm-4">Email:</dt>
      <dd class="col-sm-8"><%= @process_claim.claimable.member.email %> </dd>
      <dt class="col-sm-4">Date Incident:</dt>
      <dd class="col-sm-8"><%= to_shortdate(@process_claim.date_incident) %> </dd>
      <dt class="col-sm-4">Claim Type:</dt>
      <dd class="col-sm-8"><%= @process_claim.claim_type %> </dd>
    </dl>
  </div>
</div>