<div id="<%= dom_id process_claim %>">
  <p>
    <strong>Cooperative:</strong>
    <%= process_claim.cooperative_id %>
  </p>

  <p>
    <strong>Agreement:</strong>
    <%= process_claim.agreement_id %>
  </p>

  <p>
    <strong>Batch:</strong>
    <%= process_claim.batch_id %>
  </p>

  <p>
    <strong>Date incident:</strong>
    <%= process_claim.date_incident %>
  </p>

  <p>
    <strong>Entry type:</strong>
    <%= process_claim.entry_type %>
  </p>

</div>
