<%= content_tag :h4, "#{@display}", class:"text-primary" %>
<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Details</th>
        <th>Insurance</th>
        <%# <th>Batch</th> %>
        <%# <th>Date Incident</th>
        <th>Entry Type</th> %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @process_claims.each do |process_claim| %>
        <tr>
          <th scope="row"><%= process_claim.id %></th>
          <td><strong><%= process_claim.claimable.get_fullname %></strong> <br>
            <%= process_claim.cooperative %> <br>
            <small><%= process_claim.agreement.agent %></small> <br>
            <%= content_tag :span, process_claim.entry_type.titleize, class: "badge rounded-pill text-bg-primary"  %>
            <%= content_tag :span, process_claim.display_route(process_claim.claim_route) , class: "badge rounded-pill text-bg-secondary" %></td>
          <td><strong><%= process_claim.agreement.plan %></strong> <br>
            <%= content_tag :small, process_claim.claim_type %> <br>
            <small>Date Incident: <%= to_shortdate(process_claim.date_incident) %></small> <br>
            <%= content_tag :small, "Date Filed: #{to_shortdate(process_claim.date_file)}" unless process_claim.date_file.nil? %></td>
          <%# <td><%= process_claim.batch %>
          <td>
            <%= render 'index_link', p: process_claim %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
