<%= content_tag :h4, "List of filed claims" %>
<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover align-middle">
    <thead>
      <tr>

      <th>#</th>
        <th>Claims Details</th>
        <th>Claimant</th>
        <%# <th>Batch</th> %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @process_claims.each do |process_claim| %>
        <tr>

        <td class="text-center" scope="row"><%= process_claim.id %>
        </td>
        <td><strong><%= process_claim.claimable %></strong> <br>
        <%= process_claim.agreement.plan %> <br>
        <small>Date Incident <%= to_shortdate(process_claim.date_incident) %></small> <br>
        <small class="text-primary"><%= process_claim.claim_route %></small> </td>
        <td><%= process_claim.claimant_name %> <br>
        <small><%= process_claim.relationship %></small> <br>
        <small><%= process_claim.claimant_email %> | <%= process_claim.claimant_contact_no %></small> </td>
        <%# <td><%= process_claim.batch %>

    
          <td>
            <%= link_to "View", show_coop_process_claim_path(process_claim), class: "btn btn-warning btn-sm" %>
            <%= link_to 'Edit', edit_process_claim_path(process_claim), class: 'btn btn-secondary btn-sm' %>
            <%#= link_to 'Edit', edit_process_claim_path(process_claim), class: 'btn' %>
            <%#= link_to 'Delete', process_claim, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
