<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">Member Details</h5>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4">Insurance:</dt>
          <dd class="col-sm-8"><%= @process_claim.agreement.plan %></dd>
          <dt class="col-sm-4">Type</dt>
          <dd class="col-sm-8"><%= @process_claim.claimable_type %></dd>
          <dt class="col-sm-4">Name:</dt>
          <dd class="col-sm-8 text-primary"><%= @process_claim.claimable.get_fullname %></dd>
          <dt class="col-sm-4">Birthdate</dt>
          <dd class="col-sm-8"> <%= to_shortdate(@process_claim.claimable.member.birth_date) %></dd>
          <dt class="col-sm-4">Branch:</dt>
          <dd class="col-sm-8"><%= @process_claim.claimable.coop_branch %></dd>
          <dt class="col-sm-4">Mobile number:</dt>
          <dd class="col-sm-8"><%= @process_claim.claimable.member.mobile_number %></dd>
          <dt class="col-sm-4">Email:</dt>
          <dd class="col-sm-8"><%= @process_claim.claimable.member.email %> </dd>
          <dt class="col-sm-4">Date Incident:</dt>
          <dd class="col-sm-8"><%= to_shortdate(@process_claim.date_incident) %> </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">Benefits</h5>
      <div class="card-body">
        <table class="table align-middle">
          <tbody>
            <% @ProdBenefit = ProductBenefit.where(agreement_benefit: @process_claim.agreement_benefit) %>
            <% @ProdBenefit.each do |pb| %>
              <tr>
                <td><small><%= pb.benefit %></small></td>
                <td class="text-end"><small><%= to_curr(pb.coverage_amount) %></small></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
        <h5 class="card-header">Claimant details</h5>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4">Name</dt>
          <dd class="col-sm-8"><%= @process_claim.claimant_name %></dd>
          <dt class="col-sm-4">Relation</dt>
          <dd class="col-sm-8"><%= @process_claim.relationship %></dd>
          <dt class="col-sm-4">Contact</dt>
          <dd class="col-sm-8"><%= @process_claim.claimant_contact_no %></dd>
          <dt class="col-sm-4">Email</dt>
          <dd class="col-sm-8"><%= @process_claim.claimant_email %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
