<%= content_tag :h4, "#{@cooperative.name}", class: 'text-primary mb-3' %>
<div class="d-flex">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header text-primary">
        <%= content_tag :h6, 'Cooperative Information', class: 'mb-0' %>
      </div>
      <div class="card-body <%= flex_justify_align('between','center') %> sm-secondary-text">
        <div class="ps-3 col-md-9">
          <%= content_tag :p, "Address: #{@cooperative.get_address}", class: 'card-text' %>
          <%= content_tag :p, "Contact number: #{@cooperative.contact_number}", class: 'card-text' %>
          <%= content_tag :p, "Email: #{@cooperative.email}", class: 'card-text' %>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header text-primary">
        <%= content_tag :h6, 'Insurance Plans', class: 'mb-0' %>
      </div>
      <div class="card-body">
        <% @cooperative.agreements.each do |a| %>
          <% presenter = AgreementPresenter.new(a) %>
          <div class="card">
            <%= link_to presenter.insurance_path, style: 'color: black' do %>
              <div class="card-body <%= flex_justify_align('between','center') %> gap-3">
                <div class="w-100">
                  <div class="text-primary d-flex gap-1 mb-1">
                    <%= content_tag :h6, a.plan.name, class: 'mb-1 text-primary' %>
                    <%= content_tag :p, "(#{a.plan.description})", class: 'text-muted mb-0', style: 'font-size: .8rem' %>
                  </div>
                  <div class="<%= flex_justify_align('center', '', true) %> ps-3 col-md-12 sm-secondary-text">

                    <% if ['single', 'multiple'].include?(a.anniversary_type) %>
                      <div class="d-flex gap-2">
                        <%= content_tag :span, "Anniversary day#{a.anniversary_type.downcase == 'multiple' ? '(s)' : '' }: ", class: 'card-text' %>
                          <%= content_tag :span, presenter.anniversary_dates, class: 'card-text' %>
                      </div>
                    <% end %>
                    <div class="row <%= flex_justify_align('center') %>">
                      <%= content_tag :span, "Entry age: #{a.entry_age_from.to_i} - #{a.entry_age_to.to_i} years old", class: 'card-text col-md-6' %>
                      <%= content_tag :span, "Minimum Participatiion: #{number_with_delimiter(a.minimum_participation)}", class: 'card-text col-md-6' %>
                    </div>
                    <div class="row">
                      <%= content_tag :span, "Exit age: #{a.exit_age.to_i} years old", class: 'card-text mb-2 col-md-6' %>
                      <%= content_tag :span, "Cooperative service fee: #{a.coop_sf}%", class: 'card-text mb-2 col-md-6' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="col-md-11 d-flex gap-3" style="margin: auto" >
      <%= render 'counter_box', title: 'Total members', count: @cooperative.coop_members.size %>
      <% @cooperative.agreements.each do |a| %>
        <% agreement = a.decorate %>
        <%= render 'counter_box', title: "Enrolled in #{agreement.plan_acronym}", count: agreement.active_batches_count %>
      <% end %>
    </div>

    <div class="card col-md-11" style="margin: auto">
      <div class="card-header text-primary">
        <%= content_tag :h6, 'Message Board', class: 'mb-0' %>
      </div>
      <div class="card-body <%= flex_justify_align('between','center') %>">
        <% if @notifications.present? %>
          <ul>
            <% @notifications.limit(10).order(created_at: :desc).each do |notice| %>
              <%= content_tag :li, notice.message, class: 'text-secondary sm-secondary-text mb-1' %>
            <% end %>
          </ul>
        <% else %>
          <%= content_tag :span, 'No notifications', class: 'text-secondary sm-secondary-text mb-1' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
