
<%= simple_form_for(@product_benefit) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.association :benefit %>
    <%= f.association :agreement_benefit %>
    <%= f.input :coverage_amount %>
    <%= f.input :premium %>
    <%= f.input :duration, placeholder: "In months, ex: 0,3,6,9" %>
    <%= f.input :residency_floor %>
    <%= f.input :residency_ceiling %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", product_benefits_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
