<div id="<%= dom_id coop %>">
  <p>
    <strong>Last name:</strong>
    <%= coop.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= coop.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= coop.middle_name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= coop.birthdate %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= coop.mobile_number %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= coop.designation %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= coop.cooperative_id %>
  </p>

  <p>
    <strong>Coop branch:</strong>
    <%= coop.coop_branch_id %>
  </p>

</div>
