
<%= simple_form_for(@sip_ab) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :name %>
    <%= f.input :min_age %>
    <%= f.input :max_age %>
    <%= f.input :insured_type, collection: SipAb::INSURED_TYPES %>
    <%= f.input :exit_age %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", sip_abs_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
