<div id="<%= dom_id sip_ab %>">
  <p>
    <strong>Name:</strong>
    <%= sip_ab.name %>
  </p>

  <p>
    <strong>Min age:</strong>
    <%= sip_ab.min_age %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= sip_ab.max_age %>
  </p>

  <p>
    <strong>Insured type:</strong>
    <%= sip_ab.insured_type %>
  </p>

  <p>
    <strong>Exit age:</strong>
    <%= sip_ab.exit_age %>
  </p>

</div>
