<div id="<%= dom_id cf_account %>">
  <p>
    <strong>Cooperative:</strong>
    <%= cf_account.cooperative_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= cf_account.amount %>
  </p>

  <p>
    <strong>Amount limit:</strong>
    <%= cf_account.amount_limit %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cf_account.status %>
  </p>

</div>
