<div class="mb-1">
  <%= render 'back_btn', link: treasury_debit_advices_path %>
  <% if @request.requestable.remarks.present? %>
    <% if @request.requestable.is_a?(Claims::ProcessClaim) %>
      <%= link_to claims_process_claim_remarks_path(@request.requestable), class: "btn btn-outline-primary btn-sm position-relative", data: { turbo_frame: "reg_form_modal" }, title: 'Notes' do %>
        <i class="bi bi-journal-bookmark-fill"></i> Notes
      <% end %>
    <% end %>
  <% end %>

  <% if @debit_advice.attachment.present? %>
    <%= link_to @debit_advice.attachment.receipt.url, class: 'btn btn-sm btn-outline-primary', target: "_blank" do %>
      <i class="bi bi-eye-fill"></i> View Payment
    <% end %>
    <% if @debit_advice.pending_payout? %>
      <%= link_to new_receipt_accounting_debit_advice_path(@debit_advice), class: 'btn btn-sm btn-primary', data: {turbo_frame: 'modal'} do %>
        <i class="bi bi-upload"></i> Re-upload Payment
      <% end %>
    <% end %>
  <% else %>
    <%= link_to new_receipt_accounting_debit_advice_path(@debit_advice), class: 'btn btn-sm btn-outline-primary', data: {turbo_frame: 'modal'} do %>
      <i class="bi bi-upload"></i> Upload Payment
    <% end %>
  <% end %>

  <% if @debit_advice.paid? %>
    <%= link_to accounting_check_remarks_path(@debit_advice, e_t: @debit_advice.entry_type), class: 'btn btn-sm btn-warning', data: {turbo_frame: 'reg_form_modal'} do %>
      <i class="bi bi-card-list"></i> Remarks
    <% end %>
  <% elsif @debit_advice.pending_payout? && @debit_advice.attachment.present? %>
    <%=  link_to new_accounting_check_remark_path(@debit_advice, e_t: @debit_advice.entry_type), data: {turbo_frame: 'reg_form_modal' }, class: small_btn('success'), title: 'Paid' do %>
      <i class="bi bi-check-circle-fill"></i> Tag as Paid
    <% end %>
  <% end %>
</div>