<div class="<%= flex_justify_align('', 'center') %> gap-1 mb-3">
  <%= content_tag :h4, "Debit Advices", class: 'text-primary mb-0' %>
  <%= link_to new_accounting_debit_advice_path, class: 'btn btn-sm btn-outline-primary', data: {turbo_frame: 'modal'} do %>
    <i class="bi bi-plus-lg"></i>
  <% end %>
</div>

<div class="<%= flex_justify_align('between','center') %> gap-3 mb-3">   
  <div class="d-flex gap-1">
    <%= search_form_for @q do |f| %>
      <div class="d-flex gap-1">
        <%= f.text_field :voucher_cont, class: 'form-control filter_field', placeholder: 'Debit advice #' %>
        <%= button_tag(type: 'submit', class: "#{small_btn('warning text-dark')} filter_btn", value: 'branches', style: 'width: 40px') do %>
          <i class='bi bi-search'></i>
        <% end %>
      </div>
    <% end %>

    <%= link_to accounting_debit_advices_path, class: "btn btn-sm btn-secondary", title: "Reload" do %>
      <i class="bi bi-arrow-clockwise"></i>
    <% end %>
  </div>

  <div class="">
    <%= render 'accounting/shared/date_filter', url: accounting_debit_advices_path, req_type: nil %>
  </div>
</div>


<table class="<%= table_sm_hoverable %>">
  <thead class="table-dark">
    <tr>
      <th class="text-center" style="min-width: 100px">DA No.</th>
      <th class="text-center" style="min-width: 100px">Date</th>
      <th class="text-center">Payee</th>
      <th class="text-center">Amount</th>
      <th class="text-center">Status</th>
    </tr>
  </thead>

  <tbody>
    <% if @debit_advices.present? %>
      <% @debit_advices.each do |da| %>
        <tr>
          <td class="<%= centered_cell %>">
            <%= link_to da.voucher, da %>
          </td>
          <td class="<%= centered_cell %>"><%= month_day_year(da.date_voucher) %></td>
          <td class="align-middle"><%= da.payable %></td>
          <td class="<%= centered_cell %>"><%= to_curr(da.amount) %></td>
          <td class="<%= centered_cell %>">
            <span class="<%= da.decorate.status_badge %>"><%= da.status.titleize %></span>
          </td>    
        </tr> 
      <% end %>
    <% else %>
      <tr>
        <td colspan="7" class="text-center">No debit advices found.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
