<% if current_user.is_accountant? %>
  <div class="mb-1">
    <% if @request.present? %>
      <%= render 'back_btn', link: accounting_check_voucher_request_path(@request, pt: @request.payout_type) %>
    <% else %>
      <%= render 'back_btn', link: accounting_debit_advices_path %>
    <% end %>

    <% if @debit_advice.posted? %>
      <%= link_to print_accounting_check_path(@debit_advice, format: :pdf), class: small_btn('warning'), target: '_blank', title: 'Print' do %>
        <i class="bi bi-printer"></i>
      <% end %>
      <%= link_to download_accounting_check_path(@debit_advice, format: :pdf), class: small_btn('primary'), target: '_blank', title: 'Download' do %>
        <i class="bi bi-download"></i>
      <% end %>
    <% end %>

    <% if @debit_advice.paid?  %>
      <%= link_to new_accounting_journal_path(da: @debit_advice.id), class: 'btn btn-sm btn-outline-primary', data: {turbo_frame: 'modal'} do %>
        <i class="bi bi-plus-lg"></i> Journal Voucher
      <% end %>
    <% end %>
  </div>
<% elsif current_user.is_auditor? %>
  <div class="mb-1">
    <%= render 'back_btn', link: audit_for_audits_path %>
    <%= link_to "MOA", show_details_agreement_path(@debit_advice.check_voucher_request.requestable.agreement), class: small_btn('primary'), title: "Voucher", target: "_blank" %>
    <%= link_to "Claim details", claim_process_process_claim_path(@debit_advice.check_voucher_request.requestable), class: small_btn('primary'), title: "Claim Details", target: "_blank" %>
    <% unless @debit_advice.approved? %>
      <%=  link_to approve_audit_for_audit_path(@debit_advice, e_t: @debit_advice.entry_type), class: small_btn('success'), data: {turbo_confirm: "Finish audit and approve voucher?", turbo_method: :get} do  %>
        <i class="bi bi-check-circle-fill"></i> Approve
      <% end %>
      <%=  link_to new_accounting_check_remark_path(@debit_advice, e_t: @debit_advice.entry_type, audit: true), data: {turbo_frame: 'reg_form_modal' }, class: 'btn btn-sm btn-warning', title: 'Pending Voucher' do %>
        <i class="bi bi-hourglass-split"></i> Pending
      <% end %>
    <% end %>

    <% if @debit_advice.remarks.present? %>
      <%= link_to accounting_check_remarks_path(@debit_advice, e_t: @debit_advice.entry_type, audit: true), class: 'btn btn-sm btn-danger', data: {turbo_frame: 'reg_form_modal'} do %>
        <i class="bi bi-card-list"></i> Remarks
      <% end %>
    <% end %>
  </div>
<% elsif current_user.is_treasurer? %>
  <div class="mb-1">
    <%= render 'back_btn', link: treasury_debit_advices_path %>

    <% if @debit_advice.pending_payout? %>
      <%=  link_to new_accounting_check_remark_path(@debit_advice, e_t: @debit_advice.entry_type), data: {turbo_frame: 'reg_form_modal' }, class: small_btn('success'), title: 'Paid' do %>
        <i class="bi bi-check-circle-fill"></i> Paid
      <% end %>
    <% else %>
      <%= link_to accounting_check_remarks_path(@debit_advice, e_t: @debit_advice.entry_type), class: 'btn btn-sm btn-warning', data: {turbo_frame: 'reg_form_modal'} do %>
        <i class="bi bi-card-list"></i> Remarks
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render @debit_advice %>

<% if current_user.is_accountant? || current_user.is_auditor? %>
  <div class="card">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="ledger-tab" data-bs-toggle="tab" data-bs-target="#ledger" type="button" role="tab" aria-controls="ledger" aria-selected="true">Ledger</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="ledger" role="tabpanel" aria-labelledby="ledger-tab">
        <%= render 'payments/entries/ledger', ledgers: @ledgers, entry: @debit_advice  %>
      </div>
    </div>
  </div>
<% end %>