<div class="d-flex gap-3">
  <div class="card" style="width: 60%;">
    <div class="card-header <%= flex_justify_align('between', '') %>">
      <div class="">
        <p class="mb-0 text-muted"><small>Receipt Number</small></p>
        <h3 class="text-primary"><%= entry.or_no %></h3>
        <p><small><strong>OR date:</strong> <span><%= month_day_year(entry.or_date) %></span></small></p>
        <p><small><strong>Created by:</strong> <span><%= entry.employee %></span></small></p>
        <p class="badge bg-<%= entry.decorate.status_color %>"><%= entry.status.humanize %></p>
      </div>
      <div class="">
        <% if current_user.head? and entry.for_approval? %>
          <%= link_to post_entry_ledgers_path(entry, e_t: entry.entry_type), class: 'btn btn-sm btn-success mt-1', data: {turbo_confirm: "IMPORTANT: This process is not reversible. Post OR?", turbo_method: :get}, title: 'Post'  do %>
            <i class="bi bi-check-circle-fill"></i><span> Post</span>
          <% end %>
          <%= link_to entry.decorate.cancel_path, data: {turbo_confirm: 'Cancel receipt?', turbo_method: :get}, class: 'btn btn-danger btn-sm mt-1', title: 'Cancel receipt' do %>
            <i class="bi bi-x-circle-fill"></i><span> Cancel</span>
          <% end %>
        <% else %>
          <% if entry.pending? %>
            <%= link_to "Submit", for_approval_entry_ledgers_path(entry, e_t: entry.entry_type), class: 'btn btn-sm btn-success mt-1', data: {turbo_confirm: "Submit OR for approval?", turbo_method: :get} %>
            <%= link_to entry.decorate.edit_path, class: 'btn btn-outline-primary btn-sm mt-1', data: {turbo_frame: 'modal-lg'}, title: 'Edit receipt' do %> 
              <i class="bi bi-pencil"></i><span> Edit</span>
            <% end %>
            <%= link_to entry.decorate.cancel_path, data: {turbo_confirm: 'Cancel receipt?', turbo_method: :get}, class: 'btn btn-danger btn-sm mt-1', title: 'Cancel receipt' do %>
              <i class="bi bi-x-circle-fill"></i><span> Cancel</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card-body">

      <div class="row mb-3">
        <span class="small fw-bold col-2">Payee: </span>
        <span class="small col-10"><%= entry.coop %></span>
      </div>

      <div class="row mb-3">
        <span class="small fw-bold col-2">Particulars: </span>
        <span class="small col-10"><%= entry.particulars %></span>
      </div>

      <div class="row mb-3">
        <span class="small fw-bold col-2">Bank: </span>
        <span class="small col-10"><%= entry.treasury_account %></span>
      </div>

      <% if entry.agent.present? or entry.remittance? %>
        <div class="row mb-3">
          <span class="small fw-bold col-2">Agent: </span>
          <span class="small col-10"><%= entry.show_agent %></span>
        </div>
      <% end %>

    </div>
  </div>
    
    <div class="card" style="width: 40%;">
      <div class="card-body">
        <div class="<%= flex_justify_align('between') %>">
          <span class="small fw-bold">Details</span>
          <span class="small fw-bold">Amount</span>
        </div>
        <hr style="opacity: 1; border-color: black !important">
        <div class="<%= flex_justify_align('between') %>">
          <span class="small">Amount Deposited</span>
          <span class="small"><%= to_curr(entry.amount) %></span>
        </div>

        <% if entry.service_fee > 0 %>
          <div class="<%= flex_justify_align('between') %>">
            <span class="small">Service Fee</span>
            <span class="small">(<%= to_curr(entry.service_fee) %>)</span>
          </div>
        <% end %>

        <% if entry.unuse and entry.unuse > 0 %>
          <div class="<%= flex_justify_align('between') %>">
            <span class="small">Others</span>
            <span class="small">(<%= to_curr(entry.unuse) %>)</span>
          </div>
        <% end %>

        <% if entry.discounted? %>
          <div class="<%= flex_justify_align('between') %>">
            <span class="small">Discount</span>
            <span class="small">(<%= to_curr(entry.discount) %>)</span>
          </div>

          <div class="<%= flex_justify_align('between') %>">
            <span class="small">Withholding Tax</span>
            <span class="small">(<%= to_curr(entry.withholding_tax) %>)</span>
          </div>
        <% end %>

        <% if entry.vatable? %>
          <div class="<%= flex_justify_align('between') %>">
            <span class="small">VATable Sales</span>
            <span class="small"><%= to_curr(entry.vatable_amount) %></span>
          </div>

          <div class="<%= flex_justify_align('between') %>">
            <span class="small">VAT-Exempt Sales</span>
            <span class="small"><%= to_curr(entry.vat_exempt) %></span>
          </div>

          <div class="<%= flex_justify_align('between') %>">
            <span class="small">Zero Rates Sales</span>
            <span class="small"><%= to_curr(entry.zero_rated) %></span>
          </div>

          <div class="<%= flex_justify_align('between') %>">
            <span class="small">Value Added Tax</span>
            <span class="small"><%= to_curr(entry.vat) %></span>
          </div>
        <% end %>

        

        <% if entry.deposit > 0 %>
          <hr style="opacity: 1; border-color: black !important">
          <div class="<%= flex_justify_align('between') %>">
            <span class="small">Total Sales</span>
            <span class="small"><%= to_curr(entry.deposit) %></span>
          </div>
        <% end %>
      </div>
    </div>

</div>