<%= simple_form_for(entry, url: entry.persisted? ? payment_entry_path(payment, entry) : payment_entries_path(payment)) do |f| %>

  <div class="form-inputs mb-3">
    <div class="row">
      <div class="col-6">
        <%= f.input :or_no, label: 'OR Number', error: '*Required' %>
      </div>
      <div class="col-6">
        <%= f.input :or_date, as: :string, input_html: {data: {
          controller: "flatpickr",
          flatpickr_max_date: Date.today,
          flatpickr_next_arrow: "Next",
          flatpickr_prev_arrow: "Prev" }
          }, label: 'OR Date',
          error: '*Required'
        %> 
      </div>
    </div>
    <%= f.input :dummy_payee, label: 'Payee', input_html: {value: @payment.coop}, readonly: true  %>
    <div class="row">
      <%= f.association :treasury_account, collection: Treasury::Account.child_accounts, label: 'Account', error: '*Required', input_html: { data: { controller: "ts--select" } }, wrapper_html: {class: 'col-6'}  %>
      <%= f.association :treasury_payment_type, collection: Treasury::PaymentType.order(:name), label: 'Entry type', error: '*Required', input_html: { data: { controller: "ts--select" } }, wrapper_html: {class: 'col-6'} %>
    </div>
    <div class="row">
      <%= f.input :amount, input_html: {value: @payment.amount + @payment.payable.coop_commission}, error: '*Required', wrapper_html: {class: 'col-4'} %>
      <%= f.association :branch, collection: Branch.order(:name), error: '*Required', wrapper_html: {class: 'col-4'} %>
    </div>
    <div class="row">
      <%= f.input :deposit, input_html: {value: @payment.amount}, error: '*Required', wrapper_html: {class: 'col-4'} %>
      <%= f.input :service_fee, input_html: {value: @payment.payable.coop_commission}, error: '*Required', wrapper_html: {class: 'col-4'} %>
      <%= f.input :unuse, error: '*Required', wrapper_html: {class: 'col-4'} %>
    </div>
  </div>

  <div class="form-actions text-center">
    <% if @group_remit.present? %> 
      <%= f.button :submit, 'Add Entry', class: 'btn-primary', data: {turbo_confirm: 'Approve payment and generate official receipt?', turbo_method: :get} %>
    <% else %>
      <%= f.button :submit, "#{entry.persisted? ? 'Update' : 'Add'}", class: 'btn-primary' %>
    <% end %>
  </div>
<% end %>
