<%= turbo_frame_tag 'modal-xl' do %>
  <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <div id="approved_message"></div>
    <div class="row d-flex fustify-content-center mt-3" >
      <div class="col-md-8" style="margin: auto;">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h6 class="mb-0">Principal Policy Owner:</h6>
              </div>
              <div class="col-sm-6 text-secondary">
                <%= "#{@batch.coop_member.member.last_name}, #{@batch.coop_member.member.first_name} #{@batch.coop_member.member.middle_name}" %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="mb-0">Civil Status:</h6>
              </div>
              <div class="col-sm-6 text-secondary">
                <%= "#{@batch.coop_member.member.civil_status}" %>
              </div>
            </div>
            <br>

            <%= content_tag :h6, 'Dependent(s): ', class: "mb-0" %>
            <div class="row">
              <div class="col-sm-3 text-dark">
                <%= content_tag :span, "Name (relationship)", class: "lead" %>
              </div>
              <div class="col-sm-3 text-dark">
                <%= content_tag :span, "Birthday (age)", class: "lead" %>
              </div>
              <div class="col-sm-3 text-dark">
                <%= content_tag :span, "Premium", class: "lead" %>
              </div>
              <div class="col-sm-3 text-dark">
                <%= content_tag :span, "Actions", class: "lead" %>
              </div>
            </div>
            <hr>
            <% @dependents.each do |dependent| %>
              <% dep_presenter = DependentPresenter.new(dependent) %>
              <div class="row">
                <div class="col-sm-3 text-secondary">
                  <%= "#{dependent.member_dependent.last_name}, #{dependent.member_dependent.first_name} #{dependent.member_dependent.middle_name} (#{dependent.member_dependent.relationship})" %>
                  <%= content_tag :span, "#{dependent.insurance_status.titleize}", class: dep_presenter.status_badge %>
                </div>
                <div class="col-sm-3 text-secondary">
                  <% age = ((dependent.batch.group_remits.find_by(type: "Remittance").effectivity_date - dependent.member_dependent.birth_date) / 365).round %>
                  <%= "#{dependent.member_dependent.birth_date.strftime('%m/%d/%Y')} (#{age} yrs. old)" %>
                </div>
                <div class="col-sm-3 text-secondary">
                  <%= number_to_currency(dependent.premium, unit: "₱", precision: 2) %>
                </div>
                <div class="col-sm-3 text-secondary">
                  <% pro_cov = dependent.batch.group_remits.find_by(type: "Remittance").process_coverage %>
                  <% unless pro_cov.approved? || pro_cov.reprocess_approved? %>
                    <div class="<%= bd_buttons(current_user.rank, dependent.insurance_status, pro_cov.status) %>">
                      <%= link_to approve_dependent_process_coverage_path(params[:process_coverage_id], dependent: dependent, group_remit_id: params[:group_remit_id]), 
                        onclick: "return confirm('Are you sure?')", 
                        method: :get, 
                        title: "Approve", 
                        class: "btn btn-sm btn-success mb-1" do %>
                          <%= bootstrap_icon "check-lg" %>
                      <% end %>

                        <%= link_to new_dependent_remark_path(group_remit_id: params[:group_remit_id], process_coverage_id: params[:process_coverage_id], batch_dependent_id: dependent.id, status: :pending), title: "Pending", class: "btn btn-sm btn-secondary mb-1", data: { turbo_frame: "modal-xl" } do %>
                          <%= bootstrap_icon "arrow-clockwise" %>
                        <% end %>

                        <%= link_to new_dependent_remark_path(group_remit_id: params[:group_remit_id], process_coverage_id: params[:process_coverage_id], batch_dependent_id: dependent.id, status: :denied), title: "Deny", class: "btn btn-sm btn-danger mb-1", data: { turbo_frame: "modal-xl" } do %>
                          <%= bootstrap_icon "x-lg" %>
                        <% end %>

                      <% end %>
                    </div>
            

                  <% if dependent.dependent_remarks.exists? %>
                    <%= link_to 'Remarks', dependent_remarks_path(batch_dependent_id: dependent.id, group_remit_id: @group_remit.id, batch_id: @batch.id, process_coverage_id: params[:process_coverage_id]), class: small_btn('warning'), data: {turbo_frame: "modal-xl"} %>
                  <% end %>

                  <% if dependent.dependent_health_decs.exists? %>
                    <%= link_to health_dec_group_remit_batch_dependent_path(@group_remit, @batch, dependent, for_und: true, process_coverage_id: params[:process_coverage_id]), 
                    class: small_btn('warning'), 
				            title: 'Health Declaration Form' do %>
                      <i class="bi bi-file-earmark-medical"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <hr>
            <% end %>

            <%# if batch_dependent.is_dependent? %>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>