<%= content_tag :h1, "List of Health Dec Subquestions" %>


<div class="text-end mb-3">
  <%= link_to new_health_dec_subquestion_path, class: 'btn btn-primary' do %>
    New Health Dec Subquestion
  <% end %>
</div>

<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>#</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @health_dec_subquestions.each do |health_dec_subquestion| %>
        <tr>

        <th scope="row"><%= health_dec_subquestion.id %></th>
    
          <td>
            <%= link_to 'View', health_dec_subquestion, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_health_dec_subquestion_path(health_dec_subquestion), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", health_dec_subquestion, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
