
<%= simple_form_for(@loan_insurance_rate) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :min_age %>
    <%= f.input :max_age %>
    <%= f.input :monthly_rate %>
    <%= f.input :annual_rate %>
    <%= f.input :daily_rate %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", loan_insurance_rates_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
