<div id="<%= dom_id rate %>">
  <p>
    <strong>Min age:</strong>
    <%= rate.min_age %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= rate.max_age %>
  </p>

  <p>
    <strong>Monthly rate:</strong>
    <%= rate.monthly_rate %>
  </p>

  <p>
    <strong>Annual rate:</strong>
    <%= rate.annual_rate %>
  </p>

  <p>
    <strong>Daily rate:</strong>
    <%= rate.daily_rate %>
  </p>

</div>
