<%= content_tag :h1, "List of Loan Insurance Rates" %>


<div class="text-end mb-3">
  <%= link_to new_loan_insurance_rate_path, class: 'btn btn-primary' do %>
    New Rate
  <% end %>
</div>

<div class="row">
  <% @grouped_rates.each do |agreement, grs| %>
    <div class="col-xl-6 mb-3">
      <div class="card">
        <div class="card-header">
          <%= content_tag :span, agreement.cooperative.name, class: "lead" %>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <th>Age</th>
              <th>Amount</th>
              <th>Rates</th>
              <th></th>
            </thead>
            <tbody>
              <% grs.each do |rate| %>
                <tr>
                  <td><%= rate.min_age %> - <%= rate.max_age %> years old</td>
                  <td><%= to_currency(rate.min_amount) %> - <%= to_currency(rate.max_amount) %></td>
                  <td>
                    Monthly: <%= to_currency(rate.monthly_rate) %> <br>
                    Annual: <%= to_currency(rate.annual_rate) %>
                  </td>
                  <td>
                    <%= link_to "Edit", edit_loan_insurance_rate_path(rate), class: "btn btn-sm btn-success" %> | 
                    <%= link_to "Delete", rate, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
                  </td>
                </tr>
              <% end %>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>
