<div class="row">
  <div class="col-md-6">
    <%= content_tag :h5, 'Claim Benefit', class:"text-primary" %>
  </div>
  <div class="col-md-6">
    <div class="text-end">
      <%= link_to '<i class="bi bi-plus-square"></i> Add Benefit'.html_safe, new_claims_claim_benefit_path(v: @process_claim), class: "btn btn-primary btn-sm mb-3", data: { turbo_frame: "remote_modal" } if @process_claim.claim_filed? || @process_claim.file_claim? %>
    </div>
  </div>
</div>
<table class="table table-borderless table-hover">
  <thead>
    <tr class="border-top border-bottom border-primary">
      <%# <th class="text-primary">ID</th> %>
      <th class="text-primary">Benefit</th>
      <th class="text-end text-primary">Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @process_claim.claim_benefits.each do |benefit_claim| %>
      <tr>
        <%# <td>= benefit_claim.id</td> %>
        <td> <small><%= benefit_claim.benefit %></small> <span class="badge bg-warning text-dark"><%= benefit_claim.status %></span></td>
        <td class="text-end"><%= to_curr(benefit_claim.amount) %></td>
        <% if @process_claim.claim_filed? || @process_claim.file_claim? %>
          <td class="text-end">
            <%#= link_to 'View', benefit_claim, class: 'btn' %>
            <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_claims_claim_benefit_path(benefit_claim), class: 'btn btn-outline-primary btn-sm', data: { turbo_frame: "remote_modal" }  %>
            <%= link_to '<i class="bi bi-trash3"></i>'.html_safe, claims_claim_benefit_path(benefit_claim),  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot class="fw-bold border-top border-primary">
    <td>TOTAL</td>
    <%# <td class="text-end"><%= to_curr(@process_claim.claim_benefits.where.not(status: "Denied").sum(:amount)) %></td>
  <td class="text-end"><%= to_currency(@process_claim.get_benefit_claim_total) %></td>
  <td class="text-end"></td>
</tfoot>
</table>
