<%= content_tag :h1, "List of Loan Insurance Loans" %>


<div class="text-end mb-3">
  <%= link_to new_loan_insurance_loan_path, class: 'btn btn-primary' do %>
    New Loan
  <% end %>
</div>

<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Cooperative</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% if @loans.count > 0 %>
        <% @loans.each do |loan_insurance_loan| %>
          <tr>

          <th scope="row"><%= loan_insurance_loan.id %></th>
          <td><%= loan_insurance_loan.name %></td>
          <td><%= loan_insurance_loan.description %></td>
          <td><%= loan_insurance_loan.cooperative %></td>
      
            <td>
              <%= link_to 'View', loan_insurance_loan, class: 'btn btn-secondary btn-sm' %>
              <%= link_to 'Edit', edit_loan_insurance_loan_path(loan_insurance_loan), class: 'btn btn-secondary btn-sm' %>
              <%= link_to "Delete", loan_insurance_loan, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
            </td>

          </tr>
        <% end %>

      <% else %>
        <tr>
          <td colspan=5><%= content_tag :div, "NO RECORDS FOUND.", class: "text-center lead" %></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>
