<%= content_tag :h1, "List of Causes" %>


<div class="text-end mb-3">
  <%= link_to new_cause_path, class: 'btn btn-primary' do %>
    New Cause
  <% end %>
</div>

<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @causes.each do |cause| %>
        <tr>

        <th scope="row"><%= cause.id %></th>
        <td><%= cause.name %></td>
        <td><%= cause.description %></td>
    
          <td>
            <%= link_to 'View', cause, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_cause_path(cause), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", cause, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
