<div id="<%= dom_id demo_schedule %>">
  <p>
    <strong>Cooperative:</strong>
    <%= demo_schedule.cooperative %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= demo_schedule.name %>
  </p>
  <p>
    <strong>Contact no:</strong>
    <%= demo_schedule.contact_no %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= demo_schedule.email %>
  </p>
  <p>
    <strong>Demo date:</strong>
    <%= demo_schedule.demo_date %>
  </p>
  <p>
    <strong>Time slot:</strong>
    <%= demo_schedule.time_slot %>
  </p>
  <p>
    <strong>Remarks:</strong>
    <%= demo_schedule.remarks %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= demo_schedule.status %>
  </p>
</div>
