<div id="<%= dom_id business_check %>">
  <p>
    <strong>Check number:</strong>
    <%= business_check.check_number %>
  </p>

  <p>
    <strong>Check date:</strong>
    <%= business_check.check_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= business_check.amount %>
  </p>

  <p>
    <strong>Check type:</strong>
    <%= business_check.check_type %>
  </p>

</div>
