<div class="<%= flex_justify_align('between', 'center') %> gap-1 mb-3">
  <%= content_tag :h4, "Audit Check Vouchers", class: 'text-primary mb-0' %>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<table class="table table-bordered table-hover bg-white table-sm">
    <thead class="table-dark">
      <tr>
        <th class="text-center" scope="col">Voucher</th>
        <th class="text-center" scope="col">Payee</th>
        <th class="text-center" scope="col">Type</th>
        <th class="text-center" scope="col">Created by</th>
        <th class="text-center" scope="col">Amount</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Actions</th>
      </tr>
    </thead>

    <tbody id="batches_body">
      <% if @vouchers.present? %> 

        <% @vouchers.each do |voucher| %>
          <tr>
            <td class="text-center">CV<%= voucher.voucher %></td>
            <td class="text-center"><%= voucher.payable %></td>
            <td class="text-center"><%= voucher.check_voucher_request.payment_type.humanize %></td>
            <td class="text-center"><%= voucher.check_voucher_request.analyst %></td>
            <td class="text-center"><%= to_curr voucher.amount %></td>
            <td class="text-center">
              <span class="<%= voucher.decorate.audit_badge %>">
                <%= voucher.decorate.audit_text %>
              </span>
            </td>
            <td>
              <%= link_to accounting_check_path(voucher), class: small_btn('primary'), title: 'Show' do %>
                <i class="bi bi-eye-fill"></i>
              <% end %>
            </td>
          </tr>

        <% end %>

      <% else %>
        <tr>
          <td colspan="6" class="text-center">No requests found</td>
        </tr>
      <% end %>

    </tbody>
  </table>