<div id="<%= dom_id retention %>">
  <p>
    <strong>Amount:</strong>
    <%= retention.amount %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= retention.active %>
  </p>

  <p>
    <strong>Date activated:</strong>
    <%= retention.date_activated %>
  </p>

  <p>
    <strong>Date deactivated:</strong>
    <%= retention.date_deactivated %>
  </p>

</div>
