
<%= simple_form_for @agent do |f| %>
  <div class="form-inputs mb-3">
    <%# fields for User model associated with Agent %>
    <% unless current_user %>
      <%= f.fields_for :user do |u| %>
        <%= u.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  error: '*Required' %>
      <%= u.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= u.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>

        <%= u.hidden_field :userable_type, value: "Agent" %>
        <%= u.hidden_field :userable_id, value: @agent.id %>
      <% end %>
    <% end %>

    <%= f.association :agent_group, error: '*Required' %>
    <%= f.input :first_name, error: '*Required' %>
    <%= f.input :middle_name, error: '*Required' %>
    <%= f.input :last_name, error: '*Required' %>
    <%= f.input :birthdate, as: :date, html5: true, error: '*Required'  %>
    <%= f.input :mobile_number %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, class: 'btn-success' %>
    <%= link_to "Back", unauthenticated_root_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
