<%= content_tag :h1, "List of Agents" %>
<div class="text-end mb-3">
  <%= link_to new_agent_path, class: 'btn btn-primary' do %>
    New Agent
  <% end %>
</div>
<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @agents.each do |agent| %>
        <tr>
          <th scope="row"><%= agent.id %></th>
          <td> <%= agent.get_fullname %> </td>
          <td>
            <%= link_to 'View', agent, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_agent_path(agent), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", agent, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
