<%= content_tag :h1, "List of Agents" %>


<div class="text-end mb-3">
  <%= link_to new_agent_path, class: 'btn btn-primary' do %>
    New Agent
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Details</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @agents.each do |agent| %>
        <tr>

        <td><%= agent.id %></td>
        <td> <strong> <%= agent %> </strong> <br>
        <small><%= agent.mobile_number %> | <%= agent.agent_group %></small>
        </td>
    
          <td>
            <%= link_to 'View', agent, class: 'btn btn-sm btn-secondary' %>
            <% if agent == current_user.userable %>
              <%= link_to 'Edit', edit_agent_path(agent), class: 'btn btn-sm btn-secondary' %>
              <%= link_to 'Delete', agent, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-secondary' %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
