<div id="<%= dom_id denied_dependent %>">
  <p>
    <strong>Name:</strong>
    <%= denied_dependent.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= denied_dependent.age %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= denied_dependent.reason %>
  </p>

  <p>
    <strong>Group remit:</strong>
    <%= denied_dependent.group_remit_id %>
  </p>

</div>
