<div class="container">

  <%= content_tag :h3, "C.O.S.O." %>

  <div class="row mt-3">
    <%= line_chart @line_chart_data2, title: "Premium & Claims per Month", curve: false %>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <%= pie_chart @pie_chart_data1, donut: true, title: "Approved/Denied/Pending Claims" %>
    </div>
    <div class="col-6">
      <%= render "pages/graphs/gender_chart", chart_data: @pie_chart_gender %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <%= render "pages/graphs/prem_per_plan", chart_data: @premium_per_plan %>
    </div>
    <div class="col-6">
      <%= render "pages/graphs/claims_per_plan", chart_data: @claims_per_plan %>
    </div>
  </div>

  <div class="row mt-3">
    <%= render "pages/graphs/agent_prem_claims", chart_data: @prem_claim_agent %>
  </div>

  <div class="row mt-3">
    <%= render "pages/graphs/causes_chart", chart_data: @cause_chart %>
  </div>

</div>