<div class="container">

  <%= content_tag :h3, "C.O.S.O." %>

  <div class="row mt-3">
    <%= line_chart @line_chart_data2, title: "Premium & Claims per Month", curve: false %>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <%= pie_chart @pie_chart_data1, donut: true, title: "Approved/Denied/Pending Claims" %>
    </div>
    <div class="col-6">
      <%= render "pages/graphs/gender_chart", chart_data: @pie_chart_gender %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <%= render "pages/graphs/prem_per_plan", chart_data: @premium_per_plan %>
    </div>
    <div class="col-6">
      <%= render "pages/graphs/claims_per_plan", chart_data: @claims_per_plan %>
    </div>
  </div>

  <div class="row mt-3">
    <%= line_chart @total_claims_filed, title: "Total Claims Filed", colors: ["#28EE25", "#C7CFC7", "#EE2525"] %>
  </div>

  <div class="row mt-3">
    <%= render "pages/graphs/agent_prem_claims", chart_data: @prem_claim_agent %>
  </div>

  <div class="row mt-3">
    <%= render "pages/graphs/causes_chart", chart_data: @cause_chart %>
  </div>

  <div class="row mt-3">
    <%= render "pages/graphs/benefit_chart", chart_data: @benefits_chart %>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div data-controller="graph">
        <div class="row mb-2 mt-3">
          <div class="col-4">
            <%= select_tag 'data_type', options_for_select([['Small',0], ['Medium',1], ['Large',2]]), data: { action: "change->graph#selectType", target: "selectType" }, id: "type_id", class: "form-select" %>
          </div>
          <%= content_tag :p, "Please select Category to view graph...", class: "lead text-secondary" %>
        </div>

        <%#= turbo_frame_tag 'update charts'%>
        <%= turbo_frame_tag 'update charts' do %>
          <%#= column_chart @chart_data, id: "coops-chart", xtitle: @c_title, ytitle: 'Amount' %>
        <% end %>
      </div>
    </div>
  </div>

</div>