<%= render 'layouts/pdf_partials/html_template' do %>
  <div class="row mb-5">
    <%= image_tag wicked_pdf_asset_base64("1cisp_logo.png"), style: "height: 150px; width: auto;", class: '' %>
    <div class="">
      <p>1 COOPERATIVE INSURANCE SYSTEM OF THE PHILIPPINES</p>
      <p>LIFE AND GENERAL INSURANCE</p>
      <p class="mb-5"></p>
      <p><%= @title %></p>
      <p>Date Period of <%= "(#{month_day_year(@date_from)} to #{month_day_year(@date_to)})" %></p>
    </div>
  </div>

  <% @entries.each do |entry| %>
    <% case entry.class.name %>
    <% when "Accounting::Check" %>
      <% entry_number = "CV#{entry.voucher}" %>
    <% when "Accounting::Journal" %>
      <% entry_number = entry.voucher %>
    <% when "Treasury::CashierEntry" %>
      <% entry_number = entry.or_no %>
    <% end %>
    
    <div class="pt-1 mt-3" style="border-top: 1px solid black">
      <div class="row">
        <div class="col-2"><%= entry_number %></div>
        <div class="col-2 text-center pe-3"><%= date_as_month_day_year(entry.class.name == "Treasury::CashierEntry" ? entry.or_date : entry.post_date) %></div>
        <div class="col-4"><%= entry.class.name == "Treasury::CashierEntry" ? entry.entriable : entry.payable %></div>
      </div>
      <div class="row mb-3">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-5"><%= entry.branch.humanize.titleize %></div>
      </div>
      <% entry.general_ledgers.debits.each do |ledger| %>
        <div class="row mb-3">
          <div class="col-1"><%= ledger.account.code %></div>
          <div class="col-2"></div>
          <div class="col-5"><%= ledger.account.name %></div>
          <div class="col-2 text-end"><%= to_curr(ledger.amount) %></div>
          <div class="col-2 text-end">0.00</div>
        </div>
      <% end %>
      <% entry.general_ledgers.credits.each do |ledger| %>
        <div class="row mb-3">
          <div class="col-1"></div>
          <div class="col-2"><%= ledger.account.code %></div>
          <div class="col-5"><%= ledger.account.name %></div>
          <div class="col-2 text-end">0.00</div>
          <div class="col-2 text-end"><%= to_curr(ledger.amount) %></div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-2 text-end" style="border-bottom: 1px solid black"></div>
        <div class="col-2 text-end" style="border-bottom: 1px solid black"></div>
      </div>
      <div class="row mt-2">
        <div class="col-8"></div>
        <div class="col-2 text-end"><%= to_curr(entry.general_ledgers.debits.sum(:amount)) %></div>
        <div class="col-2 text-end"><%= to_curr(entry.general_ledgers.credits.sum(:amount)) %></div>
      </div>
    </div>
  <% end %>
<% end %>