<h1>MIS Dashboard</h1>

<div class="row">


  <div class="col-6">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="lead fw-bold">Monitoring</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <th>ORS</th>
              <th>Count</th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>Encoded</td>
                <td><%= @encoded.count %></td>
                <td><%= link_to "View", mis_view_ors_path(t: "enc"), class: "btn btn-sm btn-outline-primary" %></td>
              </tr>
              <tr>
                <td>Transmitted</td>
                <td><%= @transmitted.count %></td>
                <td><%= link_to "View", transmittals_path, class: "btn btn-sm btn-outline-primary" %></td>
              </tr>
              <tr>
                <td>Not Transmitted</td>
                <td><%= @with_ors.count %></td>
                <td><%= link_to "View", mis_view_ors_path(t: "nt"), class: "btn btn-sm btn-outline-primary" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="lead fw-bold">User Progress</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <th>Plan</th>
              <th>Total Encoded</th>
            </thead>
            <tbody>
              <tr>
                <td>LPPI</td>
                <td><%= number_with_delimiter(@lppi_encoded) %></td>
              </tr>
              <tr>
                <td>GYRT</td>
                <td><%= number_with_delimiter(@gyrt_encoded) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="lead fw-bold">Graphs (Daily Encoding)</h5>
        </div>
        <div class="card-body">
          <p class="lead fst-italic">Coming soon.</p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="lead fw-bold">Graphs (Monthly Encoding)</h5>
        </div>
        <div class="card-body">
          <p class="lead fst-italic">Coming soon.</p>
        </div>
      </div>
    </div>
  </div>

</div>