<%= content_tag :h1, "List of Documents" %>


<div class="text-end mb-3">
  <%= link_to new_document_path, class: 'btn btn-primary' do %>
    New Document
  <% end %>
</div>

<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>#</th>
        <th>Document</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @documents.each do |document| %>
        <tr>

        <th scope="row"><%= document.id %></th>
        <td><strong><%= document.name %></strong> <br>
        <small><%= document.description %></small></td>

    
          <td>
            <%= link_to 'View', document, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_document_path(document), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", document, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
