<div class="row">
  <div class="col-md-8">
    <% if current_user.userable_type == "CoopUser" %>
      <%= link_to '<i class="bi bi-arrow-left-square"></i> Back'.html_safe, index_coop_claims_process_claims_path, class: 'btn btn-outline-secondary btn-sm' %>
    <% elsif current_user.is_auditor? %>
      <%= link_to '<i class="bi bi-arrow-left-square"></i> Back'.html_safe, accounting_check_path(@process_claim.voucher_request.vouchers.last), class: 'btn btn-outline-secondary btn-sm' %>
    <% elsif current_user.userable_type == "Employee"%>
      <%= link_to '<i class="bi bi-chevron-left"></i>'.html_safe, index_show_claims_process_claims_path(p: @process_claim.claim_route), class: 'btn btn-outline-secondary btn-sm'  %>
      <% if @audit_remarks.present? %>
        <%= link_to accounting_check_remarks_path(@check, e_t: 'cv'), class: 'btn btn-sm btn-outline-danger', data: {turbo_frame: 'reg_form_modal'} do %>
          <i class="bi bi-card-list"></i> Audit Remarks
        <% end %>
      <% end %>
    <% end %>
    <% if current_user.userable_type == 'CoopUser' %>
      <% if @process_claim.coop_file? || @process_claim.incomplete_document? %>
        <%= link_to claim_route_claims_process_claim_path(@process_claim, p: 1), class: "btn btn-success btn-sm", data: {turbo_confirm: "Make sure all documents are uploaded. Submit claim?", turbo_method: :get}  do %>
          <i class="bi bi-check-circle-fill"></i> Submit
        <% end %>
        <%= link_to claims_process_claim_path(@process_claim), class: "btn btn-danger btn-sm", data: {turbo_confirm: "Cancel claim?", turbo_method: :delete} do %>
          <i class="bi bi-x-circle-fill"></i> Cancel
        <% end %>
      <% end %>
    <% elsif current_user.is_auditor? %>
    <% elsif current_user.userable_type == 'Employee' %>
      <%= link_to "Claims Filed", claim_route_claims_process_claim_path(@process_claim, p: 2), class: "btn btn-primary btn-sm" if @process_claim.documentation_review? || @process_claim.analyst_file? || @process_claim.retrieval_documents? %>
      <%= link_to "Retrieval of Documents", claim_route_claims_process_claim_path(@process_claim, p: 24), class: "btn btn-primary btn-sm" if @process_claim.documentation_review? || @process_claim.analyst_file? %>
      <%= link_to "Claims Review", claim_route_claims_process_claim_path(@process_claim, p: 3), class: "btn btn-primary btn-sm" if @process_claim.claim_filed? %>
      <%= link_to '<i class="bi bi-repeat"></i> Return to Claims Filed'.html_safe, claim_route_claims_process_claim_path(p: 2), class: "btn btn-primary btn-sm" if @process_claim.claim_review? || @process_claim.incomplete_document? || @process_claim.pending_claim? %>
      <% if @process_claim.processing? %>
        <%#= link_to '<i class="bi bi-clipboard-plus"></i> Evaluation'.html_safe, claim_route_claims_process_claim_path(p: 4), class: "btn btn-primary btn-sm" if @process_claim.get_benefit_claim_total > session[:claims_max_amount] && @process_claim.claim_review? %>
        <%#= link_to '<i class="bi bi-clipboard-plus"></i> For COSO Evaluation'.html_safe, claim_route_claims_process_claim_path(p: 5), class: "btn btn-primary btn-sm" if @process_claim.get_benefit_claim_total > session[:claims_max_amount] && @process_claim.evaluation? && current_user.user_levels.find_by(authority_level_id:  AuthorityLevel.find_by(entry_type: 0, name: 'Evaluators'))  %>
        <%#= link_to '<i class="bi bi-clipboard-plus"></i> For President Evaluation'.html_safe, claim_route_claims_process_claim_path(p: 6), class: "btn btn-primary btn-sm" if @process_claim.get_benefit_claim_total > session[:claims_max_amount] && @process_claim.evaluation_coso? && current_user.user_levels.find_by(authority_level_id:  AuthorityLevel.find_by(entry_type: 0, name: 'Evaluators'))%>
        <%= link_to '<i class="bi bi-printer"></i> Processing Sheet'.html_safe, print_sheet_claims_process_claim_path(@process_claim), class: "btn btn-warning btn-sm", target: '_blank' %>
      <% end %>
      <%= link_to '<i class="bi bi-sign-stop-lights"></i> Pending'.html_safe, new_status_claims_claim_remarks_path(v: @process_claim, s: 2), class: "btn btn-warning btn-sm", data: { turbo_frame: "remote_modal" } if @process_claim.claim_filed?  %>
      <%= link_to '<i class="bi bi-bootstrap-reboot"></i> Reconsider'.html_safe, new_status_claims_claim_remarks_path(v: @process_claim, s: 3), class: "btn btn-warning btn-sm", data: { turbo_frame: "remote_modal" } if @process_claim.denied? && @claims_user_authority_level.name == "Evaluators" %>
      
      <%= link_to "Request Documents", claim_route_claims_process_claim_path(@process_claim, p: 19), class: "btn btn-warning btn-sm", data: {turbo_confirm: "Return this claim to coop?", turbo_method: :get} if @process_claim.documentation_review? || @process_claim.claim_filed? %>
      <%= link_to "Recover Claims", claim_route_claims_process_claim_path(@process_claim, p: 19), class: "btn btn-warning btn-sm", data: {turbo_confirm: "Return this claim to coop?", turbo_method: :get} if @process_claim.non_compliant? %>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="text-end">
      <% if @process_claim.processing? && current_user.userable_type == "Employee" %>
        <% if validate_evaluator(@process_claim) %>
          <% if @process_claim.reconsider? %>
            <%= link_to '<i class="bi bi-check-circle"></i> Approve'.html_safe, claim_route_claims_process_claim_path(s: 2), class: "btn btn-success btn-sm", data: {turbo_confirm: "Do you want to approve?", turbo_method: :get}  %>
            <%= link_to '<i class="bi bi-x-square"></i> Denied'.html_safe, claim_route_claims_process_claim_path(s: 3), class: "btn btn-success btn-sm", data: {turbo_confirm: "Do you want to approve?", turbo_method: :get}  %>
            <%#= link_to '<i class="bi bi-check-circle"></i> Denied'.html_safe, claim_route_claims_process_claim_path(p: path, s: 3), class: "btn btn-danger btn-sm", data: {turbo_confirm: "Do you want to Denied?", turbo_method: :get}  %>
          <% else %>
            <%= link_to '<i class="bi bi-check-circle"></i> Approve'.html_safe, claim_route_claims_process_claim_path(s: 0), class: "btn btn-success btn-sm", data: {turbo_confirm: "Do you want to approve the claim?", turbo_method: :get}  %>
            <%= link_to '<i class="bi bi-x-square"></i> Denied'.html_safe, claim_route_claims_process_claim_path(s: 1), class: "btn btn-danger btn-sm", data: {turbo_confirm: "Do you want to denied the claim?", turbo_method: :get }  %>
            <%= link_to '<i class="bi bi-sign-stop-lights"></i> Pending'.html_safe, claim_route_claims_process_claim_path(s: 4), class: "btn btn-warning btn-sm", data: {turbo_confirm: "Do you want to pending the claim?", turbo_method: :get }  %>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to "Denied due to non compliance", claim_route_claims_process_claim_path(@process_claim, p: 18), class: "btn btn-danger btn-sm" if @process_claim.incomplete_document? && current_user.userable_type == "Employee" %>
      <%= link_to new_claims_claim_remark_path(v: @process_claim, c: 1), class: "btn btn-primary btn-sm position-relative", data: { turbo_frame: "remote_modal" } do %>
        <i class="bi bi-chat-left-text"></i> Message
        <% unread = @process_claim.claim_remarks.where(coop: 1, read: 0).where.not(user: current_user) %>
        <% unless unread.empty? %>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <%= unread.count %>
            <span class="visually-hidden">unread messages</span>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% console %>