<%= simple_form_for(@process_claim, url: url, method: meth) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%#= f.association :cooperative, input_html: { data: { controller: "ts--select" } }  %>
  <div class="mb-3">
    <%#= link_to "Back", @process_claim.cooperative, class: "btn btn-secondary btn-lg" %>
    <% unless @process_claim.id.nil? %>
      <%= link_to "Back", claim_process_claims_process_claim_path(@process_claim), class: "btn btn-secondary btn-lg"  %>
    <% else %>
      <%= link_to "Back", cooperative_path(@process_claim.cooperative), class: "btn btn-secondary btn-lg"  %>
    <% end %>
    <%= f.button :submit, 'Save Claim', class: 'btn-success btn-lg' %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <h5 class="card-header">Member Details</h5>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Cooperative</dt>
            <dd class="col-sm-8"><%= @process_claim.cooperative %></dd>
            <dt class="col-sm-4">Name:</dt>
            <dd class="col-sm-8 text-primary"><%= @process_claim.insurable.get_fullname %></dd>
            <dt class="col-sm-4">Birthdate</dt>
            <dd class="col-sm-8"> <%= to_shortdate(@process_claim.insurable.member.birth_date) %></dd>
            <dt class="col-sm-4">Branch:</dt>
            <dd class="col-sm-8"><%= @process_claim.insurable.coop_branch %></dd>
            <dt class="col-sm-4">Mobile number:</dt>
            <dd class="col-sm-8"><%= @process_claim.insurable.member.mobile_number %></dd>
            <dt class="col-sm-4">Email:</dt>
            <dd class="col-sm-8"><%= @process_claim.insurable.member.email %> </dd>
          </dl>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">Claimant</h5>
        <div class="card-body">
          <%= render 'claimant', f: f %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" data-controller="claims">
        <h5 class="card-header">Cause of Claims</h5>
        <div class="card-body">
          <div class="row">
            <%= f.hidden_field :agreement_id %>
            <%= f.hidden_field :cooperative_id %>
            <%= f.hidden_field :insurable_type, value: @process_claim.insurable.class.name %>
            <%= f.hidden_field :insurable_id, value: @process_claim.insurable_id %>
            <%#= f.input :date_file %>
            <%= f.association :claim_retrieval, prompt: "Select claim type" if @process_claim.retrieval? %>
            <%#= f.input :date_file, label: "Date Filed", as: :string, wrapper_html: { class: "col-md-6" }, 
              input_html: { data: { controller: "flatpickr",
                  flatpickr_max_date: Time.zone.now,
                  flatpickr_next_arrow: "Next",
                  flatpickr_prev_arrow: "Prev" } } %>
            <%#= f.input :date_incident, label: "Date incident", as: :string, wrapper_html: { class: "col-md-6" }, 
                  input_html: { data: { controller: "flatpickr",
                  flatpickr_max_date: Time.zone.now,
                  flatpickr_next_arrow: "Next",
                  flatpickr_prev_arrow: "Prev" } } %>
            <%= f.input :date_file, as: :string, input_html: { type: 'date' }, wrapper_html: { class: 'col-md-6' } %>
            <%= f.input :date_incident, as: :string, input_html: { type: 'date' }, wrapper_html: { class: 'col-md-6' } %>
            <%= f.association :claim_type, prompt: "Select claim type", collection: Claims::ClaimType.order(:name), wrapper_html: { class: 'col-md-6' }, input_html: { id: "type_id", data: { action: "change->claims#toggleTargets", claims_target: "typeSelect" } } %>
            <%= f.association :cause, prompt: "Select a cause", collection: Claims::Cause.order(:name), wrapper_html: { class: 'col-md-6' } %>
            <%= f.association :claim_type_nature, label: "Nature of claim", prompt: "Select a nature of claim", collection: Claims::ClaimTypeNature.order(:name) %>
            <%#= f.association :agreement, prompt: "Select agreement", collection: Agreement.where(cooperative: @process_claim.cooperative) %>
            <%#= f.association :agreement, prompt: "Select agreement", collection: @agreement %>
            <div data-controller="agreements">
              <%#= f.association :agreement, prompt: "Select agreement", collection: @process_claim.cooperative.agreements %>
              <%= f.association :agreement, label: "Agreement", prompt: "Select a Agreement",collection: Agreement.where(cooperative_id: @process_claim.cooperative_id), input_html: { class: 'form-select', data: { action: "change->agreements#search_agreement" } } %>
              <%= f.association :agreement_benefit, label: "Agreement Benefit", input_html: { class: 'form-select', id: 'agreement_id', data: { agreements_target: "agreementSelect" } }  %>
            </div>
          </div>
          <%= f.simple_fields_for :claim_cause do |cc| %>
            <div data-claims-target="life">
              <%= cc.input :icd, label: "ICD" %>
              <%= cc.input :acd, label: "ACD" %>
              <%= cc.input :ucd, label: "UCD" %>
              <%= cc.input :osccd, label: "OSCCD" %>
              <%= cc.input :postmortem, label: "Postmortem Certification of Death" %>
            </div>
            <div data-claims-target="others">
              <%= cc.input :cause_of_incident, label: "Cause of Incident" %>
            </div>
            <%#= render 'question_fields', f: builder %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
