<th scope="row"><%= process_claim.id %></th>
        <td><strong><%= process_claim.insurable.get_fullname %></strong> <br>
          <%= process_claim.cooperative %> <br>
          <small>Filed: <%= to_shortdate(process_claim.date_file) %></small> <br>
          <small>
            <%= content_tag :span, process_claim.entry_type.titleize, class: "badge rounded-pill text-bg-light"  %>
            <%= content_tag :span, process_claim.display_route(process_claim.claim_route) , class: "badge rounded-pill text-bg-light" %>
            <% if process_claim.denied? || process_claim.reconsider_denied? %>
              <span class="badge rounded-pill bg-danger text-light"><%= process_claim.status.humanize %></span>
            <% elsif process_claim.approved? || process_claim.reconsider_approved? %>
              <span class="badge rounded-pill bg-success text-light"><%= process_claim.status.humanize %></span>
            <% elsif process_claim.pending? %>
              <span class="badge rounded-pill bg-warning text-dark"><%= process_claim.status.humanize %></span>
            <% else %>
              <span class="badge rounded-pill bg-primary text-light"><%= process_claim.status.humanize %></span>
            <% end %>
          </small>
        </td>
        <td><strong><%= process_claim.agreement.plan %></strong> <%= content_tag :span, 'Micro', class: 'badge rounded-pill bg-warning text-dark' if process_claim.agreement.plan.micro %> <br>
          <%= content_tag :small, process_claim.claim_type %> <br>
          <%= to_curr(process_claim.get_benefit_claim_total) %> <br>
          <% unless process_claim.user.nil? %>
            Process: <%= process_claim.user %>
          <% end %>
          </td>
        <%# <td><%= process_claim.batch %>
        <td>
          <%= render 'index_link', p: process_claim %>
        </td>