<%= turbo_frame_tag "reg_form_modal" do %>
  <div class="modal-header">
    <div class="d-flex gap-1">
      <%= content_tag :h5, 'Select Bank', class: "modal-title", id: "staticBackdropLabel" %>
      <%= link_to new_cooperative_coop_bank_path(@cooperative, pc_id: @process_claim.id), class: small_btn('success') do %>
        <i class="bi bi-plus-lg"></i> Add Bank
      <% end %>
      <%= link_to @process_claim.remarks.present? ? claims_process_claim_remarks_path(@process_claim) : new_claims_process_claim_remark_path(@process_claim), class: "btn btn-primary btn-sm position-relative", data: { turbo_frame: "reg_form_modal" } do %>
        <i class="bi bi-journal-bookmark-fill"></i> Notes
      <% end %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  
  <div class="modal-body">
    <div class="alert alert-danger small" role="alert">
      Please add a note if the Metrobank account will not be used as the fund account for this claim, and please include the fund account details to the note.
    </div>
    <% if @cooperative.treasury_accounts.present? %>
      <%= simple_form_for(@process_claim, url: claim_route_claims_process_claim_path, method: :get) do |f| %>
        <%= hidden_field_tag :p, 8 %>
        <%= hidden_field_tag :pt, "debit_advice" %>

        <div class="field <%= flex_justify_align('center', 'center', true) %>">
          <% @cooperative.treasury_accounts.each do |bank| %>
            <div class="d-flex gap-3">
              <%= f.radio_button :coop_bank, bank.id %>
              <%= f.label "coop_bank_#{bank.id}" do %>
                <div class="card" style="width: 350px">
                  <div class="card-body">
                    <div class="d-flex gap-1">
                      <div>
                        <h5 class="card-title"><%= bank.name %></h5>
                        <p class="card-text"><%= bank.account_number %></p>
                        <p class="card-text small text-secondary"><%= bank.address %></p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="text-center mt-3">
          <%= f.submit "Submit", class: "btn btn-primary", id: "submit-button", data: {turbo: false} %>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-warning" role="alert">
        No bank available. Please add bank first.
      </div>
    <% end %>
  </div>
<% end %>