<div class="mb-3">
  <%= render 'action_button' %>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render 'claims_detail' %>
    <%= render 'insured_details' if @process_claim.incomplete_document? || @process_claim.analyst_file? %>
    <%= render 'claimant_details' %>
    
  </div>
  <div class="col-md-6">
    
    <%#= render 'show_coop' %>
    <div class="card">
      <div class="card-body">
        <% if @process_claim.incomplete_document? || @process_claim.analyst_file? %>
          <% @claim_type_document = Claims::ClaimTypeDocument.where(claim_type: @process_claim.claim_type) %>
          <%= render 'claims/claim_attachments/show_attach_document' %>
        <% else %>
          <%= render 'insured_details' %>
          <%= render 'claims/claim_attachments/show_attachment' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'tabs' %>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <h4 class="col-md-6 text-primary">Recommendation</h4>
          <div class="col-md-6 text-end">
            <%= link_to '<i class="bi bi-chat-right-quote"></i> Add Remark'.html_safe, new_claims_claim_remark_path(v: @process_claim, c: 0), class: "btn btn-primary mb-3", data: { turbo_frame: "remote_modal" } %>
          </div>
        </div>
        <%= render 'claims/claim_remarks/show_remark' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="col-md-6 text-primary">Claim Process</h4>
        <div class="track">
          <div class="step <%= "active" if @process_claim.claim_filed %>"> <span class="icon"> <i class="bi bi-card-list"></i> </span> <span class="text"> <small> Claims filed </small> </span> </div>
          <div class="step <%= "active" if @process_claim.processing %>"> <span class="icon"> <i class="bi bi-window"></i> </span> <span class="text"> <small> Processing </small> </span> </div>
          <div class="step <%= "active" if @process_claim.approval %>">
            <% if @process_claim.denied? %>
              <span class="icon"> <i class="bi bi-shield-x"></i></span> <span class="text"> <small> Denied </small> </span>
            <% elsif @process_claim.approved? %>
              <span class="icon"> <i class="bi bi-shield-check"></i></span> <span class="text"> <small> Approved </small> </span>
            <% else %>
              <span class="icon"> <i class="bi bi-journal-check"></i> </span> <span class="text"> <small> Evaluation </small> </span>
            <% end %>
          </div>
          <div class="step <%= "active" if @process_claim.payment %>"> <span class="icon"> <i class="bi bi-cash-coin"></i> </span> <span class="text"> <small> Payment </small>  </span> </div>
        </div>
        <%= render 'show_claim_track' %>
      </div>
    </div>
  </div>
</div>