<div class="card">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Documents
            <%= content_tag :span, 'Required <i class="bi bi-asterisk"></i>'.html_safe, class: "badge rounded-pill text-bg-warning" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @claim_type_document.each do |doc| %>
          <tr>
            <% @claim_attach = Claims::ClaimAttachment.find_by(process_claim_id: @process_claim, claim_type_document: doc) %>
            <td><%= doc.claim_document %>
              <%= content_tag :span, '<i class="bi bi-asterisk"></i>'.html_safe, class: "badge rounded-pill text-bg-warning" if doc.required %>
              <br>
              <%= content_tag :small, @claim_attach.created_at, class: "text-muted" unless @claim_attach.nil? %>
              <% @document_request = Claims::ClaimDocumentRequest.find_by(process_claim: @process_claim, claim_type_document: doc) %>
              <%= content_tag :span, 'Requested', class: "badge rounded-pill text-bg-warning" if @document_request.present?  %>
            </td>
            <td class="text-end">
              <% unless @claim_attach.nil? %>
                <%= link_to '<i class="bi bi-eye"></i>'.html_safe, rails_blob_url(@claim_attach.doc), target: :_blank, class: 'btn btn-outline-primary btn-sm' if @claim_attach.doc.attached?  %>
                <%= link_to '<i class="bi bi-trash-fill"></i>'.html_safe, @claim_attach, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } if @claim_attach.doc.attached? %>
              <% else %>
                <% if @document_request.nil? %>
                  <%= link_to '<i class="bi bi-clipboard-plus"></i>'.html_safe, document_request_claims_claim_type_document_path(doc, p: @process_claim.id), class: "btn btn-warning btn-sm" if @process_claim.incomplete_document? && current_user.userable_type == "Employee" %>
                <% else %>
                  <%= link_to '<i class="bi bi-clipboard-x"></i>'.html_safe, document_request_claims_claim_type_document_path(doc, p: @process_claim.id), class: "btn btn-danger btn-sm" if @process_claim.incomplete_document? && current_user.userable_type == "Employee" %>
                <% end %>
                <%= link_to '<i class="bi bi-upload"></i>'.html_safe, new_claims_claim_attachment_path(p: @process_claim.id, d: doc.id), class: "btn btn-primary btn-sm", data: { turbo_frame: "remote_modal" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>