
<%= simple_form_for(entry) do |f| %>

  <div class="form-inputs mb-3">
    <div class="row">
      <div class="col-6">
        <%= f.input :or_no, label: 'OR Number', error: '*Required' %>
      </div>
      <div class="col-6">
        <%= f.input :or_date, as: :string, input_html: {data: {
          controller: "flatpickr",
          flatpickr_max_date: Date.today,
          flatpickr_next_arrow: "Next",
          flatpickr_prev_arrow: "Prev" }
          }, label: 'OR Date',
          error: '*Required'
        %> 
      </div>
    </div>
    <% if @group_remit.present? %>
      <%= f.hidden_field :global_entriable, value: @group_remit.to_global_id  %>
      <%= f.input :dummy_payee, label: 'Payee', input_html: {value: @group_remit.agreement.cooperative}, disabled: true  %>
    <% else %>
      <%= f.input :global_entriable, 
        collection: @entriables, 
        label_method: :to_s, 
        value_method: :to_global_id, 
        label: 'Payee', 
        error: '*Required',
        input_html: { data: { controller: "ts--select", action: "change->coop#search_agreement" } }
      %>
    <% end %>
    <div data-controller="hider">
      <div class="row">
        <div class="col-6">
          <%= f.input :product_check, as: :boolean, label: "Insurance", input_html: {data: { action: "input->hider#toggle", hider_target: "input" } } %>
        </div>
        <div class="col-6">
          <%= f.input :vat_check, as: :boolean, label: "Vatable", input_html: {data: { action: "input->hider#toggle", hider_target: "vat" } } %>
        </div>
      </div>
      <%= f.association :treasury_account, label: 'Account', error: '*Required', input_html: { data: { controller: "ts--select" } }  %>
      <%= f.association :treasury_payment_type, label: 'Entry type', error: '*Required', input_html: { data: { controller: "ts--select" } } %>
      <div class="row">
        <div class="col-6">
          <%= f.input :amount, error: '*Required' %>
        </div>
        <div class="col-6" id="to_hide_agreement" data-hider-target="hideme">
          <%#= f.association :agreement, label: "Plan", input_html: { id: "agreement_id", data: { coop_target: "agreementSelect" } } %>
          <%= f.association :plan, label: "Plan", input_html: { data: {hider_target: 'plan'} }%>
        </div>
      </div>
      <div class="hidden" data-hider-target="amounts">
        <div class="row">
          <%= f.input :deposit, error: '*Required', wrapper_html: {class: 'col-6'} %>
          <%= f.input :service_fee, error: '*Required', wrapper_html: {class: 'col-6'} %>
        </div>
        <%= f.association :agent, error: '*Required', input_html: { data: { controller: "ts--select" } } %>
      </div>

      
    </div>
  </div>

  <div class="form-actions text-center">
    <% if @group_remit.present? %> 
      <%= f.button :submit, 'Add Entry', class: 'btn-primary', data: {turbo_confirm: 'Approve payment and generate official receipt?', turbo_method: :get} %>
    <% else %>
      <%= f.button :submit, "#{entry.persisted? ? 'Update' : 'Add'}", class: 'btn-primary' %>
    <% end %>
  </div>
<% end %>
