
<div class="<%= flex_justify_align('', 'center') %> gap-1 mb-3">
  <%= content_tag :h4, "Cashier Entries", class: 'text-primary mb-0' %>
  <%= link_to new_treasury_cashier_entry_path, class: 'btn btn-sm btn-primary', data: {turbo_frame: 'modal'} do %>
    New Entry
  <% end %>  
</div>

<div class="<%= flex_justify_align('between','center') %> gap-3 mb-3">   
  <%== pagy_bootstrap_nav(@pagy) %>

  <div class="d-flex gap-1">
    <%= render 'layouts/partials/search_bar', path: treasury_cashier_entries_path, type: :number, param_name: 'or_number',placeholder: 'OR Number', button_name: 'Search', btn_css: 'btn btn-sm btn-outline-primary' %>
    <%= link_to 'All', treasury_cashier_entries_path, class: "#{small_btn('outline-primary')} pt-2", style: "width: 50px;" %>
  </div>
</div>

<div class="">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>OR #</th>
          <th>Date</th>
          <th>Payee</th>
          <th>Amount</th>
        </tr>
      </thead>

      <tbody>
        <% if @entries.present? %>
          <% @entries.each do |entry| %>
            <tr>
              <td><%= link_to entry.or_no, entry, class: 'text-primary' %></td>
              <td><%= month_day_year(entry.or_date) %></td>
              <td><%= entry.entriable %></td>
              <td><%= to_curr(entry.amount) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="7" class="text-center">No entries found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>