<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </p>

  <p>
    <strong>Is check account:</strong>
    <%= account.is_check_account %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= account.contact_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= account.address %>
  </p>

</div>
