<%= render 'layouts/pdf_partials/html_template' do %>
  <div class="row mb-3">
    <%= image_tag wicked_pdf_asset_base64("1cisp_logo.png"), style: "height: 150px; width: auto;", class: '' %>
    <div class="">
      <p>1 COOPERATIVE INSURANCE SYSTEM OF THE PHILIPPINES</p>
      <p>LIFE AND GENERAL INSURANCE</p>
      <p>ACCOUNT LEDGER</p>
      <p><%= @treasury_account.name %></p>
      <p>Date Period of <%= "(#{month_day_year(@date_from)} to #{month_day_year(@date_to)})" %></p>
    </div>
  </div>

  <div class="text-end p-1" style="font-size: .8rem">
    <span><strong>Start Balance: <%= to_curr @initial_balance %></strong></span>
  </div>

  <table class="table table-sm" style="font-size: .8rem">
    <thead>
      <tr class="text-center table-dark">
        <th style="width: 8%">Reference</th>
        <th style="width: 9%">Date</th>
        <th style="">Payee</th>
        <th style="">Description</th>
        <th style="width: 10%">Debit</th>
        <th style="width: 10%">Credit</th>
        <th style="width: 10%">Balance</th>
      </tr>
    </thead>
    <tbody>
      <% if @searched_ledgers.empty? %>
        <tr>
          <td colspan="7" class="text-center">No records found</td>
        </tr>
      <% else %>
        <% @searched_ledgers.each do |entry| %>
          <% debit = entry.debit? ? entry.amount : 0 %>
          <% credit = entry.credit? ? entry.amount : 0 %>
          <tr class="text-center">
            <td class="text-start"><%= entry.ledgerable.reference %></td>
            <td class="text-end"><%= short_month_day_year(entry.transaction_date) %></td>
            <td class="text-start"><%= entry.payee %></td>
            <td class="text-start"><%= entry.description %></td>
            <td class="text-end"><%= to_curr(debit) %></td>
            <td class="text-end"><%= to_curr(credit) %></td>
            <td class="text-end"><%= to_curr(@initial_balance += debit - credit) %></td>
          </tr>
          <% if entry == @searched_ledgers.last %>
            <tr class="text-center">
              <td colspan="4" class="text-end fw-bolder">Total</td>
              <td class="text-end fw-bolder"><%= to_curr(@total_debit) %></td>
              <td class="text-end fw-bolder"><%= to_curr(@total_credit) %></td>
              <td class="text-end fw-bolder"><%= to_curr(@initial_balance) %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>