<div id="<%= dom_id reserve_batch %>">
  <p>
    <strong>Actuarial reserve:</strong>
    <%= reserve_batch.actuarial_reserve_id %>
  </p>

  <p>
    <strong>Batch:</strong>
    <%= reserve_batch.batch_id %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= reserve_batch.term %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= reserve_batch.rate %>
  </p>

  <p>
    <strong>Coverage less ri:</strong>
    <%= reserve_batch.coverage_less_ri %>
  </p>

  <p>
    <strong>Prem less ri:</strong>
    <%= reserve_batch.prem_less_ri %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= reserve_batch.duration %>
  </p>

  <p>
    <strong>First term:</strong>
    <%= reserve_batch.first_term %>
  </p>

  <p>
    <strong>Second term:</strong>
    <%= reserve_batch.second_term %>
  </p>

  <p>
    <strong>Third term:</strong>
    <%= reserve_batch.third_term %>
  </p>

  <p>
    <strong>Unearned prem:</strong>
    <%= reserve_batch.unearned_prem %>
  </p>

  <p>
    <strong>First adv prem:</strong>
    <%= reserve_batch.first_adv_prem %>
  </p>

  <p>
    <strong>Second adv prem:</strong>
    <%= reserve_batch.second_adv_prem %>
  </p>

  <p>
    <strong>Reserve:</strong>
    <%= reserve_batch.reserve %>
  </p>

  <p>
    <strong>Cov less ret:</strong>
    <%= reserve_batch.cov_less_ret %>
  </p>

  <p>
    <strong>Prem less ret:</strong>
    <%= reserve_batch.prem_less_ret %>
  </p>

  <p>
    <strong>Unearned pr:</strong>
    <%= reserve_batch.unearned_pr %>
  </p>

  <p>
    <strong>First adv pr:</strong>
    <%= reserve_batch.first_adv_pr %>
  </p>

  <p>
    <strong>Second adv pr:</strong>
    <%= reserve_batch.second_adv_pr %>
  </p>

  <p>
    <strong>Reserve ret:</strong>
    <%= reserve_batch.reserve_ret %>
  </p>

</div>
