<%= content_tag :h1, "List of Remarks" %>


<div class="text-end mb-3">
  <%= link_to new_remark_path, class: 'btn btn-primary' do %>
    New Remark
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Remark</th>
            <th>Remarkable</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% @remarks.each do |remark| %>
        <tr>

        <th scope="row"><%= remark.id %></th>
        <td><%= remark.remark %></td>
        <td><%= remark.remarkable %></td>
    
          <td>
            <%= link_to 'View', remark, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_remark_path(remark), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", remark, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
