
<%= simple_form_for(@batch_remark, url: batch_remarks_path(batch_type: @batch.class.name, batch_id: @batch.id)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs mb-3">
    <% if params[:coop] || ( !params[:batch_remark].nil? && params[:batch_remark][:batch_status] == 'For reconsideration' ) %>
      <%= f.input :remark, label: 'Reason' %>
    <% else %>
      <%= f.input :remark %>
    <% end %>
    <%= f.input :status, input_html: { value: @rem_status }, as: :hidden %>
    <%#= f.association :user %>
    <%= f.input :batch_status, input_html: { value: @batch_status }, as: :hidden %>
    <%= f.input :process_coverage, input_html: { value: @process_coverage }, as: :hidden %>
    <%# <%= f.input :batch_type, input_html: { value: @batch_type } %> 
  </div>
  <div class="form-actions text-end">
    <% if params[:coop] || ( !params[:batch_remark].nil? && params[:batch_remark][:batch_status] == 'For reconsideration' ) %>
      <%= f.button :submit, "Create Request",class: 'btn-success' %>

        <% if params[:batch_type] == 'BatchDependent' %>
          <% dependent = BatchDependent.find(@ref)%>
          <%= link_to "Remarks", dependent_remarks_path(
            batch_dependent_id: dependent.id, 
            group_remit_id: dependent.batch.group_remits.find_by(type: 'Remittance'), 
            batch_id: dependent.batch.id, coop: true), 
          class: 'btn btn-secondary', data: { turbo_frame: "reg_form_modal" } %>
        <% else %>
          <% if @batch.class.name == 'LoanInsurance::Batch' %>
            <%= link_to 'Remarks', modal_remarks_loan_insurance_batch_path(@batch), data: { turbo_frame: "reg_form_modal" }, class: 'btn btn-secondary', title: 'Remarks' %>
          <% else %>
            <%= link_to "Remarks", modal_remarks_group_remit_batch_path(@batch.group_remits.find_by(type: 'Remittance'), @batch), class: 'btn btn-secondary', data: { turbo_frame: "reg_form_modal" } %>
          <% end %>
        <% end %>
        
    <% elsif params[:for_und] %>
      <%= link_to 'Remarks', dependent_remarks_path(
                batch_dependent_id: @batch.id, 
                group_remit_id: @batch.batch.group_remits.find_by(type: 'Remittance').id, 
                batch_id: @batch.batch.id, 
                process_coverage_id: @process_coverage, 
                for_und: true), class: small_btn('secondary'), data: {turbo_frame: "reg_form_modal_xl"} %>
      <%= f.button :submit, class: small_btn('success') %>
    <% else %>
      <%# <%= link_to "Remarks", batch_remarks_path, class: 'btn btn-secondary' %> 
      <%= link_to "Remarks", modal_remarks_process_coverage_path(@process_coverage, batch: @batch), class: 'btn btn-secondary', data: { turbo_frame: "reg_form_modal" } %>
      <%= f.button :submit, class: 'btn-success' %>
    <% end %>
  </div>
<% end %>

