<div class="card" style="max-width: 500px;">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-9">
        <strong>Voucher Date: </strong>
        <%= month_day_year(journal.date_voucher) %>
      </div>
      <div class="col-3">
        <strong><%= "#{journal.formatted_voucher}" %></strong>
      </div>
    </div>
    <div class="row mb-3">
      <div>
        <p class="mb-0"><strong>Payee</strong></p>
        <%= journal.payable %>
      </div>
    </div>
    <div class="row mb-3">
      <div>
        <p class="mb-0"><strong>Address</strong></p>
        <%= journal.payable.get_address %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <p class="mb-0"><strong>Particulars</strong></p>
        <%= journal.particulars %>
      </div>
    </div>
  </div>
</div>
