<div class="<%= flex_justify_align('','center') %> gap-3 mb-3">
  <%= content_tag :h4, "Journal Vouchers", class: 'text-primary' %>
  <%= link_to new_accounting_journal_path, class: 'btn btn-sm btn-primary', data: {turbo_frame: 'modal'} do %>
    New Journal
  <% end %>
</div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Voucher</th>
        <th>Date</th>
        <th>Payee</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @journals.each do |journal| %>
        <tr>

        <th scope="row"><%= journal.id %></th>
        <td><%= journal.formatted_voucher %></td>
        <td><%= month_day_year(journal.date_voucher) %></td>
        <td><%= journal.payable %></td>

        <td class="text-center"> 
          <%= link_to journal, class: 'btn btn-outline-primary btn-sm', title: 'View' do %>
            <i class="bi bi-eye"></i>
          <% end %>
        </td>

        </tr>
      <% end %>
    </tbody>
  </table>
