  <div class="mb-1">
    <% if @journal.requestable.present? %>
      <%= link_to  accounting_journal_voucher_request_path(@journal.requestable), class: small_btn("secondary"), title: 'Back' do %>
        <i class="bi bi-chevron-left"></i>
      <% end %>
    <% else %>
      <%= link_to  accounting_journals_path, class: small_btn("secondary"), title: 'Back' do %>
        <i class="bi bi-chevron-left"></i>
      <% end %>
    <% end %>

    <%#= link_to  'Download Voucher', download_accounting_check_path(@check, format: :pdf), class: small_btn('success'), target: '_blank'%>
     <% if @journal.posted? %>
      <%= link_to  'Download', download_accounting_journal_path(@journal, format: :pdf), class: small_btn('warning'), target: '_blank'%>
    <% end %>
  </div>

<%= render @journal %>

<div class="card">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="ledger-tab" data-bs-toggle="tab" data-bs-target="#ledger" type="button" role="tab" aria-controls="ledger" aria-selected="true">Ledger</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="ledger" role="tabpanel" aria-labelledby="ledger-tab">
      <%= render 'payments/entries/ledger', ledgers: @ledgers, entry: @journal  %>
    </div>
  </div>
</div>