<div class="mb-3">
	<%= link_to 'Back', coop_members_path, class: small_btn('secondary') %>
</div>
<div class="<%= flex_justify_align('', 'center') %> gap-1 mb-3">
  <%= content_tag :h6, "Denied Enrollees", class: 'mb-0' %>
</div>

		<table class="table table-hover">
		<thead>
		<tr class="table-dark">
      <th></th>
			<th class="text-center" scope="col">Name</th>
			<th class="text-center" scope="col">Reason</th>
		</tr>
		</thead>

		<tbody id="batches_body">
			<% @denied_enrollees.each do |e| %>
				<tr class="text-muted">
          <td class="text-center" style="font-size: .7rem;">
						<%= button_to denied_enrollee_path(e), 
              method: :delete,
              class: small_btn('danger') do %>
                  <i class="bi bi-x-lg"></i>                    
            <% end %>
					</td>
					<td class="<%= flex_justify_align('center') %>">
						<div class="" style="width: 250px; font-size: .7rem;">
							<%= e.name %>
						</div>
					</td>
					<td class="text-center" style="font-size: .7rem;">
						<%= e.reason %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>