
<%= simple_form_for(@user_level) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.association :user %>
    <% authority_levels = AuthorityLevel.all.map { |au| [to_currency(au.maxAmount ), au.id] } %>
    <%= f.association :authority_level, collection: authority_levels, prompt: "Select Authority Level" %>
    <%= f.input :active %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", user_levels_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
