<%= content_tag :h1, "List of User Levels" %>
<div class="text-end mb-3">
  <%= link_to new_user_level_path, class: 'btn btn-primary' do %>
    New User Level
  <% end %>
</div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Authority Level</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @uls = @user_levels.find_by_sql('select user_id from user_levels group by user_id') %>
      <% @uls.each do |user_id| %>
        <tr>
          <% user = User.find(user_id.user_id) %>
          <th scope="row"><%= user.id %></th>
          <td><strong><%= user.get_fullname %></strong> <br>
            <small><%= user.userable.designation %></small> <br>
            
            <table class="table">
              <thead><tr>
                <td>Authority Level</td>
                <td>Amount</td>
                <th></th>
              </tr></thead>
              <tbody>
                <% @user_levels.where(user_id: user_id.user_id).each do |user_level| %>
                  <tr>
                    <td><small><%= user_level.authority_level.name %></small>  <small><%= badge_pill(user_level.active) %></small></td>
                    <td><%= to_currency(user_level.authority_level.maxAmount) %></td>
                    <td>
                      <%= link_to 'Edit', edit_user_level_path(user_level), class: 'btn btn-secondary btn-sm' %>
                      <%= link_to "Delete", user_level, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %></td>
                  </tr>
                <% end %>

              </tbody>
            </table>
          </td>
          <td>
            <%#= link_to 'View', user_level, class: 'btn btn-secondary btn-sm' %>
            
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%# console %>
