
<% anniv = agreement.anniversary_type %>

<div id="<%= dom_id(agreement) %>" class="row <%= flex_justify_align('between') %>">
  <% agreement_presenter = AgreementPresenter.new(agreement) %>

  <div class="<%= flex_justify_align('', 'center', true) %> gap-3">
    <% agreement.group_remits.where(type: 'BatchRemit').decorate.each do |batch_remit| %>
      <div class="card">
        <div class="card-body d-flex flex-column" style="width: 400px">

          <% if batch_remit.remaining_days <= 90 && batch_remit.remaining_days > 0 %>
            <div class="">
              <span class="<%= badge("#{batch_remit.countdown_color}") %>">
                  Expiry : <%= batch_remit.remaining_days %> days
              </span>
            </div>
          <% end %>

          <div class="mb-1 <%= flex_justify_align('between', 'center') %>">
            <div class="<%= flex_justify_align('','center') %> gap-1">
              <span class="<%= batch_remit.status_badge %>">
                <%= batch_remit.status_text %>
              </span>
            </div>
            <div class="">
              <%= link_to 'View Batch', coop_agreement_group_remit_path(@agreement, batch_remit), 
                class: small_btn('primary'), 
                data: { turbo: false } 
              %>
              <%= link_to 'Remittances', '#',
                class: small_btn('outline-warning'),
                data: { action: "click->toggler#toggle", id: "history-#{batch_remit.id}" }
              %>
            </div>
          </div>
          <%= content_tag :span, "#{batch_remit.name}", class: 'mb-1 text-primary' %>
          <%= render 'submitted_field', group_remit: batch_remit %>
        </div>
      </div>
    <% end %>

    <% if anniv == 'multiple' %>
      <% sorted_annivs = @filtered_anniversaries.sort_by(&:anniversary_date) %>

      <% sorted_annivs.each do |anniv| %>
        <div class="card">
          <div class="card-body d-flex flex-column" style="width: 400px">
            <%= render 'agreement_field', 
              name: 'Anniversary Date', 
              value: date_as_month_day(anniv.anniversary_date), 
              margin: ''
            %>            
            <div class="mt-4 text-center">
              <%= button_to "New Batch", group_remits_path, 
                method: :post, 
                params: { 
                  agreement_id: agreement.id, 
                  anniversary_id: anniv.id, 
                  anniv_type: 'multiple',
                  type: 'BatchRemit'
                }, 
                class: small_btn('success'), 
                data: { turbo: false } %>
            </div>
          </div>
        </div>
      <% end %>
      
    <% end %>

  </div>
</div>
