<% if !@agreement.group_remits.blank? %>
	<div class="<%= flex_justify_align('', '', true) %> gap-1">

		<% @agreement.group_remits.includes(:anniversary).order(created_at: :desc).each do |group_remit| %>
			<% gr_presenter = GroupRemitPresenter.new(group_remit)%>
			<div class="card <%= @agreement.anniversary_type == 'multiple' ? 'hidden' : '' %>" data-toggler-target="toggleable" data-id="history_<%= group_remit.anniversary.nil? ? '' : dom_id(group_remit.anniversary) %>">
				<div class="card-body <%= flex_justify_align('between', 'center') %> gap-1">
					<div class="<%= flex_justify_align('', '', true) %> gap-3" style="width: 100%">
						<% if gr_presenter.remaining_days <= 90 && gr_presenter.remaining_days > 0%>
							<div class="">
								<%= content_tag :span, "#{gr_presenter.remaining_days} days until expiry", class: badge(gr_presenter.countdown_color) %>
							</div>
						<% end %>
						<% if plan_acronym == 'PMFC' || @agreement.anniversary_type == 'none' %>
							<div class="">
								<div class="<%= flex_justify_align('between', 'center') %> mb-3">
									<div class="<%= flex_justify_align('', 'center') %> gap-2">
										<span class="<%= gr_presenter.status_badge %>">
											<%= gr_presenter.status_text %>
										</span>
										<%= content_tag :span, "#{@agreement.moa_no} #{group_remit.effectivity_date.strftime('%B').upcase} BATCH"%>										
									</div>
									<%= link_to 'View', group_remit_path(group_remit), class: small_btn('outline-warning') %>
								</div>
								<div class="<%= flex_justify_align('around') %> gap-3 text-muted small">
									
									<div class="">
										<%= content_tag :span, 'Effectivity date: ' %>
										<span> 

										<% if group_remit.effectivity_date.present? %>
											<%= date_as_month_day_year(group_remit.effectivity_date) %>
										<% else %>
											Tentative
										<% end %>

										</span>
									</div>
									<div class="">
										<%= content_tag :span, 'Expiry date: ' %>
										<span> 

											<% if group_remit.expiry_date.present? %>
												<%= date_as_month_day_year(group_remit.expiry_date) %>
											<% else %>
												Tentative
											<% end %>

										</span>
									</div>
									<div class="">
										<%= content_tag :span, 'Participants: ' %>
										<span> 
											<%= group_remit.batches.where(insurance_status: :approved).size %>
										</span>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>

	</div>
<% else %>
	<div class="text-center">

		<% if plan_acronym == 'PMFC' || @agreement.anniversary_type == 'none'%>
			<p class="text-muted">No remmitance yet.</p>
		<% else %>
			<p class="text-muted">No history yet.</p>
		<% end %>

	</div>
<% end %>

