<% if !@agreement.group_remits.blank? %>
	<div class="<%= flex_justify_align('', '', true) %> gap-1">

		<% @agreement.group_remits.includes(:anniversary).where(type: 'Remittance').order(created_at: :desc).decorate.each do |group_remit| %>
			<% batch_remit = @agreement.group_remits.find_by(type: 'BatchRemit', id: group_remit.batch_remit_id )%>

			<div class="card hidden" data-toggler-target="toggleable" data-id="history-<%= batch_remit.id %>">
				<div class="card-body <%= flex_justify_align('between', 'start') %> gap-1">
					<div class="<%= flex_justify_align('', '', true) %> gap-3">
						<div class="">
							<span class="<%= group_remit.status_badge %>" style="max-width: 200px;">
								<%= group_remit.status_text %>
							</span>
						</div>
						<%= content_tag :span, "#{group_remit.name}", class: 'mb-1 text-primary' %>

							<div class="<%= flex_justify_align('center','', true) %>">
								<div class="text-secondary small <%= flex_justify_align('between') %>" style="width: 300px">
									<%= content_tag :span, 'Created date: ' %>
									<%= content_tag :span, date_as_month_day_year(group_remit.created_at) %>
								</div>
								<div class="text-secondary small <%= flex_justify_align('between') %>" style="width: 300px">
									<%= content_tag :span, 'Submitted date: ' %>
									<%= content_tag :span, "#{group_remit.date_submitted.present? ? date_as_month_day_year(group_remit.date_submitted) : 'Pending'}" %>
								</div>
								<div class="text-secondary small <%= flex_justify_align('between') %>">
										<%= content_tag :span, 'Approved Participants: ' %>
										<%= content_tag :span, group_remit.batches.where(insurance_status: :approved).size %>
								</div>
								<div class="text-secondary small <%= flex_justify_align('between') %>">
										<%= content_tag :span, 'Net Premium: ' %>
										<%= content_tag :span, peso_currency(group_remit.coop_net_premium) %>
								</div>
							</div>

					</div>
					<%= link_to 'View', group_remit_path(group_remit), class: small_btn('primary') %>
				</div>
			</div>
		<% end %>

	</div>
<% else %>
	<div class="text-center">

		<% if plan_acronym == 'PMFC' || @agreement.anniversary_type == 'none'%>
			<p class="text-muted">No remmitance yet.</p>
		<% else %>
			<p class="text-muted">No history yet.</p>
		<% end %>

	</div>
<% end %>