<% if !@agreement.group_remits.blank? %>
	<div class="<%= flex_justify_align('', '', true) %> gap-1">

		<% @agreement.group_remits.includes(:anniversary).where(type: 'Remittance').order(created_at: :desc).each do |group_remit| %>
			<% gr_presenter = GroupRemitPresenter.new(group_remit)%>

			<% if @agreement.anniversary_type == 'none' ||  @agreement.anniversary_type.nil? %>
				<% batch_remit = @agreement.group_remits.find_by(type: 'BatchRemit', expiry_date: group_remit.expiry_date )%>
			<% else %>
				<% batch_remit = @agreement.group_remits.find_by(type: 'BatchRemit', anniversary_id: group_remit.anniversary_id )%>
			<% end %>

			<div class="card hidden" data-toggler-target="toggleable" data-id="history-<%= batch_remit.id %>">
				<div class="card-body <%= flex_justify_align('between', 'start') %> gap-1">
					<div class="<%= flex_justify_align('', '', true) %> gap-3">
						<div class="">
							<span class="<%= gr_presenter.status_badge %>" style="max-width: 200px;">
								<%= gr_presenter.status_text %>
							</span>
						</div>
						<%= content_tag :span, "#{group_remit.name}", class: 'mb-1' %>

							<div class="<%= flex_justify_align('center','', true) %>">
								<div class="text-secondary small <%= flex_justify_align('between') %>" style="width: 300px">
									<%= content_tag :span, 'Created date: ' %>
									<span> 

									<% if group_remit.effectivity_date.present? %>
										<%= date_as_month_day_year(group_remit.created_at) %>
									<% else %>
										Tentative
									<% end %>

									</span>
								</div>
								<div class="text-secondary small <%= flex_justify_align('between') %>">
										<%= content_tag :span, 'Approved Participants: ' %>
										<%= content_tag :span, group_remit.batches.where(insurance_status: :approved).size %>
								</div>
								<div class="text-secondary small <%= flex_justify_align('between') %>">
										<%= content_tag :span, 'Net Premium: ' %>
										<%= content_tag :span, peso_currency(group_remit.coop_net_premium) %>
								</div>
							</div>

					</div>
					<%= link_to 'View', group_remit_path(group_remit), class: small_btn('secondary') %>
				</div>
			</div>
		<% end %>

	</div>
<% else %>
	<div class="text-center">

		<% if plan_acronym == 'PMFC' || @agreement.anniversary_type == 'none'%>
			<p class="text-muted">No remmitance yet.</p>
		<% else %>
			<p class="text-muted">No history yet.</p>
		<% end %>

	</div>
<% end %>