<% plan_acronym = @agreement.plan.acronym %>

<div class="mb-3 d-flex">
  <%= content_tag :h3, @agreement.plan.name %>
</div>

  <div class="d-flex gap-3" data-controller="toggler">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="<%= flex_justify_align('between', 'center') %>">
            <div class="gap-1">
              <h6 class="card-title mb-1">
                <%= @agreement.moa_no %>
              </h6>
              <div class="small text-muted <%= flex_justify_align('', '', true) %>">

                <% if @agreement.anniversary_type == 'single' %>
                  <%= content_tag :span, "Anniversary Date: #{@agreement.anniversaries[0].anniversary_date.strftime('%B %d')}" %>
                <% end %>

                <%= content_tag :span, "Required Minimum Participants: #{@agreement.minimum_participation}" %>
                <%= content_tag :span, "Current Approved Participants: #{@agreement.group_remits.where(type: 'BatchRemit', status: :active).joins(:batches).size
}" %>
              </div>
            </div>

            <% if plan_acronym == 'PMFC' %>

              <%= simple_form_for @agreement.group_remits.new, url: group_remits_path, method: :post do |f| %>
                <%= hidden_field_tag :agreement_id, @agreement.id %>
                <%= hidden_field_tag :anniversary_id, nil %>
                <%= hidden_field_tag :type, 'BatchRemit' %>
                <%= f.input :terms, as: :select, collection: [
                  ["3 months", 3], 
                  ["4 months", 4], 
                  ["5 months", 5], 
                  ["6 months", 6], 
                  ["9 months", 9], 
                  ["12 months", 12]
                ], include_blank: "Term duration", input_html: { style: "width: 250px !important" }, label: false %>
                <%= f.button :submit, "New Batch", class: small_btn('success') %>
              <% end %>
            <% elsif @agreement.anniversary_type == 'none' or @agreement.anniversary_type.nil? %>
              <% current_batch_remit = @agreement.group_remits.find_by(type: 'BatchRemit', effectivity_date: Date.today.beginning_of_month)%>

              <% unless current_batch_remit.present? %>
                <%= button_to "New Batch", group_remits_path, 
                  method: :post, 
                  params: { 
                    agreement_id: @agreement.id, 
                    anniversary_id: nil,
                    anniv_type: 'none',
                    type: 'BatchRemit'
                  }, 
                  class: small_btn('success'), 
                  data: { turbo: false } 
                %>
              <% end %>

            <% elsif @agreement.anniversary_type == 'single' %>
              <% current_batch_remit = @agreement.group_remits.find_by(type: 'BatchRemit')%>

              <% unless current_batch_remit.present? %>
                <%= button_to "New Batch", group_remits_path, 
                  method: :post, 
                  params: { 
                    agreement_id: @agreement.id, 
                    anniversary_id: @agreement.anniversaries[0].id,
                    anniv_type: 'single',
                    type: 'BatchRemit'
                  }, 
                  class: small_btn('success'), 
                  data: { turbo: false } 
                %>
              <% end %>
            <% end %>

          </div>
          <hr>
          <div class="<%= flex_justify_align('center', 'center') %>">
            <%= render 'coop_agreements/agreement', agreement: @agreement %>
          </div>
        </div>
        <div class="card-footer <%= flex_justify_align('between') %>">
          <small class="text-muted">Agent: <%= @agreement.agent.full_name %></small>
          <small class="text-muted">Updated: <%= time_ago_in_words(@agreement.updated_at) %></small>
        </div>
      </div>
    </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="<%= flex_justify_align('between', 'center') %>">
              <div class="d-flex gap-1">
                  <h6 class="card-title mb-0">Remittances</h6>
              </div>
            </div>
            <hr>
            <%= render 'history', plan_acronym: plan_acronym %>
          </div>
        </div>
      </div>
  </div>
  
<% console %>