<% plan_acronym = @agreement.plan.acronym %>

<div class="mb-3 d-flex">
  <%= link_to 'GYRT', coop_agreements_path, class: small_btn('secondary') %>
</div>

  <div class="d-flex gap-3" data-controller="toggler">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="<%= flex_justify_align('between', 'center') %>">
            <div class="gap-1">
              <h6 class="card-title mb-0">
              <% if plan_acronym == 'PMFC' %>
                Latest Group Remit
              <% else %>
                <%= @agreement.moa_no %>
              <% end %>
              </h6>
            </div>
            <% if plan_acronym == 'PMFC' || @agreement.anniversary_type == 'none' %>
              <%= button_to "New Batch", group_remits_path, 
                method: :post, 
                params: { 
                  agreement_id: @agreement.id, 
                  anniversary_id: nil,
                  anniv_type: 'none' 
                }, 
                class: small_btn('success'), 
                data: { turbo: false } 
              %>
            <% end %>
          </div>
          <hr>
          <div class="<%= flex_justify_align('center', 'center') %>">
            <%= render 'coop_agreements/agreement', agreement: @agreement %>
          </div>
        </div>
        <div class="card-footer <%= flex_justify_align('between') %>">
          <small class="text-muted">Agent: <%= @agreement.agent.full_name %></small>
          <small class="text-muted">Updated: <%= time_ago_in_words(@agreement.updated_at) %></small>
        </div>
      </div>
    </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="<%= flex_justify_align('between', 'center') %>">
              <div class="d-flex gap-1">

                <% if plan_acronym == 'PMFC' || @agreement.anniversary_type == 'none' %>
                  <h6 class="card-title mb-0">Group Remittances</h6>
                <% else %>
                  <h6 class="card-title mb-0">History</h6>
                <% end %>

              </div>
            </div>
            <hr>
            <%= render 'history', plan_acronym: plan_acronym %>
          </div>
        </div>
      </div>
  </div>
  

  