
<%= simple_form_for(@reinsurance, data: { controller: "flatpickr2" }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <div class="row">
      <div class="col-6">
        <%= f.date_field :date_from, class: "start_time form-control" %>
      </div>
      <div class="col-6">
        <%= f.date_field :date_from, class: "end_time form-control"%>
      </div>
    </div>

  <div class="form-actions text-end">
    <%= link_to "Back", reinsurances_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
