
<%= simple_form_for(@reinsurance) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :date_from %>
    <%= f.input :date_to %>
    <%= f.input :ri_total_amount %>
    <%= f.input :ri_total_prem %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", reinsurances_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
