<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Reinsurance Period: <i><%= reinsurance.date_from.strftime('%B %d, %Y') %> to <%= reinsurance.date_to.strftime('%B %d, %Y') %></i></h5>
    <p class="card-text">
      Total R.I. Coverage: <b><%= to_currency(reinsurance.ri_total_amount) %></b> <br>
      Total R.I. Premium: <b><%= to_currency(reinsurance.ri_total_prem) %></b>
    </p>

    <%= link_to "Back", reinsurances_path, class: 'btn btn-outline-secondary' %>
    <%= link_to ri_csv_path(id: @reinsurance.id), class: "btn btn-outline-primary" do %>
      <%= bootstrap_icon "file-pdf-fill" %> Download
    <% end %>
    
  </div>
</div>


  <%= turbo_frame_tag "ri_mem_pagination" do %>
    <div class="float-end mb-2">
      <%= render PaginationComponent.new(results: @pagy_ri_members) %>
    </div>
    <table class="table">
      <thead>
        <th>Name</th>
      </thead>
      <tbody>
        <% @filtered_ri_members.each do |ri_member| %>
          <tr>
            <td>
              <%= content_tag :h3, ri_member.member %> <br>
              
              <table class="table">
                <thead>
                  <th>Cooperative</th>
                  <th>Loan Amount</th>
                  <th>Terms</th>
                  <th>Premium</th>
                  <th>RI Date</th>
                </thead>
                <tbody>
                  <% ri_member.reinsurance_batches.each do |ri_batch| %>
                  <tr>
                      <td><%= ri_batch.batch.coop_member.cooperative %></td>
                      <td><%= to_currency(ri_batch.batch.loan_amount) %></td>
                      <td>
                        <%= process_dates("Eff", month_day_year(ri_batch.batch.effectivity_date)) %> <br>
                        <%= process_dates("Exp", month_day_year(ri_batch.batch.expiry_date)) %> <br>
                        <%= process_dates("Terms", ri_batch.batch.terms) %><br>
                      </td>
                      <td><%= to_currency(ri_batch.batch.premium_due) %></td>
                      <td>
                        <%= process_dates("RI Eff", month_day_year(ri_batch.batch.get_ri_eff_exp(reinsurance.id, "eff"))) %> <br>
                        <%= process_dates("RI Exp", month_day_year(ri_batch.batch.get_ri_eff_exp(reinsurance.id, "exp"))) %> <br>
                        <%= process_dates("RI Terms", ri_batch.batch.get_ri_eff_exp(reinsurance.id, "terms")) %>
                      </td>
                      <td>
                        <%# unless ri_batch.batch.reinsurance_batches.joins(:reinsurance_member).find_by(reinsurance_member: {reinsurance: reinsurance}).reinsurer_ri_batch %>
                          <%#= link_to "Set", new_reinsurer_ri_batch_path(reinsurance_batch: ri_batch.batch.get_ri_batch_id(reinsurance)) %>
                        <%# else %>
                          <%#= link_to "View", ri_batch.batch.reinsurance_batches.find_by(reinsurance: reinsurance).reinsurer_ri_batch %>
                        <%# end %>
                        
                      </td>
                    </tr>
                  
                  <% end %>
                  <tr>
                    <td></td>
                    <td> 
                      Total Loan Amount: <%= to_currency(ri_member.sum_loan_amount) %>
                    </td>
                    <td colspan=2>
                      Reinsurance Amount: <%= to_currency(ri_member.ri_amount) %>
                    </td>
                    <td colspan=2>
                      Reinsurance Premium: <%= to_currency(ri_member.ri_prem) %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>