<div id="<%= dom_id reinsurance %>">
  <p>
    <strong>Date from:</strong>
    <%= reinsurance.date_from %>
  </p>

  <p>
    <strong>Date to:</strong>
    <%= reinsurance.date_to %>
  </p>

  <p>
    <strong>Ri total amount:</strong>
    <%= reinsurance.ri_total_amount %>
  </p>

  <p>
    <strong>Ri total prem:</strong>
    <%= reinsurance.ri_total_prem %>
  </p>

</div>
