<div class="col-md-8">
  <div class="accordion" id="accordionFilter">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">Filters</button>
      </h2>
      <div id="collapseFilter" class="accordion-collapse collapse" data-bs-parent="#accordionFilter">
        <div class="accordion-body">
          <%= link_to "18-65 New", process_coverage_path(process_coverage, search: "regular_new"), class: "btn btn-sm btn-outline-primary mb-1"  %>
          <%= link_to "18-65 Renewal", process_coverage_path(process_coverage, search: "regular_ren"), class: "btn btn-sm btn-outline-primary mb-1" %>
          <%= link_to "Overage", process_coverage_path(process_coverage, search: "overage"), class: "btn btn-sm btn-outline-warning mb-1"  %>
          <%= link_to "w/ Health Dec", process_coverage_path(process_coverage, search: "health_decs"), class: "btn btn-sm btn-outline-secondary mb-1"  %>
          <%= link_to "For Reconsider", process_coverage_path(process_coverage, search: "reconsider"), class: "btn btn-sm btn-outline-info mb-1"  %>
          <%= link_to "View All", process_coverage_path(process_coverage), class: "btn btn-sm btn-outline-success mb-1"  %>
          <hr>
          <% insured_types2.each do |type| %>
            <% i_type = type.insured_type_before_type_cast %>
            <% unless i_type == 2..5 %>
              <%= link_to type.name, process_coverage_path(process_coverage, insured_type: type), class: "btn btn-primary btn-sm mb-1" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>