<div id="<%= dom_id proposal %>">
  <p>
    <strong>Cooperative:</strong>
    <%= proposal.cooperative_id %>
  </p>

  <p>
    <strong>Ave age:</strong>
    <%= proposal.ave_age %>
  </p>

  <p>
    <strong>Total premium:</strong>
    <%= proposal.total_premium %>
  </p>

  <p>
    <strong>Coop sf:</strong>
    <%= proposal.coop_sf %>
  </p>

  <p>
    <strong>Agent sf:</strong>
    <%= proposal.agent_sf %>
  </p>

</div>
