<div class="<%= flex_justify_align('', 'center') %> gap-1 mb-3">
  <%= content_tag :h4, "Debit Advices", class: 'text-primary mb-0' %>
</div>

<div class="<%= flex_justify_align('between','center') %> gap-3 mb-3">   
  <div class="d-flex gap-1">
    <%= search_form_for @q, url: treasury_debit_advices_path do |f| %>
      <div class="d-flex gap-1">
        <%= f.text_field :voucher_cont, class: 'form-control', placeholder: 'Search DA' %>
        <%= button_tag(type: 'submit', class: small_btn('warning text-dark'), value: 'branches', style: 'width: 40px') do %>
          <i class='bi bi-search'></i>
        <% end %>
      </div>
    <% end %>

    <%= link_to treasury_debit_advices_path, class: "btn btn-secondary", title: "Reload" do %>
      <i class="bi bi-arrow-clockwise"></i>
    <% end %>
  </div>

  <% if @pagy.pages > 1 %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th class="text-center" style="min-width: 125px;">DA No.</th>
        <th class="text-center" style="min-width: 125px;">Date</th>
        <th>Payee</th>
        <th class="text-center">Amount</th>
        <th class="text-center">Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% if @debit_advices.present? %>
        <% @debit_advices.each do |da| %>
          <tr>
            <td class="text-center">
              <%= da.voucher %>
            </td>
            <td class="text-center"><%= short_month_day_year(da.date_voucher) %></td>
            <td><%= da.payable %></td>
            <td class="text-end"><%= to_curr(da.amount) %></td>
            <td class="text-center">
              <span class="<%= da.decorate.payout_status_badge %>"><%= da.payout_status.titleize %></span>
            </td>    
            <td class="text-center">
              <%= link_to da, class: small_btn('outline-primary'), title: 'View' do %>
                <i class="bi bi-eye-fill"></i>
              <% end %>
            </td>
          </tr> 
        <% end %>
      <% else %>
        <tr>
          <td colspan="7" class="text-center">No debit advices found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
