<div id="<%= dom_id koopamilya_ab %>">
  <p>
    <strong>Name:</strong>
    <%= koopamilya_ab.name %>
  </p>

  <p>
    <strong>Min age:</strong>
    <%= koopamilya_ab.min_age %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= koopamilya_ab.max_age %>
  </p>

  <p>
    <strong>Insured type:</strong>
    <%= koopamilya_ab.insured_type %>
  </p>

  <p>
    <strong>Exit age:</strong>
    <%= koopamilya_ab.exit_age %>
  </p>

</div>
