<%= render 'attachments' %>

<div class="mb-1">
  <%= link_to accounting_voucher_requests_path(pt: @request.payment_type.to_s), class: small_btn('secondary'), title: 'black' do %>
    <i class="bi bi-chevron-left"></i>
  <% end %>

  <% if @vouchers.empty? || @vouchers.all?(&:cancelled?) %>
    <%= render 'new_voucher_btn' %>
  <% end %>
  <%= content_tag :button, "Attachments", 
    class: small_btn('outline-primary'), 
    data: {bs_toggle: "modal",
      bs_target: "#attachmentsModal"
    }
  %>
</div>
<div class="d-flex gap-3">
  <%= render 'request', request: @request %>
  <div class="" style="width: 50%;">
    <div class="<%= flex_justify_align('between', 'center') %> gap-1 mb-1">
      <% if @pagy.pages > 1 %>
        <%== pagy_bootstrap_nav(@pagy) %>
      <% end %>
    </div>
    <table class="<%= table_sm_hoverable %>">
      <thead class="table-dark">
        <tr>
          <th class="text-center">Date</th>
          <th class="text-center"><%= @request.debit_advice? ? "DA No." : "Voucher No." %></th>
          <th class="text-center">Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% if @vouchers.present? %>
          <% @vouchers.order(created_at: :desc ).each do |v| %>
            <tr>
              <td class="text-center align-middle"><%= short_month_day_year(v.date_voucher) %></td>
              <td class="text-center align-middle">
                <%= (@request.check_voucher? ? 'CV' : '') + v.voucher %>
              </td>
              <td class="text-center align-middle">
                <span class="text-center <%= v.decorate.status_badge %>"><%= v.status.titleize %></span>
              </td>
              <td class="text-center">
                <%= link_to v, class: small_btn('outline-primary'), title: 'View' do %>
                  <i class="bi bi-eye-fill"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="7" class="text-center">No records found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>