<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card text-dark bg-light mb-3 h-100">
      <div class="card-body">
        <p class="text-dark card-title">COOPERATIVE COUNT</p>
        <h2 class="text-dark"><%= num_delimit(@cooperatives.count) %></h2>
      </div>
      <div class="card-footer"><small>
        <%= link_to "Go to Cooperative List", cooperatives_path, class: "link-primary" %> 
      </small></div>
    </div>
  </div>
  <div class="col-md-8 mb-3">
    <div class="card-group h-100">
      <div class="card bg-info">
        <div class="card-body">
          <p class="text-dark card-title">OVERALL</p>
          <h2 class="text-dark"><%= @agreements.count %></h2>
        </div>
        <div class="card-footer">
          <%= link_to "View", modal_list_agreements_path(agreements: "all"), data: { turbo_frame: "modal-xl" }, class: "link-dark" %>
        </div>
      </div>
      <div class="card bg-success">
        <div class="card-body">
          <p class="text-light card-title">LPPI</p>
          <h2 class="text-light"><%= @lppi_agreements.count %></h2>
        </div>
        <div class="card-footer">
          <%= link_to "View", modal_list_agreements_path(agreements: "lppi"), data: { turbo_frame: "modal-xl" }, class: "link-light" %>
        </div>
      </div>
      <div class="card bg-warning">
        <div class="card-body">
          <p class="text-dark card-title">GYRT</p>
          <h2 class="text-dark"><%= @gyrt_agreements.count %></h2>
        </div>
        <div class="card-footer">
          <%= link_to "View", modal_list_agreements_path(agreements: "gyrt"), data: { turbo_frame: "modal-xl" }, class: "link-dark" %>
        </div>
      </div>
      <div class="card bg-secondary">
        <div class="card-body">
          <p class="text-light card-title">OTHER PLANS</p>
          <h2 class="text-light"><%= 0 %></h2>
        </div>
        <div class="card-footer">
          <%= link_to "View", "#", class: "link-light" %>
        </div>
      </div>
    </div>
  </div>
</div>