<div class="container mt-5">
  <div class="welcome-message text-center">
    <h1 class="display-4">Welcome back, <%= current_user.userable.get_fullname %>!</h1>
    <p class="lead">We hope you’re having a great day. Here's what’s happening in your account today:</p>
  </div>

  <% if current_user.userable_type == "CoopUser" %>
    <%= render 'cooperative' %>
  <% elsif current_user.userable_type == "Employee" %>
    <% case current_user.userable.department_id %>
      <% when 14 %>
          <%= render 'actuarial' %>
      <% when 19 %>
          <%= render 'claims' unless @claims_user_authority_level.nil? %>
      <% when 26 %>
          <%= render 'treasury' %>
      <% when 15 %>
          <%= render 'mis' %>
      <% when 11 %>
          <%= render 'accounting' %>
      <% when 13 %>
        <% if current_user.senior_officer? %>
          <%= render 'coso' %>
        <% end %>
    <% end %>
  <% end %>
</div>
