<div id="<%= dom_id claim_type %>">
  <div class="card">
    <div class="card-header">
      <h3><%= claim_type.name %></h3>
      <%= claim_type.description %>
      <%# claim_type_documents = claim_type.claim_type_documents %>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <%= render 'claims/claim_type_documents/show_claim_type_documents' %>
        </div>
        <div class="col-md-6">
          <%= render 'claims/claim_type_benefits/show_claim_type_benefits' %>
          <%#= render 'claims/claim_type_natures/show_claim_type_natures' %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to "Edit", edit_claims_claim_type_path(@claim_type), class: 'btn btn-primary' %> |
      <%= link_to "Back", claims_claim_types_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
