<h1>Underwriting Head</h1>

<div class="row">
  <% current_date = Time.now %>
  <div class="col-4 mb-2">
    <div class="card text-white bg-success">
      <div class="card-header">
        Approved Process Coverages
      </div>
      <div class="card-body">
      Year: <%= link_to pluralize(@approved_process_coverages.where(created_at: ..current_date.end_of_year).count, "Coverage"), cov_list_process_coverages_path(cov_type: "Approved", title: "Approved PCs"), class: "link-light", data: { turbo_frame: "remote_modal" } %> <br>
      Month: <%= pluralize(@approved_process_coverages.where(created_at: start_month(current_date)..end_month(current_date)).count, "Coverage") %> <br>
      Week: <%= pluralize(@approved_process_coverages.where(created_at: start_week(current_date)..end_week(current_date)).count, "Coverage") %>
      </div>
    </div>
  </div>

  <div class="col-4 mb-2">
    <div class="card text-white bg-secondary">
      <div class="card-header">
        Pending Process Coverages
      </div>
      <div class="card-body">
      Year: <%= link_to pluralize(@pending_process_coverages.where(created_at: current_date.beginning_of_year..current_date.end_of_year).count, "Coverage"), cov_list_process_coverages_path(cov_type: "Pending", title: "Pending PCs"), class: "link-light", data: { turbo_frame: "remote_modal" } %> <br>
      Month: <%= pluralize(@pending_process_coverages.where(created_at: start_month(current_date)..end_month(current_date)).count, "Coverage") %> <br>
      Week: <%= pluralize(@pending_process_coverages.where(created_at: start_week(current_date)..end_week(current_date.end_of_year)).count, "Coverage") %> <br>
      </div>
    </div>
  </div>

  <div class="col-4 mb-2">
    <div class="card text-white bg-danger">
      <div class="card-header">
        Denied Process Coverages
      </div>
      <div class="card-body">
      Count: <%= link_to @denied_process_coverages.count, cov_list_process_coverages_path(cov_type: "Denied", title: "Denied PCs"), class: "link-light", data: { turbo_frame: "remote_modal" } %>
      </div>
    </div>
  </div>

</div>
