<table class="table">
  <thead>
    <th>ID</th>
    <th>Group Remit</th>
    <th>Plan</th>
    <th>Agent</th>
    <th>Terms</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% unless process_coverages.count == 0 %>
      <% process_coverages.each do |pc| %>
        <tr>
          <%  %>
          <% term = pc.effectivity.nil? ? 0 : (pc.expiry.year * 12 + pc.expiry.month) - (pc.effectivity.year * 12 + pc.effectivity.month)%>
          <td><%= pc.id %></td>
          <td><%= link_to pc.group_remit, pc, data: {turbo: false} %></td>
          <td><%= pc.group_remit.agreement.plan %></td>
          <td><%= pc.agent %></td>
          <td><%= term %></td>
          <td><%= pc.status %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <%= content_tag :td, "NO RECORD(S)", colspan: 6, class: "lead text-center" %>
      </tr>
    <% end %>
  </tbody>
</table>
