<div id="<%= dom_id process_coverage %>">
  <p>
    <strong>Group remit:</strong>
    <%= process_coverage.group_remit_id %>
  </p>

  <p>
    <strong>Agent:</strong>
    <%= process_coverage.agent_id %>
  </p>

  <p>
    <strong>Effectivity:</strong>
    <%= process_coverage.effectivity %>
  </p>

  <p>
    <strong>Expiry:</strong>
    <%= process_coverage.expiry %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= process_coverage.status %>
  </p>

  <p>
    <strong>Approved count:</strong>
    <%= process_coverage.approved_count %>
  </p>

  <p>
    <strong>Approved total coverage:</strong>
    <%= process_coverage.approved_total_coverage %>
  </p>

  <p>
    <strong>Approved total prem:</strong>
    <%= process_coverage.approved_total_prem %>
  </p>

  <p>
    <strong>Denied count:</strong>
    <%= process_coverage.denied_count %>
  </p>

  <p>
    <strong>Denied total coverage:</strong>
    <%= process_coverage.denied_total_coverage %>
  </p>

  <p>
    <strong>Denied total prem:</strong>
    <%= process_coverage.denied_total_prem %>
  </p>

</div>
