<% if current_user.userable_type == "Employee" %>
  <% if current_user.senior_officer? || current_user.head? %>
    <%= render "process_coverages/dashboard_head" %>
    <%= render "process_coverages/analysts_inventory" %>
    <br>
    <div class="row mb-3 mt-3">
      <div class="col-md-6">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Search by UA with Dates
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <%= form_with url: process_coverages_path, builder: SimpleForm::FormBuilder, method: :get do |f| %>
                  <%# if current_user.senior_officer? %>
                    <% analysts = Employee::ANALYSTS.map { |analyst| [analyst.signed_fullname, analyst.id] } %>
                  <%# else %>
                    <%# analysts = Employee::ANALYSTS.joins(:emp_approver).where(emp_approver: { approver: current_user.userable_id }) %>
                  <%# end %>
                  <% process_types = ProcessCoverage::FILTERED_STATUSES %>
                  <div class="row">
                    <%= f.input :emp_id, as: :select, label: "Select UA", collection: analysts, input_html: { class: "form-select" }, wrapper_html: { class: "col-md-3" } %>
                    <%= f.input :date_from, as: :string, label: "From", input_html: { data: { controller: "flatpickr",
                        flatpickr_max_date: Time.zone.now,
                        flatpickr_next_arrow: "Next",
                        flatpickr_prev_arrow: "Prev",
                        flatpickr_date_format: "m-d-Y" } }, wrapper_html: { class: "col-md-3" } %>
                    <%= f.input :date_to, as: :string, label: "To", input_html: { data: { controller: "flatpickr",
                        flatpickr_max_date: Time.zone.now,
                        flatpickr_next_arrow: "Next",
                        flatpickr_prev_arrow: "Prev",
                        flatpickr_date_format: "m-d-Y" } }, wrapper_html: { class: "col-md-3" } %>
                    <%= f.input :process_type, as: :select, collection: process_types, wrapper_html: { class: "col-md-3" } %>
                  </div>
                  <%= f.button :submit, "Filter", class: small_btn('outline-primary') %>
                <% end %>
              </div>
            </div>
          </div>
          <!--div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Search
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div-- class="accordion-body">
                <%= form_with url: process_coverages_path, method: :get do %>
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex gap-3 text-center">
                      <%= text_field_tag 'search', nil, placeholder: 'Search...', class: "form-control", style: "width: auto", required: true %>
                      <%= submit_tag 'Search', class: "btn btn-success" %>
                      <%= link_to "View All", process_coverages_path, class: "btn btn-secondary" %>
                      <%= content_tag :button, "Analyst Inventory", 
                          class: small_btn('outline-success'), 
                          data: {bs_toggle: "modal",
                            bs_target: "#benefitsModal"
                          }
                      %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div-->
        </div>
      </div>
      <div class="col-md-6">
          <%= form_with url: process_coverages_path, method: :get do %>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="d-flex gap-3 text-center">
                <%= text_field_tag 'search', nil, placeholder: 'Search...', class: "form-control", style: "width: auto", required: true %>
                <%= submit_tag 'Search', class: "btn btn-success" %>
                <%= link_to "View All", process_coverages_path, class: "btn btn-secondary" %>
                <%= content_tag :a, "Analyst Inventory", 
                    class: small_btn('outline-success'), 
                    data: {bs_toggle: "modal",
                      bs_target: "#benefitsModal"
                    }
                %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <div class="mt-3">
      <%= render "process_coverages/table_index", process_coverages: @process_coverages %>
    </div>
  <% elsif current_user.analyst? %>
    <%= content_tag :h1, "List of Process Coverages" %>
    <div class="row mb-3 mt-3">
      <div class="col-md-8">
        <div class="accordion" id="accordionExample1">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Search by Dates
              </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample1">
              <div class="accordion-body">
                <%= form_with url: process_coverages_path, builder: SimpleForm::FormBuilder, method: :get do |f| %>
                  <% process_types = ProcessCoverage::FILTERED_STATUSES %>
                  <div class="row">
                    <%= f.input :emp_id, as: :hidden, input_html: { value: current_user.userable_id } %>
                    <%= f.input :date_from, as: :string, label: "From", input_html: { data: { controller: "flatpickr",
                        flatpickr_max_date: Time.zone.now,
                        flatpickr_next_arrow: "Next",
                        flatpickr_prev_arrow: "Prev"} }, wrapper_html: { class: "col-md-4"} %>
                    <%= f.input :date_to, as: :string, label: "To", input_html: { data: { controller: "flatpickr",
                        flatpickr_max_date: Time.zone.now,
                        flatpickr_next_arrow: "Next",
                        flatpickr_prev_arrow: "Prev"} }, wrapper_html: { class: "col-md-4"} %>
                    <%= f.input :process_type, as: :select, collection: process_types, wrapper_html: { class: "col-md-4"} %>
                  </div>
                  <%= f.submit "Filter", class: small_btn('outline-primary') %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Search
              </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample1">
              <div class="accordion-body">
                <!-- <%= form_with url: process_coverages_path, method: :get do %>
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex gap-3 text-center">
                      <%= text_field_tag 'search', nil, placeholder: 'Search...', class: "form-control", style: "width: auto", required: true %>
                      <%= submit_tag 'Search', class: "btn btn-success" %>
                      <%= link_to "View All", process_coverages_path, class: "btn btn-secondary" %>
                    </div>
                  </div>
                <% end %> -->
                <%= form_with url: process_coverages_path, builder: SimpleForm::FormBuilder, method: :get do |f| %>
                  <%= f.input :search, placeholder: 'Search...', label: false, style: "width: auto" %>
                  <%= f.submit 'Search', class: "btn btn-success"%>
                  <%#= text_field_tag 'search', nil, placeholder: 'Search...', class: "form-control", style: "width: auto", required: true %>
                  <%#= submit_tag 'Search', class: "btn btn-success" %>
                  <%= link_to "View All", process_coverages_path, class: "btn btn-secondary" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                UA Inventory
              </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample1">
              <div class="accordion-body">
                <%= render "process_coverages/ua_inventory2", process_coverages: @process_coverages_x %>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <%= render "process_coverages/table_index", process_coverages: @process_coverages %>
  <% end %>
<% end %>


<!-- 
<div class="row">
  <div class="col-6">
    <%= pie_chart @pie_chart_data1, donut: true, title: "Approved/Denied/Pending Claims" %>
  </div>
  <div class="col-6">
    <%= pie_chart @pie_chart_data2, title: "Premium per Gender" %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-10">
    <%= column_chart @column_chart_data1, title: "Premium & Claims per Agent" %>
  </div>
</div>

<div class="row mt-3">
  <%= line_chart @line_chart_data2, title: "Premium & Claims per Month", curve: false %>
</div>

<div class="row mt-3">
  <div class="col-6">
    <%= pie_chart @cause_chart, title: "Top Claim Causes" %>
  </div>
</div> -->