<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <%= content_tag :h5, 'Adjust Premium', class: "modal-title", id: "staticBackdropLabel" %>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
   
    <%= simple_form_for @process_coverage, url: update_batch_prem_process_coverage_path(), method: :post do |f| %>
      <%= f.input :batch, input_html: { value: @batch.id }, as: :hidden %>
      <%= f.input :premium %>
      
      <%= f.button :submit, "Adjust", data: { turbo: false }, class: "btn btn-sm btn-success" %>
    <% end %>
  </div>
<% end %>

