
<%= simple_form_for(@coop_user) do |f| %>
  <div class="form-inputs mb-3 d-flex flex-column justify-content-center align-items-center" >
    <%# fields for User model associated with Coop_user %>
    <div class="card col-md-11 ps-3 pe-3 pt-3 mb-3">
      <div data-controller="coop">
        <div class="row">
          <%= f.association :cooperative, 
            input_html: { 
              id: "coop_id", 
              data: { 
                action: "change->coop#change", 
                controller: "ts--select" 
              }
            }, error: '*Required'  %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.association :coop_branch, collection: [], 
              input_html: { 
                id: "branch_id", 
                data: { 
                  coop_target: "branchSelect"
                }
              }, error: '*Required'  %>
          </div>
          <div class="col-md-6">
            <%= f.input :designation %>
          </div>
        </div>
      </div>
    </div>
    
    <% unless current_user %>
      <div class="card col-md-11 ps-3 pe-3 pt-3">
        <div class="row mb-3">
          <div class="form-floating col-md-4">
            <%= f.input :first_name, 
              wrapper: false,
              label: false,
              placeholder: 'First name',
              error: '*Required'  %>
            <%= f.label :first_name, class: 'ms-2 half-visible' do %>
              First name <abbr title="required">*</abbr>
            <% end %>
          </div>
          <div class="form-floating col-md-4">
            <%= f.input :middle_name, 
              wrapper: false,
              label: false,
              placeholder: 'Middle name',
              error: '*Required' %>
            <%= f.label :middle_name, class: 'ms-2 half-visible' do %>
              Middle name <abbr title="required">*</abbr>
            <% end %>
          </div>
          <div class="form-floating col-md-4">
            <%= f.input :last_name, 
              wrapper: false,
              label: false,
              placeholder: 'Last name',
              error: '*Required' %>
            <%= f.label :last_name, class: 'ms-2 half-visible' do %>
              Last name <abbr title="required">*</abbr>
            <% end %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-floating col-md-6">
            <%= f.input :birthdate, as: :string, input_html: {data: {
              controller: "flatpickr",
              flatpickr_max_date: Time.zone.now,
              flatpickr_next_arrow: "Next",
              flatpickr_prev_arrow: "Prev"}},
              wrapper: false,
              label: false,
              placeholder: 'Birthdate',
              error: '*Required' %>
            <%= f.label :birthdate, class: 'ms-2 half-visible' do %>
              Birthdate <abbr title="required">*</abbr>
            <% end %>
          </div>
          <div class="form-floating col-md-6">
            <%= f.input :mobile_number, 
              wrapper: false,
              label: false,
              placeholder: 'Mobile No.',
              error: '*Required' %>
            <%= f.label :mobile_number, 'Mobile', class: 'ms-2 half-visible' %>
          </div>
        </div>
      </div>

      <div class="card col-md-11 ps-3 pe-3 pt-3 mb-3">
        <%= f.fields_for :user do |u| %>
          <div class="form-floating row ps-2 pe-2 mb-3">
            <%= u.input :email, 
              wrapper: false,
              label: false,
              input_html: { autocomplete: "email" },
              placeholder: 'Email' %>
            <%= u.label :email, class: 'ms-2 half-visible' do %>
              Email <abbr title="required">*</abbr> 
            <% end %>
          </div>
          <div class="row mb-3">
            <div class="form-floating col-md-6">
              <%= u.input :password, 
                wrapper: false,
                label: false,
                input_html: { autocomplete: "password" },
                placeholder: 'Password' %>
              <%= u.label :password, class: 'ms-2 half-visible' do %>
                Password <abbr title="required">*</abbr>
              <% end %>
            </div>
            <div class="form-floating col-md-6">
              <%= u.input :password_confirmation, 
                wrapper: false,
                label: false,
                input_html: { autocomplete: "password" },
                placeholder: 'Password' %>
              <%= u.label :password_confirmation, class: 'ms-2 half-visible' do %>
                Confirm password <abbr title="required">*</abbr>
              <% end %>
            </div>
          </div>
          <%= u.hidden_field :userable_type, value: "Coop" %>
          <%= u.hidden_field :userable_id, value: @coop_user.id %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="form-actions d-flex justify-content-center gap-1">
    <%= f.button :submit, 'Create Coop User', class: 'btn-success' %>
  </div>
<% end %>
