

<div  class="d-flex gap-1" >
	<%= link_to 'Show', group_remit_batch_path(group_remit, batch),
		data: {turbo_frame: "_top"}, 
		class: small_btn('primary') 
	%>

	<% if batch.pending? %>
		<%= link_to 'Accept', accept_insurance_path(group_remit: group_remit, batch: batch),
			data: {turbo_method: :get, turbo_confirm: "Accept insurance with adjusted premium of #{peso_currency(batch.premium)}?" , turbo_frame: "_top"}, 
			class: small_btn('success') 
		%>
		<%= button_to group_remit_batch_path(group_remit, batch), 
				method: :delete,
				form: { 
				data: { turbo_frame: "_top", 
				turbo_confirm: "Reject repriced premium and remove #{batch.coop_member.full_name} in this remittance?" } 
				}, 
				class: small_btn('danger') do %>
						Reject                 
			<% end %>
	<% end %>

	<% if batch.batch_remarks.exists? %>
		<%= link_to "Remarks", modal_remarks_group_remit_batch_path(group_remit, batch), data: { turbo_frame: "modal" }, class: small_btn('danger') %>
	<% end %>

	<% if (group_remit.pending? || group_remit.for_renewal?) && group_remit.instance_of?(Remittance)%>

		<% if (batch.recent? || batch.for_reconsideration?) && batch.batch_health_decs.blank? && life_benefit[0].coverage_amount > agreement.nel %>
			<%= link_to new_group_remit_batch_health_declaration_path(group_remit, batch),
				class: small_btn('warning'), 
				title: 'Health Declaration Form',
				data: { turbo_frame: "modal-xl" } do %> 
				<i class="bi bi-file-earmark-medical"></i>
			<% end %>
		<% end %>

		<% unless batch.renewal? || batch.terminated? %>
			<%= button_to group_remit_batch_path(group_remit, batch), 
				method: :delete,
				form: { 
				data: { turbo_frame: "_top", 
				turbo_confirm: "Delete Batch: #{member.last_name}, #{member.first_name} #{member.middle_name}?" } 
				}, 
				class: small_btn('danger') do %>
						<i class="bi bi-x-lg"></i>                    
			<% end %>
		<% end %>

		<% if batch.renewal? %>
			<%= link_to 'Terminate Insurance', terminate_insurance_path(group_remit: group_remit, batch: batch),
				data: {turbo_method: :get, turbo_confirm: "Terminate #{batch.coop_member.full_name}'s insurance?" , turbo_frame: "_top"}, 
				class: small_btn('danger') 
			%>
		<% end %>
	<% end %>

</div>