<tr>
    <% member = batch.coop_member.member %>
    <td><%= batch.id %></td>
    <td><%= "#{member.last_name}, #{member.first_name} #{member.middle_name}" %></td>
    <td><%= batch.status == 'recent' ? 'New' : batch.status.to_s.titleize %></td>
    <td><%= number_to_currency(batch.premium, unit: "₱", precision: 2) %></td>
    <td><%= number_to_currency(((batch.coop_sf_amount / 100) * batch.premium), unit: "₱", precision: 2) %></td>
    <td><%= number_to_currency(((batch.agent_sf_amount / 100) * batch.premium), unit: "₱", precision: 2) %></td>    

    <td class="d-flex gap-1">
    <%= link_to 'Show', group_remit_batch_path(group_remit, batch),
        data: {turbo_frame: "_top"}, 
        class: 'btn btn-sm btn-primary' %>

    <%= link_to 'Edit', edit_group_remit_batch_path(group_remit, batch), 
        data: {turbo_frame: "batch_form"},
        class: 'btn btn-sm btn-primary' %>

    <%= button_to "Delete", group_remit_batch_path(group_remit, batch), 
        method: :delete,
        form: { 
        data: { turbo_frame: "_top", 
        turbo_confirm: "Delete Batch: #{member.last_name}, #{member.first_name} #{member.middle_name}?" } 
        }, 
        class: 'btn btn-sm btn-danger' %>
    </td>
</tr>