<% batch = batch.decorate %>

<% if batch.coop_member.deceased? %>
    <%= content_tag :span, 'DECEASED', class: badge('danger') %>
<% end %>

<span class="<%= badge(batch.insurance_badge) %>"><%= batch.insurance_status.titleize %></span>
<span class="<%= badge(batch.status_badge) %>"><%= batch.status == 'recent' ? 'New' : batch.status.to_s.titleize %></span>

<% if agreement.plan.acronym == 'GYRTBR' || agreement.plan.acronym == 'GYRTFR'%>
    <span class="badge bg-primary">
            <%= batch.insured_type.titleize %>
    </span>
<% end %>