<% plan_acronym = agreement.plan.acronym %>
<% member = batch.coop_member.member %>
<% beneficiaries = batch.batch_beneficiaries %>
<% dependents = batch.batch_dependents %>
<% if plan_acronym == 'PMFC' %>
	<% product_benefits = batch.get_term_insurance_product_benefit %>
	<% life_benefit = product_benefits.select {|pb| pb.benefit.acronym == "LIFE" } %>
<% else %>
	<% life_benefit = batch.agreement_benefit.product_benefits.select {|pb| pb.benefit.acronym == "LIFE" } %>
<% end %>

<tr id="<%= dom_id(batch) %>">
	<td class="text-center align-middle" ><%= batch.id %></td>
	<td class="align-middle" >
		<div class="d-flex" style="padding-left: 60px; padding-top: 30px; padding-bottom: 30px;">
			<div class="d-flex flex-column gap-1">
				<div class="">
					<%= render 'batches/batch_status', batch: batch %>
				</div>
				<%= render 'batches/member_details', 
					batch: batch, 
					member: member, 
					agreement: agreement,
					beneficiaries: beneficiaries
				%>
			</div>
		</div>
	</td>
	<td class="align-middle" >
		<div class="<%= flex_justify_align('center') %>">
			<div class="<%= flex_justify_align('','center',true) %> ps-6">
				<div class="d-flex flex-column mb-1">
					<%= render 'batches/premiums', 
						batch: batch,
						dependents: dependents,
						plan_acronym: plan_acronym
					%>
				</div>
			</div>
		</div>
	</td>
	<td class="align-middle">
		<div class="<%= flex_justify_align('center') %>">
			<div class="d-flex flex-column ps-6">

				<% unless beneficiaries.exists? %>
					<%= content_tag :span, "None", class: 'sm-red-text' %>
				<% else %>
					<div class="d-flex flex-column mb-1">

						<% beneficiaries.each do |b| %>
							<%= content_tag :span, "#{b.member_dependent.last_name}, #{b.member_dependent.first_name} #{b.member_dependent.middle_name}", 
								class: "text-secondary", 
								style: "font-size: .7rem;" 
							%>
						<% end %>

					</div>
				<% end %>

			</div>
		</div>
	</td>

	<% if group_remit.agreement.plan.gyrt_type == 'family' %>
		<td class="align-middle">
			<div class="<%= flex_justify_align('center') %>">
				<div class="<%= flex_justify_align('','center',true) %> ps-6">

					<% unless dependents.exists? %>
						<%= content_tag :span, "None", class: 'sm-red-text' %>
					<% else %>
						<div class="d-flex flex-column mb-1">
							<% dependents.each do |d| %>
								<%= content_tag :span, "#{d.member_dependent.last_name}, #{d.member_dependent.first_name} #{d.member_dependent.middle_name}", 
									class: "text-secondary", 
									style: "font-size: .7rem;" 
								%>
							<% end %>
						</div>
					<% end %>

				</div>
			</div>
		</td>
	<% end %>

	<td class="align-middle">
		<%= render 'batches/action_buttons', 
			group_remit: group_remit,
			batch: batch,
			life_benefit: life_benefit,
			agreement: agreement,
			member: member
		%>
	</td>
</tr>