<% batch_presenter = BatchPresenter.new(batch) %>

<div class="row <%= flex_justify_align('center') %> sm-secondary-text" >  
  <div class="col-md-10 mb-1" style="margin: auto;">
    <%= link_to coop_agreement_group_remit_path(@agreement, @group_remit), class: small_btn("outline-secondary") do %>
      <i class="bi bi-arrow-left-square"></i>
      Back
    <% end %>
  </div>

  <div class="col-md-10" style="margin: auto;">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <span class="mb-0 text-secondary">First name</span>
          </div>
          <div class="col-sm-2 text-primary">
            <%= "#{batch.first_name}" %>
          </div>
          <div class="col-sm-2 text-secondary">
            <span class="mb-0">Middle name</span>
          </div>
          <div class="col-sm-2 text-primary">
            <%= "#{batch.middle_name}" %>
          </div>
          <div class="col-sm-2 text-secondary">
            <span class="mb-0">Last name</span>
          </div>
          <div class="col-sm-2 text-primary">
            <%= "#{batch.last_name}" %> 
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-2">
            <span class="mb-0 text-secondary">Birthdate</span>
          </div>
          <div class="col-sm-2">
            <%= month_day_year(batch.coop_member.member.birth_date) %>
          </div>
          <div class="col-sm-2">
            <span class="mb-0 text-secondary">Age</span>
          </div>
          <div class="col-sm-2">
            <%= batch.age %>
          </div>
          <div class="col-sm-2">
            <span class="mb-0 text-secondary">Gender</span>
          </div>
          <div class="col-sm-2">
            <%= batch.coop_member.member.gender %>
          </div>
        </div>
        <hr>
        <% if @agreement.plan.dependable? %>
          <div class="row">
            <div class="col-sm-3">
              <span class="mb-0 text-secondary">Rank</span>
            </div>
            <div class="col-sm-3">
              <%= batch_presenter.capitalized_insured_type %>
            </div>
          </div>
          <hr>
        <% end %>
        <div class="row">
          <div class="col-sm">
            <span class="mb-0 text-secondary">Effectivity date</span>
          </div>
          <div class="col-sm">
            <%= @effectivity_date.present? ? month_day_year(@effectivity_date) : 'Tentative' %>
          </div>
          <div class="col-sm">
            <span class="mb-0 text-secondary">Expiry date</span>
          </div>
          <div class="col-sm">
            <%= month_day_year(@expiry_date)%>
          </div>
        </div>
        <hr class="mb-3">
        <div class="row">
          <div class="col-sm-3">
            <span class="mb-0 text-secondary">Premium</span>
          </div>
          <div class="col-sm-3 ">
            <%= to_curr(batch.premium) %>
          </div>
          <div class="col-sm-3">
            <span class="mb-0 text-secondary">Terms</span>
          </div>
          <div class="col-sm-3 ">
            <%= @group_remit.terms %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row <%= flex_justify_align('center') %> sm-secondary-text">
  <% if !@agreement.plan.dependable? || !@batch.agreement_benefit.with_dependent? %>
    <div class="col-md-10" style="margin: auto;">
  <% else %>
    <div class="col-md-4" style="margin-left: auto;">
  <% end %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row"> 
          <% if !@agreement.plan.dependable? || !@batch.agreement_benefit.with_dependent? %>
            <div class="col-sm-12 <%= flex_justify_align('', 'center') %> gap-2">
          <% else %>
            <div class="col-sm-12 <%= flex_justify_align('center', 'center') %> gap-2">
          <% end %>
            <div class="d-flex gap-1 align-items-center">
                <span class="mb-0 text-primary">Beneficiaries</span>
                <!-- button to open turbo-frame "modal"  -->
                <% if (@group_remit.pending? || @group_remit.for_renewal?) && @group_remit.instance_of?(Remittance) && !@batch.terminated? %>
                  <% if @batch.batch_beneficiaries.size < 4 %>
                    <%= link_to new_group_remit_batch_beneficiary_path(@group_remit, @batch),
                                class: small_btn('outline-success'),
                                data: { turbo_frame: "reg_form_modal" } do %>
                      <i class="bi bi-plus-lg"></i>
                    <% end %>

                  <% end %>
                <% end %>  
            </div>
          </div>
        </div>
        <hr>
        <% if @beneficiaries.present? %>
          <div class="row">
            <div class="col-sm-1 text-center"></div>
            <div class="col-sm-6">
              <%= content_tag :span, 'Name', 
                class: 'text-center', 
                style: 'font-size: .8rem' 
              %>  
            </div>
            <div class="col-sm-2 text-center">
              <%= content_tag :span, 'Age', 
                class: 'text-center', 
                style: 'font-size: .8rem' 
              %>  
            </div>
            <div class="col-sm-3 text-center">
              <%= content_tag :span, 'Relationship', 
                class: 'text-center', 
                style: 'font-size: .8rem' 
              %>  
            </div>
          </div>
          <hr>
        <% end %>
        <% @beneficiaries.each do |b| %>
          <div class="row mb-1">
            <div class="d-flex align-items-center gap-1">
                <div class="col-sm-1">
                  <% if (@group_remit.pending? || @group_remit.for_renewal?) && @group_remit.instance_of?(Remittance) && !@batch.terminated? %>
                    <%= button_to group_remit_batch_beneficiary_path(@group_remit, @batch, b), 
                    method: :delete,
                    form: { 
                    data: { turbo_frame: "_top", 
                    turbo_confirm: "Delete beneficiary?" } 
                    }, 
                    class: small_btn('outline-danger') do %>
                    <i class="bi bi-x-lg"></i>
                    <% end %>
                  <% end %>
                </div>
              <div class="col-sm-6 text-secondary">
                <%= content_tag :span, "#{b.full_name.upcase}", 
                  class: "mb-0 text-center", 
                  style: "font-size: .8rem" 
                %>
              </div>
              <div class="col-sm-2 text-secondary text-center">
                <%= content_tag :span, "#{b.member_dependent.age}", 
                  class: "mb-0 text-center", 
                  style: "font-size: .8rem" 
                %>
              </div>
              <div class="col-sm-3 text-secondary text-center">
                <%= content_tag :span, "#{b.member_dependent.relationship.capitalize}", 
                  class: "mb-0 text-center", 
                  style: "font-size: .8rem" 
                %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @agreement.plan.dependable? && @batch.agreement_benefit.with_dependent? %>
    <div class="col-md-6" style="margin-right: auto;">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 <%= flex_justify_align('center') %>">
              <div class="gap-1 <%= flex_justify_align('','center') %>">
                  <span class="mb-0 text-primary">Dependents</span>
                  <!-- button to open turbo-frame "modal"  -->
                  <% if (@group_remit.pending? ||  @group_remit.for_renewal?) && @group_remit.instance_of?(Remittance) && !@batch.terminated? %>
                    <% if @batch.batch_dependents.size < 4 %>
                      <%= link_to new_group_remit_batch_dependent_path(@group_remit, @batch),
                          class: small_btn('outline-success'), 
                          data: {
                            turbo_frame: "reg_form_modal"
                          } do %>     
                        <i class="bi bi-plus-lg"></i>
                      <% end %>
                    <% end %>   
                  <% end %>
              </div>     
            </div>
          </div>
          <hr>
          <% if @dependents.present? %>
            <div class="row">
              <div class="col-sm-3 text-center">
                <%= content_tag :span, 'Name', 
                  class: 'text-center', 
                  style: 'font-size: .8rem' 
                %>
              </div>
              <div class="col-sm-1 text-center">
                <%= content_tag :span, 'Age', 
                  class: 'text-center', 
                  style: 'font-size: .8rem' 
                %>
              </div>
              <div class="col-sm-2 text-center">
                <%= content_tag :span, 'Relationship', 
                  class: 'text-center', 
                  style: 'font-size: .8rem' 
                %>
              </div>
              <div class="col-sm-2 text-center">
                <%= content_tag :span, 'Premium', 
                  class: 'text-center', 
                  style: 'font-size: .8rem' 
                %>
              </div>
              <div class="col-sm-2 text-center">
                <%= content_tag :span, 'Terms', 
                  class: 'text-center', 
                  style: 'font-size: .8rem' 
                %>
              </div>
              <% unless @group_remit.instance_of?(BatchRemit) %>
                <div class="col-sm-2 text-center">
                  <%= content_tag :span, 'Actions', 
                    class: 'text-center', 
                    style: 'font-size: .8rem' 
                  %>
                </div>
              <% end %>
            </div>
            <hr>
          <% end %>
          <% @dependents.each do |d| %>
            <% d_presenter = DependentPresenter.new(d) %>
            <div class="row mb-1">
              <div class="d-flex align-items-center text-center">
                <div class="col-sm-3 text-secondary <%= flex_justify_align('start', 'baseline', true) %> gap-1">
                  <%= content_tag :span, "#{d.insurance_status.titleize}", class: d_presenter.status_badge %>
                  <%= content_tag :span, "#{d.full_name.upcase}", 
                    class: "mb-0", 
                    style: "font-size: .8rem" 
                  %>
                </div>
                <div class="col-sm-1 text-secondary text-center">
                  <%= content_tag :span, "#{d.member_dependent.age}", 
                    class: "mb-0 text-center", 
                    style: "font-size: .8rem" 
                  %>
                </div>
                <div class="col-sm-2 text-secondary text-center">
                  <%= content_tag :span, "#{d.member_dependent.relationship.capitalize}", 
                    class: "mb-0 text-center", 
                    style: "font-size: .8rem" 
                  %>
                </div>
                <div class="col-sm-2 text-secondary text-center <%= flex_justify_align('center','center') %> gap-1">
                  <%= content_tag :span, "#{to_curr(d.premium)}", 
                    class: "mb-0 text-center", 
                    style: "font-size: .8rem" 
                  %>
                  <% if @group_remit.editable_by_mis?(current_user) %>
                    <%= link_to edit_group_remit_batch_dependent_path(@group_remit, batch, d), class: "", title: "Edit", data: {turbo_frame: "modal"} do %>
                      <i class="bi bi-pencil-square"></i>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-sm-2 text-secondary text-center">
                  <%= content_tag :span, @group_remit.terms, 
                    class: "mb-0 text-center", 
                    style: "font-size: .8rem" 
                  %>
                </div>
                <div class="col-sm-2 <%= flex_justify_align('end', 'center') %> gap-1">
                  <%= render 'dependent_buttons', group_remit: @group_remit, batch: @batch, dependent: d %>
                </div>
              </div>
            </div>
          <% end %>  
        </div>
      </div>
    </div>
  <% end %>
</div>
