<%= simple_form_for(@batch, url: group_remit_batch_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    
    <div class="row d-flex align-items-end">
      
      <div class="col-3" data-controller="batch">

        <%= f.association :coop_member, 
        collection: @coop_members.map { |coop| 
        ["#{coop.member.last_name}, #{coop.member.first_name} #{coop.member.middle_name}", coop.id] }, 
        include_blank: "Select member",
        input_html: { 
          id: "member_id", 
          data: { 
            action: "change->batch#change", 
            controller: "slim-select" }  
          }, label: false %>

      </div>
      <div class="col-3 mb-3">
        <%= f.select :status, options_for_select(Batch.statuses.map { |k, v| [k.to_s.capitalize, k.to_s] }), {include_blank: "Select status"}, { class: 'form-control' } %>
      </div>
     
      <div class="col-3 d-flex align-items-end mb-3">
        <div class="form-actions d-flex gap-1">
          <%= f.button :submit, "Update", class: 'btn-success' %>
          <%= link_to "Cancel", :back, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
