<%= simple_form_for(@batch, url: group_remit_batches_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs mb-3">
    <%= f.hidden_field :coop_sf_amount, value: (@coop_sf/100) * @premium %>
    <%= f.hidden_field :agent_sf_amount, value: (@agent_sf/100) * @premium %>
    <%= f.hidden_field :premium, value: @premium %>
    <div class="row">
        <div class="row" data-controller="batch-calculator">
          <div class="col-3 mb-3" data-controller="batch">

          <%= f.association :coop_member, 
          collection: @coop_members.map { |coop| 
          ["#{coop.member.last_name}, #{coop.member.first_name} #{coop.member.middle_name}", coop.id] }, 
          input_html: { 
            id: "member_id", 
            data: { 
              action: "change->batch#change", 
              controller: "slim-select" }  
            } %>

          <%= f.fields_for :batch_dependents do |d| %>
            <%= d.label :member_dependent_id, label: "Beneficiary"%>
            <%= d.select :member_dependent_id, [], {prompt: "No Beneficiaries"}, { id: "dependent_id", data: { batch_target: "dependentSelect" }, class: "form-select" } %>
            <% d.hidden_field :beneficiary, value: true%>

          <% end %>
      </div>
      <div class="col-3">
        <%= f.label :status, class: "form-label"%> 
        <%= f.select :status, options_for_select(Batch.statuses.map { |k, v| [k.to_s.capitalize, k.to_s] }), {}, { class: 'form-control mb-3' } %>
      </div>
          <div class="col-3 d-flex align-items-end mb-3">
            <%= f.input :active, wrapper_html: {class: "ps-3"} %>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.input :effectivity_date, as: :date, html5: true %>
      </div>
      <div class="col-3">
        <%= f.input :expiry_date, as: :date, html5: true %>
      </div>
      <div class="col-3 d-flex align-items-end mb-3">
        <div class="form-actions d-flex gap-3">
          <%= f.button :submit, class: 'btn-success' %>
          <%= link_to "Cancel", :back, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
