
<%= simple_form_for(@batch) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <div class="form-group d-flex gap-3">
      <%= f.input :active, wrapper_html: {class: "ps-3"} %>
      <%= f.input :effectivity_date, as: :date, html5: true %>
      <%= f.input :expiry_date, as: :date, html5: true %>
      <%= f.input :coop_sf_amount, label: "Coop Service Fee (%)" %>
      <%= f.input :agent_sf_amount, label: "Agent Service Fee (%)" %>
      <%= f.input :premium, label: "Premium" %>
    </div>
    <%= f.association :coop_members, collection: @coop_members.map { |m| ["#{m.member.last_name}, #{m.member.first_name} #{m.member.middle_name}", m.id] }, input_html: { data: { controller: "slim-select" }  } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success' %>
    <%= link_to "Back", batches_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
