<% batch_remits = @agreement.group_remits.where(type: 'BatchRemit') %>
<% covered_members = [] %>

<% batch_remits.map do |remit|%>
  <% covered_members << CoopMember.joins(:batches)
                            .where(batches: { id: remit.batches })
                            .distinct %>
<% end %>

<% allowed_members =  @coop_members - covered_members[0] %>

<%= simple_form_for(@batch, url: group_remit_batches_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <div class="d-flex align-items-start gap-1">
      <div class="d-flex align-items-center gap-1" data-controller="batch" style="height: 38px" >
        <%= f.association :coop_member, 
        collection: allowed_members, 
        include_blank: "Search member",
        input_html: { 
          style: "width: 250px !important; height: 38px !important; border-radius: 6px !important",
          id: "member_id", 
          data: {  
            controller: "ts--select" }  
          }, label: false,
          wrapper_html: { style: "height: 38px; margin-bottom: 0 !important" } %>
      </div>
      <div class="d-flex gap-1 align-items-center">

        <% if @agreement.plan.acronym == 'GYRTBR' ||  @agreement.plan.acronym == 'GYRTFR' %>
          <%= f.input :rank, collection: @agreement.agreement_benefits.where.not(insured_type: 2..5), input_html: {style: "width: auto !important; font-size: .8rem; height: 38px;", }, include_blank: "Rank", wrapper_html: {style: 'margin-bottom: 0 !important; '}, label: false %>
        <% end %>

        <%= f.button :submit, "Add", class: 'btn btn-sm btn-success', data: {turbo: false} %>
        <%= link_to "Cancel", :back, class: 'btn btn-sm btn-danger' %>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
