<div class="<%= flex_justify_align('center','center', true) %> gap-1">
	<div class="<%= flex_justify_align('','center') %> gap-1">
		<%= content_tag :span, 
				"Principal: ", 
				class: "text-secondary sm-green-text"
		%>
		<%= content_tag :span, 
				"#{number_to_currency(batch.premium, unit: "₱", precision: 2)}", 
				class: "text-primary sm-green-text"
		%>
		<% if @group_remit.editable_by_mis?(current_user) %>
			<%= link_to edit_group_remit_batch_path(@group_remit, batch), class: "", title: "Edit", data: {turbo_frame: "modal"} do %>
				<i class="bi bi-pencil-square"></i>
			<% end %>
		<% end %>
	</div>
	
	<% if current_user.is_mis? and batch.system_premium != batch.premium and !batch.system_premium.nil? %>
		<%= content_tag :span, 
			"Correct premium: #{to_curr(batch.system_premium)}", 
			class: "text-danger sm-green-text"
		%>
	<% end %>
</div>

<% if dependents.exists? %>
	<div class="">
		<%= content_tag :span, 
				"Dependent(s): ", 
				class: "text-secondary sm-green-text" %>
		<%= content_tag :span, 
				"#{number_to_currency(batch.dependents_premium, unit: "₱", precision: 2) }", 
				class: "text-primary sm-green-text" %>
	</div>
<% end %>