<%= content_tag :h1, "Batch #{@batch.id}" %>

<div class="mb-4">
  <%= link_to "Edit", edit_batch_path(@batch), class: 'btn btn-primary' %>
  <%= link_to "Back", batches_path, class: 'btn btn-secondary' %>
  <%= link_to "Delete", @batch, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>

<%= render @batch %>


