<div class="mb-1 <%= flex_justify_align('', 'center') %> gap-1">
  <%= link_to cooperatives_path, class: "btn btn-sm btn-outline-secondary", title: "Back" do %>
    <i class="bi bi-chevron-left"></i>
  <% end %>
  <%= link_to edit_cooperative_path(cooperative), class: "btn btn-sm btn-outline-primary #{flex_justify_align('', 'center')} gap-1", title: "Edit" do %>
    <i class="bi bi-pencil-square"></i>
  <% end %>
</div>
<div id="<%= dom_id cooperative %>">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="text-primary mb-3">
        <%= cooperative.name %>
      </h4>
      <% if cooperative.get_address == '' %>
        <small><i class="bi bi-geo-alt text-primary"></i> No address provided </small> <br>
      <% else %>
        <small><i class="bi bi-geo-alt text-primary"></i> <%= cooperative.get_address %> </small> <br>
      <% end %>

      <% if cooperative.contact_number.present? %>
        <small><i class="bi bi-telephone text-primary"></i> <%= cooperative.contact_number %></small> <br>
      <% else %>
        <small><i class="bi bi-telephone text-primary"></i> No contact number provided</small> <br>
      <% end %>

      <% if cooperative.email.present? %>
        <small><i class="bi bi-envelope-at text-primary"></i> <%= cooperative.email %></small>
      <% else %>
        <small><i class="bi bi-envelope-at text-primary"></i> No email provided</small>
      <% end %>

      <% if cooperative.registration_number.present? %>
        <div class="mt-3"><small><span class="text-primary">Registration No.:</span> <%= cooperative.registration_number %></small></div>
      <% else %>
        <div class="mt-3"><small><span class="text-primary">Registration No.:</span> No registration number provided</small></div>
      <% end %>
    </div>
  </div>
</div>
<div class="card mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' unless params[:active_tab] == 'branches' %>" data-bs-toggle="tab" id="member-tab" type="button" data-bs-target="#member" role="tab" aria-controls="member" aria-current="page">Members</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if params[:active_tab] == 'branches' %>" data-bs-toggle="tab" id="home-tab" type="button" data-bs-target="#home" role="tab" aria-controls="home">Branches</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="tab" id="agreements-tab" type="button" data-bs-target="#agreements" role="tab" aria-controls="agreements" aria-current="page">Agreements</button>
    </li>
  </ul>
  <div class="tab-content container mt-3" id="myTabControl">
    <div class="tab-pane fade <%= 'active show' unless params[:active_tab] == 'branches' %>" role="tabpanel" id="member" aria-labelledby="member-tab">
      <%= render 'coop_members/show_coop_members' %>
    </div>
    <div class="tab-pane fade <%= 'active show' if params[:active_tab] == 'branches' %>" role="tabpanel" id="home" aria-labelledby="home-tab">
      <%= render 'coop_branches/show_coop_branch', c: cooperative %>
    </div>
    <div class="tab-pane fade" role="tabpanel" id="agreements" aria-labelledby="agreements-tab">
      <%= render 'cooperatives/agreements', agreements: @agreements %>
    </div>
  </div>
</div>
