<div id="<%= dom_id cooperative %>">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="text-primary">
        <%= cooperative.name %>
      </h4>
      <p>
        <strong>Address:</strong>
        <%= cooperative.get_address %>
      </p>
      <strong>Contact details:</strong>
      <%= cooperative.contact_details %> | <%= cooperative.email %>
    </p>
    <p>
      <strong> TIN: </strong> <%= cooperative.tin_number %> | <strong> Registration no.: </strong> <%= cooperative.registration_number %>
    </p>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_cooperative_path(cooperative), class: "btn btn-secondary btn-sm" %>
    <%= link_to "Back", cooperatives_path, class: "btn btn-secondary btn-sm" %>
    <%#= link_to "Delete", cooperative, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
</div>
<div class="card mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="tab" id="home-tab" type="button" data-bs-target="#home" role="tab" aria-controls="home" >Branches</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="tab" id="member-tab" type="button" data-bs-target="#member" role="tab" aria-controls="member" aria-current="page">Members</button>
    </li>
  </ul>
  <div class="tab-content container mt-3" id="myTabControl">
    <div class="tab-pane fade show" role="tabpanel" id="home" aria-labelledby="home-tab">
      <%= render 'coop_branches/show_coop_branch', c: cooperative %>
    </div>
    <div class="tab-pane fade show" role="tabpanel" id="member" aria-labelledby="member-tab">
      <%= render 'coop_members/show_coop_members' %>
    </div>
  </div>
</div>

