<%= simple_form_for(@cooperative) do |f| %>
  <%#= simple_form_for(@claim_benefit, url: url, method: meth) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <div class="row">
        <%= f.input :name, wrapper_html: { class: "col col-md-8" } %>
        <%= f.input :acronym, wrapper_html: { class: "col col-md-4" } %>
      </div>
      <%= f.input :description %>
      <div class="row" data-controller="geography">
        <%= f.association :geo_region, label: "Region", input_html: { data: { action: "change->geography#search_provinces" } }, label_html: {class: 'text-secondary sm-secondary-text'}, wrapper_html: { class: "col-4" } %>
        <%= f.association :geo_province, collection: @province, label: "Province", input_html: { id: "province_id", data: { action: "change->geography#search_municipalities", geography_target: "provinceSelect" } }, label_html: {class: 'text-secondary sm-secondary-text'}, wrapper_html: { class: "col-4" } %>
        <%= f.association :geo_municipality, collection: @muni, label: "Municipality", input_html: { id: "muni_id", data: { action: "change->geography#search_barangays", geography_target: "muniSelect" } }, label_html: {class: 'text-secondary sm-secondary-text'}, wrapper_html: { class: "col-4" } %>
        <%= f.association :geo_barangay, collection: @brgy, label: "Barangay", input_html: { id: "brgy_id", data: { geography_target: "brgySelect" } }, label_html: {class: 'text-secondary sm-secondary-text'}, wrapper_html: { class: "col-4" } %>
      </div>
      <div class="row">
        <%= f.input :street, wrapper_html: { class: "col col-md-6" } %>
        <%= f.association :coop_type, label: "Type of Cooperative", wrapper_html: { class: "col col-md-6" } %>
        <%= f.input :registration_number, wrapper_html: { class: "col col-md-6" } %>
        <%= f.input :email, wrapper_html: { class: "col col-md-6"} %>
      </div>
    </div>
    <br>
    <div class="form-actions text-end">
      <%= f.button :submit, class: "btn btn-primary" %>
      <%= link_to "Back", cooperatives_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
