<%= turbo_stream.replace 'members_table' do %>
  <%== pagy_bootstrap_nav(@pagy) %>
  <div class="table table-striped">
    <table class="table table-striped table-bordered table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col" >ID</th>
          <th scope="col" >Name</th>
          <th scope="col" >Branch</th>
          <th scope="col" >Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @coop_members.each do |coop_member|%>
          <% member = coop_member.member %>
          
          <tr>
            <th scope="row" ><%= coop_member.id %></th>
            <td>
              <div class="">
                <div class="<%= flex_justify_align('','center') %> gap-2">
                  <% if coop_member.deceased? %>
                    <%= content_tag :span, 'DECEASED', class: badge('danger') %>
                  <% end %>
                </div>
                <%= content_tag :strong, "#{coop_member.get_fullname}" %> <%= content_tag :small, "#{member.birth_date.strftime('%b %d, %y')}", class: "text-muted" %>
                <div class="d-flex align-items-center gap-1">
                  <span class="sm-secondary-text text-muted"><i class="bi bi-phone"></i> <%= member.mobile_number %> </span> |
                  <span class="sm-secondary-text text-muted"><i class="bi bi-envelope"></i> <%= member.email %> </span>
                </div>
              </div>
            </td>
            <td><%= coop_member.coop_branch.name.titleize %></td>
            <td>
              <%= link_to coop_member_path(coop_member), class: small_btn('outline-primary'), data: {turbo_frame: 'modal-xl'}, title: 'Show' do %>
                <i class="bi bi-eye-fill"></i>
              <% end %>
              <%= link_to edit_member_path(member, cooperative_id: @cooperative.id), class: small_btn('outline-primary'), data: {turbo_frame: 'modal-lg'}, title: 'Edit' do%>
                <i class="bi bi-pencil"></i>
              <% end %>
                <%= link_to show_insurance_coop_member_path(coop_member), class: small_btn('outline-primary'), title: 'Coverages' do %>
                  <i class="bi bi-clock-history"></i>
                <% end %>
              <% if coop_member.batches.joins(:group_remits).where(group_remits: { type: 'BatchRemit' }).exists? %>
                <%= link_to 'Insurance', member_agreements_coop_member_path(coop_member), class: 'btn btn-sm btn-primary' %>
              <% end %>
              <%# <%= link_to 'Coverage', show_insurance_coop_member_path(coop_member), class: 'btn btn-sm btn-secondary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>