<div id="<%= dom_id(agreement) %>" class="row <%= flex_justify_align('between') %>">
  <div class="<%= flex_justify_align('', 'center', true) %> gap-3">

    <% if agreement.anniversary_type != 'multiple' %>
      <div class="card">
        <div class="card-body d-flex flex-column" style="width: 400px">
          <%= render 'agreement_field', 
            name: 'Proposal', 
            value: agreement.proposal.proposal_no, 
            margin: '' 
          %>
          
          <% if agreement.submitted_group_remits.exists? %>
            <% last_group_remit = agreement.submitted_group_remits.last %>
            <%= render 'submitted_field', group_remit: last_group_remit %>
          <% else %>
            <%= render 'agreement_field', 
              name: 'Min. Participants', 
              value: agreement.proposal.minimum_participation, 
              margin: 'mb-2'
            %>
            <%= render 'agreement_field', 
              name: 'Anniversary Date', 
              value: agreement.anniversaries.first.present? ? agreement.anniversaries[0].anniversary_date.strftime('%B %d') : 'Tentative', 
              margin: ''
            %>
            <%= render 'agreement_field', 
              name: 'Cooperative Service Fee', 
              value: "#{@coop_sf}%", 
              margin: ''
            %>
          <% end %>

          <div class="mt-4 text-center">

            <% if agreement.submitted_group_remits.exists? %>
              <%= link_to 'View Group Remit', agreement_group_remit_path(@agreement, @group_remits.first), 
                class: small_btn('warning'), 
                data: { turbo: false } 
              %>
            <% elsif agreement.group_remits.exists? %>
              <%= link_to 'Finish Group Remit', agreement_group_remit_path(@agreement, @group_remits.first), 
                class: small_btn('outline-warning'), 
                data: { turbo: false } 
              %>
            <% else %>

              <% if @agreement.anniversary_type == 'single' %>
                <%= button_to "New Group Remit", group_remits_path, 
                  method: :post, 
                  params: { 
                    agreement_id: agreement.id, 
                    anniversary_id: agreement.anniversaries.first, 
                    anniv_type: 'single' 
                  }, 
                  class: small_btn('success'), 
                  data: { turbo: false } 
                %>
              <% else %>
                <%= button_to "New Group Remit", group_remits_path, 
                  method: :post, 
                  params: { 
                    agreement_id: @agreement.id, 
                    anniv_type: 'none' 
                  }, 
                  class: small_btn('success'), 
                  data: { turbo: false } 
                %>
              <% end %>

            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <% @group_remits.each do |gr| %>
        <div class="card">
          <div class="card-body d-flex flex-column" style="width: 400px">
            <%= render 'agreement_field', 
              name: 'Proposal', 
              value: agreement.proposal.proposal_no, 
              margin: ''
            %>

            <% if gr.submitted %>
              <%= render 'submitted_field', group_remit: gr %>
            <% else %>
              <%= render 'unsubmitted_field', agreement: agreement, anniv: gr.anniversary %>
            <% end %>

            <div class="mt-4 text-center">
              <%= link_to "#{gr.submitted ? 'View Group Remit' : 'Finish Group Remit'}", agreement_group_remit_path(@agreement, gr), 
                class: "btn btn-sm btn#{gr.submitted ? '' : '-outline'}-warning", 
                data: { turbo: false } 
              %>
            </div>
          </div>
        </div>
      <% end %>

      <% @anniversaries.each do |anniv| %>
        <div class="card">
          <div class="card-body d-flex flex-column" style="width: 400px">
            <%= render 'agreement_field', 
              name: 'Proposal', 
              value: agreement.proposal.proposal_no, 
              margin: '' 
            %>
            <%= render 'unsubmitted_field', agreement: agreement, anniv: anniv %>
            <div class="mt-4 text-center">
              <%= button_to "New Group Remit", group_remits_path, 
                method: :post, 
                params: { 
                  agreement_id: agreement.id, 
                  anniversary_id: anniv.id, 
                  anniv_type: 'multiple' 
                }, 
                class: small_btn('success'), 
                data: { turbo: false } %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
