<div id="<%= dom_id agreement %>" class="row d-flex justify-content-between">
<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-body d-flex flex-column" style="width: 400px">
      <div class="text-secondary d-flex justify-content-between small">
        <%= content_tag :span, 'Proposal'%>
        <%= content_tag :span, "#{agreement.proposal.proposal_no}" %>
      </div>
      <div class="text-secondary d-flex justify-content-between small mb-2">
        <% if agreement.group_remits.where(submitted: true).exists? %>
          <%= content_tag :span, "Participants" %>
          <%= content_tag :span, "#{agreement.group_remits.where(submitted: true).last.batches.count}" %>
        <% else %>
          <%= content_tag :span, "Min. Participants" %>
          <%= content_tag :span, "#{agreement.proposal.minimum_participation}" %>
        <% end %>
      </div>
      
      <% if agreement.group_remits.where(submitted: true).exists? %>
        <div class="text-secondary d-flex justify-content-between small">
          <%= content_tag :span, 'Effectivity Date'%>
          <%= content_tag :span, "#{agreement.group_remits.where(submitted: true).last.effectivity_date.strftime('%B %d, %Y')}" %>
        </div>
        <div class="text-secondary d-flex justify-content-between small mb-2">
          <%= content_tag :span, 'Expiry Date'%>
          <%= content_tag :span, "#{agreement.group_remits.where(submitted: true).last.expiry_date.strftime('%B %d, %Y')}" %>
        </div>
      <% else %>
        <div class="text-secondary d-flex justify-content-between small">
          <%= content_tag :span, 'Anniversary Date'%>
          <% if agreement.anniversary_type == 'multiple'%>
            <%= content_tag :span, "Multiple" %>
          <% elsif agreement.anniversary_type == 'single'%>
            <%= content_tag :span, "#{agreement.anniversaries[0].anniversary_date.strftime("%B %d")}" %>
          <% else %>
            <%= content_tag :span, "Tentative" %>
          <% end %>
        </div>
      <% end %>
      
      <% if agreement.group_remits.where(submitted: true).exists? %>
        <div class="text-secondary d-flex justify-content-between small">
          <%= content_tag :span, 'Net Premium', class: 'text-secondary' %>
          <%= content_tag :span, "#{number_to_currency(agreement.group_remits.where(submitted: true).last.net_premium, unit: '₱', precision: 2)}" %>
        </div> 
        <div class="text-secondary d-flex justify-content-between small">
          <%= content_tag :span, 'Cooperative Service Fee', class: 'text-secondary' %>
          <%= content_tag :span, "#{number_to_currency(agreement.group_remits.where(submitted: true).last.coop_commission, unit: '₱', precision: 2)}" %>
        </div> 
      <% else %>
        <div class="text-secondary d-flex justify-content-between small">
          <%= content_tag :span, 'Cooperative Service Fee', class: 'text-secondary' %>
          <%= content_tag :span, "#{@coop_sf}%" %>
        </div> 
      <% end %>
      
    </div>
  </div>
</div>
<!--
  <div class="card">
    <div class="card-body">    
      
    
  
  </div>
  <div class="col-md-12">
  <div class="d-flex gap-3 justify-content-between">
    <div class="d-flex justify-content-between" style='width: 200px'>
      <%= content_tag :span, 'Notarized date', class: 'text-secondary' %>
    </div>
    <% if agreement.notarized_date.present? %>
      <%= content_tag :p, "#{agreement.notarized_date.strftime("%B %d, %Y")}" %>
    <% else %>
      <%= content_tag :p, "Pending", style: "color: #ffc107" %>
    <% end %>
  </div>
  <div class="d-flex gap-3 justify-content-between">
    <div class="d-flex justify-content-between" style='width: 200px'>
      <%= content_tag :span, 'MOA signed date', class: 'text-secondary' %>
    </div>
    <% if agreement.moa_signed_date.present? %>
      <%= content_tag :p, "#{agreement.moa_signed.strftime("%B %d, %Y")}" %>
    <% else %>
      <%= content_tag :p, "Pending", style: "color: #ffc107" %>
    <% end %>
  </div>
  
  <div class="d-flex gap-3 justify-content-between">
    <div class="d-flex justify-content-between" style='width: 200px'>
      <%= content_tag :p, 'Premium', class: 'text-secondary' %>
    </div>
    <%= content_tag :span, "#{number_to_currency(@principal_premium, unit: "₱", precision: 2)}" %>
  </div>
  </div>
  </div>
  </div>
</div>
-->