<div id="<%= dom_id agreement %>">
  <p>
    <strong>Plan:</strong>
    <%= agreement.plan_id %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= agreement.cooperative_id %>
  </p>

  <p>
    <strong>Agent:</strong>
    <%= agreement.agent_id %>
  </p>

  <p>
    <strong>Moa no:</strong>
    <%= agreement.moa_no %>
  </p>

  <p>
    <strong>Contestability:</strong>
    <%= agreement.contestability %>
  </p>

  <p>
    <strong>Nel:</strong>
    <%= agreement.nel %>
  </p>

  <p>
    <strong>Nml:</strong>
    <%= agreement.nml %>
  </p>

  <p>
    <strong>Anniversary type:</strong>
    <%= agreement.anniversary_type %>
  </p>

  <p>
    <strong>Transferred:</strong>
    <%= agreement.transferred %>
  </p>

  <p>
    <strong>Transferred date:</strong>
    <%= agreement.transferred_date %>
  </p>

  <p>
    <strong>Previous provider:</strong>
    <%= agreement.previous_provider %>
  </p>

  <p>
    <strong>Comm type:</strong>
    <%= agreement.comm_type %>
  </p>

  <p>
    <strong>Claims fund:</strong>
    <%= agreement.claims_fund %>
  </p>

  <p>
    <strong>Entry age from:</strong>
    <%= agreement.entry_age_from %>
  </p>

  <p>
    <strong>Entry age to:</strong>
    <%= agreement.entry_age_to %>
  </p>

  <p>
    <strong>Exit age:</strong>
    <%= agreement.exit_age %>
  </p>

</div>
