<div id="<%= dom_id agreement %>">
  <div class="card mb-3">
    <div class="card-body">
      <h4> <%= agreement.cooperative %> </h4>
      <%= agreement.plan %> <br>
      <%= agreement.description %> <br>
      <div class="row">
        <div class="col-md-6">
          <dl class="row mt-3">
            <% unless ["LPPI", "SII"].include?(agreement.plan.acronym) %>
              <dt class="col-sm-7">Contestability Period</dt>
              <dd class="col-sm-5"><%= agreement.contestability %></dd>
              <dt class="col-sm-7">No Evidence Limit (NEL)</dt>
              <dd class="col-sm-5"><%= to_currency(agreement.nel) %></dd>
              <dt class="col-sm-7">Non Medical Limit</dt>
              <dd class="col-sm-5"><%= to_currency(agreement.nml) %></dd>
              <dt class="col-sm-7">Anniversary Type</dt>
              <dd class="col-sm-5"><%= agreement.anniversary_type %></dd>
              <dt class="col-sm-7">Minimum Participation</dt>
              <dd class="col-sm-5"><%= agreement.minimum_participation %></dd>
            <% end %>
            <dt class="col-sm-7">Marketing Agent</dt>
            <dd class="col-sm-5"><%= agreement.agent %></dd>
            <dt class="col-sm-7">Commission Type</dt>
            <dd class="col-sm-5"><%= agreement.comm_type %></dd>
            <% if agreement.plan.acronym == "LPPI" %>
              <dt class="col-sm-7">With Unused?</dt>
              <dd class="col-sm-5"><%= agreement.unusable %></dd>
              <dt class="col-sm-7">With Mark-Up?</dt>
              <dd class="col-sm-5"><%= agreement.with_markup %></dd>
            <% end %>
            <% if agreement.transferred %>
              <strong class="text-primary mb-1 mt-3">Transferred</strong>
              <dt class="col-sm-7">Date Transferred</dt>
              <dd class="col-sm-5"><%= agreement.transferred_date %>
                <dt class="col-sm-7">Previous Provider</dt>
                <dd class="col-sm-5"><%= agreement.previous_provider %></dd>
              </dd>
            <% end %>
            <% if agreement.claims_fund %>
              <strong class="text-primary mb-1 mt-3">Claims Fund</strong>
              <dt class="col-sm-7">Claims Fund Amount</dt>
              <dd class="col-sm-5"><%= to_currency(agreement.claims_fund_amount)  %></dd>
            <% end %>
          </dl>
        </div>
        <div class="col-md-6">
          <% unless agreement.plan_id == 2 %>
            <strong class="text-primary mb-3">Anniversary</strong>
            <%= render 'anniversaries/show_anniversary', a: agreement %>
          <% end %>
          <strong class="text-primary">Special Arrangements</strong>
          <%= render 'special_arrangements/show_special_arrangements', a: agreement %>
          <%= render 'claims/claim_type_agreements/show_claim_type_agreement', a: agreement %>
          <% if Treasury::CashierEntry.check_ors_agreement(agreement) > 0 %>
            <div class="card col-6">
              <div class="card-body text-center">
                <%= link_to "Update ORs", update_ors_agreement_path, data: { turbo_method: :post }, class: "btn btn-outline-warning", onclick: "return confirm('Are you sure?')" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to "Edit", edit_agreement_path(agreement), class: 'btn btn-sm btn-secondary' %> |
      <%= link_to "Back", agreements_path, class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
</div>
<% if @agreement.plan_id == 2 || @agreement.plan_id == 8 %> <!-- for LPPI & SII -->
  <%= link_to new_loan_insurance_rate_path(a_id: @agreement.id), class: "btn btn-secondary btn-sm mb-2", data: { turbo_frame: "remote_modal" } do %>
    Add Rate
  <% end %>
  <div class="row">
    <% @agreement.loan_rates.each do |rate| %>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-header text-white bg-<%= rate.min_age <= 65 ? "primary" : "warning" %>">
            <h5><%= rate.min_age %> to <%= rate.max_age %> years old</h5>
            <small>Loan Amount: <%= to_currency(rate.min_amount) %> to <%= to_currency(rate.max_amount) %></small>
          </div>
          <div class="card-body">
            <small>Annual Rate: <%= to_currency(rate.annual_rate) %></small> <br>
            <small>Monthly Rate: <%= to_currency(rate.monthly_rate) %> / <%= to_currency(1000) %></small> <br>
            <small>No Evidence Limit: <%= to_currency(rate.nel) %></small> <br>
            <small>Non-medical Limit Rate: <%= to_currency(rate.nml) %></small> <br>
            <small>Contestability: <%= pluralize(rate.contestability, "month") %></small> <br>
            <% if @agreement.with_markup == true && rate.markup_rate != nil %>
              <small>Mark-up Rate (monthly): <%= rate.markup_rate%></small> <br>
              <small>Mark-up Coop SF: <%= number_to_percentage(rate.markup_sf, precision: 1) %></small> <br>
            <% end %>
          </div>
          <div class="card-footer">
            <%= link_to edit_loan_insurance_rate_path(rate), class: "btn btn-success btn-sm", data: { turbo_frame: "remote_modal" } do %>
              Edit
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= link_to new_agreement_benefit_path(a_id: @agreement.id), class: "btn btn-primary btn-sm mb-2", data: { turbo_frame: "remote_modal" } do %>
    Add Agreement Plan
  <% end %>
  <div class="row">
    <% @agreement_benefits.each do |ab| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-header text-center">
            <strong class="text-primary"><%= ab.name %></strong>
            <%= link_to edit_agreement_benefit_path(ab), class: "text-muted", data: { turbo_frame: "remote_modal" } do %>
              <%= bootstrap_icon "pencil-square" %> Edit
            <% end %>
          </div>
          <div class="card-body">
            <div class="text-center">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Min Age</th>
                    <th scope="col">Max Age</th>
                    <th scope="col">Exit Age</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= ab.min_age %></td>
                    <td><%= ab.max_age %></td>
                    <td><%= ab.exit_age %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <%# SHOW PRODUCT BENEFIT %>
            <%= render 'product_benefits/show_product_benefit', ab: ab %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%# test this layout %>
<%#= console %>
