<div class="card">
  <div class="card-body p-4">
    <div class="col-md text-sm-center">
      <%= content_tag :h3, "#{moa.plan.name} (#{moa.plan.acronym})", class: "mb-0 text-primary" %>
    </div>
    <div class="w-100 border my-3"></div>
    <div class="coop-block row">
      <div class="w-100 mb-2"></div>
      <div class="col-3">Cooperative</div>
      <div class="col-9">
        <%= content_tag :p, moa.cooperative.name, class: "fw-bold w-75 mb-0" %>
        <%= content_tag :p,  "#{moa.cooperative.geo_province}, #{moa.cooperative.geo_region}", class: "w-75 mb-0" %>
      </div>
      <div class="w-100 mb-2"></div>
      <div class="col-3">Cooperative Officers</div>
      <div class="col-9">
        <%# @proposal.officers.each_with_index do |officer, index| %>
          <%#= content_tag :p, officer.full_name, class: "fw-bold w-75 mb-0" %>
          <%#= content_tag :p,  officer.designation, class: "w-75 mb-0" %>
          <%#= content_tag :div, "", class: "w-100 mb-2" %>
          <%# end %>
      </div>
      <div class="w-100 mb-2"></div>
      <div class="col-3">Marketing Agent</div>
      <div class="col-9">
        <%= content_tag :p, moa&.agent&.to_s.upcase, class: "fw-bold w-75 mb-0" %>
      </div>

      <div class="w-100 border my-3"></div>
      <% if moa.plan.acronym == "LPPI" %>
        <div class="details-header col-12 text-center border-top border-bottom py-2 mb-3">
          <%= content_tag :h5, "RATES", class: "mb-0" %>
          <table class="table">
            <thead>
              <th>Age</th>
              <th>Rate (monthly)</th>
              <th></th>
            </thead>
            <tbody>
              <% moa.loan_rates.each do |rate| %>
                <tr>
                  <td>
                    <%= content_tag :span, "#{rate.min_age} years old - #{rate.max_age} years old" %> <br>
                    <small><%= to_currency(rate.min_amount) %> to <%= to_currency(rate.max_amount) %></small>
                  </td>
                  <td>
                    <%= content_tag :p, "#{to_currency(rate.annual_rate / 12.to_d)} / 1000" %>
                    <% if moa.with_markup? %>
                      <%= content_tag :p, "Mark-up Rate: #{rate.markup_rate}" %>
                    <% end %>
                    <%= content_tag :p, "Coop SF: #{rate.coop_sf}%"%>
                    <%= content_tag :p, "Agent SF: #{rate.agent_sf}%"%>
                  </td>
                  <td>
                    <small>NEL: <%= to_currency(rate.nel) %></small> <br>
                    <small>NML: <%= to_currency(rate.nml) %></small> <br>
                    <small>Contestability <%= pluralize(rate.contestability, "month") %></small>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% elsif ["GYRT","GYRTF","GYRTBR","GYRTFR","SIP","KOOPamilya","GBLISS"].include?(moa.plan.acronym) %>
        <div class="details-header col-12 text-center border-top border-bottom py-2 mb-3">
          SCHEDULE OF BENEFITS
          <%= content_tag :p, class: "mb-0" do %>
            <%= content_tag :span, "No. of insured types:", class: "mr-3" %>
            <%= content_tag :span, moa.agreement_benefits.count, class: "fw-bold lead" %>
          <% end %>
        </div>
        <% moa.agreement_benefits.each_with_index do |pi, index| %>
          <% num = (index + 1).humanize.titleize %>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading<%= num %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= num %>" aria-expanded="true" aria-controls="collapse<%= num %>">
                  <%= pi.name.upcase %>
                </button>
              </h2>
              <div id="collapse<%= num %>" class="accordion-collapse collapse" aria-labelledby="heading<%= num %>" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row mb-3">
                    <div class="insured-details col-lg-6">
                      <p>Insured Type No. <%= index+1 %> - <b> <%= pi.name.upcase %> </b></p>
                    </div>
                    <div class="insured-benefit col-lg-6">
                      <%= content_tag :p, "Benefits Covered".upcase %>
                      <div class="benefits-heading row text-primary border-top border-bottom py-2 mb-3">
                        <%= content_tag :div, "Benefit", class: "col-6" %>
                        <%= content_tag :div, "Amount Covered", class: "col text-end" %>
                        <%#= content_tag :div, "Premium", class: "col text-end" %>
                      </div>
                      <div class="benefit-list">
                        <% pi.product_benefits.each do |pib| %>
                          <div class="row mb-2">
                            <%= content_tag :div, class: "col-6" do %>
                              <%= content_tag :span, pib.benefit.name %>
                            <% end %>
                            <%= content_tag :div, class: "col text-end" do %>
                              <%= content_tag :p, to_currency(pib.coverage_amount), class: "text-secondary mb-0" %>
                            <% end %>
                            <%#= content_tag :div, class: "col text-end" do %>
                              <%#= content_tag :p, to_currency(pib.premium), class: "fw-bold mb-0" %>
                              <%# end %>
                            </div>
                          <% end %>
                        </div>
                        <div class="total-prem row text-primary border-top border-bottom h6 py-2 mb-3">
                          <%= content_tag :div, "TOTAL PREMIUM", class: "col" %>
                          <%= content_tag :div, to_currency(pi.product_benefits.sum(:premium)), class: "col fw-bold text-end" %>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <% unless moa.plan.acronym == "LPPI" %>
          <%= render "agreements/policy_anniversary", moa: moa %>
          <%= render "agreements/gyrt_others", moa: moa %>
        <% else %>
          <%= render "agreements/lppi_others", moa: moa %>
        <% end %>

        <% if moa.special_arrangements.present? %>
          <%= render "agreements/special_arrangements", moa: moa %>
        <% end %>
      </div>
    </div>
