<%= simple_form_for(@agreement) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs" data-controller="plan-agree">
    <%= f.association :cooperative, input_html: { data: { action: "change->plan-agree#search_plans", controller: "ts--select" } }  %>
    <div class="row">
      <%#= f.association :plan, wrapper_html: { class: "col-md-4" }, input_html: { id: "plan_id", data: { action: "change->plan-agree#toggleTargets", plan_agree_target: "planSelect" } } %>
      <%= f.association :plan, wrapper_html: { class: "col-md-4" }, input_html: { id: "plan_id", data: { action: "change->plan-agree#toggleTargets", plan_agree_target: "planSelect" } } %>
      <% unless current_user.userable_type == "Agent" %>
        <%= f.association :agent, wrapper_html: {class: "col-md-4" } %>
      <% end %>
      <%= f.input :moa_no, label: "MOA", wrapper_html: {class: "col-md-4" } %>
    </div>
    <div class="row">
      <%= f.input :comm_type, collection: Agreement::Comm_type, wrapper_html: { class: "col-md-3" } %>
      <%= f.input :claims_fund, wrapper_html: { class: "col-md-2 mt-4" } %>
      <%= f.input :claims_fund_amount, wrapper_html: { class: "col-md-3" } %>
      <%= f.input :reconsiderable, wrapper_html: { class: "col-md-3 mt-4" }, label: 'Reconsiderable?' %>
    </div>
    <div class="row">
      <%= f.input :transferred, wrapper_html: { class: "col-md-2" } %>
      <%#= f.input :transferred_date, wrapper_html: { class: "col-md-3" } %>
      <%= f.input :transferred_date, as: :string, wrapper_html: { class: "col-3" }, input_html: { data: { controller: "flatpickr",
          flatpickr_next_arrow: "Next",
          flatpickr_prev_arrow: "Prev" } } %>
      <%= f.input :previous_provider, wrapper_html: { class: "col-md-5" } %>
    </div>
    <div class="row">
      <%= f.input :entry_age_from, wrapper_html: { class: "col-md-4" }, label: 'Entry Age from' %>
      <%= f.input :entry_age_to, wrapper_html: { class: "col-md-4" }, label: 'Entry Age to' %>
      <%= f.input :exit_age, wrapper_html: { class: "col-md-4" }, label: 'Exit age' %>
    </div>
    
    <div class="row">
      <div data-plan-agree-target="gyrt" hidden>
        <%= render "gyrt_fields", f: f %>
      </div>
      <div data-plan-agree-target="lppi" hidden>
        <%= render "lppi_fields", f: f %>
      </div>
    </div>
    <%#= f.association :proposal, input_html: { data: { controller: "ts--select" } }  %>
    <hr>
    <!-- 
    <div data-plan-agree-target="gyrt" hidden>
      <h3>Agreement Benefits</h3>
      <div class="agreement_benefits">
        <div class="row">
          <%= f.fields_for :agreement_benefits do |ab| %>
            <%# <div class="col-md-6"> %>
              <%= render 'agreement_benefit_fields', f: ab %>
            <%# </div> %>
          <% end %>
        </div>
      </div>
      <%= link_to_add_association "Add benefit", f, :agreement_benefits, data: {association_insertion_node: '.agreement_benefits', association_insertion_method: :append}, class: "btn btn-primary" %>
    </div>
    
    <div data-plan-agree-target="lppi" hidden>
     <h3>Rates</h3>
      <div class="loan_rates">
        <div class="row">
          <%= f.fields_for :loan_rates do |lr| %>
            <%= render 'agreements/loan_rate_fields', f: lr %>
          <% end %>
        </div>
      </div>
      <div class="add-rate">
        <%= link_to_add_association "Add Rate", f, :loan_rates, data: {association_insertion_node: '.loan_rates', association_insertion_method: :append}, class: "btn btn-primary" %>
      </div>
    </div>

    <div data-plan-agree-target="sii" hidden>
     <h3>Rates</h3>
      <div class="loan_rates_sii">
        <div class="row">
          <%= f.fields_for :loan_rates do |sr| %>
            <%= render 'agreements/loan_rate_fields', f: sr %>
          <% end %>
        </div>
      </div>
      <div class="add-rate">
        <%= link_to_add_association "Add SII Rate", f, :loan_rates, data: {association_insertion_node: '.loan_rates_sii', association_insertion_method: :append}, class: "btn btn-primary" %>
      </div>
    </div> -->
  </div>
  <br>
  <div class="form-actions text-end">
    <%= link_to "Back", agreements_path, class: "btn btn-secondary" %>
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>

<script>
  $(function() {
  // limits the number of categories
  $('.loan_rates_sii').on('cocoon:after-insert', function() {
    console.log('insert');
    check_to_hide_or_show_add_link();
  });

  $('.loan_rates_sii').on('cocoon:after-remove', function() {
    console.log('remove');
    check_to_hide_or_show_add_link();
  });

  check_to_hide_or_show_add_link();

  function check_to_hide_or_show_add_link() {
    if ($('.loan_rates_sii .nested-fields:visible').length == 1) {
      $('.add-rate a').hide();
    } else {
      $('.add-rate a').show();
    }
  }
})
</script>