
<%= simple_form_for(@agreement) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.association :plan %>
    <%= f.input :description %>
    <%= f.input :premium %>
    <%= f.input :coop_service_fee %>
    <%= f.input :agent_service_fee %>
    <%= f.input :anniversary_type, collection: [["Single", "single"], ["Multiple", "multiple"], ["None", "none"]] %>
    <%= f.input :agreement_type, collection: [["GYRT Basic", "basic"], ["GYRT Family", "family"]] %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", agreements_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
