<div class="row">
  <div class="col-12 text-center border-top border-bottom py-2 mt-5 mb-2">
    <%= content_tag :h5, "OTHER DETAILS", class: "mb-0" %>
  </div>
  <div class="col-12 border-bottom py-2 mb-5">
    <div class="row">
      <div class="col-4">
        <%= content_tag :span, "Age Requirements", class: "lead text-primary" %>
        <%= content_tag :ul, class: "mb-2" do %>
          <%= content_tag :li do %>
            <p>Entry Age: <b><%= moa.entry_age_from.to_i %> to <%= moa.entry_age_to.to_i %></b> years old </p>
          <% end %>
          <%= content_tag :li do %>
            <p>Exit Age: <b><%= moa.exit_age.to_i %></b> years and <b>6</b> months old </p>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <%= content_tag :span, "Minimum Participation", class: "lead text-primary" %>
        <%= content_tag :ul, class: "mb-2" do %>
          <%= content_tag :li do %>
            <p><b><%= num_delimit(moa.minimum_participation.nil? ? 0 : moa.minimum_participation) %></b> members</p>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <%= content_tag :span, "Service Fee", class: "lead text-primary" %>
        <%= content_tag :ul, class: "mb-2" do %>
          <%= content_tag :li do %>
            <p>Cooperative: <b><%= to_percent((moa.coop_sf.nil? ? 0 : moa.coop_sf)) %></b></p>
          <% end %>
          <%= content_tag :li do %>
            <p>Marketing Agent: <b><%= to_percent((moa.agent_sf.nil? ? 0 : moa.agent_sf)) %></b></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= content_tag :span, "Non-Medical Limit", class: "lead text-primary" %>
        <%= content_tag :ul, class: "mb-2" do %>
          <%= content_tag :li do %>
            <p><%= nel_nml(moa.nml) %></p>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <%= content_tag :span, "Contestability", class: "lead text-primary" %>
        <%= content_tag :ul, class: "mb-2" do %>
          <%= content_tag :li do %>
            <p>Contestability: <b><%= moa.contestability if moa.contestability %></b> </p>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <%= content_tag :span, "No Evidence Limit", class: "lead text-primary" %>
        <%= content_tag :ul, class: "mb-2" do %>
          <%= content_tag :li do %>
            <p><%= nel_nml(moa.nel) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= content_tag :span, "Signed Date", class: "lead text-primary" %>
        <%= content_tag :ul, class: "mb-2" do %>
          <%= content_tag :li do %>
            <p><%#= moa.moa_signed_date.strftime('%B %d, %Y') %></p>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <%= content_tag :span, "Notarized Date", class: "lead text-primary" %>
        <%= content_tag :ul, class: "mb-2" do %>
          <%= content_tag :li do %>
            <p><%#= moa.notarized_date.strftime('%B %d, %Y') %></p>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <%= content_tag :span, "Reconsiderable?", class: "lead text-primary" %> <br>
        <%= moa.reconsiderable? ? "YES" : "NO" %>
      </div>
    </div>
  </div>
</div>