
<div class="<%= flex_justify_align('between') %>">
  <div class="gap-3 <%= flex_justify_align('', 'center') %>">
    <%= content_tag :h1, "Agreements" %>
  </div>
    
  <%= form_with url: agreements_path, method: :get do %>
    <div class="form-group d-flex gap-3">
      <%= text_field_tag 'agreement_filter', 
        nil, 
        placeholder: 'Search', 
        class: "form-control", 
        style: "width: auto"
      %>
      <%= submit_tag 'Search', class: small_btn('warning') %>
    </div>
  <% end %>
</div>

<div class="row row-cols-2 row-cols-md-2 g-4 mb-3">
  <% @f_agreements.each do |agreement| %>
  <%= turbo_frame_tag agreement.id do %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="<%= flex_justify_align('between') %>">
            <div class="<%= flex_justify_align('','center') %> gap-1">
              <h6 class="card-title mb-0"><%= agreement.moa_no %></h6>

              <% if agreement.group_remits.where(status: :active).present? %>
                <span class="<%= badge('info') %> text-dark">Active</span>

                <% agreement.group_remits.each do |group_remit| %>
                  <% gr_presenter = GroupRemitPresenter.new(group_remit)%>
                  <% if gr_presenter.remaining_days <= 90 && gr_presenter.remaining_days > 0 %>
                    <span class="<%= badge("#{gr_presenter.countdown_color}") %>">
                        Expiry : <%= gr_presenter.remaining_days %> days
                    </span>
                  <% end %>

                <% end %>
              <% elsif agreement.group_remits.where(status: :expired).present? %>
                <span class="<%= badge('danger') %>">Expired</span>
              <% elsif agreement.group_remits.present? %>
                <span class="<%= badge('warning') %> text-dark">Pending</span>
              <% else %>
                <span class="<%= badge('success') %>">New</span>
              <% end %>

            </div>
            <%= link_to 'View', agreement_path(agreement), class: small_btn('outline-warning') %>
          </div>

        </div>
        <div class="card-footer <%= flex_justify_align('between') %>">
          <small class="text-muted">Created by: <%= agreement.agent.full_name %></small>
          <small class="text-muted">Updated: <%= time_ago_in_words(agreement.updated_at) %></small>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

<% unless @cooperative.agreements.exists? %>
  <p class="text-danger text-center">No agreements found.</p>
<% end %>
