
<div class="d-flex justify-content-between">
  <div class="d-flex gap-3 align-items-center">
    <%= content_tag :h1, "Agreements" %>
  </div>
    
  <%= form_with url: agreements_path, method: :get do %>
    <div class="form-group d-flex gap-3">
      <%= text_field_tag 'agreement_filter', nil, placeholder: 'Search', class: "form-control", style: "width: auto"%>
      <%= submit_tag 'Search', class: "btn btn-sm btn-warning" %>
    </div>
  <% end %>
</div>

<div class="row row-cols-2 row-cols-md-2 g-4 mb-3">
  <% @f_agreements.each do |agreement| %>
  <%= turbo_frame_tag agreement.id do %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-1">
              <h6 class="card-title mb-0"><%= agreement.moa_no %></h6>
              <% if agreement.group_remits.where(submitted: true).present? %>
                <span class="badge bg-warning text-dark">Active</span>
              <% elsif agreement.group_remits.present? %>
                <span class="badge bg-danger">Pending</span>
              <% else %>
                <span class="badge bg-success">New</span>
              <% end %>
            </div>
            <%= link_to 'View', agreement_path(agreement) ,class: 'btn btn-sm btn-outline-warning' %>
          </div>

        </div>
        <div class="card-footer d-flex justify-content-between">
          <small class="text-muted">Created by: <%= agreement.agent.full_name %></small>
          <small class="text-muted">Updated: <%= time_ago_in_words(agreement.updated_at) %></small>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

<% unless @cooperative.agreements.exists? %>
  <p class="text-danger text-center">No agreements found.</p>
<% end %>
