<%= content_tag :h1, "List of Agreements" %>


<div class="row">
  <div class="col mb-3">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Filter by Plan
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <% @plans.each do |plan| %>
              <%= link_to plan.acronym, agreements_path(f: plan.id), class: "btn btn-sm btn-primary col-2 mb-2" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="d-flex gap-3 flex-row-reverse mb-3">
      <%= form_with url: agreements_path, method: :get do %>
        <div class="form-group d-flex gap-3 text-center">
          <%= text_field_tag 'search', nil, placeholder: 'Search...', class: "form-control", style: "width: auto", required: true %>
          <%= submit_tag 'Search', class: "btn btn-success"%>
          <%= link_to "View All", agreements_path, class: "btn btn-secondary" %>
          <%= link_to new_agreement_path, class: 'btn btn-primary' do %>
            New Agreement
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Details</th>
      <%# <th>Cooperative</th>
        <th>Agent</th>
        <th>Moa No</th>
        <th>Contestability</th>
        <th>Nel</th>
        <th>Nml</th>
        <th>Anniversary Type</th>
        <th>Transferred</th>
        <th>Transferred Date</th>
        <th>Previous Provider</th>
        <th>Comm Type</th>
        <th>Claims Fund</th>
        <th>Entry Age From</th>
        <th>Entry Age To</th>
        <th>Exit Age</th>
        <th></th> %>
    </tr>
  </thead>
  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <th scope="row"><%= agreement.id %></th>
        <td> <strong> <%= agreement.cooperative %> </strong>  <br>
          <%= agreement.plan %> <%= agreement.group_proposal.present? ? "(#{agreement.group_proposal.plan_unit.name})" : "" %> <br>
          <small class="text-muted"><%= agreement.agent %>
          </small>
        </td>
        <td>
          <%= link_to 'View', agreement, class: 'btn btn-secondary btn-sm' %>
          <%= link_to "MOA", show_details_agreement_path(agreement), data: { turbo_frame: "remote_modal" }, class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Edit', edit_agreement_path(agreement), class: 'btn btn-secondary btn-sm' %>
          <%= link_to "Delete", agreement, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>