<%= turbo_frame_tag @agreement.id do %>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="<%= flex_justify_align('between', 'center') %>">
          <div class="d-flex gap-1">
            <h6 class="card-title mb-0"><%= @agreement.moa_no %></h6>

            <% if @agreement.active_group_remits.present? %>
              <span class="<%= badge('info') %> text-dark">Active</span>
            <% elsif @agreement.group_remits.where(status: :expired).present? %>
              <span class="<%= badge('danger') %>">Expired</span>
            <% elsif @agreement.group_remits.present? %>
              <span class="<%= badge('warning') %> text-dark">Pending</span>
            <% else %>
              <span class="<%= badge('success') %>">New</span>
            <% end %>

          </div>
          <div class="<%= flex_justify_align('center', 'center') %> gap-1">
            
            <%= link_to 'Close', agreements_path,
              class: "#{small_btn('outline-danger')}", 
              data: {turbo_frame: dom_id(@agreement)} 
            %>

          </div>
        </div>
        <hr>
        <div class="">

          <%= render @agreement%>

        </div>
      </div>
      <div class="card-footer <%= flex_justify_align('between') %>">
        <small class="text-muted">Agent: <%= @agreement.agent.full_name %></small>
        <small class="text-muted">Updated: <%= time_ago_in_words(@agreement.updated_at) %></small>
      </div>
    </div>
  </div>
<% end %>
