

<%= turbo_frame_tag @agreement.id do %>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title"><%= @agreement.name %></h5>
          <%= link_to 'Close', agreements_path ,class: 'btn btn-sm btn-outline-danger', data: {turbo_frame: dom_id(@agreement)} %>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
          <%= render @agreement%>
        </div>
        
    </div>
    <div class="card-footer d-flex justify-content-between">
          <small class="text-muted">Agent: <%= @agreement.agent.full_name %></small>
          <small class="text-muted">Updated: <%= time_ago_in_words(@agreement.updated_at) %></small>
        </div>
  </div>

<% end %>
