<div id="<%= dom_id detail %>">
  <p>
    <strong>Batch:</strong>
    <%= detail.batch_id %>
  </p>

  <p>
    <strong>Unuse:</strong>
    <%= detail.unuse %>
  </p>

  <p>
    <strong>Loan amount:</strong>
    <%= detail.loan_amount %>
  </p>

  <p>
    <strong>Premium due:</strong>
    <%= detail.premium_due %>
  </p>

  <p>
    <strong>Substandard rate:</strong>
    <%= detail.substandard_rate %>
  </p>

  <p>
    <strong>Terminate:</strong>
    <%= detail.terminate %>
  </p>

  <p>
    <strong>Terinate date:</strong>
    <%= detail.terinate_date %>
  </p>

  <p>
    <strong>Reinsurance:</strong>
    <%= detail.reinsurance %>
  </p>

  <p>
    <strong>Terms:</strong>
    <%= detail.terms %>
  </p>

  <p>
    <strong>Date release:</strong>
    <%= detail.date_release %>
  </p>

  <p>
    <strong>Date mature:</strong>
    <%= detail.date_mature %>
  </p>

</div>
