<div class="d-flex gap-3">
  <div class="card" style="width: 60%;">
    <div class="card-header <%= flex_justify_align('between', '') %>">
      <div class="">
        <div class="<%= flex_justify_align('','center') %> gap-1">
          <p class="text-muted"><small>Check Voucher</small></p>
          <p class="badge bg-<%= check.decorate.status_badge %>"><%= check.status.humanize %></p>
        </div>
        <h3 class="text-primary"><%= "#{check.voucher}" %></h3>
        <p><small><strong>Voucher date:</strong> <span><%= month_day_year(check.date_voucher) %></span></small></p>
        <% if check.post_date? %>
          <p><small><strong>Post date:</strong> <span><%= month_day_year(check.post_date) %></span></small></p>
        <% end %>
        <% if current_user.is_auditor? %>
          <div class="<%= flex_justify_align('','center') %> gap-1">
            <p><small><strong>Audit:</strong> <p class="<%= check.decorate.audit_badge %>"><%= check.decorate.audit_text.humanize %></p></small></p>
          </div>
        <% end %>
      </div>
      <div class="">
        <% if current_user.is_accountant? %>
          <% if current_user.head? and check.for_approval? %>
            <%= link_to post_entry_ledgers_path(check, e_t: check.entry_type), class: 'btn btn-sm btn-success mt-1', data: {turbo_confirm: "IMPORTANT: This process is not reversible. Post voucher?", turbo_method: :get}, title: 'Post' do %>
              <i class="bi bi-check-circle-fill"></i>
              <span> Post</span>  
            <% end %>
            <%= link_to new_accounting_check_remark_path(check, e_t: check.entry_type), data: {turbo_frame: 'reg_form_modal' }, class: 'btn btn-sm btn-danger mt-1', title: 'Cancel Voucher' do %>
              <i class="bi bi-x-circle-fill"></i><span> Cancel</span>
            <% end %>
          <% else %>
            <% if check.pending? %>
              <%= link_to for_approval_entry_ledgers_path(check, e_t: check.entry_type), class: 'btn btn-sm btn-success mt-1', data: {turbo_confirm: "Submit voucher for approval?", turbo_method: :get}, title: 'Submit' do %>
                <i class="bi bi-check-circle-fill"></i>
                <span> Submit</span>
              <% end %>
              <%= link_to edit_accounting_check_path(check, e_t: check.entry_type), class: 'btn btn-sm btn-primary mt-1', data: {turbo_frame: 'modal'}, title: 'Edit receipt' do %> 
                <i class="bi bi-pencil-fill"></i><span> Edit</span>
              <% end %>
              <%= link_to new_accounting_check_remark_path(check, e_t: check.entry_type), data: {turbo_frame: 'reg_form_modal' }, class: 'btn btn-sm btn-danger mt-1', title: 'Cancel Voucher' do %>
                <i class="bi bi-x-circle-fill"></i><span> Cancel</span>
              <% end %>
            <% end %>
          <% end %>
          <% if check.cancelled? or check.pending_audit? %>
            <%= link_to accounting_check_remarks_path(check, e_t: check.entry_type), class: 'btn btn-sm btn-danger mt-1', data: {turbo_frame: 'reg_form_modal'} do %>
              <i class="bi bi-card-list"></i> Remarks
            <% end %>
          <% end%>
        <% end %>
      </div>
    </div>
    <div class="card-body">

      <div class="row mb-3">
        <span class="small fw-bold col-2">Payee: </span>
        <span class="small col-10"><%= check.payable %></span>
      </div>

      <div class="row mb-3">
        <span class="small fw-bold col-2">Bank: </span>
        <span class="small col-10"><%= check.treasury_account %></span>
      </div>

      <div class="row mb-3">
        <span class="small fw-bold col-2">Particulars: </span>
        <span class="small col-10"><%= check.particulars %></span>
      </div>

    </div>
  </div>
    
    <div class="card" style="width: 40%;">
      <div class="card-body">
        <div class="<%= flex_justify_align('between') %>">
          <span class="small fw-bold">Details</span>
          <span class="small fw-bold">Amount</span>
        </div>
        <hr style="opacity: 1; border-color: black !important">
        <div class="<%= flex_justify_align('between') %>">
          <span class="small">Amount</span>
          <span class="small"><%= to_curr(check.amount) %></span>
        </div>
  
        <hr style="opacity: 1; border-color: black !important">
        <div class="<%= flex_justify_align('between') %>">
          <span class="small">Deposit</span>
          <span class="small"><%= to_curr(check.amount) %></span>
        </div>
      </div>
    </div>

</div>

