
<%= simple_form_for(check, url: params[:rid].present? ? accounting_checks_path(rid: params[:rid]) : '') do |f| %>
  <div class="form-inputs mb-3">
    <div class="row">
      <div class="col-7">
        <%= f.input :date_voucher, as: :string, input_html: {data: {
          controller: "flatpickr",
          flatpickr_max_date: Date.today,
          flatpickr_next_arrow: "Next",
          flatpickr_prev_arrow: "Prev"}
          }, label: 'Voucher date', 
          error: '*Required'
        %>
      </div>
      <div class="col-5">
        <label class="form-label integer required" for="accounting_check_voucher">Voucher <abbr title="required">*</abbr></label>
        <div class="input-group mb-3">
          <span class="input-group-text">CV</span>
          <%= f.input :voucher, wrapper: false, label: false, placeholder: '00000', error: '*Required' %>
        </div>
      </div>
    </div>

    <% if params[:rid].present? %>
      <%= f.label 'Payee', class: 'mb-1' %>
      <%= f.select :global_payable, [[@coop.name, @coop.to_global_id]], {}, { class: 'form-control mb-3', readonly: true } %>
    <% else %>
      <%= f.input :global_payable, 
        collection: @payables, 
        label_method: :to_s, 
        value_method: :to_global_id, 
        label: 'Payee', 
        error: '*Required',
        input_html: {data: {controller: 'ts--select'}}
      %>
    <% end %>
    <%= f.association :treasury_account, collection: Treasury::Account.child_accounts, label: 'Bank', error: '*Required', input_html: {data: {controller: 'ts--select'}} %>
    <div class="row">
      <%= f.association :branch, collection: Branch.order(:name), error: '*Required', wrapper_html: {class: 'col-6'} %>
      <div class="col-6">
        <% if params[:rid].present? %>
          <%= f.input :amount, as: :string, error: '*Required', input_html: {data: {number_formatter_target: 'input'}, readonly: true  } %>
        <% else %>
          <%= f.input :amount, as: :string, error: '*Required', input_html: {data: {number_formatter_target: 'input'} } %>
        <% end %>
      </div>
    </div>
    <%= f.input :particulars, error: '*Required' %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, 'Create Check Voucher', class: 'btn btn-primary' %>
  </div>
<% end %>

