
<%= simple_form_for(check) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <div class="row">
      <div class="col-7">
        <%= f.input :date_voucher, as: :string, input_html: {data: {
          controller: "flatpickr",
          flatpickr_max_date: Date.today,
          flatpickr_next_arrow: "Next",
          flatpickr_prev_arrow: "Prev"}
          }, label: 'Voucher date'
        %>
      </div>
      <div class="col-5">
        <label class="form-label integer required" for="accounting_check_voucher">Voucher <abbr title="required">*</abbr></label>
        <div class="input-group mb-3">
          <span class="input-group-text">CV</span>
          <%= f.input :voucher, wrapper: false, label: false, placeholder: '00000' %>
        </div>
      </div>
    </div>
    <%= f.input :global_payable, 
      collection: @payables, 
      label_method: :to_s, 
      value_method: :to_global_id, 
      label: 'Payee' 
     %>
    <div class="row">
      <div class="col-7">
        <%= f.association :account %>
      </div>
      <div class="col-5" data-controller="number-formatter">
        <%= f.input :amount, as: :string, input_html: {data: {number_formatter_target: 'input'}} %>
      </div>
    </div>
    <%= f.input :particulars %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>

