<div class="<%= flex_justify_align('between', 'center') %> gap-1 mb-3">
  <%= content_tag :h4, "Claim Requests", class: 'text-primary mb-0' %>

  <% if @pagy.pages > 1 %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>
<table class="table table-bordered table-hover bg-white table-sm">
    <thead class="table-dark">
      <tr>
        <th class="text-center" scope="col">Date</th>
        <th class="text-center" scope="col">Type</th>
        <th class="text-center" scope="col">Payee</th>
        <th class="text-center" scope="col">Particulars</th>
        <th class="text-center" scope="col">Requested by</th>
        <th class="text-center" scope="col">Amount</th>
        <th class="text-center" scope="col"></th>
      </tr>
    </thead>

    <tbody id="batches_body">
      <% if @claim_requests.present? %> 

        <% @claim_requests.each do |request| %>
          <tr>
            <td class="text-center cell-125"><%= short_month_day_year(request.created_at) %></td>
            <td class="text-center cell-125"><%= request.payout_type.humanize.upcase %></td>
            <td class=""><%= request.requestable.cooperative %></td>
            <td><%= request.description %></td>
            <td class="text-center"><%= to_curr request.analyst %></td>
            <td class="text-end"><%= to_curr request.amount %></td>
            <td class="text-center">
              <%= link_to accounting_check_voucher_request_path(request, pt: request.payout_type), class: small_btn('outline-primary'), title: 'view' do %>
                <i class="bi bi-eye-fill"></i>
              <% end%>
            </td>
          </tr>

        <% end %>

      <% else %>
        <tr>
          <td colspan="6" class="text-center">No requests found</td>
        </tr>
      <% end %>

    </tbody>
  </table>