<% if current_user.is_accountant? %>
  <div class="mb-1">
    <% if @request.present? %>
      <%= link_to accounting_voucher_request_path(@request, pt: @request.payment_type), class: small_btn("secondary") do %>
        <i class="bi bi-chevron-left"></i>
      <% end %>
    <% else %>
      <%= link_to accounting_checks_path, class: small_btn("secondary") do %>
        <i class="bi bi-chevron-left"></i>
      <% end %>
    <% end %>

    <% if @check.posted? %>
      <%= link_to print_accounting_check_path(@check, format: :pdf), class: small_btn('warning'), target: '_blank', title: 'Print' do %>
        <i class="bi bi-printer"></i>
      <% end %>
      <%= link_to download_accounting_check_path(@check, format: :pdf), class: small_btn('primary'), target: '_blank', title: 'Download' do %>
        <i class="bi bi-download"></i>
      <% end %>
    <% end %>
  </div>
  
<% elsif current_user.is_auditor? %>
  <div class="mb-1">
    <%= link_to audit_for_audits_path, class: small_btn("secondary"), title: 'Back' do %>
      <i class="bi bi-chevron-left"></i>
    <% end %>
    <%= link_to "MOA", show_details_agreement_path(@check.voucher_request.requestable.agreement), class: small_btn('primary'), title: "Voucher", target: "_blank" %>
    <%= link_to "Claim details", claim_process_process_claim_path(@check.voucher_request.requestable), class: small_btn('primary'), title: "Claim Details", target: "_blank" %>
    <% unless @check.approved? %>
      <%=  link_to approve_audit_for_audit_path(@check, e_t: @check.entry_type), class: small_btn('success'), data: {turbo_confirm: "Finish audit and approve voucher?", turbo_method: :get} do  %>
        <i class="bi bi-check-circle-fill"></i> Approve
      <% end %>
      <%=  link_to new_accounting_check_remark_path(@check, e_t: @check.entry_type, audit: true), data: {turbo_frame: 'reg_form_modal' }, class: 'btn btn-sm btn-warning', title: 'Pending Voucher' do %>
        <i class="bi bi-hourglass-split"></i> Pending
      <% end %>
    <% end %>
    <% if @check.remarks.present? %>
      <%= link_to accounting_check_remarks_path(@check, e_t: @check.entry_type, audit: true), class: 'btn btn-sm btn-danger', data: {turbo_frame: 'reg_form_modal'} do %>
        <i class="bi bi-card-list"></i> Remarks
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render @check %>

<div class="card">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <% if current_user.is_accountant? || current_user.is_auditor? %>
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="ledger-tab" data-bs-toggle="tab" data-bs-target="#ledger" type="button" role="tab" aria-controls="ledger" aria-selected="true">Ledger</button>
      </li>
    <% end %>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="check-tab" data-bs-toggle="tab" data-bs-target="#check" type="button" role="tab" aria-controls="check" aria-selected="false">Business Checks</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">

    <% if current_user.is_accountant? || current_user.is_auditor? %>
      <div class="tab-pane fade show active" id="ledger" role="tabpanel" aria-labelledby="ledger-tab">
        <%= render 'payments/entries/ledger', ledgers: @ledgers, entry: @check  %>
      </div>
    <% end %>

    <div class="tab-pane fade <%= 'show active' if current_user.is_treasurer? %>" id="check" role="tabpanel" aria-labelledby="check-tab">
      <%= render 'business_checks', business_checks: @business_checks, voucher: @check %>
    </div>
  </div>
</div>
