<div class="modal fade" id="batchEnrollment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center text-primary" id="staticBackdropLabel">Batch Import</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body <%= flex_justify_align('','', true) %> gap-3" data-controller="progress-bar" data-progress-bar-url-value="<%= progress_path(group_remit_id: @group_remit.id) %>">
        <%= form_with url: import_loan_insurance_batches_path(group_remit_id: @group_remit.id), method: :post do |form| %>
            <%= form.label :file, "For multiple members upload your csv file.", class: "form-text" %>
            <div class="d-flex gap-1  mb-1 align-items-center">
                <%= form.file_field :file, class: "form-control", style: "width: 80%", data: {progress_bar_target: 'file'} %>
                <%= submit_tag 'Upload', class: "btn btn-outline-primary", data: {action: 'click->progress-bar#updateProgress', progress_bar_target: 'button'} %>
            </div>
            <!--
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0" data-progress-bar-target="progress">0%</div>
            </div>
            -->
        <% end %>
        <%= render 'layouts/partials/progress_bar' %>
      </div>
    </div>
  </div>
</div>