<%= link_to lppi_back_link(@group_remit), class: small_btn("outline-secondary"), title: 'Back' do %>
  <i class="bi bi-chevron-left"></i>
<% end %>

<% if group_remit_by_mis?(@group_remit) or group_remit_by_coop?(@group_remit) %>
    <%= link_to "Remarks", group_remit_remarks_path(@group_remit), class: small_btn('danger'), data: {turbo_frame: 'reg_form_modal'} %>
    <div class="mb-0 gap-1 <%= flex_justify_align('', 'center') %>">

      <% if @group_remit.is_pending_or_renewal? %>
        <%= link_to "#{@group_remit.official_receipt.present? ? "Edit" : "Add"} OR", edit_or_loan_insurance_group_remit_path, class: small_btn("outline-success"), data: {turbo_frame: 'modal'} if current_user.is_mis? %>
        <div class="d-flex gap-1">
          <%= content_tag :button, "Batch Import", class: "btn btn-sm btn-outline-primary", data: {bs_toggle: "modal", bs_target: "#batchEnrollment"} %> 
          <%= render_lppi_submit_btn(@group_remit) %>
          <%= render_denied_members_btn(@group_remit) %>
        </div>
        <%= render_lppi_delete_btn(@group_remit) %>
      <% end %>

    </div>
  <% end %>