<div class="modal fade" id="insuredType" data-bs-b ackdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBackdropLabel">Insured Count</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="<%= flex_justify_align('around', 'center') %>">
          <%= content_tag :h6, "Insured Type", style: "width: 150px;" %>
          <%= content_tag :h6, "Count", style: "width: 150px;", class: 'text-center' %>
        </div>

        <% @agreement.agreement_benefits.includes({product_benefits: :benefit}).each do |ab| %>
          <% batches = @group_remit.batches.where(agreement_benefit: ab) %>
          <% batch_dependents = BatchDependent.where(agreement_benefit: ab).joins(batch: :group_remits).joins(batch: :group_remits).where(group_remits: { id: @group_remit.id }) %>

          <% if batches.size == 0 && batch_dependents.size == 0%>
            <% next %>
          <% end %>



          <div class="<%= flex_justify_align('around', 'center') %> text-secondary">
            <%= content_tag :span, "#{ab.name.upcase}", 
              class: 'text-secondary', 
              style: 'font-size: .8rem; width: 150px;'
            %>
            
            <% if ab.batches.size > 0 %>
              <%= content_tag :span, "#{batches.size}", 
                class: 'text-secondary text-center', 
                style: 'font-size: .8rem; width: 150px;' 
              %>
            <% elsif ab.batch_dependents.size > 0 %>
              <%= content_tag :span, "#{batch_dependents.size}", 
                class: 'text-secondary text-center', 
                style: 'font-size: .8rem; width: 150px;' 
              %>
            <% end %>

          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>