<% @group_remit.status_mappings.each do |status, attributes| %>
  <% batches = @group_remit.batches.send(status) %>
  <%= link_to loan_insurance_group_remit_path(@group_remit, insurance_status: status), class: "mb-3 btn btn-sm btn-outline-primary position-relative" do %>
    <%= attributes[:label] %>
    <% unless batches.size.zero? %>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
        <%= batches.size >= 100 ? '99+' :  batches.size %>
      </span>
    <% end %>
  <% end %>
<% end %>

<% batches = @group_remit.batches.where(substandard: true) %>
<%= link_to loan_insurance_group_remit_path(@group_remit, substandard: true), class: "mb-3 btn btn-sm btn-outline-primary position-relative" do %>
  Substandard
  <% unless batches.size.zero? %>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
      <%= batches.size >= 100 ? '99+' : batches.size %>
    </span>
  <% end %>
<% end %>

<% if @batch_with_health_dec.present? %>
  <%= link_to loan_insurance_group_remit_path(@group_remit, batch_health_dec_filter: true), class: "mb-3 btn btn-sm btn-outline-danger position-relative" do %>
      <%= 'w/out Health Declaration' %>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
        <%= @batch_with_health_dec.size >= 100 ? '99+' :  @batch_with_health_dec.size %>
      </span>
  <% end %>
<% end %>

<% if @batch_with_incorrect_prem.present? and current_user.is_mis?%>
  <%= link_to loan_insurance_group_remit_path(@group_remit, incorrect_premiums: true), class: "mb-3 btn btn-sm btn-outline-danger position-relative" do %>
      <%= 'Incorrect Premiums' %>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
        <%= @batch_with_incorrect_prem.size >= 100 ? '99+' :  @batch_with_incorrect_prem.size %>
      </span>
  <% end %>
<% end %>