<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <%= content_tag :h5, 'Edit OR Number', class: "modal-title text-center", id: "staticBackdropLabel" %>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  
  <div class="modal-body">
    <%= simple_form_for(@group_remit, url: loan_insurance_group_remit_path) do |f| %>
      <div class="form-inputs <%= flex_justify_align('center', 'center') %> gap-2">
        <div class="d-flex gap-3 <%= flex_justify_align('center', 'center') %>">
            <%= f.input :official_receipt, label: false, placeholder: 'Official Receipt #', wrapper_html: {style: 'margin-bottom: 0!important; min-width: 300px;'} %>
        </div>
        <%= f.button :submit, 'Confirm', class: "#{small_btn('success')} mb-0", data: {turbo: false} %>
      </div>
    <% end %>
  </div>
<% end %>