<div class="mb-2">
  <%= link_to 'Dashboard', coop_dashboard_path, class: "#{small_btn('secondary')}" %>
</div>

<div class="card col-md-8 mb-3">
  <div class="card-body <%= flex_justify_align('between') %>">
    <div class="">
      <h6 class="card-title mb-1 text-primary <%= flex_justify_align('between', 'center') %>">
        <%= 'Loan Payment Protection Insurance' %>
      </h6>
      <div class="small text-muted <%= flex_justify_align('', '', true) %>">
        <%= content_tag :span, "Required Minimum Participants: #{@agreement.minimum_participation}" %>
        <%= content_tag :span, "Current Approved Participants: #{@agreement.active_batches_count}" %>
      </div>
    </div>
    <%= turbo_frame_tag "new_batch" do %>
      <%= link_to 'New Batch', new_loan_insurance_group_remit_path, class: small_btn('primary'), data: { turbo_frame: "new_batch" } %>
    <% end %>
  </div>
</div>

<table class="table table-hover">
    <thead>
      <tr class="table-dark">

        <th class="col-1" scope="col">ID</th>
        <th class="col-3" scope="col">Name</th>
        <th class="col-1 text-center" scope="col">Premiums</th>
        <th class="col-2 text-center" scope="col">Unused Premiums</th>
        <th class="col-2 text-center" scope="col">Premium Dues</th>
        <th class="col-1 text-center" scope="col">Status</th>
        <th class="col-2" scope="col">Actions</th>

      </tr>
    </thead>

    <tbody id="batches_body">
      <% if @group_remits.exists? %>
        <%= render @group_remits %>
      <% else %>
        <td class="text-center" colspan="12">NO RECORD</td>
      <% end %>
    </tbody>
  </table>
