
<!-- Batch Import Modal -->
<%= render "loan_insurance/group_remits/batch_import_modal" %>

<div class="mb-1 d-flex gap-1">
  <%= render 'buttons' %>
</div>

<div class="<%= flex_justify_align('between', 'start') %> mb-3 gap-3">
  <div class="card" style="height: auto; width: 100%">
    <div class="card-body <%= flex_justify_align('between', '', true) %> gap-3">
      <div class="<%= flex_justify_align('between', 'center') %> gap-3">
        <div class="">
          <div class="<%= flex_justify_align('', 'center') %> gap-3">
            <%= content_tag :span, @group_remit.status_text, class: @group_remit.status_badge %>
            <%= content_tag :h3, @group_remit, class: 'mb-0 text-primary' %>
          </div>

          <% if group_remit_is_payable?(@group_remit) %>
            <%= render 'group_remits/payment', group_remit: @group_remit %>  
          <% end %>
          
        </div>

        <% if @group_remit.official_receipt.present? %>
          <%= content_tag :span, "(OR# #{@group_remit.official_receipt})", class: "text-dark small" %>
        <% end %>

      </div>
      <div class="<%= flex_justify_align('center') %> gap-5">

        <% if group_remit_is_enrollable?(@group_remit) %>
          <div class="card d-flex">
            <div class="card-header" style="width: 100%;">
              <div class="text-center">
                <%= content_tag :span, "Enrollment Form", class: 'text-primary' %>
              </div>
            </div>
            <div class="card-body" >
              <%= render_lppi_form(@group_remit, @batch, @coop_members) %>
            </div>
          </div>
          <div class="<%= flex_justify_align('between','start',true) %>" >
            <%= turbo_frame_tag 'member details', style: 'width: 100%; height: 45%;' %>
            <%= turbo_frame_tag 'loan details', style: 'width: 100%; height: 50%;' %>
          </div>
        <% end%>

      </div>
    </div>
  </div> 
</div>

<div class="<%= flex_justify_align('between', 'center') %> gap-1">
  <div class="<%= flex_justify_align('start', 'center') %> gap-2">
    <%= render 'status_filter' %>
  </div>
  
  <div class="d-flex gap-1">
    <%= render 'search_bar' %>
  </div>  
</div>

<div class="table-responsive">
  <%= turbo_frame_tag "batches" do %>
    <table class="table table-hover">
      <thead>
        <tr class="table-dark">
          <th class="text-center" scope="col">ID</th>
          <th class="text-center" scope="col">Members</th>
          <th class="text-center" scope="col"><%= @agreement.plan.acronym == "SII" ? 'Savings Amount' : 'Loan Amount' %></th>
          <th class="text-center" scope="col">Terms</th>
          <th class="text-center" scope="col">Premium</th>

          <% if @agreement.plan.acronym == "LPPI" and @group_remit.agreement.unusable == true %>
              <th class="text-center" scope="col">Unused Premium</th>
          <% end %>
          
          <th class="text-center" scope="col">Premium Due</th>
          <th class="text-center" scope="col">Actions</th>
        </tr>
      </thead>

      <tbody id="batches_body">
        <%= render_batches(@group_remit, @batches, @agreement) %>
      </tbody>
    </table>
  <% end %>
</div>


<div class="">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1%>

  <div class="">
    <%= turbo_frame_tag "computation" do %>
      <%= render "computation", group_remit: @group_remit, agreement: @agreement %>
    <% end %>

    <% if @group_remit.under_review? || @group_remit.paid? %>
      <div class="float-end mb-3">
        <%= link_to "Download Summary Report", lppi_summary_loan_insurance_group_remit_path, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

