<!-- Batch Import Modal -->
<%= render "loan_insurance/group_remits/batch_import_modal" %>


<div class="<%= flex_justify_align('between', 'start') %> mb-3 gap-3">
  <div class="card" style="height: auto; width: 100%">
    <div class="card-body <%= flex_justify_align('between', '', true) %> gap-3">
      <div class="<%= flex_justify_align('', 'center') %> gap-3">
        <%= content_tag :span, @group_remit.status_text, class: @group_remit.status_badge %>
        <%= content_tag :h3, class: 'mb-0 text-primary' do %>
            <%= @group_remit %>    
        <% end %>
        <div class="mb-0 gap-1 <%= flex_justify_align('', 'center') %>">

          <% if @group_remit.is_pending_or_renewal? %>
            <div class="d-flex gap-1">
              <%= content_tag :button, "Batch Import", 
              class: "btn btn-sm btn-outline-primary",
              data: {bs_toggle: "modal",
                bs_target: "#batchEnrollment"
              }%> 
              <%= button_to 'Submit', submit_loan_insurance_group_remit_path(@group_remit), 
                  method: :get,
                  class: small_btn('outline-primary'),
                  data: {turbo_confirm: 'Submit group remit?' }
                %>
              <% if @group_remit.complete_health_decs? %>
                <%= button_to 'Submit', submit_loan_insurance_group_remit_path(@group_remit), 
                  method: :get,
                  class: small_btn('outline-primary'),
                  data: {turbo_confirm: 'Submit group remit?' }
                %>
              <% else %>
                <div class="" data-bs-toggle="tooltip" data-bs-placement="top" title="Please answer all health declaration" style="cursor: pointer">
                  <button type="button" class="<%= small_btn('outline-primary') %>" disabled>
                    Submit
                  </button>
                </div>
              <% end %>
              <% if @group_remit.denied_members.present? %>
                <%= link_to 'Denied members', group_remit_denied_members_path(@group_remit), class: small_btn('outline-primary') %>
              <% end %>
            </div>
            <% if @group_remit.is_pending_or_renewal? %>
              <%= button_to "Delete", loan_insurance_group_remit_path(@group_remit), 
                method: :delete,
                data: { turbo_confirm: 'Delete group remit?'},
                class: small_btn('outline-danger') 
              %>
            <% end %>
          <% elsif @group_remit.is_for_payment? %>
            <%= render 'group_remits/payment', group_remit: @group_remit %>
          <% end %>

        </div>
      </div>
      <div class="<%= flex_justify_align('center') %> gap-5">
        <% if @group_remit.is_pending_or_renewal? %>
          <div class="card d-flex">
            <div class="card-header" style="width: 100%;">
              <div class="text-center">
                <%= content_tag :span, 'LPPI Enrollment Form ', class: 'text-primary' %>
              </div>
            </div>
            <div class="card-body" >
              <%= render "loan_insurance/batches/form", batch: @batch, coop_members: @coop_members, group_remit_id: @group_remit.id %>
            </div>
          </div>
          <div class="<%= flex_justify_align('between','start',true) %>" >
            <%= turbo_frame_tag 'member details', style: 'width: 100%; height: 45%;' %>
            <%= turbo_frame_tag 'loan details', style: 'width: 100%; height: 50%;' %>
          </div>
        <% end%>
      </div>
    </div>
  </div> 
</div>

<div class="<%= flex_justify_align('between', 'center') %> gap-1">
  <div class="<%= flex_justify_align('start', 'center') %> gap-2">
    <%== pagy_bootstrap_nav(@pagy) %>
    <% @group_remit.status_mappings.each do |status, attributes| %>
      <% batches = @group_remit.batches.send(status) %>
      <%= link_to loan_insurance_group_remit_path(@group_remit, insurance_status: status), class: "mb-3 btn btn-sm btn-primary position-relative" do %>
        <%= attributes[:label] %>
        <% unless batches.size.zero? %>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
            <%= batches.size >= 100 ? '99+' :  batches.size %>
          </span>
        <% end %>
      <% end %>
    <% end %>

  </div>
  
  <div class="d-flex gap-1">
    <%= form_with url: loan_insurance_group_remit_path(@group_remit), method: :get do %>
      <div class="form-group d-flex justify-content-end gap-3 mb-3">
        <%= text_field_tag 'batch_filter', 
          nil, 
          placeholder: 'Member\'s name', 
          class: "form-control", 
          style: "width: auto"
        %>
        <%= submit_tag 'Search', class: small_btn('warning') %>
      </div>
    <% end %>

    <div class="">
      <%= link_to "View All", loan_insurance_group_remit_path(@group_remit), 
        class: "#{small_btn('outline-warning')} mb-3 d-flex align-items-center", 
        style: "height: 38px;",
        data: { turbo: false } 
      %>
    </div>
  </div>  
</div>

<div class="table-responsive">
  <%= turbo_frame_tag "batches" do %>
  <table class="table table-hover">
    <thead>
      <tr class="table-dark">
        <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col" style="width: 30%;">Members</th>
        <th class="text-center" scope="col">Loan Amount</th>
        <th class="text-center" scope="col">Effectivity Date</th>
        <th class="text-center" scope="col">Expiry Date</th>
        <th class="text-center" scope="col">Premium</th>
        <th class="text-center" scope="col">Unused Premium</th>
        <th class="text-center" scope="col">Premium Due</th>
        <th class="text-center" scope="col">Actions</th>
      </tr>
    </thead>

    <tbody id="batches_body">

      <% if @group_remit.batches.exists? %>
        <%= render @batches, group_remit: @group_remit, agreement: @agreement %>
      <% else %>
        <tr>
          <td colspan="8" class="text-center">
            No record found.
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>
<% end %>

<%= turbo_frame_tag "computation" do %>
  <%= render "group_remits/computation", group_remit: @group_remit, agreement: @agreement %>
<% end %>  

