
<!-- Batch Import Modal -->
<%= render "loan_insurance/group_remits/batch_import_modal" %>

<div class="mb-1 d-flex gap-1">
  <% if @group_remit.agreement.plan.acronym == "LPPI" %>
    <%= link_to loan_insurance_group_remits_path, class: small_btn("outline-secondary"), title: 'Back' do %>
      <i class="bi bi-chevron-left"></i>
    <% end %>
  <% else %>
    <%= link_to loan_insurance_group_remits_path(p: "sii"), class: small_btn("outline-secondary"), title: 'Back' do %>
      <i class="bi bi-chevron-left"></i>
    <% end %>
  <% end %>
  <% if current_user.is_mis? %>
    <%= link_to "Remarks", group_remit_remarks_path(@group_remit), class: small_btn('danger'), data: {turbo_frame: 'reg_form_modal'} %>
  <% end %>
  <div class="mb-0 gap-1 <%= flex_justify_align('', 'center') %>">
    <% if @group_remit.is_pending_or_renewal? %>
      <% if mis_user?(current_user) %>
        <%= link_to "#{@group_remit.official_receipt.present? ? "Edit" : "Add"} OR", edit_or_loan_insurance_group_remit_path, class: small_btn("outline-success"), data: {turbo_frame: 'modal'} %>
      <% end %>

      <div class="d-flex gap-1">
        <%= content_tag :button, "Batch Import", 
        class: "btn btn-sm btn-outline-primary",
        data: {bs_toggle: "modal",
          bs_target: "#batchEnrollment"
        }%> 
        <% if @group_remit.complete_health_decs? %>
          <%= button_to 'Submit', submit_loan_insurance_group_remit_path(@group_remit), 
            method: :get,
            class: small_btn('outline-primary'),
            data: {turbo_confirm: 'Submit group remit?' }
          %>
        <% else %>
          <div class="" data-bs-toggle="tooltip" data-bs-placement="top" title="Please answer all health declaration" style="cursor: pointer">
            <button type="button" class="<%= small_btn('outline-primary') %>" disabled>
              Submit
            </button>
          </div>
        <% end %>
        <% if @group_remit.denied_members.present? %>
            <%= link_to group_remit_denied_members_path(@group_remit), class: "#{small_btn('outline-danger')} position-relative" do %>
            Rejected members
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              !
              <span class="visually-hidden">unread messages</span>
            </span>
          <% end %>
        <% end %>
      </div>
      <% if @group_remit.is_pending_or_renewal? %>
        <%= button_to "Delete Batch", loan_insurance_group_remit_path(@group_remit), 
          method: :delete,
          data: { turbo_confirm: 'Delete Batch?'},
          class: small_btn('outline-danger') 
        %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="<%= flex_justify_align('between', 'start') %> mb-3 gap-3">
  <div class="card" style="height: auto; width: 100%">
    <div class="card-body <%= flex_justify_align('between', '') %> gap-3">
      <div class="<%= flex_justify_align('between', 'center') %> gap-3">
        <div class="">
          <div class="<%= flex_justify_align('', 'center') %> gap-3">
            <%= content_tag :span, @group_remit.status_text, class: @group_remit.status_badge %>
            <%= content_tag :h3, @group_remit, class: 'mb-0 text-primary' %>
          </div>
          <% if (@group_remit.is_for_payment? or @group_remit.reupload_payment?) && (@group_remit.process_coverage.approved?) %>
            <%= render 'group_remits/payment', group_remit: @group_remit %>  
          <% end %>
        </div>

        <% if @group_remit.official_receipt.present? %>
          <%= content_tag :span, "(OR# #{@group_remit.official_receipt})", class: "text-dark small" %>
        <% end %>
      </div>
      <div class="<%= flex_justify_align('center') %> gap-5">
        <% if @group_remit.is_pending_or_renewal? %>
          <div class="card d-flex">
            <div class="card-header" style="width: 100%;">
              <div class="text-center">
                <% plan = @group_remit.agreement.plan.acronym %>
                <%= content_tag :span, "#{plan} Enrollment Form", class: 'text-primary' %>
              </div>
            </div>
            <div class="card-body" >
              <% if plan == "LPPI" %>
                <%= render "loan_insurance/batches/form", batch: @batch, coop_members: @coop_members, group_remit_id: @group_remit.id %>
              <% else %>
                <%= render "loan_insurance/batches/sii_form", batch: @batch, coop_members: @coop_members, group_remit_id: @group_remit.id %>
              <% end %>
              
            </div>
          </div>
          <div class="<%= flex_justify_align('between','start',true) %>" >
            <%= turbo_frame_tag 'member details', style: 'width: 100%; height: 45%;' %>
            <%= turbo_frame_tag 'loan details', style: 'width: 100%; height: 50%;' %>
          </div>
        <% end%>
      </div>
    </div>
  </div> 
</div>

<div class="<%= flex_justify_align('between', 'center') %> gap-1">
  <div class="<%= flex_justify_align('start', 'center') %> gap-2">
    <% @group_remit.status_mappings.each do |status, attributes| %>
      <% batches = @group_remit.batches.send(status) %>
      <%= link_to loan_insurance_group_remit_path(@group_remit, insurance_status: status), class: "mb-3 btn btn-sm btn-outline-primary position-relative" do %>
        <%= attributes[:label] %>
        <% unless batches.size.zero? %>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
            <%= batches.size >= 100 ? '99+' :  batches.size %>
          </span>
        <% end %>
      <% end %>
    <% end %>

    <% if @batch_with_health_dec.present? %>
      <%= link_to loan_insurance_group_remit_path(@group_remit, batch_health_dec_filter: true), class: "mb-3 btn btn-sm btn-outline-danger position-relative" do %>
          <%= 'w/out Health Declaration' %>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
            <%= @batch_with_health_dec.size >= 100 ? '99+' :  @batch_with_health_dec.size %>
          </span>
      <% end %>
    <% end %>

  </div>
  
  <div class="d-flex gap-1">
    <%= form_with url: loan_insurance_group_remit_path(@group_remit), method: :get do %>
      <div class="form-group d-flex justify-content-end gap-3 mb-3">
        <%= text_field_tag 'batch_filter', 
          nil, 
          placeholder: 'Member\'s name', 
          class: "form-control", 
          style: "width: auto"
        %>
        <%= submit_tag 'Search', class: small_btn('warning') %>
      </div>
    <% end %>

    <div class="">
      <%= link_to "View All", loan_insurance_group_remit_path(@group_remit), 
        class: "#{small_btn('outline-warning')} mb-3 d-flex align-items-center", 
        style: "height: 38px;",
        data: { turbo: false } 
      %>
    </div>
  </div>  
</div>

<div class="table-responsive">
  <%= turbo_frame_tag "batches" do %>
  <table class="table table-hover">
    <thead>
      <tr class="table-dark">
        <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col">Members</th>
        <% if @agreement.plan.acronym == "SII" %>
          <th class="text-center" scope="col">Savings Amount</th>
        <% else %>
          <th class="text-center" scope="col">Loan Amount</th>
        <% end %>
        <th class="text-center" scope="col">Terms</th>
        <th class="text-center" scope="col">Premium</th>
        <% if @agreement.plan.acronym == "LPPI" %>
          <% if @group_remit.agreement.unusable == true %>
            <th class="text-center" scope="col">Unused Premium</th>
          <% end %>
        <% end %>
        
        
        <th class="text-center" scope="col">Premium Due</th>
        <th class="text-center" scope="col">Actions</th>
      </tr>
    </thead>

    <tbody id="batches_body">

      <% if @group_remit.batches.exists? %>
        <%= render @batches, group_remit: @group_remit, agreement: @agreement %>
      <% else %>
        <tr>
          <td colspan="10" class="text-center">
            No record found.
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>
<% end %>


<div class="">
  <% if @pagy.pages > 1 %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>

  <div class="">
    <%= turbo_frame_tag "computation" do %>
      <%= render "computation", group_remit: @group_remit, agreement: @agreement %>
    <% end %>

    <% if @group_remit.under_review? || @group_remit.paid? %>
      <div class="float-end mb-3">
        <%= link_to "Download Summary Report", lppi_summary_loan_insurance_group_remit_path, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

