<div id="<%= dom_id plan %>">
  <p>
    <strong>Name:</strong>
    <%= plan.name %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= plan.acronym %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= plan.description %>
  </p>

  <p>
    <strong>Entry age from:</strong>
    <%= plan.entry_age_from %>
  </p>

  <p>
    <strong>Entry age to:</strong>
    <%= plan.entry_age_to %>
  </p>

  <p>
    <strong>Exit age:</strong>
    <%= plan.exit_age %>
  </p>

  <p>
    <strong>Min participation:</strong>
    <%= plan.min_participation %>
  </p>


</div>
