<div class="card mb-3">
  <div class="card-header">
    <h1>Plan</h1>
    <%= link_to "Delete", @plan, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
  <div class="card-body">
    <%= render @plan %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_plan_path(@plan), class: "btn btn-secondary btn-sm" %> |
    <%= link_to "Back", plans_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>
<%= link_to "Add Benefits", new_agreement_benefit_path, class: "btn btn-secondary btn-sm mb-3", data: { turbo_frame: "remote_modal" } %>
<% @agreement_benefits = AgreementBenefit.where(plan_id: @plan) %>
<div class="row">
  <% @agreement_benefits.each do |ab| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header">
        <strong> <%= ab.name %> </strong> <small class="text-primary"> <%= ab.insured_type %> </small> <br>
        <small> <%= ab.description %> </small>
        </div>
        <div class="card-body">
          ab.
        </div>
        <div class="card-footer">
          <%= link_to "Edit", edit_agreement_benefit_path(ab), class: "btn btn-secondary btn-sm", data: { turbo_frame: "remote_modal" } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
