<%= render 'layouts/partials/nav_dropdown', title: 'Cooperative' do %>
  <%= link_to "Members", coop_members_path, class: "dropdown-item" %>
  <%= link_to "Claims Filed", index_coop_process_claims_path, class: "dropdown-item" %>
  <%= link_to "Claims Message", claim_remarks_path, class: "dropdown-item" %>
  <%= link_to "Graph", pages_coop_path, class: "dropdown-item", data: {turbo: false} %>
<% end %>
<%= render 'layouts/partials/nav_dropdown', title: 'Insurance' do %>
  <% @cooperative.agreements.includes(:plan).each do |a| %>
    <% case a.plan.acronym %>
    <% when 'LPPI' %>
    <%= link_to "LPPI", loan_insurance_group_remits_path, class: "dropdown-item" %>
    <% when "SII" %>
      <%= link_to "SII", sii_index_loan_insurance_group_remits_path(p: "sii"), class: "dropdown-item" %>
    <% else %>
      <%#= link_to "GYRT", coop_agreement_path(a), class: "dropdown-item" %>
      <%= link_to a.plan.acronym, coop_agreement_path(a), class: "dropdown-item" %>
    <% end %>
  <% end %>
<% end %>
<%= link_to '#', class: "nav-link position-relative" do  %>
  <i class="bi bi-bell-fill"></i>
  <% unless @cooperative.notifications.unread.size == 0%>
    <span class="position-absolute top-1 start-90 translate-middle badge rounded-pill bg-warning text-dark">
      <%= @cooperative.notifications.unread.size < 100 ? @cooperative.notifications.unread.size : '99+'%>
    </span>
  <% end %>
<% end %>