<nav class="navbar navbar-expand-lg navbar-light <%= 'bg-white border-bottom' if current_user || request.path.include?('password') %> py-3 mb-4">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <% if current_user || request.path.include?('password') %>
        <a class="navbar-brand <%= flex_justify_align('', 'center') %>" href="#">
          <%= image_tag 'cis_logo.png', width: 150, class: 'mb-2 mb-lg-0 me-2' %>
          <div class="" style="max-width: 500px;">
            <% if current_user %>
              <%= "#{truncate(nav_header(current_user)&.upcase, length: 65)} " %>
            <% end %>
          </div>
        </a>
      <% end %>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if current_user %>
          <%= link_to "Home", authenticated_root_path, class: "nav-link" %>
          
          <% if coop_user?(current_user) %>
            <%= render 'layouts/partials/nav_dropdown', title: 'Cooperative' do %>
              <%= link_to "Members", coop_members_path, class: "dropdown-item" %>
              <%= link_to "Claims Filed", index_coop_process_claims_path, class: "dropdown-item" %>
              <%= link_to "Claims Message", claim_remarks_path, class: "dropdown-item" %>            
            <% end %>
            
            <%= render 'layouts/partials/nav_dropdown', title: 'Insurance' do %>
              <% @cooperative.agreements.includes(:plan).each do |a| %>
                <% case a.plan.acronym %>
                <% when 'LPPI' %>
                  <%= link_to "LPPI", loan_insurance_group_remits_path, class: "dropdown-item" %>
                <% else %>
                  <%= link_to "GYRT", coop_agreement_path(a), class: "dropdown-item" %>
                <% end %>
              <% end %>
            <% end %>

            <%= link_to '#', class: "nav-link position-relative" do  %>
              <i class="bi bi-bell-fill"></i>
              <% unless @cooperative.notifications.unread.size == 0%>
                <span class="position-absolute top-1 start-90 translate-middle badge rounded-pill bg-warning text-dark">
                  <%= @cooperative.notifications.unread.size < 100 ? @cooperative.notifications.unread.size : '99+'%>
                </span>
              <% end %>
            <% end %>

          <% else %>
            <% case current_user.userable.department_id %>
            <% when 11 %>
                <%= render 'layouts/partials/nav_dropdown', title: 'Vouchers' do %>
                  <%= link_to "Requests", requests_accounting_checks_path, class: "dropdown-item" %>
                  <%= link_to "Check Vouchers", accounting_checks_path, class: "dropdown-item" %>
                  <%= link_to "Journal Vouchers", accounting_journals_path, class: "dropdown-item" %>
                <% end %>
            <% when 26 %>
                <%= render 'layouts/partials/nav_dropdown', title: 'Business Checks' do %>
                  <%= link_to "Index", treasury_checks_path	, class: "dropdown-item" %>
                  <%= link_to "Requests", requests_treasury_checks_path	, class: "dropdown-item" %>
                <% end %>
                <%= link_to "Cashier Entries", treasury_cashier_entries_path	, class: "nav-link" %>
                <%= link_to "Remittances", payments_path	, class: "nav-link" %>
            <% else %>
              <%= render 'layouts/partials/nav_dropdown', title: 'Claims' do %>
                <%= link_to "Submitted", index_show_process_claims_path(p: 1), class: "dropdown-item" %>
                <%= link_to "Claims Filed", index_show_process_claims_path(p: 2), class: "dropdown-item" %>
                <%= link_to "Processing", index_show_process_claims_path(p: 3), class: "dropdown-item" %>
                <%= link_to "Evaluation", index_show_process_claims_path(p: 4), class: "dropdown-item" %>
                <%= link_to "VP Evaluation", index_show_process_claims_path(p: 5), class: "dropdown-item" %>
                <%= link_to "President Evaluation", index_show_process_claims_path(p: 6), class: "dropdown-item" %>
                <li><hr class="dropdown-divider"></li>
                <%= link_to "Documents", documents_path, class: "dropdown-item" %>
                <%= link_to "Claim Type", claim_types_path, class: "dropdown-item" %>
                <%= link_to "Claims Message", claim_remarks_path, class: "dropdown-item" %>
              <% end %>

              <%= render 'layouts/partials/nav_dropdown', title: 'Underwriting' do %>
                <%= link_to "Process", process_coverages_path, class: "dropdown-item" %>
                <%= link_to "Medical Director", med_directors_home_path, class: "dropdown-item" %>
              <% end %>

              <%= render 'layouts/partials/nav_dropdown', title: "Dashboard" do %>
                <%= link_to "Cooperative", pages_coop_path, class: "dropdown-item", data: { turbo: false } %>
                <%= link_to "C.O.S.O.", pages_coso_path, class: "dropdown-item", data: { turbo: false } %>
                <%= link_to "President", pages_president_path, class: "dropdown-item", data: { turbo: false } %>
              <% end %>
              

              <%= render 'layouts/partials/nav_dropdown', title: 'Data Entries' do %>
                <%= link_to "Agreement", agreements_path, class: "dropdown-item" %>
                <%= link_to "EmpAgreement", emp_agreements_path, class: "dropdown-item" %>
                <%= link_to "Approver", emp_approvers_path, class: "dropdown-item" %>
                <%= link_to "Authority Levels", authority_levels_path, class: "dropdown-item" %>
                <%= link_to "Plans", plans_path, class: "dropdown-item" %>
                <%= link_to "Benefits", benefits_path, class: "dropdown-item" %>
                <li><hr class="dropdown-divider"></li>
                <%= link_to "Cooperative", cooperatives_path, class: "dropdown-item" %>
                <li><hr class="dropdown-divider"></li>
                <%= link_to "Employees", employees_path, class: "dropdown-item" %>
                <%= link_to "User Levels", user_levels_path, class: "dropdown-item" %>
                <%= link_to "Cooperative User", coop_users_path, class: "dropdown-item" %>
                <%= link_to "Agents", agents_path, class: "dropdown-item" %>
                <%= link_to "Pending Users", user_index_path, class: "dropdown-item" %>
              <% end %>
            <% end %>

          <% end %>
          
          <%= render 'layouts/partials/nav_dropdown', title: "<i class=\"bi bi-person-circle\"></i> <small> Hi, #{current_user.userable.first_name}</small>".html_safe do %>
            <li class="nav-item"> <a class="nav-link" href="#"><%= current_user.email %></a> </li>
            <li class="nav-item"> <%= link_to "Change Password", edit_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"> <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-primary mx-2" %></li>
          <% end %>

        <% elsif request.path.include?('password') %>
            <li class="nav-item"> <%= link_to "Homepage", unauthenticated_root_path, class: "nav-link"  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
