<nav class="navbar navbar-expand-lg navbar-light <%= 'bg-white border-bottom' if current_user || request.path.include?('password') %> py-3 mb-4">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <% if current_user || request.path.include?('password') %>
        <a class="navbar-brand <%= flex_justify_align('', 'center') %>" href="#">
          <%= image_tag 'cis_logo.png', width: 150, class: 'mb-2 mb-lg-0 me-2' %>
          <div class="" style="max-width: 500px;">
            <% if current_user %>
              <%= "#{truncate(nav_header(current_user)&.upcase, length: 65)} " %>
            <% end %>
          </div>
        </a>
      <% end %>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if current_user %>
          <%= link_to "Home", authenticated_root_path, class: "nav-link" %>
          <% if coop_user?(current_user) %>
            <%= render 'layouts/partials/coop_nav' %>
          <% elsif agent_user?(current_user) %>
            <%= render 'layouts/partials/nav_dropdown', title: "Agent" do %>
              <%= link_to "Group Proposals", group_proposals_path, class: "dropdown-item" %>
            <% end %>
          <% else %>
            <% case current_user.userable.department_id %>
            <% when 11 %>
              <%= render 'layouts/partials/accounting_nav' %>
            <% when 26 %>
              <%= render 'layouts/partials/treasury_nav' %>
            <% when 15 %>
              <%= link_to "Members Database", mis_members_path, class: "nav-link" %>
              <%= render 'layouts/partials/nav_dropdown', title: 'Data Entries' do %>
                <%= link_to "Agreement", agreements_path, class: "dropdown-item" %>
                <%= link_to "Cooperative", cooperatives_path, class: "dropdown-item" %>
                <%= link_to "Transmittal", transmittals_path, class: "dropdown-item" %>
              <% end %>
            <% when 27 %>
              <%= render 'layouts/partials/nav_dropdown', title: 'Audit' do %>
                <%= link_to "For Audit", audit_for_audits_path, class: "dropdown-item" %>
              <% end %>
            <% when 17 %>
              <%= render 'layouts/partials/nav_dropdown', title: 'Underwriting' do %>
                <%= link_to "Agreement", agreements_path, class: "dropdown-item" %>
                <%= link_to "Process", process_coverages_path, class: "dropdown-item" %>
                <%= link_to "Transmittal", transmittals_path, class: "dropdown-item" %>
                <%#= link_to "Generate CSV", gen_csv_process_coverages_path, class: "dropdown-item", data: { turbo_frame: "remote_modal" } %>
                <% if current_user.medical_director? %>
                  <%= link_to "Medical Director", med_directors_home_path, class: "dropdown-item" %>
                <% end %>
              <% end %>
            <% when 19 %>
            <%= link_to "Dashboard", claims_dashboards_path, class: "nav-link" %>
            <%#= link_to "Cooperative", cooperatives_path, class: "nav-link" %>
            <%= render 'layouts/partials/nav_dropdown', title: 'Claims' do %>
              <%= link_to "Documents", claims_claim_documents_path, class: "dropdown-item" %>
              <%= link_to "Claims Message", claims_claim_remarks_path, class: "dropdown-item" %>
              <%= link_to "Benefits", benefits_path, class: "dropdown-item" %>
              <%= link_to "Claim Type", claims_claim_types_path, class: "dropdown-item" %>
              <%= link_to "Medical Code", claims_causes_path, class: "dropdown-item" %>
              <%= link_to "Claim Nature", claims_claim_type_natures_path, class: "dropdown-item" %>
              <%= link_to "Claim Retrieval", claims_claim_retrievals_path, class: "dropdown-item" %>
              <%= link_to "Claim Fund - Replenish", claims_cf_replenishes_path, class: "dropdown-item" %>
              <%= link_to "Claim Fund - Availment", claims_cf_availments_path, class: "dropdown-item" %>
              <%#= link_to "Claims Message", claim_remarks_path, class: "dropdown-item" %>
              <%= link_to "User Levels", user_levels_path, class: "dropdown-item" %>
              <%= link_to "Claims fund", claims_cf_accounts_path, class: "dropdown-item" %>
            <% end %>
            <% when 14 %>
            <%= render 'layouts/partials/nav_dropdown', title: "A&R" do %>
              <%= link_to "Reinsurer", reinsurers_path, class: "dropdown-item" %>
              <%= link_to "Life Reinsurance", reinsurances_path, class: "dropdown-item" %>
              <%= link_to "Life Reserves", actuarial_reserves_path, class: "dropdown-item" %>
            <% end %>
          <% else %>
            <% if current_user.senior_officer? %>
              <%= render 'layouts/partials/nav_dropdown', title: "Dashboard" do %>
                <%#= link_to "Cooperative", pages_coop_path, class: "dropdown-item", data: { turbo: false } %>
                <%= link_to "C.O.S.O.", pages_coso_path, class: "dropdown-item", data: { turbo: false } %>
                <%= link_to "President", pages_president_path, class: "dropdown-item", data: { turbo: false } %>
              <% end %>
            <% end %>
            <%= render 'layouts/partials/nav_dropdown', title: 'Data Entries' do %>
              <% if current_user.admin? %>
                <%= link_to "Agreement", agreements_path, class: "dropdown-item" %>
                <%= link_to "EmpAgreement", emp_agreements_path, class: "dropdown-item" %>
                <%= link_to "Approver", emp_approvers_path, class: "dropdown-item" %>
                <%= link_to "Authority Levels", authority_levels_path, class: "dropdown-item" %>
                <%= link_to "Plans", plans_path, class: "dropdown-item" %>
                <%= link_to "Benefits", benefits_path, class: "dropdown-item" %>
                <li><hr class="dropdown-divider"></li>
                <%= link_to "Cooperative", cooperatives_path, class: "dropdown-item" %>
                <li><hr class="dropdown-divider"></li>
                <%= link_to "Meeting Schedule", demo_schedules_path, class: "dropdown-item" %>
                <%= link_to "Employees", employees_path, class: "dropdown-item" %>
                <%= link_to "User Levels", user_levels_path, class: "dropdown-item" %>
                <%= link_to "Cooperative User", coop_users_path, class: "dropdown-item" %>
                <%= link_to "Agents", agents_path, class: "dropdown-item" %>
                <%= link_to "Pending Users", user_index_path, class: "dropdown-item" %>
                <li><hr class="dropdown-divider"></li>
                <%= link_to "Teams", teams_path, class: "dropdown-item" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= render 'layouts/partials/nav_dropdown', title: "<i class=\"bi bi-person-circle\"></i> <small> Hi, #{current_user.userable.first_name}</small>".html_safe do %>
          <li class="nav-item"> <a class="nav-link" href="#"><%= current_user.email %></a> </li>
          <li class="nav-item"> <%= link_to "Change Password", edit_user_registration_path, class: "nav-link" %></li>
          <% if current_user.userable_type == "Employee" and !current_user.is_mis? %>
            <%= content_tag :li, class:"nav-item"  do %>
              <%= link_to "Claims Authority Level: #{to_currency(session[:claims_max_amount])}", "#", class: "nav-link" unless session[:claims_max_amount].nil? %>
              <%= link_to "Underwriting Authority Level: #{to_currency(session[:max_amount])}", "#", class: "nav-link" unless session[:max_amount].nil? %>
            <% end %>
          <% end %>
          <li class="nav-item"> <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-primary mx-2" %></li>
        <% end %>
      <% elsif request.path.include?('password') %>
        <li class="nav-item"> <%= link_to "Homepage", unauthenticated_root_path, class: "nav-link"  %></li>
      <% end %>
    </ul>
  </div>
</div>
</nav>
