<h1>Medical Director Homepage</h1>
<p>Find me in app/views/med_directors/home.html.erb</p>

<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Process Coverage</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @group_remits.each do |group_remit| %>
        <tr>

          <td>
            <!-- temp change process_coverage.group_remit to process_coverage.group_remit.id -->
            <strong> <%= group_remit.agreement.cooperative %> </strong> <%= content_tag :small, "#{group_remit.agreement.cooperative.acronym}", class: "text-primary" %> <br>
            <small><%= group_remit.agreement.plan.acronym %><%= group_remit.process_coverage.id %></small> <br>
            <%= content_tag :small, group_remit.agreement.plan, class: "fw-lighter" %>
          </td>
    
          <td>
            <%= link_to 'View', all_health_decs_group_remit_batches_path(group_remit), class: 'btn btn-secondary btn-sm' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
