<%batch_presenter = BatchPresenter.new(batch)%>

<% if batch.coop_member.deceased? %>
    <%= content_tag :span, 'DECEASED', class: badge('danger') %>
<% end %>

<% if batch.for_review? %>
    <span class="<%= badge('secondary') %>">For review</span>
<% elsif batch.pending? %>
    <span class="<%= badge('warning') %> text-dark">Pending</span>
<% elsif batch.approved? %>
    <span class="<%= badge('primary') %>">Approved</span>
<% elsif batch.denied? %>
    <span class="<%= badge('danger') %>">Denied</span>
<% elsif batch.for_reconsideration? %>
    <span class="<%= badge('warning') %> text-dark">For reconsideration</span>
<% elsif batch.terminated? %>
    <span class="<%= badge('danger') %>">Terminated</span>
<% end %>

<% if batch.recent? %>
    <span class="<%= badge('primary') %>">New</span>
<% else %>
    <span class="<%= badge('warning') %> text-dark"><%= batch.status.to_s.titleize %></span>
<% end %>

<% if agreement.plan.acronym == 'GYRTBR' || agreement.plan.acronym == 'GYRTFR'%>
    <span class="badge bg-info text-dark">
            <%= batch_presenter.capitalized_insured_type %>
    </span>
<% end %>