
<tr>
  <td class="text-center align-middle" ><%= batch.id %></td>
  <td class="align-middle" >
    <div class="d-flex" style="padding-left: 60px; padding-top: 30px; padding-bottom: 30px;">
      <div class="d-flex flex-column gap-1">
        
        <div class="">
          <%= render 'batches/batch_status', batch: batch, agreement: agreement %>
        </div>
        <%= render 'batches/member_details', 
          batch: batch, 
          member: batch.member_details, 
          agreement: agreement
        %>
      </div>
    </div>
  </td>
	<td class="align-middle" >
		<div class="<%= flex_justify_align('center') %>">
			<div class="<%= flex_justify_align('','center',true) %> ps-6">
				<div class="d-flex flex-column mb-1">
					<%= content_tag :span, 
              "#{to_curr(batch.loan_amount)}", class: "text-primary sm-green-text"
          %>
				</div>
			</div>
		</div>
	</td>
	<td class="align-middle" >
		<div class="<%= flex_justify_align('center') %>">
			<div class="<%= flex_justify_align('','center',true) %> ps-6">
				<div class="d-flex flex-column mb-1">
					<%= content_tag :span, 
              "#{batch.terms}", class: "text-secondary sm-green-text"
          %>
				</div>
			</div>
		</div>
	</td>
  <td class="align-middle" >
		<div class="<%= flex_justify_align('center') %>">
			<div class="<%= flex_justify_align('','center',true) %> ps-6">
				<div class="d-flex flex-column mb-1">
					<%= content_tag :span, 
              "#{to_curr(batch.premium)}", 
              class: "text-secondary sm-green-text"
          %>
				</div>
			</div>
		</div>
	</td>
	<% if agreement.plan.acronym == "LPPI" %>
		<% if group_remit.agreement.unusable == true %>
			<td class="align-middle" >
				<div class="<%= flex_justify_align('center') %>">
					<div class="<%= flex_justify_align('','center',true) %> ps-6">
						<div class="d-flex flex-column mb-1">
							<%= content_tag :span, 
									"(#{to_curr(batch.unused)})", 
									class: "text-secondary sm-green-text"
							%>
						</div>
					</div>
				</div>
			</td>
		<% end %>
	<% end %>
	
  <td class="align-middle" >
		<div class="<%= flex_justify_align('center') %>">
			<div class="<%= flex_justify_align('','center',true) %> ps-6">
				<div class="d-flex flex-column mb-1">
					<%= content_tag :span, 
              "#{to_curr(batch.premium_due)}", 
              class: "text-primary sm-green-text"
          %>
				</div>
			</div>
		</div>
	</td>
  <td class="align-middle">
		<%= render 'loan_insurance/batches/action_buttons', 
			group_remit: group_remit,
			batch: batch,
			agreement: agreement,
      member: batch.member_details
		%>
	</td>
</tr>