
<tr>
  <td class="text-center align-middle" ><%= batch.id %></td>
  <td class="align-middle" >
    <div class="d-flex" style="padding-left: 60px; padding-top: 30px; padding-bottom: 30px;">
      <div class="d-flex flex-column gap-1">
        
        <div class="">
          <%= render 'batches/batch_status', batch: batch, agreement: agreement %>
        </div>
        <%= render 'batches/member_details', 
          batch: batch, 
          member: batch.member_details, 
          agreement: agreement
        %>
      </div>
    </div>
  </td>
	<td class="align-middle" >
		<div class="<%= flex_justify_align('center') %>">
			<div class="<%= flex_justify_align('','center',true) %> ps-6">
				<div class="d-flex flex-column mb-1">
					<%= content_tag :span, 
              "#{to_curr(batch.loan_amount)}", 
							class: batch.adjusted_cov > 0 ? "text-secondary sm-green-text" : "text-primary sm-green-text"
          %>
					<% if batch.adjusted_cov > 0 %>
						<%= content_tag :span, "#{to_curr(batch.adjusted_cov)}", class: "text-warning sm-green-text" %>
					<% end %>
				</div>
			</div>
		</div>
	</td>
	<td class="align-middle" >
		<div class="<%= flex_justify_align('center') %>">
			<div class="<%= flex_justify_align('','center',true) %> ps-6">
				<div class="d-flex flex-column mb-1">
					<%= content_tag :span, 
              "Effectivity: #{month_day_year(batch.effectivity_date)}", class: "text-secondary sm-green-text"
          %>
					<%= content_tag :span, 
              "Expiry: #{month_day_year(batch.expiry_date)}", class: "text-secondary sm-green-text"
          %>
					<%= content_tag :span, 
              "Terms: #{batch.terms}", class: "text-secondary sm-green-text"
          %>
				</div>
			</div>
		</div>
	</td>
  <td class="align-middle" >
		<div class="<%= flex_justify_align('center') %>">
			<div class="<%= flex_justify_align('','center',true) %> ps-6">
				<div class="<%= flex_justify_align('center', 'center', true) %> mb-1">
					<%= content_tag :span, 
              "#{to_curr(batch.premium)}", 
              class: "text-secondary sm-green-text"
          %>
					<% if batch.adjusted_prem > 0 %>
						<%= content_tag :span, "#{to_curr(batch.adjusted_prem)}", class: "text-primary sm-green-text" %>
					<% end %>
					<% if current_user.is_mis? and batch.system_premium != batch.premium and !batch.system_premium.nil? %>
						<%= content_tag :span, 
              "Correct premium: #{to_curr(batch.system_premium)}", 
              class: "text-danger sm-green-text"
          	%>
					<% end %>
				</div>
			</div>
		</div>
	</td>
	<% if agreement.plan.acronym == "LPPI" %>
		<% if group_remit.agreement.unusable == true %>
			<td class="align-middle" >
				<div class="<%= flex_justify_align('center') %>">
					<div class="<%= flex_justify_align('','center',true) %> ps-6">
						<div class="<%= flex_justify_align('center', 'center', true) %> mb-1">
							<%= content_tag :span, 
									"(#{to_curr(batch.unused)})", 
									class: batch.adjusted_unuse > 0 ? "text-primary sm-green-text" : "text-secondary sm-green-text"
							%>
							<% if batch.adjusted_unuse > 0 %>
								<%= content_tag :span, "#{to_curr(batch.adjusted_unuse)}", class: "text-primary sm-green-text" %>
							<% end %>

							<% if batch.excess > 0 %>
								<%= content_tag :span, 
									"Excess: #{to_curr(batch.excess)}", 
									class: "sm-green-text"
								%>
							<% end %>
						</div>
					</div>
				</div>
			</td>
		<% end %>
	<% end %>
	
  <td class="align-middle" >
		<div class="<%= flex_justify_align('center') %>">
			<div class="<%= flex_justify_align('','center',true) %> ps-6">
				<div class="d-flex flex-column mb-1">
					<%= content_tag :span, 
              "#{to_curr(batch.premium_due)}", 
              class: batch.adjusted_premium_due > 0 ? "text-secondary sm-green-text" : "text-primary sm-green-text"
          %>
					<% if batch.adjusted_premium_due > 0 %>
						<%= content_tag :span, "#{to_curr(batch.adjusted_premium_due)}", class: "text-primary sm-green-text" %>
					<% end %>
				</div>
			</div>
		</div>
	</td>
  <td class="align-middle">
		<%= render 'loan_insurance/batches/action_buttons', 
			group_remit: group_remit,
			batch: batch,
			agreement: agreement,
      member: batch.member_details
		%>
	</td>
</tr>