<%= simple_form_for(batch, html: {data: {controller: "coop-member"}}) do |f| %>
  <div class="row <%= flex_justify_align('between','center') %> mb-3">
    <%= f.hidden_field :group_remit_id, value: group_remit_id, data: {coop_member_target: 'groupRemit'} %>
    <%= f.association :coop_member, 
        collection: coop_members, 
        include_blank: "Search member",
        wrapper_html: {class: 'col-md-7', style: 'margin-bottom: 0!important;'},
        input_html: { 
          id: "member_id", 
          data: {  
            target: 'memberSelect',
            controller: "slim-select",
            action: "change->coop-member#selectMember", }  
          }, label: false      
    %>
  </div>
  <div class="<%= flex_justify_align('start', 'start') %> gap-2" style="height: auto;">
    <div class="form-inputs mb-3 col-md-7 "  >
      <div class="row">
        <div class="form-floating mb-3 col-md-6">
          <%= f.input :loan_amount, label: false, placeholder: 'Loan amount', class: 'form-control', wrapper: false %>
          <%= f.label :loan_amount, 'Loan amount', class: 'ps-4' %>
        </div>
        <%= render 'layouts/partials/flatpickr',
          form: f, 
          attribute: :effectivity_date,
          max_date: false,
          placeholder: 'Effectivity',
          css_class: 'col-md-3'
        %>
        <%= render 'layouts/partials/flatpickr', 
          form: f, 
          attribute: :expiry_date, 
          max_date: false,
          placeholder: 'Expiry', 
          css_class: 'col-md-3' 
        %>
      </div>
      <div class="row">
        <div class="form-floating col-md-6">
          <%= f.association :loan, label: false, prompt: 'Select type', wrapper: false %>
          <%= f.label :loan, 'Loan type', class: 'ps-4' %>
        </div>
        <%= render 'layouts/partials/flatpickr', 
          form: f, 
          attribute: :date_release, 
          max_date: false,
          placeholder: 'Release', 
          css_class: 'col-md-3' 
        %>
        <%= render 'layouts/partials/flatpickr', 
          form: f, 
          attribute: :date_mature, 
          max_date: false,
          placeholder: 'Maturity', 
          css_class: 'col-md-3' 
        %>
      </div>
    </div>
    <div class="col-md-5 <%= flex_justify_align('start','start') %>" style="width: 41.65%; height: auto; align-self: start;">
      <%= turbo_frame_tag 'member details', style: 'width: 100%' do %>
        <div class="card mb-0 <%= flex_justify_align('center', 'start') %>" style="width: 100%; height: 135px">
          <div class="card-body" style="width: 100%;">
            <div class="row text-center" style="width: 100%">
              <%= content_tag :span, 'Member Details ', class: 'col-md-12' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mb-3">
    <%= turbo_frame_tag "member loans" %>
  </div>
  <div class="form-actions text-center">
    <%= f.button :submit, 'Add', class: small_btn('primary') %>
  </div>
<% end %>

