<%= simple_form_for(batch, data: {controller: 'form-redirect'}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3" data-controller="coop-member" >
    <div class="row <%= flex_justify_align('','center') %>">
      <%= f.hidden_field :group_remit_id, value: group_remit_id %>
      <%= f.association :coop_member, 
          collection: coop_members, 
          include_blank: "Search member",
          input_html: { 
            id: "member_id", 
            data: {  
              target: 'memberSelect',
              controller: "slim-select",
              action: "change->coop-member#selectMember", }  
            }, label: false      
      %>
    </div>
    
    <%= turbo_frame_tag 'member details' %>

    <div class="row">
      <div class="form-floating mb-3 col-md-6">
        <%= f.input :loan_amount, label: false, placeholder: 'Loan amount', class: 'form-control', wrapper: false %>
        <%= f.label :loan_amount, 'Loan amount', class: 'ps-4' %>
      </div>
      <div class="form-floating col-md-6">
        <%= f.association :loan, label: false, prompt: 'Select Loan Type', wrapper: false %>
        <%= f.label :loan, 'Loan type', class: 'ps-4' %>
      </div>
    </div>
    <div class="row">
      <%= render 'layouts/partials/flatpickr', 
        form: f, 
        attribute: :effectivity_date,
        max_date: false,
        placeholder: 'Effectivity date', 
        css_class: 'col-md-6' 
      %>
      <%= render 'layouts/partials/flatpickr', 
        form: f, 
        attribute: :expiry_date, 
        max_date: false,
        placeholder: 'Expiry date', 
        css_class: 'col-md-6' 
      %>
    </div>
    <div class="row">
      <%= render 'layouts/partials/flatpickr', 
        form: f, 
        attribute: :date_release, 
        max_date: false,
        placeholder: 'Release date', 
        css_class: 'col-md-6' 
      %>
      <%= render 'layouts/partials/flatpickr', 
        form: f, 
        attribute: :date_mature, 
        max_date: false,
        placeholder: 'Maturity date', 
        css_class: 'col-md-6' 
      %>
    </div>
  </div>
  <div class="form-actions text-center">
      <%= f.button :submit, 'Add', class: small_btn('primary') %>
  </div>
<% end %>

