<div class="card mb-0 <%= flex_justify_align('center', 'start') %>" style="height: 100%">
  <div class="card-header" style="width: 100%;">
    <div class="row text-center" style="width: 100%">
      <%= content_tag :span, 'Member Details ', class: 'col-md-12 text-primary' %>
    </div>
  </div>
  <div class="card-body <%= flex_justify_align('center', 'center') %>" style="width: 100%;">
    <div class="">
      <div class="row">
        <%= content_tag :span, "Name: #{member}", class: 'sm-secondary-text text-secondary' %>
      </div>
      <div class="row">
        <%= content_tag :span, "Birthdate: #{date_as_month_day_year(member.birth_date)}", class: 'sm-secondary-text text-secondary' %>
      </div>
      <div class="row">
        <%= content_tag :span, "Gender: #{member.gender}", class: 'sm-secondary-text text-secondary' %>
      </div> 
      <div class="row">
        <%= content_tag :span, "Age: #{member.age}", class: 'sm-secondary-text text-secondary' %>
      </div>
    </div>
  </div>
</div>