<%= turbo_frame_tag 'modal-xl' do %>
  <% batch = @batch %>
  <div class="modal-header">
    <%= content_tag :h5, class: 'modal-title text-primary' do %>
      <i class="bi bi-file-medical-fill"></i> Substandard Details
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body sm-secondary-text">
    <div id="error_notif"></div>
    
    <div class="row">
      <div class="col-6">
        <h4 class="text-center text-primary">ADJUSTED PREMIUM</h4>
      </div>
      <div class="col-6">
        <h4 class="text-center text-primary">ADJUSTED COVERAGE</h4>
      </div>
    </div>
    <br>
    <% batch.adjusted_coverages.each do |ac| %>
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <h5 class="card-title">
                    Original Sum Insured
                  </h5>
                  <%= content_tag :span, to_currency(batch.loan_amount), class: "lead" %>
                </div>
                <div class="col-4">
                  <h5 class="card-title">
                    Premium Due
                  </h5>
                  <%= content_tag :span, to_currency(ac.adjusted_premium), class: "lead" %>
                </div>
                <div class="col-4">
                  <h5 class="card-title">
                    Underpayment
                  </h5>
                  <%= content_tag :span, to_currency(ac.underpayment), class: "lead" %>
                </div>
              </div>
            </div>
            <% unless batch.adjusted_coverages.where(status: :approved).count > 0 %>
              <div class="card-footer">
                <%= button_to "Accept", accept_adjustment_loan_insurance_batch_path(@batch, ac: ac, type: "prem"), data: { turbo_method: :post }, class: "btn btn-sm btn-success", onclick: "return confirm('Are you sure?')", title: "Accept Adjusted Premium" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <h5 class="card-title">
                    Adjusted Sum Insured
                  </h5>
                  <%= content_tag :span, to_currency(ac.adjusted_coverage), class: "lead" %>
                </div>
                <div class="col-6">
                  <h5 class="card-title">
                    Premium Paid
                  </h5>
                  <%= content_tag :span, to_currency(batch.premium), class: "lead" %>
                </div>
              </div>
            </div>
            <% unless batch.adjusted_coverages.where(status: :approved).count > 0 %>
              <div class="card-footer">
                <%= button_to "Accept", accept_adjustment_loan_insurance_batch_path(@batch, ac: ac, type: "cov"), data: { turbo_method: :post }, class: "btn btn-sm btn-success", onclick: "return confirm('Are you sure?')", title: "Accept Adjusted Coverage" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <span class="lead">Sub-standard Rate: <b><%= ac.substandard_rate %></b></span> 
        </div>
        <div class="col-2">
          <span class="lead">Rate: <b><%= batch.rate.annual_rate %></b></span>
        </div>
        <div class="col-2">
          <span class="lead">Total Rate: <b><%= ac.substandard_rate * batch.rate.annual_rate %></b></span>
        </div>
        <div class="col-2">
          <span class="lead">Terms: <b><%= batch.terms %></b></span>
        </div>
        <div class="col-3">
          <span class="lead">Status: <b><%= substandard_status(ac.status) %></b></span>
        </div>
      </div>
      <hr>
    <% end %>
<% end %>