<%= turbo_frame_tag 'modal-xl' do %>
  <% batch_presenter = BatchPresenter.new(@batch) %>
  <% plan = @batch.group_remit.agreement.plan.acronym %>
  <div class="modal-header">
    <% if params[:unused] %>
      <h5 class="modal-title">Unused Loan from Batch: <%= @batch.group_remit %> </h5>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  
  <div class="modal-body sm-secondary-text">
    <div id="error_notif"></div>
    <div class="row <%= flex_justify_align('center') %>">
      <div class="col-md-10" style="margin: auto;">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row mb-1">
              <%= content_tag :span, class: 'text-primary' do %>
                <i class="bi bi-person"></i> Member Details
              <% end %>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-2">
                <span class="mb-0 text-secondary">First name</span>
              </div>
              <div class="col-sm-2 text-primary">
                <%= "#{@member.first_name}" %>
              </div>
              <div class="col-sm-2">
                <span class="mb-0 text-secondary">Middle name</span>
              </div>
              <div class="col-sm-2 text-primary">
                <%= "#{@member.middle_name}" %>
              </div>
              <div class="col-sm-2 text-secondary">
                <span class="mb-0">Last name</span>
              </div>
              <div class="col-sm-2 text-primary">
                <%= "#{@member.last_name}" %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-2">
                <span class="mb-0 text-secondary">Birthdate</span>
              </div>
              <div class="col-sm-2">
                <%= month_day_year(@member.birth_date) %>
              </div>
              <div class="col-sm-2 text-secondary">
                <span class="mb-0">Age</span>
              </div>
              <div class="col-sm-2">
                <%= @member.age %>
              </div>
              <div class="col-sm-2 text-secondary">
                <span class="mb-0">Gender</span>
              </div>
              <div class="col-sm-2">
                <%= @member.gender %>
              </div>
            </div>
            <hr class="mb-5">
            
            <% if plan == "LPPI" %>
              
            <div class="row mb-1">
              <%= content_tag :span, class: 'text-primary' do %>
                <i class="bi bi-cash"></i> Loan Details
              <% end %>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <span class="mb-0 text-secondary">Loan Type</span>
              </div>
              <div class="col-sm-3">
                <%= @batch.loan&.name %>
              </div>
              <div class="col-sm-3">
                <span class="mb-0 text-secondary">Premium</span>
              </div>
              <div class="col-sm-3">
                <%= to_number(@batch.premium) %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <span class="mb-0 text-secondary">Loan Amount</span>
              </div>
              <div class="col-sm-3 ">
                <%= to_number(@batch.loan_amount) %>
                <% if @batch.adjusted_cov.present? %>
                  <%= to_number(@batch.adjusted_cov) %>
                <% end %>
              </div>
              <div class="col-sm-3">
                <span class="mb-0 text-secondary">Unused Premium</span>
              </div>
              <div class="col-sm-3 ">
                <%= to_number(@batch.unused) %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <span class="mb-0 text-secondary">Terms</span>
              </div>
              <div class="col-sm-3 ">
                <%= @batch.terms %>
              </div>
              <div class="col-sm-3">
                <span class="mb-0 text-secondary">Premium Due</span>
              </div>
              <div class="col-sm-3 ">
                <%= to_number(@batch.premium_due) %>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <span class="mb-0 text-secondary">Release Date</span>
              </div>
              <div class="col-sm-3 ">
                <%= month_day_year(@batch.date_release) %>
              </div>
              <div class="col-sm-3">
                <span class="mb-0 text-secondary">Effectivity Date</span>
              </div>
              <div class="col-sm-3 ">
                <%= month_day_year(@batch.effectivity_date) %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <span class="mb-0 text-secondary">Maturity Date</span>
              </div>
              <div class="col-sm-3">
                <%= month_day_year(@batch.date_mature)%>
              </div>
              <div class="col-sm-3">
                <span class="mb-0 text-secondary">Expiry Date</span>
              </div>
              <div class="col-sm-3">
                <%= month_day_year(@batch.expiry_date)%>
              </div>
            </div>
            <hr>
            <% else %>
              <%= render "sii_show" %>
            <% end %>
            

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>