
<%= simple_form_for(@treasury_payment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :payment_type %>
    <%= f.input :check_no %>
    <%= f.association :account %>
    <%= f.input :amount %>
    <%= f.association :cashier_entry %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", treasury_payments_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
