<div id="<%= dom_id payment %>">
  <p>
    <strong>Payment type:</strong>
    <%= payment.payment_type %>
  </p>

  <p>
    <strong>Check no:</strong>
    <%= payment.check_no %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= payment.account_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Cashier entry:</strong>
    <%= payment.cashier_entry_id %>
  </p>

</div>
