<table class="table table-border table-hover">
  <thead class="border-top border-bottom border-primary">
    <tr>
      <th class="text-primary"><small> ORNO</small></th>
      <th class="text-primary"><small> Effetivity</small></th>
      <th class="text-primary"><small> Expiry</small></th>
      <th class="text-end text-primary"><small> Amt. Insured</small></th>
      <th class="text-end text-primary"><small> Amt. of Benefit</small></th>
      <th class="text-primary"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="text-primary"> <strong>Current</strong> </td>
    </tr>
    <% @process_claim.claim_coverages.each do |cc| %>
      <tr>
        <td class="text-center"><small>OR <br>
        <%= cc.coverageable.insurance_status.to_s.humanize.titleize %></small></td>
        <td><small><%= to_shortdate(cc.coverageable.effectivity_date) %> </small></td>
        <td><small><%= to_shortdate(cc.coverageable.expiry_date) %></small></td>
        <td class="text-end"> <%= to_curr(0) %> </td>
        <td class="text-end"> <%= to_curr(cc.amount_benefit) %> </td>
        <td class="text-end">
          <%#= link_to 'View', benefit_claim, class: 'btn' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
