<table class="table table-borderless table-hover">
  <thead>
    <tr class="border-top border-bottom border-primary">
      <%# <th class="text-primary">ID</th> %>
      <th>Documents</th>
      <th>
        <div class="text-end">
          <%= link_to '<i class="bi bi-plus-square"></i> Add Document'.html_safe, new_claims_claim_type_document_path(p: @claim_type), class: "btn btn-primary btn-sm", data: { turbo_frame: "remote_modal" } %></th>
      </div>
    </tr>
  </thead>
  <tbody>
    <% @claim_type.claim_type_documents.each do |doc| %>
      <tr>
        <%# <td>= benefit_claim.id</td> %>
        <td> <%= doc.claim_document.name %> <%= content_tag :span, 'Required', class: "badge rounded-pill text-bg-warning" if doc.required %> </td>
        <td class="text-end">
          <%#= link_to 'View', benefit_claim, class: 'btn' %>
          <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_claims_claim_type_document_path(doc), class: 'btn btn-outline-primary btn-sm', data: { turbo_frame: "remote_modal" }  %>
          <%= link_to '<i class="bi bi-trash3"></i>'.html_safe, claims_claim_type_document_path(doc),  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
