
<% switch = true %>
<% accounts.order(:name).each do |a| %>
  <% ledgers_with_transaction_date = a.general_ledgers.with_transaction_date(@date_from, @date_to) %>
  <% year_to_date_ledgers = a.general_ledgers.with_transaction_date(Date.today.beginning_of_year.beginning_of_day, @date_to) %>
  <% ytd_difference = year_to_date_ledgers.total_debit - year_to_date_ledgers.total_credit %>

  <%# next if ledgers_with_transaction_date.empty? %>
  <% difference = ledgers_with_transaction_date.total_debit - ledgers_with_transaction_date.total_credit %>

  <% if switch %>
    <tr>
      <td colspan="6" class="text-start" style="font-size: 1.1rem; font-weight: bold; border: 2px solid black"><%= name %></td>
    </tr>
    <% switch = false %>
  <% end %>

  <tr>
    <td style="min-width: 100px"><%= a.code %></td>
    <td><%= a.name %></td>
    <td class="text-end"><%= difference >= 0  ? number_to_currency(difference, unit: '') : '' %></td>
    <td class="text-end"><%= difference <= 0 ? number_to_currency(difference.abs, unit: '') : '' %></td>
    <td class="text-end"><%= ytd_difference >= 0  ? number_to_currency(ytd_difference, unit: '') : '' %></td>
    <td class="text-end"><%= ytd_difference <= 0 ? number_to_currency(ytd_difference.abs, unit: '') : '' %></td>

    <% @total_debit += difference if difference > 0 %>
    <% @total_credit += difference.abs if difference < 0 %>
    <% @ytd_total_debit += ytd_difference if ytd_difference > 0 %>
    <% @ytd_total_credit += ytd_difference.abs if ytd_difference < 0 %>
  </tr>
<% end %>