<!DOCTYPE html>
<html>
  <head>
    <title>CisLifeMain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg_gradient">
    <%= render 'layouts/partials/navi' %>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div id="flash">
          <%= render "layouts/partials/notification" %>
        </div>
        <%= yield %>    
      </div>
    </div>
  </body>
</html>
