<!DOCTYPE html>
<html>
  <head>
    <title>CIS - Core Insurance System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.3/dist/css/tom-select.css" rel="stylesheet">
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "jquery" %>
  </head>
  <body class="d-flex flex-column bg_gradient">
    <%= render 'layouts/partials/navi' %>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div id="flash" style="width: auto">
          <%= render "layouts/partials/notification" %>
        </div>
      </div>
    </div>
    <div class="container mb-3">
      <%= yield %>
      <%= turbo_frame_tag "remote_modal", target: "_top" %>
    </div>

    <!-- New form Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-controller="modal"
      data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close" data-bs-focus="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <%= turbo_frame_tag "modal" %>
          </div>
        </div>
      </div>

      <div class="modal fade" id="memberEnrollment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-controller="modal" data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close" data-bs-focus="false">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <%= turbo_frame_tag "modal-xl" %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/partials/footer' %>
  </body>
</html>
