
<%= simple_form_for(member) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs mb-3">
    <div class="row">
      <div class="col-4">
          <%= f.simple_fields_for :coop_members, @coop_member do |member| %>
            <div class="form-group d-flex align-items-end coop-member-form">
              <div class="">
                <%= member.collection_select :coop_branch_id, @cooperative.coop_branches, :id, :name, { prompt: "Select a branch" }, style: "width: auto" ,class: "form-select mb-3"  %>
              </div>
              <div class="">
                <%= member.input :transferred, as: :boolean, label: "Transferred?" %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.input :first_name %>
      </div>
      <div class="col-3">
        <%= f.input :middle_name %>
      </div>
      <div class="col-3">
       <%= f.input :last_name%>
      </div>
      <div class="col-1">
        <%= f.input :suffix %>
      </div>
      <div class="col-2">
        <%= f.label :gender, class: "form-label" %>
        <%= f.collection_select :gender, [['Male', 'male'], ['Female', 'female']], :last, :first, { prompt: "Select Gender" }, class: 'form-select mb-3' %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.input :birth_date, as: :date, html5: true %>
      </div>
      <div class="col-3">
        <%= f.input :birth_place %>
      </div>
      <div class="col-3">
        <%= f.input :email %>
      </div>
      <div class="col-3">
        <%= f.input :mobile_number %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :address %>
      </div>
      <div class="col-3">
        <%= f.input :sss_no, label: "SSS #" %>
      </div>
      <div class="col-3">
        <%= f.input :tin_no, label: "TIN #" %>
      </div>
    </div>
    <div class="row">
    <div class="col-3">
        <%= f.label :civil_status, "Civil Status ", class: "form-label" %>
        <abbr title="required">*</abbr>
        <%= f.collection_select :civil_status, ["Single", "Married", "Divorced", "Separated", "Widowed"], :to_s, :to_s, { prompt: "Select Status" }, class: "form-select" %>
      </div>
      <div class="col-3">
        <%= f.input :legal_spouse %>
      </div>
      <div class="col-3">
        <%= f.input :height, label: "Height (cm)" %>
      </div>
      <div class="col-3">
        <%= f.input :weight, label: "Weight (kg)"%>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.input :occupation %>
      </div>
      <div class="col-3">
        <%= f.input :employer %>
      </div>
      <div class="col-3">
        <%= f.input :work_address %>
      </div>
      <div class="col-3">
        <%= f.input :work_phone_number %>
      </div>
    </div>
  </div>

  <div class="form-actions text-end">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>