
<%= simple_form_for(member) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs mb-3">
    <div class="row">
      <div class="col-12">
          <%= f.simple_fields_for :coop_members do |member| %>
            <div class="form-group d-flex align-items-end coop-member-form">
                <%= member.hidden_field :membership_date, value: Date.today%>
                <%= member.hidden_field :cooperative_id, value: @cooperative.id %>

              <div class="col-md-6">
                <%= member.input :coop_branch_id, collection: @cooperative.coop_branches.map {|branch| [branch.name, branch.id]}, style: "width: auto" ,class: "form-select mb-3"  %>
              </div>

              <div class="col-md-6 form-check form-switch">
                <%= member.input :deceased, style: "width: auto", class: "form-check-input mb-3"  %>
              </div>
              <!--
              <div class="">
                <%= member.input :transferred, as: :boolean, label: "Transferred?" %>
              </div>
              -->
            </div>
          <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.input :first_name %>
      </div>
      <div class="col-3">
        <%= f.input :middle_name %>
      </div>
      <div class="col-3">
       <%= f.input :last_name%>
      </div>
      <div class="col-3">
        <%= f.input :suffix %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.input :gender, collection: [['Male', 'male'], ['Female', 'female']] ,class: 'form-select mb-3' %>
      </div>
      <div class="col-3">
        <%= f.input :birth_date, as: :string, input_html: {data: {
            controller: "flatpickr",
            flatpickr_max_date: Time.zone.now,
            flatpickr_next_arrow: "Next",
            flatpickr_prev_arrow: "Prev"}} %>
      </div>
      <div class="col-3">
        <%= f.input :birth_place %>
      </div>
    
    </div>
    <div class="row">
      <div class="col-12">
        <%= f.input :address %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.input :email %>
      </div>
      <div class="col-3">
        <%= f.input :mobile_number %>
      </div>
   
      <div class="col-3">
        <%= f.input :sss_no, label: "SSS #" %>
      </div>
      <div class="col-3">
        <%= f.input :tin_no, label: "TIN #" %>
      </div>
    </div>
    <div class="row">
    <div class="col-3">
        <%= f.input :civil_status, collection: [["Single", "single"], ["Married", "married"], ["Divorced", "divorced"], ["Separated", "separated"], ["Widowed", "widowed"]], class: "form-select" %>
      </div>
      <div class="col-3">
        <%= f.input :legal_spouse %>
      </div>
      <div class="col-3">
        <%= f.input :height, label: "Height (cm)" %>
      </div>
      <div class="col-3">
        <%= f.input :weight, label: "Weight (kg)"%>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.input :occupation %>
      </div>
      <div class="col-3">
        <%= f.input :employer %>
      </div>
      <div class="col-3">
        <%= f.input :work_address %>
      </div>
      <div class="col-3">
        <%= f.input :work_phone_number %>
      </div>
    </div>
  </div>

  <div class="form-actions text-end">
    <%= f.button :submit, 'Enroll', class: 'btn btn-success', data: {turbo: false} %>
  </div>
<% end %>